/*网站导航样式*/
* {font-family: "Microsoft YaHei";}

div.container-fluid {padding: 0;}

div.top-bar-wrap {height: 40px;}

div.top-bar, div.nav-bar {
    width: 1100px;
    margin: 7px auto;
}

div.top-bar > * {
    display: inline-block;
    vertical-align: middle;
}

.top-bar-icon {
    width: 26px;
    height: 26px;
    background: url("../imgs/index/head-icon.png") no-repeat;
    display: inline-block;
}

.head-hot-line-icon {background-position: -15px -15px;}

.weibo-icon {
    margin-left: 80px;
    background-position: -15px -127px;
}

.wechat-icon {
    margin-left: 25px;
    background-position: -15px -71px;
}

.head-hot-line-num {
    font-size: 15px;
    color: #646464;
    margin-left: 5px;
}

div.top-bar div.pull-right {
    font-size: 15px;
    line-height: 26px;
}

div.top-bar ul.list-inline > li {padding: 0 0 0 25px;}

div.top-bar .hr-line {color: #bbbabf;}

div.top-bar ul li>a {color: #646464;}

div.nav-bar-wrap {
    min-width: 1100px;
    height: 90px;
    background: #fff;
}

div.nav-bar {
    font-size: 17px;
    line-height: 60px;
    margin: 15px auto;
}

div.nav-bar ul.list-inline > li {padding: 0 0 0 50px;}

div.nav-bar ul.list-inline > li > a {
    color: #464646;
    text-decoration: none;
    padding: 0 6px 15px 6px;
}

.nav-active,
div.nav-bar ul.list-inline > li > a:hover,
div.nav-bar ul.list-inline > li > a:focus {
    color: #ff414b !important;
    border-bottom: 2px solid #ff414b;
}

div.nav-bar .dropdown-menu-custom {
    top: 85%;
    left: 33%;
    min-width: 120px;
}

div.nav-bar #myAccount:hover > ul.dropdown-menu-custom {display: block;}