body {
    background-color: #f7f7f8;
}

.mycards-page {
    padding-top: 1rem;
    padding-bottom: 3.6rem;
}

div.card-cell {
    height: 4rem;
    padding: 0 8%;
    margin-bottom: 1rem;
    border-top: 1px solid #e8e8ea;
    border-bottom: 1px solid #e8e8ea;
    background-color: #fff;
}

div.card-info {
    margin-left: 1rem;
}

div.card-cell p {
    margin: 0 0 0;
    font-size: 1.2em;
}

div.card-cell span.last-num {
    color: #ccc;
}

div.card-cell span.glyphicon {
    float: right;
    color: #ccc;
    line-height: 2.3rem;
}

div.add-cards {
    height: 2.6rem;
    margin-bottom: 1rem;
    color: #00a5df;
    font-size: 1.1em;
    text-align: center;
    line-height: 2.6rem;
    border-top: 1px solid #e8e8ea;
    border-bottom: 1px solid #e8e8ea;
    background-color: #fff;
}

div.tips {
    padding: 0 8%;
    color: #b1b1b3;
}

/*各银行logo*/
.sprite {
    width: 40px;
    height: 40px;
    background-image: url("../imgs/banks-icon.png");
    background-repeat: no-repeat;
    background-size: 1600%;
}

.gonghang {
    background-position: -2px -1px;
}

.guangda {
    background-position: -44px -1px;
}

.guangfa {
    background-position: -88px -1px;
}

.huaxia {
    background-position: -130px -1px;
}

.jianhang {
    background-position: -172px -1px;
}

.jiaohang {
    background-position: -214px -1px;
}

.minsheng {
    background-position: -257px -1px;
}

.nonghang {
    background-position: -300px -1px;
}

.pingan {
    background-position: -343px -1px;
}

.pufa {
    background-position: -385px -1px;
}

.xingye {
    background-position: -428px -1px;
}

.youzheng {
    background-position: -471px -1px;
}

.zhaohang {
    background-position: -513px -1px;
}

.zhonghang {
    background-position: -556px -1px;
}

.zhongxin {
    background-position: -599px -1px;
}
/*各银行logo end*/
