/*footer样式start*/
div.footer {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #b2b2b2;
    background-color: #f4f3f8;
}

div.footer > div {
    text-align: center;
}

.footer-span,
.footer-span-active {
    width: 25px;
    height: 25px;
    display: block;
}
.footer-span {
    background: url("../imgs/footer-icon.png") no-repeat;
    background-size: 400%;
}

.footer-span-active {
    background: url("../imgs/footer-icon-active.png") no-repeat;
     background-size: 400%;
}

.icon-index {
    background-position: 0 0;
}

.icon-invest {
    background-position: -25px 0;
}

.icon-mine {
    background-position: -50px 0;
}

.icon-settings {
    background-position: -75px 0;
}

a.txt-default:link,
a.txt-default:hover,
a.txt-default:focus,
a.txt-default:visited {
    color: grey;
    text-decoration: none;
}

a.txt-active:link,
a.txt-active:hover,
a.txt-active:focus,
a.txt-active:visited {
    color: #00a5df;
    text-decoration: none;
}
/*footer样式end*/