div.forgot-psw-page {
    padding: 1rem 5%;
}
div.forgot-psw-page form {width:20rem;}
div.forgot-psw-page form > div {margin-bottom:1.2rem;}
div.forgot-psw-page form > div input {
    border: 1px solid #ccc;
    background: url("../imgs/login-icon.png") no-repeat;
}
div.pic-code-wrap span img {
    width: 100%;
}
input#txtMobile {
    background-position: 0 -8.3rem;
    background-size:11%;
}
input#picCode {
    background-position: 0 -2rem;
    background-size: 19%;
}
input#verifyCode {
    background-position: 0 -4.2rem;
    background-size: 19%;
}
input#newPwd, input#newPwd2 {
    background-position: 0 -6.15rem;
    background-size: 11%;
}
#btnGetVerifyCode {
    float: right;
}
div.login-now-wrap {
    text-align: center;
    color: #a9a9a9;
}
div.login-now-wrap a {
    padding-left: 8px;
    color: #00a5df;
    text-decoration: none;
}
