body {
    background-color: #f7f7f8;
    padding-bottom: 55px;
}
div.reglog-bar {
    height: 2.66rem;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2em;
    background-color: #fd6500;
}
div.index-page div.reglog-bar span img {width:6.25rem;}
div.reglog-bar a {
    color: #fff;
    margin-left: 5%;
    text-decoration: none;
}
#banner-carousel .carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
}

#banner-carousel .carousel-indicators .active {
    width: 10px !important;
    height: 10px !important;
}

#banner-carousel .carousel-indicators {
    bottom: -6px !important;
}

#banner-carousel .carousel-control {
    background-image: none !important;
}
