div.login-page {padding: 1rem 5%;}
div.login-page form {width: 20rem;}
div.login-page form > div,dl#msgtips {margin-bottom: 1.2rem;}
div.account-wrap input,div.psw-wrap input {
    background: url("../imgs/login-icon.png") no-repeat;
    background-size: 11%;
}
input#txtUserName {background-position: 0 -8.4rem;}
input#txtPassword {background-position: 0 -6.1rem;}
#psw-label {
    color: #a9a9a9;
    font-weight: normal;
}
input#chkRemember {
    width: 16px;
    height: 16px;
    margin-top: 1.5px;
    margin-right: 5px;
    vertical-align: top;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #a9a9a9;
}
input[type=checkbox]:checked {
    background: url("../imgs/icon-tick.png") no-repeat center center;
    background-size: 100%;
}
div.remember-psw-wrap a {
    float: right;
    color: #00a5df;
    text-decoration: none;
}
div.register-now-wrap {
    width: 20rem;
    text-align: center;
    color: #a9a9a9;
}
div.register-now-wrap a {
    padding-left: 8px;
    color: #00a5df;
    text-decoration: none;
}
dl#msgtips dd {color:red;}