body {
    padding-bottom: 4rem;
    background-color: #f4f4f4;
}

div.email-approve,
div.phone-bind,
div.user-approve,
div.login-pwd,
div.trade-pwd {
    padding: 1.1rem 5%;
    border-bottom: 1px solid #e8e8ea;
}

div.group span {font-size: 1.15em;}

div.group a {
    float: right;
    font-size: 1.15em;
}

div.group a:link,
div.group a:hover,
div.group a:focus,
div.group a:visited {
    color: #00a5df;
    text-decoration: none;
}

div.fold {
    padding: 1rem 0 0 0;
}

div.fold p {color: #707376;}

button.right-small-btn,
span.pic-code-box {
    float: right;
}

span.pic-code-box img, span.pic-code-box a {width: 100%;}

div.tips {
    color: #707376;
    margin-bottom: 1rem;
}

a.forgot-pwd:link,
a.forgot-pwd:hover,
a.forgot-pwd:focus,
a.forgot-pwd:visited {
    float: right;
    color: #00a5df;
    text-decoration: none;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
    background: url("../imgs/safe-center-icon.png") no-repeat;
    background-size: 13%;
}

input#email {
    background-position: 0 -7.6rem;
}

input#phone {
    background-position: 0 -12.7rem;
}

input#sms-code {
    background-size: 21%;
    background-position: 0 0.25rem;
}

input#name {
    background-position: 0 -10.1rem;
}

input#ID {
    background-position: 0 -5rem;
}

input.pwd {
    background-position: 0 -15.25rem;
}

input#email-verify-code, input#pic-code {
    background-size: 21%;
    background-position: 0 -2.38rem;
}