<?xml version="1.0"?>
<configuration>
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/site.config"/>
    <add key="Urlspath" value="~/xmlconfig/urls.config"/>
    <add key="Userpath" value="~/xmlconfig/user.config"/>
    <add key="Orderpath" value="~/xmlconfig/order.config"/>
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=192.168.1.108;uid=sa;pwd=a123456;database=DTcmsdb3;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
            <customErrors mode="Off"/>
             -->

    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="~/templates/lip2p/404.aspx" />
    </customErrors>

    <httpModules>
      <add type="Lip2p.Web.UI.HttpModule, Lip2p.Web.UI" name="HttpModule"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="templates/lip2p/*.html" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="templates/green/*.html" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="templates/mobile/*.html" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
    <!-- 文件上传大小KB-->
    <!--<httpRuntime maxRequestLength="512000" executionTimeout="3600"/>-->
    <httpRuntime maxRequestLength="204800" executionTimeout="3600" requestValidationMode="2.0" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Lip2p.Web.UI.HttpModule, Lip2p.Web.UI" name="HttpModule"/>
    </modules>

    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto"> <!-- 因为 API 需要返回一些特殊的 StatusCode，所以 existingResponse 设为 Auto，并且设置 Response.TrySkipIisCustomErrors = true -->
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" responseMode="ExecuteURL" path="/templates/lip2p/404.aspx" />
    </httpErrors>
  </system.webServer>
</configuration>
