<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金豆豆首页</title>
    <!--[if lt IE 9]>
    <script src="js/ie8-polyfill.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="build/index.bundle.js"></script>
</head>
<body>
<!--head-->
<div class="container-fluid orange-top-bar">
    <div class="content-wrap">
        <span>您好，欢迎来到金豆豆！</span>
        <span class="pull-right">
            <span><a href="#">网站首页</a></span><span><a href="#">在线开户</a></span><span><a href="#">软件下载</a></span>
        </span>
    </div>
</div>
<div class="container-fluid company-brand">
    <div class="content-wrap">
        <div class="company-logo"><img src="imgs/index/logo.png" alt="金豆豆商标"/></div>
        <div class="logo-border"><img src="imgs/index/logo-border.png"/></div>
        <div class="company-name">
            <div>横琴稀贵商品交易中心</div>
            <div>1 0 5 号 综 合 会 员</div>
        </div>
        <div class="hot-line pull-right">
            <div><img src="imgs/index/hot-line.png"/></div>
            <div class="hot-line-num">
                <div>24H 客服热线：</div>
                <div>400-1000-123</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nav-wrap">
    <div class="content-wrap">
        <ul class="list-inline nav-bar">
            <li><a href="#">首页</a></li>
            <li role="presentation" id="about-us" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    关于我们</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-custom">
                    <li><a href="#">金豆豆简介</a></li>
                    <li><a href="#">企业文化</a></li>
                    <li><a href="#">公司资质</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </li>
            <li><a href="#">公司动态</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">投资研究</a></li>
            <li><a href="#">客户服务</a></li>
            <li><a href="#">招商加盟</a></li>
            <li><a href="#">软件下载</a></li>
        </ul>
    </div>
</div>
<!--head end-->

<!--banner-->
<div class="container-fluid banner-wrap">
    <div class="content-wrap">
        <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicators-custom">
                <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="imgs/index/banner.png" />
                </div>

                <div class="item">
                    <img src="imgs/index/banner.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner end-->

<!--six blocks-->
<div class="content-wrap blocks-list">
    <div class="block-lg">
        <div class="block-title">关于我们
            <span class="title-eng">ABOUT</span>
            <span class="more-link pull-right"><a href="#">more>></a></span>
            <div class="line-decoration"><img src="imgs/index/line-md.png"/></div>
        </div>
        <div class="content-box">
            <img src="imgs/index/title-img.png" />
            <div class="company-name">珠海横琴金豆豆稀贵商品经营有限公司</div>
            <div class="about-company">金豆豆稀贵商品经营有限公司位于美丽的南方城市--珠海，是专业研发、生产、销售高频开关电源、GZDW高频开关电源直流屏、壁挂式电力小系统、通讯电源系统、逆变电源、UPS、EPS等系列产品的高新技术企业。公司拥有一批高素质的管理团队，高水平的技术研发队伍和优秀的市场拓展人才。经过全体员工的共同努力，公司现已研制出更加稳定可靠...<a href="#">【详细内容】</a></div>
        </div>
    </div>
    <div class="block-lg">
        <div class="block-title">行情直播
            <span class="title-eng">PRICE</span>
            <span class="more-link pull-right"><a href="#">more>></a></span>
            <div class="line-decoration"><img src="imgs/index/line-md.png"/></div>
        </div>
        <div class="content-box">
            <img src="imgs/index/title-img.png" />
            <ul class="list-unstyled">
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
            </ul>
        </div>
    </div>
    <div class="block-sm">
        <div class="block-title">服务通道
            <span class="title-eng">SERVICE</span>
            <div class="line-decoration"><img src="imgs/index/line-sm.png"/></div>
        </div>
        <div class="content-sm">
            <a href="#"><span class="guide margin-right11">入市指南</span></a>
            <a href="#"><span class="price margin-right11">市场行情</span></a>
            <a href="#"><span class="download">软件下载</span></a>
            <a href="#"><span class="process margin-right11">开户流程</span></a>
            <a href="#"><span class="account margin-right11">在线开户</span></a>
            <a href="#"><span class="rules">交易规则</span></a>
        </div>
        <div class="account-btns">
            <a href="#"><span class="account-reply">网上开户申请</span></a>
            <a href="#"><span class="account-simulate">模拟账户申请</span></a>
        </div>
    </div>
    <div class="block-lg">
        <div class="block-title">公司新闻
            <span class="title-eng">NEWS</span>
            <span class="more-link pull-right"><a href="#">more>></a></span>
            <div class="line-decoration"><img src="imgs/index/line-md.png"/></div>
        </div>
        <div class="content-box">
            <img src="imgs/index/title-img.png" />
            <ul class="list-unstyled">
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
            </ul>
        </div>
    </div>
    <div class="block-lg">
        <div class="block-title">公司公告
            <span class="title-eng">BULLETIN</span>
            <span class="more-link pull-right"><a href="#">more>></a></span>
            <div class="line-decoration"><img src="imgs/index/line-md.png"/></div>
        </div>
        <div class="content-box">
            <img src="imgs/index/title-img.png" />
            <ul class="list-unstyled">
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>公司应急电器设备公司引进新设备</a><span class="pull-right">2015-08-31</span></li>
                <li><a href="#"><span class="list-mark"></span>仪器仪表行业大力发展装备自动化</a><span class="pull-right">2015-08-31</span></li>
            </ul>
        </div>
    </div>
    <div class="block-sm">
        <div class="block-title">联系我们
            <span class="title-eng">CONTACTS</span>
            <div class="line-decoration"><img src="imgs/index/line-sm.png"/></div>
        </div>
        <div class="content-box">
            <img src="imgs/index/map.png"/>
            <div class="company-name-sm">珠海横琴金豆豆稀贵商品经营有限公司</div>
            <address>
                地址：珠海横琴XXXXXXXXX <br/>
                联系人：张经理 <br/>
                手机：13800000000 <br/>
                座机：0756-88888888 <br/>
                邮箱：aaaaa@gmail.com <br/>
                网址：www.goldenbean.com
            </address>
        </div>
    </div>
</div>
<!--six-blocks end-->

<!--product center-->
<div class="container-fluid product-center">
    <div class="content-wrap">
        <div class="block-title">产品中心
            <span class="title-eng">PRODUCT SHOW</span>
            <span class="more-link pull-right"><a href="#">more>></a></span>
            <div class="line-decoration"><img src="imgs/index/line-lg.png"/></div>
        </div>
        <div class="photos-slider">
            <span><a href="#"><img src="imgs/index/arrow-left.png"/></a></span>
            <div>
                <a href="#"><div><img src="imgs/index/goldTest.jpg"/></div></a>
                <p>照片1</p>
            </div>
            <div>
                <a href="#"><div><img src="imgs/index/goldTest.jpg"/></div></a>
                <p>照片2</p>
            </div>
            <div>
                <a href="#"><div><img src="imgs/index/goldTest.jpg"/></div></a>
                <p>照片3</p>
            </div>
            <div>
                <a href="#"><div><img src="imgs/index/goldTest.jpg"/></div></a>
                <p>照片4</p>
            </div>
            <span><a href="#"><img src="imgs/index/arrow-right.png"/></a></span>
        </div>
    </div>
</div>
<!--product center end-->

<!--cooperate banks-->
<div class="container-fluid banks-cooperate">
    <div class="content-wrap">
        <div class="block-title">合作银行
            <span class="title-eng">BANK</span>
            <div class="line-decoration"><img src="imgs/index/line-lg.png"/></div>
        </div>
        <ul class="banks-list list-unstyled list-inline">
            <li><img src="imgs/index/banks/zhonghang.png" alt="中国银行"/></li>
            <li><img src="imgs/index/banks/nonghang.png" alt="中国农业银行"/></li>
            <li><img src="imgs/index/banks/gonghang.png" alt="中国工商银行"/></li>
            <li><img src="imgs/index/banks/jianhang.png" alt="中国建设银行"/></li>
            <li><img src="imgs/index/banks/zhaohang.png" alt="招商银行"/></li>
            <li><img src="imgs/index/banks/guangfa.png" alt="广发银行"/></li>
            <li><img src="imgs/index/banks/xingye.png" alt="兴业银行"/></li>
            <li><img src="imgs/index/banks/pufa.png" alt="浦发银行"/></li>
            <li><img src="imgs/index/banks/minsheng.png" alt="中国民生银行"/></li>
            <li><img src="imgs/index/banks/guangda.png" alt="中国光大银行"/></li>
        </ul>
    </div>
</div>
<!--cooperate banks end-->

<!--floating icon-->
<div class="floating-wrap">
    <a href="#"><div id="service">在线客服</div></a>
    <a href="#"><div id="account">在线开户</div></a>
    <a href="#"><div id="top">返回顶部</div></a>
</div>
<!--floating icon end-->

<!--footer-->
<div class="container-fluid footer-wrap">
    <div class="content-wrap">
        <div class="footer-left">
            <ul class="list-unstyled list-inline">
                <li><a href="#">网站首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">新闻公告</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">投资研究</a></li>
            </ul>
            <address>
                Copyright 2015-2020 珠海横琴金豆豆稀贵商品经营有限公司 All Rights Reserved <br/>
                客服热线：400-100-123 <span class="email">投诉邮箱：jindoudou@163.com</span>
            </address>
        </div>
        <div class="qr-code pull-right"><img src="imgs/index/qrcode.png" alt="金豆豆二维码"/></div>
    </div>
</div>
<!--footer end-->
</body>
</html>