<script type="text/javascript">
    function showWeiXin() {
        $('#weiXinModal').modal('show');
//        var m = $.dialog({
//            lock: true,
//            max: false,
//            min: false,
//            padding: 0,
//            title: "微信公众号二维码",
//            content: '<img src="<%templateskin%>/images/weixin2.png" />'
//        });
    }
</script>
<style>
footer p.pull-right img
{
    height: 14px;
    width: 60px;
}
</style>
<footer>
      <div class="ftbottom">
      	<div class="container">
          <ul class="list-inline pull-left">
            <li><a href="#"><a href="http://www.gdnet110.gov.cn/ " target="_blank" rel="nofollow"><img src="<%templateskin%>/images/link_04.png"></a></li>
            <li><a href="https://search.szfw.org/cert/l/CX20150324007165007301" target="_blank" rel="nofollow"><img src="<%templateskin%>/images/link_06.png"></a></li>
            <li><a href="http://www.anquan.org/authenticate/cert/?site=www.lip2p.com&at=business" target="_blank" rel="nofollow"><img src="<%templateskin%>/images/link_09.png"></a></li>
          </ul>
          <p class="pull-right">2014 金汇丰 All rights reserved 广东汇诚创利电子商务有限公司 粤ICP备14084776号-1
              <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1254051651'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254051651%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      	  </p>
        </div>
      </div>

    <div class="modal fade" id="weiXinModal" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog">
            <img src="<%templateskin%>/images/2dcode_big.jpg" width="600px" height="600px"/>
        </div>
    </div>
</footer>
