<div class="rounduser">
    <img src="<%templateskin%>/images/usercenter/usr.png" class="img-circle">
</div>
<div class="uctop">
    <div class="left pull-left">
        <%if(!string.IsNullOrEmpty(userModel.nick_name))%>
        <p class="hello">您好，{userModel.nick_name}</p>
        <%else%>
        <p class="hello">您好，{userModel.user_name}</p>
        <%/if%>        
        <ul class="list-inline safegrade">
        <!--后台判断验证状态，如果已验证，在li上加上一个"hasset"的class,否则"noset“-->
        <li class="<%=string.IsNullOrEmpty(userModel.email)?"email notset":"email hasset"%>" title="绑定邮箱"></li>
        <li class="<%=string.IsNullOrEmpty(userModel.mobile)?"phone notset":"phone hasset"%>" title="绑定手机"></li>
        <li class="<%=string.IsNullOrEmpty(userModel.id_card_number)?"realname notset":"realname hasset"%>" title="实名认证"></li>
        <li class="<%=string.IsNullOrEmpty(userModel.pay_password)?"jypass notset":"jypass hasset"%>" title="交易密码"></li>
        <li>安全等级：<i id="safe_grade">低</i></li>
        </ul>
        <p>上次登录时间：<span class="lastlogin">{pre_login_time}</span></p>
    </div>
    <div class="middle pull-left">
        <p>可用余额：<span><%=string.Format("{0:N}",wallet.idle_money)%>元</span></p>
        <p>冻结金额：<span><%=string.Format("{0:N}",wallet.locked_money)%>元</span></p>
    </div>
    <div class="right pull-right">
        <p><a href="<%linkurl("recharge")%>" class="btns btnorange">充值</a></p>
        <p><a href="<%linkurl("withdraw")%>" class="btns">提现</a></p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        var count = 0;
        $(".safegrade li").each(function (index, element) {
            var titlestr = $(this).attr("title");            
            if ($(this).hasClass("notset")) {
                titlestr += "，未设置";
            }
            else if ($(this).hasClass("hasset")) {
                titlestr += "，已设置";
                count++;
            }
            $(this).attr("title", titlestr);
        });
        if (count < 2)
            $("#safe_grade").text("低");
        else if (count >= 2 && count < 4)
            $("#safe_grade").text("中");
        else
            $("#safe_grade").text("高");
    });
</script>
