<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
<script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/jquery.cityselect.js"></script>

<script type="text/javascript">
    $(function () {
        //初始化表单
        AjaxInitForm('form_add_card', 'btnSubmit', 1, 'turl');

        AjaxInitForm('form_update_card', 'btnSubmitUpdate', 1, 'turl');
    });

</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    添加银行卡</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form_add_card" name="form_add_card" url="{config.webpath}tools/submit_ajax.ashx?action=add_bank_card">
                <div class="form-group formdivider">
                    <label class="col-sm-3 control-label" for="account">
                        开户人姓名</label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="请输入银行帐户名称" class="form-control  custominput" id="account_name"
                            name="account_name" datatype="*2-10" errormsg="请输入正确的帐户名称" value="{userModel.real_name}"
                            disabled="disabled">
                    </div>
                </div>
                <div class="form-group formdivider">
                    <label class="col-sm-3 control-label " for="nickname">
                        银行卡号</label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="请输入卡号" class="form-control custominput " id="card_no"
                            name="card_no" datatype="s16-19" errormsg="请输入16到19位数字!">
                    </div>
                </div>
                <div class="form-group formdivider">
                    <label class="col-sm-3 control-label " for="bankname">
                        开户银行</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="bank_name" name="bank_name">
                            <option selected>请选择银行</option>
                            <option value="工商银行">工商银行</option>
                            <option value="建设银行">建设银行</option>
                            <option value="农业银行">农业银行</option>
                            <option value="中国银行">中国银行</option>
                            <option value="招商银行">招商银行</option>
                            <option value="兴业银行">兴业银行</option>
                            <option value="邮政储蓄银行">邮政储蓄银行</option>
                            <option value="交通银行">交通银行</option>
                            <option value="民生银行">民生银行</option>
                            <option value="光大银行">光大银行</option>
                            <option value="平安银行">平安银行</option>
                            <option value="浦发银行">浦发银行</option>
                            <option value="广发银行">广发银行</option>
                            <option value="中信银行">中信银行</option>
                            <option value="华厦银行">华厦银行</option>
                        </select>
                    </div>
                </div>
                <div class="form-group formdivider">
                    <label class="col-sm-3 control-label " for="confirmpass">
                        开户行所在地</label>
                    <div class="col-sm-9 selectdist">
                        <select class="form-control prov" id="province" name="province">
                        <option value="">请选择省份</option>
                        </select>
                        <select class="form-control city" id="province" name="city">
                        <option value="">请先选择省份</option>
                        </select>
                        <select class="form-control dist" id="province" name="area">
                        <option value="">请先选择市</option>
                        </select>
                    </div>
                </div>
                <div class="form-group formdivider">
                    <label class="col-sm-3 control-label " for="branchname">
                        开户行</label>
                    <div class="col-sm-8">                        
                        <input type="text" placeholder="请确认开户行名称" class="form-control custominput " id="branch_name"
                            name="branch_name" datatype="*" errormsg="开户名不能为空！">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消</button>
                    <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary">
                        提交</button>
                    <input id="turl" type="hidden" value="<%linkurl("withdraw")%>" />
                </div>
                </form>
            </div>            
        </div>
    </div>
</div>

<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="form_update_card" name="form_update_card" url="{config.webpath}tools/submit_ajax.ashx?action=update_bank_card">
                    <div class="form-group formdivider">
                        <label class="col-sm-3 control-label" for="account">
                            开户人姓名
                        </label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="请输入银行帐户名称" class="form-control  custominput" id="account_name_u"
                                   name="account_name_u" datatype="*2-10" errormsg="请输入正确的帐户名称" value="{userModel.real_name}"
                                   disabled="disabled">
                            <input id="hidid" name="hidid" type="hidden" />
                        </div>
                    </div>
                    <div class="form-group formdivider">
                        <label class="col-sm-3 control-label " for="nickname">
                            银行卡号
                        </label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="请输入卡号" class="form-control custominput " id="card_no_u"
                                   name="card_no_u" datatype="s16-19" errormsg="请输入16到19位数字!" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group formdivider">
                        <label class="col-sm-3 control-label " for="bank_name_u">开户银行</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="bank_name_u" name="bank_name_u">
                                <option selected>请选择银行</option>
                                <option value="工商银行">工商银行</option>
                                <option value="建设银行">建设银行</option>
                                <option value="农业银行">农业银行</option>
                                <option value="中国银行">中国银行</option>
                                <option value="招商银行">招商银行</option>
                                <option value="兴业银行">兴业银行</option>
                                <option value="邮政储蓄银行">邮政储蓄银行</option>
                                <option value="交通银行">交通银行</option>
                                <option value="民生银行">民生银行</option>
                                <option value="光大银行">光大银行</option>
                                <option value="平安银行">平安银行</option>
                                <option value="浦发银行">浦发银行</option>
                                <option value="广发银行">广发银行</option>
                                <option value="中信银行">中信银行</option>
                                <option value="华厦银行">华厦银行</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group formdivider">
                        <label class="col-sm-3 control-label " for="confirmpass">
                            开户行所在地
                        </label>
                        <div class="col-sm-9 selectdist_u">
                            <select class="form-control prov prov_u" id="province" name="province_u">
                            <option value="">请选择省份</option>
                            </select>
                            <select class="form-control city city_u" id="province" name="city_u">
                            <option value="">请先选择省份</option>
                            </select>
                            <select class="form-control dist dist_u" id="province" name="area_u">
                            <option value="">请先选择市</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group formdivider">
                        <label class="col-sm-3 control-label " for="branchname">
                            开户行
                        </label>
                        <div class="col-sm-8">
                            <input type="text" placeholder="请确认开户行名称" class="form-control custominput " id="branch_name_u"
                                   name="branch_name_u" datatype="*" errormsg="开户名不能为空！">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" id="btnSubmitUpdate" name="btnSubmitUpdate" class="btn btn-primary">修改</button>
                        <input id="turl" type="hidden" value="<%linkurl("withdraw")%>" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
