<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{model.seo_description}">
    <meta name="keywords" content="{model.seo_keywords}">

    <title>{model.seo_title}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <link rel="stylesheet" href="<%templateskin%>/css/reports-common.css">
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script> 
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/html5shiv.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="survey-container">
        <div class="sur-nav">
            <a href="/">金汇丰</a> <span>> </span><a href="<%linkurl("about")%>">关于我们</a> <span>>
            </span><a href="<%linkurl("about")%>?tab=4">资讯中心</a>
        </div>
        <div class="surveybody-left">
            <div class="sur-left-neibu">
                <div class="title">
                    <h3>
                        {model.title}</h3>
                    <span>来源:{article_attr.source}</span> <span>作者：{article_attr.author}</span> <span>发布时间：{model.add_time}</span>
                </div>
                
                <div id="article_content">
                {model.content}
                </div>
            </div>
        </div>
        <div class="surveybody-right">
            <div class="recommend">
                精彩推荐</div>
            
            <%set DataTable is_red_articles=get_is_red_article()%>
            <%foreach(DataRow dr in is_red_articles.Rows)%>
            <div class="reco-context">
                <img src="{dr[img_url]}" style="cursor: pointer" onclick="location.href='<%linkurl("article_content_show",{dr[id]},{dr[category_id]})%>'" />
                <div>
                    <a href="<%linkurl("article_content_show",{dr[id]},{dr[category_id]})%>">{dr[title]}</a></div>
            </div>
            <%/foreach%>           
        </div>
    </div>
    <div class="cle">
    </div>
    <!--Header-->
    <%template src="_footerSmall.html"%>
    <!--/Header-->
</body>
</html>
