<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">
    <link rel="icon" href="logo.ico">
    <title><%=category_id==55?"借款项目展示":"发标公告"%>列表 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <link rel="stylesheet" href="<%templateskin%>/css/item-list.css">
    <link rel="stylesheet" href="{config.webpath}css/pagination.css" />
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/html5shiv.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="jiekuan-container">
        <div class="sur-nav">
            <a href="/">金汇丰</a> <span>> </span><span><%=category_id==55?"借款项目展示":"发标公告"%></span>
        </div>
        <div class="jiekuan-body">
            <div class="neibu">
                <%set DataTable article_list = get_article_list("content_project",category_id,page,"",out totalcount,out pagelist,"article_invest_list",category_id, "__id__")%><!--取得一个分页DataTable-->
                <%foreach(DataRow dr in article_list.Rows)%>
                <div class="jiekuan-list">
                    <img src="{dr[img_url]}" />
                    <div class="jiekuan-list-right">
                        <h4>
                            <a href="<%linkurl("article_invest_show",{dr[id]},category_id)%>">{dr[title]}</a></h4>
                        <div class="list-word">
                            <span>{dr[add_time]}</span>
                        </div>
                        <div class="cle">
                        </div>
                        <p class="font-style">
                            {dr[zhaiyao]}
                        </p>
                    </div>
                </div>
                <%/foreach%>
            </div>
            <div class="flickr">{pagelist}</div><!--放置页码列表-->
        </div>
    </div>
    <div class="cle">
    </div>
    <%template src="_footerSmall.html"%>
</body>
</html>
