<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="金汇丰我要理财栏目专注于为广大的投资者提供低门槛、100%本息保障的P2P网贷理财产品，实现15%-18%的年化收益率。">
    <meta name="keywords" content="P2P网贷理财产品,互联网投资理财项目,金汇丰理财产品">
    <link rel="icon" href="logo.ico">
    <title>P2P网贷理财产品_互联网投资理财项目 – 【金汇丰】</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/finance.css">
        
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
    	<div class="container">
      	<div class="breadcrumb">
            <li><a href="/">金汇丰</a></li>
        	<li><a href="#">我要理财</a></li>
            <li><a class="no-text-decoration">产品介绍</a></li>
        </div>
      	<div class="ctsection">
       		<div class="product roundconer5 pull-left houselorn">
          	<div class="proheader house">
            	金屋子
            </div>
            <p>借款人向金汇丰理财平台提供自有房产进行抵押借款，由平台专业风控团队上门稽核其房产信息及个人信用状况，严格审核后确定其借款额度，将房产抵押至金汇丰指定的工作人员名下后，在平台将债权及抵押权力进行转让。</p>
            <ul class="list-unstyled">
            	<li>优质房产办理房产抵押</li>
              <li>多道风控程序</li>
              <li>安全保障，放心无忧</li>
            </ul>
            <a href="<%linkurl("invest_list",33,0,0,0)%>" class="btns">加入【金屋子】理财计划</a>
          </div>
          <div class="product roundconer5 pull-right carlorn">
          	<div class="proheader car">
            	丰车赚
            </div>
            <p>车辆抵押标，指借款人向金汇丰理财平台提出自有车辆抵押借款申请，由平台专业风控团队调查其车辆信息及个人信用资料，严格审核后，根据车辆价值确定借款额度，在办理车辆抵押手续后允许其在平台发布贷款信息的借款标。</p>
            <ul class="list-unstyled">
            	<li>购买车辆全额保险</li>
              <li>办理汽车抵押</li>
              <li>安装GPS全球定位系统</li>
            </ul>
            <a href="<%linkurl("invest_list",34,0,0,0)%>" class="btns">加入【丰车赚】理财计划</a>
          </div>
        </div>
      </div>
    </div>
    <!--网站尾部-->
    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--/footer-->
	</body>
</html>

