<%namespace "Lip2p.Linq2SQL"%>
<%namespace "System.Collections.Generic"%>
<%namespace "Newtonsoft.Json.Linq"%>
<%namespace "Newtonsoft.Json"%>
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="{projectModel.seo_keywords}" name="keywords" />
    <meta content="{projectModel.seo_description}" name="description" />
    <title><%=string.IsNullOrEmpty(projectModel.seo_title) ? projectModel.title : projectModel.seo_title%></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/finance.css">
    <link rel="stylesheet" href="{config.webpath}css/validate.css"/>
    <link rel="stylesheet" href="{config.webpath}css/pagination.css" />
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script type="text/javascript" src="<%templateskin%>/js/base.js?v=5"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化表单
            AjaxInitForm("invest_form", "btnSubmit", 1, "turl");

            var profit_rate = {get_calc_final_profit_rate()};
            $("#investingMoney").blur(function (e) {
                $("#investingMoney_confirm").text($(this).val() + "元");
                $("#investingMoney_submit").val($(this).val());
                //预期收益
                var profit = parseFloat(profit_rate) * parseFloat($(this).val());
                $("#final_profit").text(profit.toFixed(2) + "元");                
            });

            $("#btnSubmit").bind("click", function() {
		        if($("#txtPassword").val()===""){
			        $("#msgtips").show();
			        $("#msgtips dd").text("请填写支付密码！");
                    return false;
		        }

                if(typeof($("#agree").attr("checked")) == "undefined"){
			        $("#msgtips").show();
			        $("#msgtips dd").text("请先同意投资协议！");
                    return false;
		        }
                return true;
		    });

            $("#agree").on("click", function(){  
                $("#agree").attr("checked", this.checked);  
            }); 

            var str = $(".statustime");
            var sid = str.val();
            var dtime = str.attr("publishtime");
            var id=str.attr("pid");
            if (sid == "55") {
                if (dtime != null) {
                    var endtime = new Date(Date.parse(dtime.replace(/-/g,"/"))).getTime();
                    timer(endtime);
                }
            }
        });

        /*tab内容初始化*/
        $(document).ready(function () {
            $(".tabcontent").children("div:not(:first-child)").css("display", "none");
            picshow();
        });
        /*tab控制*/
        $(document).ready(function () {
            $(".tabheader ul li").click(function () {
                $(this).addClass("tabselected").css("border-bottom", "none").siblings().removeClass("tabselected");
                $($(this).attr("data-target")).css("display", "block").siblings().css("display", "none");
                picshow();
            });

        });
        /*鼠标移动到图片上缩放*/
        $(function() {
            $("#carousel li img").hover(function() {
                $(this).animate({ height: "+=20%", width: "+=20%", top: "-=10%", left: "-=10%" });
            }, function() {
                $(this).animate({ height: "-=20%", width: "-=20%", top: "+=10%", left: "+=10%" });
            });
        });
        /*图片浏览*/
        $(document).ready(function () {
            $("#carousel li img").click(function () {
                var $imgclick = $(this);
                $("span.pic-describe").html($imgclick.parent().siblings(".caption").children("p").html()); 
                $("#myModal").modal().find("img").attr("src", $(this).attr("origin-src"));
                $(".right").unbind("click").click(function () {
                    if ($imgclick.parents(".imgshow").next().length == 0) {
                        $.dialog.alert("已经是最后一张图片！");
                    } else {
                        $imgclick = $imgclick.parents(".imgshow").next().find("img");
                        $("span.pic-describe").html($imgclick.parent().siblings(".caption").children("p").html());
                        $("#myModal").modal().find("img").attr("src", $imgclick.attr("origin-src"));
                    }  
                });
                $(".left").unbind("click").click(function () {
                    if ($imgclick.parents(".imgshow").prev().length == 0) {
                        $.dialog.alert("已经是第一张图片！");
                    } else {
                        $imgclick = $imgclick.parents(".imgshow").prev().find("img");
                        $("span.pic-describe").html($imgclick.parent().siblings(".caption").children("p").html());
                        $("#myModal").modal().find("img").attr("src", $imgclick.attr("origin-src"));
                    }
                });
            });
        });

        function picshow() {
            if ($("#projdetail").css("display") == "block") {
                $(".picshow").show();
            }
            else {
                $(".picshow").hide();
            }
        }

        function invest_confirm() {          
            if ($("#investingMoney").val() == "")
            {
                $.dialog.alert("请输入投资金额！");
                return false;
            }

            var  investMoney = parseFloat($("#investingMoney").val());           
            if (investMoney < 100)
            {
                $.dialog.alert("对不起，最少100元起投！");
                return false;
            }

            if (parseInt(investMoney)!=investMoney)
            {
                $.dialog.alert("对不起，请输入整数金额！");
                return false;
            }
 
            if(investMoney>parseFloat({idle_money})){
                $.dialog.alert("余额不足，请先充值！");
                return false;
            }                    

            if("{has_pay_password()}"=="True")         
                $('#invest-confirm').modal('show');
            else{
                $.dialog({
                    width: '250px',
                    height: '100px',
                    title:"提示",
                    content: '请到安全中心设置交易密码！',
                    icon:"alert.gif",
                    ok: function(){
                        location.href='<%linkurl("safe","safe")%>';
                        return false;
                    },
                    cancelVal: '关闭',
                    cancel: true /*为true等价于function(){}*/
                });
            }
            
            return false;
        }    
        
        function timer(endtime) {
            window.setInterval(function () {
                var nowtime = new Date();
                var totalSeconds = parseInt((endtime - nowtime.getTime()) / 1000);
                var intDiff = parseInt(totalSeconds)+2; //倒计时总秒数量
                var day = "00",
                    hour = "00",
                    minute = 0,
                    second = 0;//时间默认值
                if (intDiff > 0) {
                    //day = Math.floor(intDiff / 86400);
                    //hour = Math.floor(intDiff % 86400 / 3600);
                    minute = Math.floor(intDiff % 3600 / 60);
                    second = Math.floor(intDiff % 60);
                    $("#clock").html("距发标时间还剩下&nbsp;"+minute+"分"+second+"秒");
                    intDiff--;
                }
                else {
                    clearInterval(timer);
                    location.reload();
                }
            }, 1000);
        }

        $(function () {

            var url = window.location.href;
            var urlArray = url.split('/');
            var i = urlArray[4].split('-');
            if (i.length > 2) {
                $(".bsdetails ul li").eq(1).addClass("tabselected").css("border-bottom", "none").siblings().removeClass("tabselected");
                $($(".bsdetails ul li").eq(1).attr("data-target")).css("display", "block").siblings().css("display", "none");
                picshow();
            }
        });
    </script>
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <!--导航栏end-->
    <!--内容栏start-->
    <div class="content ctbgcolor">
        <!--标书基本信息start-->
        <div class="container">
            <div class="bsinfo pull-left">
                <h4 class="bstitle bshouse">
                    <input id="HidStatus" type="hidden" value="{projectModel.status}" publishtime="{projectModel.publish_time}" pid="{projectModel.id}" class="statustime" />
                    {projectModel.title}
                    <%if(projectModel.tag.ToString()=="1")%><i class="invest-icon icon-order"></i>
                    <%else if(projectModel.tag.ToString()=="2")%><i class="invest-icon icon-hot"></i>
                    <%/if%>

                    <%if((int)projectModel.status==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao) %>
                    <div id="clock" style="height: 25px; line-height: 25px; font-size: 18px; overflow: hidden; text-align: center; display: inline-block; float: right; padding-right: 15px; "></div>
                    <%/if%>
                </h4>
                <ul class="list-inline">
                    <li class="box1">
                        <h4 class="top">借款金额</h4>
                        <p><span class="digits"><%=string.Format("{0:N0}", projectModel.financing_amount)%></span><span class="units">元</span></p>
                    </li>
                    <li class="box2">
                        <h4 class="top">借款利率</h4>
                        <p><span class="digits"><%=string.Format("{0:0.0}", projectModel.profit_rate_year)%></span><span class="units" style="padding-top:6px">%</span></p>
                    </li>
                    <li class="box3">
                        <h4 class="top">借款期限</h4>
                        <p><span class="digits">{projectModel.repayment_term_span_count}</span><span class="units"><%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTermSpanEnum)projectModel.repayment_term_span)%></span></p>
                    </li>
                    <li class="box4">
                        <h4 class="bottom">还款方式</h4>
                        <p><%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%></p>
                    </li>
                    <li class="box5">
                        <%if((int)projectModel.status==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao) %>
                        <h4 class="bottom">待发标时间</h4>
                        <p><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.publish_time)%></p>
                        <%else%>
                        <h4 class="bottom">发标时间</h4>
                        <p><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.publish_time)%></p>
                        <%/if%>
                    </li>
                    <li class="box6">
                        <h4 class="bottom">满标时间</h4>
                        <p><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.invest_complete_time)%></p>
                    </li>
                </ul>
                <div class="time">
                    <p class="pull-left">投标进度：</p>
                    <div class="progress pull-left" style="margin-top: 5px; margin-bottom: 0; width: 190px;margin-left: 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{investmentProgress}"
                            aria-valuemin="0" aria-valuemax="100" style="width: {investmentProgress}%">
                        </div>
                    </div>
                    <p class="pull-left" style="margin-left: 15px;">{investmentProgress}%</p>
                </div>
                <div class="clearfix"></div>
                <div class="sold">
                    <p>投标人数：<span style="margin-left: 10px;">{invsetorCount}个</span></p>
                </div>
                <%if(projectModel.status>(int)Lip2pEnums.ProjectStatusEnum.FaBiao)%>
                <img src="<%templateskin%>/images/finance/bsfull.png"><!--满标-->
                <%else%>
                <img src="<%templateskin%>/images/finance/bsselling.png">
                <%/if%>
            </div>
            <%if(projectModel.status>(int)Lip2pEnums.ProjectStatusEnum.FaBiao)%>
            <!--投标抢光-->
            <div class="bslogin pull-right">
                <h3 class="title">即刻投标</h3>
                <div class="canbuy">
                    <div class="amount-left">还需金额</div>
                    <div class="amount-details"><span class="digits">{investmentBalance}</span></div>
                </div>
                <p>已经有{invsetorCount}名聪明的投资者投资此项目，</p>
                <p>敬请关注金汇丰其他项目！</p>
                <div class="empty-btn">抢光了</div>
            </div>
            <%else %>
            <!--投标抢光end-->
            <!--登录前-->
            <%if(!IsUserLogin())%>
            <div class="bslogin pull-right">
                <h3 class="title">
                    即刻投标</h3>
                <div class="canbuy">
                    <div class="amount-left">
                        剩余金额</div>
                    <div class="amount-details">
                        <span class="digits">{investmentBalance}</span></div>
                </div>
                <p>
                    起投金额100元</p>
                <p class="regbtn">
                    <a href="/register.html" class="btns">30秒快速注册</a></p>
                <p class="login">
                    已有账号？<a href="/login.html">立即登录</a></p>
            </div>
            <!--登录前end-->
            <%else%>
            <!--登录后-->
            <div class="bsinvest pull-right">
                <h3 class="title">即刻投标</h3>
                <div class="canbuy">
                    <div class="amount-left">剩余金额</div>
                    <div class="amount-details"><span class="digits">{investmentBalance}</span></div>
                </div>
                <%if(projectModel.tag==(int)Lip2pEnums.ProjectTagEnum.DailyProject||projectModel.tag==(int)Lip2pEnums.ProjectTagEnum.Trial)%>
                    <p>奖券总额 <span class="accountyue">{idle_money}</span> 元</p>
                    <%set var tickets=QueryTickets()%>
                    <select id="investingMoney" name="investingMoney" class="form-control" style="margin-left: 1em;width:89%">
                      <%if(tickets.Count==0)%>
                      <option value="0">你没有奖券</option>
                      <%else%>
                      <option value="0">请选择奖券...</option>
                      <%/if%>
                      <%for(int i=0;i<tickets.Count;i++)%>
                      <option value="<%=tickets[i]["ticketValue"]%>"><%=tickets[i]["ticketName"]%></option>
                      <%/for%>
                    </select>
                <%else%>
                <p style="width:95%">帐户余额 <span class="accountyue">{idle_money}</span> 元<a id="amount-chongzhi" href="<%linkurl("recharge")%>">[充值]</a></p>
                <p style="width:95%"><input type="text" id="investingMoney" name="investingMoney" placeholder="投资金额大于100元" class="form-control"></p>
                <%/if%>
                <%if((int)projectModel.status==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao) %>
                <p class="delaybtn"><input type="button" class="btns" value="待发标"></p>
                <%else%>
                <p class="regbtn"><input type="button" class="btns" value="投标" onclick="return invest_confirm(); "></p>
                <%/if%>
            </div>
            <%/if%>
            <%/if%>
        </div>
        <!--标书基本信息end-->
        <!--标书详细信息start-->
        <div class="container">
            <div class="bsdetails">
                <div class="tabheader">
                    <ul>
                        <li style="cursor:pointer" data-target="#projdetail" class="tabselected">项目详情</li>
                        <li style="cursor:pointer" data-target="#buyrecord">投标记录</li>
                        <li style="cursor:pointer" data-target="#repayplain">回款计划</li>
                    </ul>
                </div>
                <div class="clearfix">
                </div>
                <div class="tabcontent">
                    <div id="projdetail">
                        <div class="borrowinfo">
                            <div class="infotitle">
                                借款人信息</div>
                            <table width="95%">
                                <tbody>
                                    <tr>
                                        <th width="10%">
                                            借款用户：
                                        </th>
                                        <td width="15%">
                                            <%=loaner.name.Substring(0, 1)+"**"%>
                                        </td>
                                        <th width="10%">
                                            性别：
                                        </th>
                                        <td width="10%">
                                            <%=Lip2p.Common.Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.PersonSexTypeEnum)loaner.gender)%>
                                        </td>
                                        <th width="15%">
                                            年龄：
                                        </th>
                                        <td width="15%">
                                            {loaner.age}
                                        </td>
                                        <th width="10%">
                                            籍贯：
                                        </th>
                                        <td width="15%">
                                            {loaner.cencus}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            婚姻状况：
                                        </th>
                                        <td>
                                            <%=Lip2p.Common.Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.MaritalStatusEnum)loaner.marital_status)%>
                                        </td>
                                        <th>
                                            学历：
                                        </th>
                                        <td>
                                            {loaner.educational_background}
                                        </td>
                                        <th width="10%">
                                            职业：
                                        </th>
                                        <td width="10%">
                                            {loaner.job}
                                        </td>
                                        <th>
                                            每月收入：
                                        </th>
                                        <td>
                                            {loaner.income}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            工作地点：
                                        </th>
                                        <td colspan="5">
                                            {loaner.working_at}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            备注：
                                        </th>
                                        <td colspan="7">
                                            {risk.loaner_content}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="diyainfo">
                            <div class="infotitle">
                                抵押物信息</div>
                            <table width="100%">
                                <tbody>
                                    <%foreach(var mortgage in mortgages)%>

                                    <%csharp%>
                                    var schemeObj = (JObject) JsonConvert.DeserializeObject(mortgage.li_mortgage_types.scheme);
                                    var kv = (JObject)JsonConvert.DeserializeObject(mortgage.properties);

                                    var propertiesGroup = schemeObj.Cast<KeyValuePair<string, JToken>>().Select(p => new Tuple<string,string>(p.Value.ToString(), kv[p.Key].ToString()))
                                        .Concat(new [] {new Tuple<string,string>("市场价值",mortgage.valuation.ToString("c")) }).Partition(3).ToList();

                                    foreach (var properties in propertiesGroup) {
                                    <%/csharp%>
                                    <tr>

                                    <%csharp%>
                                        foreach (var p in properties) {
                                    <%/csharp%>
                                        <th width="10%"><%=p.Item1%>：</th>
                                        <td><%=p.Item2%></td>
                                    <%csharp%> } <%/csharp%>

                                    </tr>
                                    <%csharp%> } <%/csharp%>
                                    <tr>
                                        <th>
                                            备注：
                                        </th>
                                        <td colspan="5">
                                            {mortgage.remark}
                                        </td>
                                    </tr>
                                    <%/foreach%>
                                </tbody>
                            </table>
                        </div>
                        <div class="lendinfo">
                            <div class="infotitle">
                                债权人信息</div>
                            <p>
                                {risk.creditor_content}</p>
                        </div>
                        <div class="dangercontrol">
                            <div class="infotitle">
                                风控措施</div>
                            <ol>
                                {risk.risk_content}
                            </ol>
                        </div>
                    </div>
                <div id="buyrecord">
                    <table width="100%" cellspacing="1" border="1" bordercolor="#fff">
                        <thead>
                        <tr>
                            <th>
                                序号
                            </th>
                            <th>
                                用户名
                            </th>
                            <th>
                                投标金额（元）
                            </th>
                            <th>
                                投标时间
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <%set int totalCount=0%>
                        <%set List<ProjectTransactions> projects=query_investment(projectModel,{page-1},{PageSize},out totalCount)%>
                        <%for(int i=0;i<projects.Count;i++)%>
                        <tr>
                            <td>
                                {i+1}
                            </td>
                            <td>
                                <%=projects[i].user_name%>
                            </td>
                            <td>
                                <%=projects[i].value%>
                            </td>
                            <td>
                                <%=projects[i].create_time%>
                            </td>
                        </tr>
                        <%/for%>
                        <%if(totalCount<1)%>
                        <tr><td align="center" colspan="4">暂无记录</td></tr>
                        <%/if%>
                        </tbody>
                    </table>
                    <div style="height:20px"></div>
                    <div class="flickr" style="text-align: center;"><%= get_page_link(PageSize,page,totalCount,linkurl("invest_detail",project_id,"__id__"))%></div> <!--放置页码列表-->
                </div>
                    <div id="repayplain">
                        <table width="100%" cellspacing="1" border="1" bordercolor="#fff">
                            <thead>
                                <tr>
                                    <th>
                                        期次
                                    </th>
                                    <th>
                                        还款日
                                    </th>
                                    <th>
                                        应还本息（元）
                                    </th>
                                    <th>
                                        应还本金（元）
                                    </th>
                                    <th>
                                        应还利息（元）
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%foreach(li_repayment_tasks task in repayment_tasks)%>
                                <tr>
                                    <td>
                                        {task.term}
                                    </td>
                                    <td>
                                        <%=task.should_repay_time.ToString("yyyy-MM-dd")%>
                                    </td>
                                    <td>
                                        <%=string.Format("{0:c}", task.repay_interest+task.repay_principal)%>
                                    </td>
                                    <td>
                                        <%=string.Format("{0:c}", task.repay_principal)%>
                                    </td>
                                    <td>
                                        <%=string.Format("{0:c}", task.repay_interest)%>
                                    </td>
                                </tr>
                                <%/foreach%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--标书详细信息end-->
        <!--图片展示start-->
        <div class="container">
            <div class="picshow">
                <div class="tabheader">
                    <ul>
                        <li style="cursor:pointer" data-target="#livepic" class="tabselected">现场照片</li>
                        <li style="cursor:pointer" data-target="#lorninfo">债权信息</li>
                        <li style="cursor:pointer" data-target="#papers">合同与凭证</li>
                    </ul>
                </div>
                <!--现场图片-->
                <div class="tabcontent">
                    <div id="livepic">
                        <div class="infotitle"></div>
                        <ul id="carousel" class="list-inline">
                            <%foreach(li_albums picture in albums_pictures)%>
                            <li class="imgshow">
                                <div class="thumbnail">
                                    <div class="imgct">
                                        <img src="{picture.thumb_path}" alt="..." origin-src="{picture.original_path}">
                                    </div>
                                    <div class="caption">
                                        <p>{picture.remark}</p>
                                    </div>
                                </div>
                            </li>
                            <%/foreach%>
                        </ul>
                    </div>
                    <!--债权信息-->
                    <div id="lorninfo">
                        <div class="infotitle">
                        </div>
                        <ul id="carousel" class="list-inline">
                            <%foreach(li_albums credit in albums_credit)%>
                            <li class="imgshow">
                                <div class="thumbnail">
                                    <div class="imgct">
                                        <img src="{credit.thumb_path}" alt="..." origin-src="{credit.original_path}">
                                    </div>
                                    <div class="caption">
                                        <p>
                                            {credit.remark}</p>
                                    </div>
                                </div>
                            </li>
                            <%/foreach%>
                        </ul>
                    </div>
                    <!--合同与凭证-->
                    <div id="papers">
                        <div class="infotitle">
                        </div>
                        <ul id="carousel" class="list-inline">
                            <%foreach(li_albums mortgage in albums_mortgage)%>
                            <li class="imgshow">
                                <div class="thumbnail">
                                    <div class="imgct">
                                        <img src="{mortgage.thumb_path}" alt="..." origin-src="{mortgage.original_path}">
                                    </div>
                                    <div class="caption">
                                        <p>
                                            {mortgage.remark}</p>
                                    </div>
                                </div>
                            </li>
                            <%/foreach%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--图片展示end-->
    </div>
    <!--内容栏end-->
    <!--网站底部-->
    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--/footer-->
    <!--图片浏览弹出框start-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">图片浏览</h4>
                    <span class="pic-describe"></span>
                </div>
                <div class="modal-body">
                    <div class="bigpic">
                        <img src="images/car.png">
                    </div>
                    <a class="left carousel-control" role="button" href="#carouselpannel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">
                            Previous</span> </a><a class="right carousel-control" role="button" href="#carouselpannel"
                                data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                                </span><span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
    </div>
    <!--图片浏览弹出框end-->
    <!--投标确认后弹出-->
    <div class="modal fade" id="invest-confirm" tabindex="-1" role="dialog" aria-labelledby="invest-confirm-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content affirm-dialog">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title affirm-dialog-th" id="invest-confirm-label">确认投资</h4>
                </div>
                <form id="invest_form" name="invest_form" url="{config.webpath}tools/submit_ajax.ashx?action=invest_project">
                <div class="modal-body">
                    <div class="affirm-dialog-tb">
                        <table>
                            <tr>
                                <td>项目标题</td>
                                <td>{projectModel.title}</td>
                            </tr>
                            <tr>
                                <td>年利率</td>
                                <td id="annual-rate"><%=string.Format("{0:0.0}", projectModel.profit_rate_year)%>%</td>
                            </tr>
                            <tr>
                                <td>还款期限</td>
                                <td>
                                    {projectModel.repayment_term_span_count}
                                    <%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTermSpanEnum)projectModel.repayment_term_span)%>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    还款方式
                                </td>
                                <td>
                                    <%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    投资金额
                                </td>
                                <td>
                                    <input type="hidden" id="investingMoney_submit" name="investingMoney_submit" />
                                    <span id="investingMoney_confirm"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    保障方式
                                </td>
                                <td>
                                    本金+利息
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="affirm-dialog-earnings">
                        <span>预期收益</span> <span id="final_profit"></span>
                    </div>
                    <div class="paybox">
                        <div class="paybox-psword">
                            支付密码：
                            <input type="password" name="pay_ps" style="display: none"><!-- for disable autocomplete on chrome -->
                            <input autocomplete="off" type="password" name="txtPassword" id="txtPassword" value="" />
                        </div>
                    </div>
                    <p class="agreement">
                        <input type="checkbox" id="agree" checked="checked">
                        我已阅读并同意签署<a target="_blank" href="<%templateskin%>/images/jhf_invest_agree.pdf">《投资协议》</a></p>
                    <%if(!has_email) %>
                    <span id="annual-rate">注意：您没有在<a href="<%linkurl("safe","safe")%>" target="_blank">"安全中心"</a>进行邮箱绑定，投资成功后将收不到金汇丰发送的投资协议。<p>(实名认证后方可正确显示乙方姓名)</p></span>    
                    <%/if%>                  
                </div>
                <div class="affirm-dialog-btns">
                    <input id="project_id" name="project_id" type="hidden" value="{projectModel.id}" />
                    <input id="turl" type="hidden" value="<%linkurl("invest_detail",{projectModel.id})%>" />
                    <button type="submit" class="confirmbtn" id="btnSubmit" name="btnSubmit">确定</button>
                    <button type="button" class="cancelbtn" onclick="$('#invest-confirm').modal('hide')">取消</button>
                </div>
                <dl id="msgtips">
                    <dt></dt>
                    <dd></dd>
                </dl>
                </form>
            </div>
        </div>
    </div>
    <!--投标确认后弹出end-->
</body>
</html>
