<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="金汇丰p2p理财平台拥有稳健的风控体系和专业的管理团队，为投资者提供100%本息保障的金屋子、丰车赚等优质理财产品，实现15%-18%的年化收益率。">
    <meta name="keywords" content="金屋子,丰车赚,个人投资项目">
    <title>理财投资项目 - 【金汇丰】</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/finance.css">
    <link rel="stylesheet" href="<%templateskin%>/css/invest_list.css">
    <link rel="stylesheet" href="{config.webpath}css/pagination.css" />

    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script src="<%templateskin%>/js/delayed.js"></script>
    <script type="text/javascript">
        function inite() {
            var re = /\d+-\d+-\d+-\d/g;
            var param = re.exec(window.location.href);
            var tmparr = param[0].split("-");
            for (i = 0; i < tmparr.length - 1; i++) {
                if (i == tmparr.length - 1) continue;
                $("#shaixuan select").get(i).selectedIndex = tmparr[i + 1];
            }
        }

        $(document).ready(function (e) {
            inite();

            $("#shaixuan select").change(function (e) {
                var tmpstr = "/invest/invest-{category_id}";
                $("#shaixuan select").each(function (index, element) {
                    tmpstr += "-" + $(this).get(0).selectedIndex;
                });
                window.location = tmpstr + "\.html";
            });
        });
    </script>

    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    
    <!--导航栏start-->
    <div style="background-color: #f2f2f2;">
        <div class="container">
            <div class="breadcrumb pull-left">
                <li><a href="/">金汇丰</a></li>
                <li><a href="invest.html">我要理财</a></li>
                <li><a class="no-text-decoration">{category_name}</a></li>
            </div>            
            <div class="bclink pull-right">
                <a href="<%linkurl("invest_list",{category_id2},{project_profit_rate_index},{project_repayment_index},{project_amount_index})%>">{category_name2}</a>
            </div>
        </div>
    </div>
    <!--导航栏end-->

    <!--内容start-->
    <div class="content">
        <div class="container eachrow">
            <div>
                <div class="listtitle">
                    <div class="{category_css}">
                        {category_name}</div>
                    <div class="pull-right" id="shaixuan">
                        <ul class="list-inline">
                            <li>
                                <span class="control-label">
                                    年化利率</span>
                                <select class="input-md">
                                <%set DataTable rateEnum=get_project_rate_enum()%>
                                <%foreach(DataRow dr in rateEnum.Rows)%>
                                    <option>{dr[text]}</option>
                                <%/foreach%>
                                </select>
                            </li>
                            <li>
                                <span class="control-label">
                                    借款期限</span>
                                <select class="input-md">
                                    <%set DataTable termEnum=get_project_term_enum()%>
                                    <%foreach(DataRow dr in termEnum.Rows)%>
                                        <option>{dr[text]}</option>
                                    <%/foreach%>
                                </select>
                            </li>
                            <li>
                                <span class="control-label">
                                    金额范围</span>
                                <select class="input-md">
                                    <%set DataTable amountEnum=get_project_amount_enum()%>
                                    <%foreach(DataRow dr in amountEnum.Rows)%>
                                        <option>{dr[text]}</option>
                                    <%/foreach%>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <%set DataTable projectList=get_project_list(8,page,out totalcount, {category_id}, {project_profit_rate_index}, {project_repayment_index},{project_amount_index})%>
                <%set string pagelist=get_page_link(8, page, totalcount, linkurl("invest_list",{category_id}, {project_profit_rate_index}, {project_repayment_index},{project_amount_index},"__id__"))%> <!--取得分页页码列表-->
                <%foreach(DataRow dr in projectList.Rows)%>
                <div class="listblock">
                    <input id="HidStatus" type="hidden" value="{dr[status]}" publishtime="{dr[add_time]}" pid="{dr[id]}" class="statustime" />
                    <div class="media">
                        <div class="media-left">
                            <img src="{dr[img_url]}" style="cursor: pointer" onclick=" location.href = '<%linkurl("invest_detail",{dr[id]})%>'">
                        </div>
                        <div class="media-body">
                            <a href="<%linkurl("invest_detail",{dr[id]})%>">
                                <h5>
                                    {dr[title]}<%if(dr["tag"].ToString()=="1")%><i class="invest-icon icon-order"></i><%else if(dr["tag"].ToString()=="2")%><i class="invest-icon icon-hot"></i><%/if%>
                                    <%if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao) %>
                                    <span class="selltime pull-right">待发标时间：{dr[add_time]}</span>
                                    <%else%>
                                    <span class="selltime pull-right">发标时间：{dr[add_time]}</span>
                                    <%/if%>
                                </h5>
                            </a>
                            <div class="row" style="padding: 0 28px">
                                <div class="col-xs-3 col-sm-3">
                                    <dl>
                                        <dt style="color: #00b9f5;"><span class="digits">{dr[project_amount_str]}</span><span class="units">万元</span></dt>
                                        <dd>
                                            金额</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-3">
                                    <dl>
                                        <dt><span class="digits">{dr[repayment_number]}</span><span class="units">{dr[repayment_term]}</span></dt>
                                        <dd>
                                            期限</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-3">
                                    <dl>
                                        <dt><span class="digits">{dr[project_investment_count]}</span><span class="units">人</span></dt>
                                        <dd>
                                            投资人数</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-3">
                                    <dl>
                                        <dt style="min-height: 48px; padding-top: 14px;">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="{dr[project_investment_progress]}" aria-valuemin="0"
                                                     aria-valuemax="100" style="width: {dr[project_investment_progress]}% ; ">
                                                </div>
                                            </div>
                                        </dt>
                                        <dd style="width: 200px; text-align: left">
                                            剩余金额：{dr[project_investment_balance]}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <div class="profit roundconer4">
                                <p>
                                    <span class="digits">{dr[profit_rate_year]}</span><span class="units">%</span></p>
                                <p>
                                    年化收益</p>
                            </div>
                            <div style="padding-top: 20px;">
                                <%if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao) %>
                                <a id="delaytime" class="delay-btn" href="<%linkurl("invest_detail",{dr[id]})%>">待发标</a>
                                <div id="clock{dr[id]}" style="height: 25px; line-height: 25px; font-size: 14px; overflow: hidden; text-align: center;"></div>
                                <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.FaBiao) %>
                                <a class="btns roundconer4 btngreen" href="<%linkurl("invest_detail",{dr[id]})%>">立即投资</a>
                                <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.ManBiao||(int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.JieBiao) %>
                                <a id="be-empty" class="empty-btn" href="<%linkurl("invest_detail",{dr[id]})%>">还款中</a>
                                <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.WanCheng) %>
                                <a id="returning" class="empty-btn" href="<%linkurl("invest_detail",{dr[id]})%>">已完成</a>
                                <%/if%>
                            </div>
                        </div>
                    </div>
                </div>
                <%/foreach%>
                <div style="height:10px"></div>
                <div class="flickr">{pagelist}</div> <!--放置页码列表-->
            </div>
        </div>
    </div>
    <!--内容end-->
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->    
</body>
</html>
