<%namespace "Lip2p.Linq2SQL"%>
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">
    <title>会员中心 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
        $(function () {
            if("{userModel.id_card_number}"==="")
                $.dialog.alert("请先进行实名认证！");

            $(".selectdist").citySelect();
            $(".selectdist_u").citySelect();
        });

        function DeleteCard(cardId) {
            var urlObj = $('#turl');
            var m = $.dialog.confirm("删除记录后不可恢复，您确定吗？", function () {
                $.ajax({
                    type: "POST",
                    url: '{config.webpath}tools/submit_ajax.ashx?action=user_bank_card_delete',
                    dataType: "json",
                    data: {
                        "cardId": cardId
                    },
                    timeout: 20000,
                    success: function (data, textStatus) {
                        if (data.status == 1) {
                            $.dialog.tips(data.msg, 2, "32X32/succ.png", function () {
                                if (urlObj) {
                                    location.href = urlObj.val();
                                } else {
                                    location.reload();
                                }
                            });
                        } else {
                            $.dialog.alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.dialog.alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                    }
                });
            }, function () { });
        }

        function EditCard(cardId) {
            $("#hidid").val(cardId);
            $.ajax({
                type: "post",
                url: "{config.webpath}tools/submit_ajax.ashx?action=user_bank_card_show",
                data: {
                    "cardId": cardId
                },
                dataType: "json",
                beforeSend: function (XMLHttpRequest) {
                    //发送前动作
                },
                success: function (data, textStatus) {
                    if (data.status == 1) {
                        $("#card_no_u").val(data.cardNo);
                        $("#bank_name_u").val(data.bankName);
                        if (data.location != null) {
                            var l = data.location.split(";");
                            $(".selectdist_u").citySelect({   
                                prov:l[0], //省份 
                                city:l[1], //城市 
                                dist:l[2] //区县 
                            }); 
                        }
                        $("#branch_name_u").val(data.opening_bank);
                        $('#myModalUpdate').modal('show');
                    } else {
                        //alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                },
                timeout: 20000
            });
        }
    </script>

    <style >        
        .mainbottom {
            width: 765px;
            height: 47px;
            font-size: 14px;
            color: #737373;
            line-height: 47px;
            border: 1px solid #d2d2d2;
            padding-left: 21px;
            margin: 117px auto 57px auto;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="ucbottom">
                    <input id="hidbid" name="hidbid" type="hidden" />
                    <%set List<li_bank_accounts> bank_accounts=get_bank_accounts(userModel.id)%>
                    <%foreach(li_bank_accounts bank_account in bank_accounts)%>
                    <div class="cardcontainer">
                        <div class="card-heading <%=get_bank_css({bank_account.bank})%>" data-id="{bank_account.id}" style="cursor: pointer;"></div>
                        <div class="card-body">
                            <div class="cardinfo pull-left" data-id="{bank_account.id}" style="cursor: pointer;">
                                <h5>{bank_account.bank}</h5>
                                <p>尾数:<%=bank_account.account.Substring(bank_account.account.Length - 4)%></p>
                            </div>
                            <div class="operate pull-right" style="padding-top: 10px;">
                                <p style="margin: 7px 0 7px;"><a class="alink" onclick="EditCard({bank_account.id})">修改</a></p>
                                <p style="margin: 7px 0 7px;"><a class="alink" onclick="DeleteCard({bank_account.id})">删除</a></p>
                            </div>
                        </div>
                    </div>
                    <%/foreach%>

                    <div class="cardcontainer acborder" data-toggle="modal" data-target="#myModal">
                        <p class="bigplus">+</p>
                        <p class="addcard">添加银行卡</p>
                    </div>
                </div>
                <div class="mainbottom">
                    <img src="<%templateskin%>/images/usercenter/tips.png">
                    <span>温馨提示：绑定的银行卡开户人姓名必须与实名认证保持一致，否则无法提现。</span>
                </div>
            </div>            
        </div>
        <input id="turl" type="hidden" value="<%linkurl("mycard","mycard")%>" />
    </div>
    <!--添加银行卡-->
    <%template src="_usercenter_add_card.html"%>
    <!--添加银行卡end-->
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->
</body>
</html>
