<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <link rel="icon" href="logo.ico">
    <title>基本资料 - 会员中心</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!-- js -->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <!--省市区三级联动-->
    <script type="text/javascript" src="<%templateskin%>/js/area.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/location.js"></script>

    <link href="<%templateskin%>/css/location.css" rel="stylesheet"/>
    <link href="<%templateskin%>/css/select2.css" rel="stylesheet"/>

    <script src="<%templateskin%>/js/select2.js"></script>
    <script src="<%templateskin%>/js/select2_locale_zh-CN.js"></script>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/html5shiv.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script>
        $(function () {
            $(".edituser").hide();

            $("#edituser").click(function() {
                $(".edituser").show();
                $(".showuser").hide();
            });

            var statusBtns = $('.status-btns a');
            statusBtns.click(function () {
                statusBtns.removeClass('status-selected');
                $(this).addClass('status-selected');
            });

            $(".navbrt h2").css("font-size","30px").css("border-bottom", "none");
            $(".list-unstyled").css("margin-left","0");

            $('div.birthday input').click(function(){
                $('div.date-selection').show();
            });

            $('#year option').html(new Date().getFullYear() + '年');
            $('#month option').html(new Date().getMonth() + 1 + '月');
            $('#day option').html(new Date().getDate() + '日');
            var year = $('#year');
            var month = $('#month');
            var day = $('#day');
            for(var y = 1900; y < 2016; y++) {
                year.prepend('<option>' + y + '年</option>');
            }

            for(var m = 1; m < 13; m++) {
                month.prepend('<option>' + m + '月</option>');
            }

            for(var d = 1; d < 32; d++) {
                day.prepend('<option>' + d + '日</option>');
            }

            $('select').change(function(){
                $('div.birthday input').val($('#year option:selected').val() + $('#month option:selected').val() + $('#day option:selected').val());
            });
        });

        function modifyUser(btn) {
            var form = $('form#frmModLogUser');
            var nicknameVal = $('#nick_name').val();
            var realnameVal = $('#name').text();
            var cardIDVal = $('#cardID').text();
            var phoneVal = $('#phone').text();
            var mailVal = $('#mail').text();
            var sexVal = $('input[name="sex"]:checked').val();
            var birthdayVal = $('#birthday').val();
            var provinceVal = form.find('#select2-chosen-1').text();
            var cityVal = $('#select2-chosen-2').text();
            var townVal = $('#select2-chosen-3').text();

            var qq = form.find('#qq');
            var address = form.find('#address');

            var qqVal = $.trim(qq.val());
            var addressVal = $.trim(address.val());
            var disabledBtn = $(btn);
            var originalText = disabledBtn.text();
            disabledBtn.text("正在提交…").attr('disabled', 'disabled').attr('style', 'background-color: gray');
            $.post('/tools/submit_ajax.ashx?action=user_edit', {
                    nickname: nicknameVal,
                    realname: realnameVal,
                    cardID: cardIDVal,
                    phone: phoneVal,
                    mail: mailVal,
                    sex: sexVal,
                    birthday: birthdayVal,
                    province: provinceVal,
                    city: cityVal,
                    town: townVal,
                    qq: qqVal,
                    address: addressVal
                },
                function(data) {
                    alert(data.msg);
                    disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
                    if (data.status) {
                        location.reload();
                    }
                }, "json");
        }

        function backGo(btn) {
            $(".edituser").hide();
            $(".showuser").show();
        }
    </script>
    <script type="text/javascript">
        $(function () {
            showLocation();
            $('#btnval').click(function() {
                alert($('#loc_province').val() + ' - ' + $('#loc_city').val() + ' - ' + $('#loc_town').val());
            });
            $('#btntext').click(function() {
                alert($('#loc_province').select2('data').text + ' - ' + $('#loc_city').select2('data').text + ' - ' + $('#loc_town').select2('data').text);
            });          
        })
    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="myinfo-box">
                    <div class="myinfo-left">
                        <div class="headshot">
                            <%if({!string.IsNullOrEmpty(userModel.avatar)})%>
                            <img src="{userModel.avatar}" width="100" height="100" />
                            <%else%>
                            <img src="<%templateskin%>/images/usercenter/myinfo/headshot.jpg" />
                            <%/if%>
                        </div>
                        <div class="modify-btn">
                            <a id="edituser" href="#" class="showuser"><img src="<%templateskin%>/images/usercenter/myinfo/modify-btn.png" /></a><!--修改按钮-->
                            <a id="exituser" href="#" class="edituser"><img src="<%templateskin%>/images/usercenter/myinfo/modify-btn.png" /></a><!--取消修改-->
                        </div>
                    </div>
                    <div class="myinfo-right">
                        <form id="frmModLogUser" method="post" action="">
                            <p><span class="letter-spacing">昵称</span><span id="nickname" class="showuser">{userModel.nick_name}</span><input id="nick_name" name="nick_name" class="edituser form-control" style="width: 387px; height: 28px; display: inline" value="{userModel.nick_name}" datatype="*"/></p>
                            <p>
                                <span>真实姓名</span><span id="name" class="margin-left30">{userModel.real_name}</span>
                                <%if({string.IsNullOrEmpty(userModel.real_name)})%>
                                <a href="<%linkurl("safe","safe")%>"><span class="float-right txt-approving"><i class="myinfo-icon icon-approving"></i>去认证</span></a>
                                <%else%>
                                <script>
                                    var real_name="<%=userModel.real_name%>";
                                    $("#name").text("*"+real_name.toString().substring(1,real_name.toString().length));
                                </script>
                                <span class="float-right txt-binded"><i class="myinfo-icon icon-binded"></i>已认证</span>
                                <%/if%>
                            </p>
                            <p>
                                <span>身份证号</span><span id="cardID" class="margin-left30">{userModel.id_card_number}</span>
                                <%if({string.IsNullOrEmpty(userModel.id_card_number)})%>
                                <a href="<%linkurl("safe","safe")%>"><span class="float-right txt-approving"><i class="myinfo-icon icon-approving"></i>去认证</span></a>
                                <%else%>
                                <script>
                                    var card_number="<%=userModel.id_card_number%>";
                                    $("#cardID").text(card_number.toString().substring(0,2)+"**** **** **** ****");
                                </script>
                                <span class="float-right txt-binded"><i class="myinfo-icon icon-binded"></i>已认证</span>
                                <%/if%>
                            </p>
                            <p>
                                <span>手机号码</span><span id="phone" class="margin-left30">{userModel.mobile}</span>
                                <%if({string.IsNullOrEmpty(userModel.mobile)})%>
                                <a href="<%linkurl("safe","safe")%>"><span class="float-right txt-approving"><i class="myinfo-icon icon-approving"></i>去绑定</span></a>
                                <%else%>
                                <script>
                                    var mobile="<%=userModel.mobile%>";
                                    $("#phone").text(mobile.toString().substring(0,3)+"****"+mobile.toString().substring(7,mobile.toString().length));
                                </script>
                                <span class="float-right txt-binded"><i class="myinfo-icon icon-binded"></i>已绑定</span>
                                <%/if%>
                            </p>
                            <p>
                                <span>邮箱地址</span><span id="mail" class="margin-left30">{userModel.email}</span>
                                <%if({string.IsNullOrEmpty(userModel.email)})%>
                                <a href="<%linkurl("safe","safe")%>"><span class="float-right txt-approving"><i class="myinfo-icon icon-approving"></i>去绑定</span></a>
                                <%else%>
                                <script>
                                    var email="<%=userModel.email%>";
                                    $("#mail").text(email.toString().substring(0,2)+"****"+email.toString().substring(email.toString().lastIndexOf("@"),email.toString().length));
                                </script>
                                <span class="float-right txt-binded"><i class="myinfo-icon icon-binded"></i>已绑定</span>
                                <%/if%>
                            </p>
                            <div style="clear: both"></div>
                            <p><span style="letter-spacing: .1em">QQ号码</span><span class="margin-left30 showuser">{userModel.qq}</span><input id="qq" name="qq" class="edituser form-control" style="margin-left: 30px; width: 387px; height: 28px; display: inline" value="{userModel.qq}" datatype="*"/></p>
                            <p>
                                <span class="letter-spacing">性别</span><span class="showuser">{userModel.sex}</span>
                                <%if({userModel.sex}=="男")%>
                                <span class="edituser"><input type="radio" name="sex" value="保密" datatype="*" sucmsg=" ">保密<input type="radio" name="sex" value="男" checked="checked" style="margin-left: 20px">男<input type="radio" name="sex" value="女" style="margin-left: 20px">女</span>
                                <%else if({userModel.sex}=="女")%>
                                <span class="edituser"><input type="radio" name="sex" value="保密" datatype="*" sucmsg=" ">保密<input type="radio" name="sex" value="男" style="margin-left: 20px">男<input type="radio" name="sex" value="女" checked="checked" style="margin-left: 20px">女</span>
                                <%else%>
                                <span class="edituser"><input type="radio" name="sex" value="保密" checked="checked" datatype="*" sucmsg=" ">保密<input type="radio" name="sex" value="男" style="margin-left: 20px">男<input type="radio" name="sex" value="女" style="margin-left: 20px">女</span>
                                <%/if%>
                            </p>
                            <div class="birthday">
                                <span>出生日期</span>
                                <%if({userModel.birthday}!=null)%>
                                <span class="margin-left30 showuser" style="color: #333;"><%datetostr({userModel.birthday},yyyy年MM月dd日)%></span>
                                <input id="birthday" name="birthday" style="margin-left: 27px;width: 387px;height: 28px; border: 1px solid #d2d2d2; display: none;" value="<%datetostr({userModel.birthday},yyyy年MM月dd日)%>">
                                <%else%>
                                <span class="margin-left30 showuser" style="color: #333;"></span>
                                <input id="birthday" name="birthday" style="margin-left: 27px; width: 387px; height: 28px; border: 1px solid #d2d2d2; display: none;">
                                <%/if%>
                                <div class="date-selection edituser" style="display:inline-block;">
                                    <%if({userModel.birthday}!=null)%>
                                    <select id="year"><option></option></select>
                                    <select id="month"><option></option></select>
                                    <select id="day"><option></option></select>
                                    <script type="text/javascript">
                                        $.extend($.expr[':'], {
                                            containsExactCase: function (a, i, m) {
                                                return $.trim(a.innerHTML) === m[3];
                                            }
                                        });
                                        $(function () {
                                            var yy=<%datetostr({userModel.birthday},yyyy)%>;
                                            var mm=<%datetostr({userModel.birthday},MM)%>;
                                            var dd=<%datetostr({userModel.birthday},dd)%>;
                                            $("#year option:containsExactCase('" + yy + "年'):first").attr('selected', 'selected');
                                            $("#month option:containsExactCase('" + mm + "月'):first").attr('selected', 'selected');
                                            $("#day option:containsExactCase('" + dd + "日'):first").attr('selected', 'selected');
                                        });
                                    </script>
                                    <%else%>
                                    <select id="year"><option selected="selected"></option></select>
                                    <select id="month"><option selected="selected"></option></select>
                                    <select id="day"><option selected="selected"></option></select>
                                    <%/if%>
                                </div>
                            </div>
                            <div class="location">
                                <span>所在城市</span><span class="margin-left30 showuser" style="color: #333;">{userModel.area}</span>
                                <div class="main margin-left30 edituser">
                                    <%if({userModel.area}!=null)%>
                                    <script type="text/javascript">
                                        $(function () {
                                            var areaArr = ("{userModel.area}").split(",").filter(function(val) { return val; });
                                            var selects = $(".location select");
                                            areaArr.forEach(function(val, index) {
                                                var select = $(selects[index]);
                                                var valueShouldSelected = select.find('option:contains("' + val + '"):first')[0].value;
                                                select.select2('val', valueShouldSelected).change();
                                            });
                                        });
                                    </script>
                                    <select id="loc_province" style="width:120px;"></select>
                                    <select id="loc_city" style="width:120px; margin-left: 10px"></select>
                                    <select id="loc_town" style="width:120px;margin-left: 10px"></select>
                                    <%else%>
                                    <select id="loc_province" style="width:120px;"></select>
                                    <select id="loc_city" style="width:120px; margin-left: 10px"></select>
                                    <select id="loc_town" style="width:120px;margin-left: 10px"></select>
                                    <%/if%>
                                </div>
                                </div>
                            <p><span>居住地址</span><span class="margin-left30 showuser">{userModel.address}</span><input id="address" name="address" class="edituser form-control" style="margin-left: 30px; width: 387px; height: 28px; display: inline" value="{userModel.address}"/></p>
                            <p class="btn-style edituser"><button type="button" onclick="modifyUser(this)">保存</button><button type="button" onclick="backGo(this)">取消</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--网站尾部-->
<%template src="_footerSmall.html"%>
<!--网站尾部-->
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script src="<%templateskin%>/js/submenu.js"></script>
<script>
    $(document).ready(function (e) {
        $(".safegrade li").each(function (index, element) {
            var titlestr = $(this).attr("title");
            if ($(this).hasClass("notset")) {
                titlestr += "，未设置";
            } else if ($(this).hasClass("hasset")) {
                titlestr += "，已设置";
            }
            $(this).attr("title", titlestr);
        });
        $("#sanjiao").appendTo($("#leftmenu .selected")).css("right", "-5px");

        var height = $('.list-unstyled').height();
        $('.maincontent').attr('style', 'min-height: ' + height + 'px');
    });
</script>
</body>
</html>

