<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看站内短信息 - {config.webname}</title>
    <meta content="{config.webkeyword}" name="keywords" />
    <meta content="{config.webdescription}" name="description" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <link rel="stylesheet" href="<%templateskin%>/css/uclifen.css">
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
    <script type="text/javascript">
        function ExecPostBack(checkValue) {
            ExecDelete('{config.webpath}tools/submit_ajax.ashx?action=user_message_delete', checkValue, 'turl');
        }
    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a>会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="line10">
                </div>
                <div class="my-new-container">
                <div class="my-new-neibu">
                    <div class="my-new-ahref">
                        <a href="<%linkurl("mynews","mynews",{message_status},0)%>" class="lastnew">返回我的消息</a>
                        <%if({next_id}>0)%>
                        <a href="<%linkurl("mynews_show",{message_status},{next_id})%>" class="nextnew pull-right">下一条消息</a>
                        <%/if%>
                    </div>
                    <div class="zhengwen">
                        <h1>{model.title}</h1>
                        <div class="neirong">
                            <p>尊敬的会员：</p>
                            <p class="neirong-zhu">{model.content}</p>
                        </div>
                        <div class="date-name pull-right">
                            <p>金汇丰</p>
                            <p>{model.post_time}</p>
                            <%if(model.type==2)%>
                            发件人：{model.post_user_name}&nbsp;&nbsp;&nbsp;
                            <%else if(model.type==3)%>
                            收件人：{model.accept_user_name}&nbsp;&nbsp;&nbsp;
                            <%/if%>
                        </div>
                    </div>
                    <div class="cle"></div>
                    <div class="my-new-bot">
                        <p>
                            本通知由金汇丰系统自动发出，如有疑问请联系我们<a class="hrefcolorblue" target="_blank"
                                                      href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4006262062&aty=1&a=0&curl=&ty=1">
                            客服</a> 或进入 <a class="hrefcolorblue" href="http://www.lip2p.com/new_guidelines.html" target="_blank">
                            帮助中心</a>。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <input id="turl" type="hidden" value="<%linkurl("mynews","mynews")%>" />
    </div>
    </div>
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->
</body>
</html>
