<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>办公环境--关于我们</title>
    <style>
        * {
            font-family: "Microsoft YaHei", "微软雅黑";
        }

        div.pic-list {
            width: 100%;
        }

        div.pic-list p {
            color: #000;
            font-size: 17px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        body { padding-top: 1em; }
    </style>
</head>
<body>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_1.png"/>
    <p>“我们的家”位于中国四大古镇之一的广东省佛山市，最繁华的地段“季华五路”，最高大上的大厦“卓远国际”，最吉祥的楼层“16楼”，是众多上班一族都向往的地方。</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_2.png"/>
    <p>正门</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_3.png"/>
    <p>前台</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_4.png"/>
    <p>董事长办公室</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_5.png"/>
    <p>大会议室</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_6.png"/>
    <p>小会议室</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_7.png"/>
    <p>办公室</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_8.png"/>
    <p>办公室</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_9.png"/>
    <p>大厅一角</p>
</div>
<div class="pic-list">
    <img src="<%templateskin%>/images/aboutus/environment/envi_10.png"/>
    <p>点点温馨</p>
</div>
</body>
</html>