<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">
    <title>会员中心 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!-- js -->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/jscript">

        /*tab内容初始化*/
        $(document).ready(function (e) {   
//            //查询快捷支付绑定的银行卡
//            queryUserCard();         
//            //隐藏快捷支付tab
//            $(".tabcontent").children("div:not(:first-child)").css("display", "none");
            
//            //支付方式tab点击事件
//            $(".tabheader ul li").click(function (e) {
//                $(this).addClass("tabselected").css("border-bottom", "none").siblings().removeClass("tabselected");
//                $($(this).attr("data-target")).css("display", "block").siblings().css("display", "none");
//            });
            //网银支付卡片点击事件
            $(".banklist ul li").click(function (e) {
                $(this).addClass("bankselect").siblings().removeClass("bankselect");
                //$("#bankname").val($(this).attr("data-bankname"));
                $("#bankcode").attr("value",$(this).attr("title"));
            });

            $(".banklist ul li:gt(4)").css("display", "none");
            //网银支付更多银行按钮
            $(".listmore").click(function (e) {
                if ($(this).text().indexOf("更多") != -1) {
                    $(".banklist ul li:gt(4)").show();
                    $(this).children("#tips").text("收起").end().children("#tiplogo").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
                }
                else {
                    $(".banklist ul li:gt(4)").hide();
                    $(this).children("#tips").text("更多银行").end().children("#tiplogo").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
                }
            });            
            //充值后的余额
            $("#howmany").blur(function (e) {                
                if ($(this).val() != "" && parseFloat($(this).val()) >= 0) { 
                    var accountyue = parseFloat({wallet.idle_money});
                    accountyue += parseFloat($(this).val());
                    $(".yueafteradd").text(accountyue.toFixed(2));
                }
            });            
        });

        //查询快捷支付已绑定的卡
//        function queryUserCard() {
//            ajaxFunction('{config.webpath}api/payment/lianlianpay/infoQuery.aspx?operate=query_bankcard_list&user_id=' + {userModel.id}, 'query_bankcard_list');

//        }
//        //快捷支付银行卡绑定
//        function queryCardBin(card_no) {
//            ajaxFunction('{config.webpath}api/payment/lianlianpay/infoQuery.aspx?operate=query_card_bin&card_no=' + card_no, 'query_card_bin');

//        }
        // AJAX方法, 被自定义封装在该函数中
//        function ajaxFunction(url, operate) {
//            var xmlHttp;
//            try {
//                // Firefox, Opera 8.0+, Safari
//                xmlHttp = new XMLHttpRequest();
//            } catch (e) {
//                // Internet Explorer
//                try {
//                    xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
//                } catch (e) {
//                    try {
//                        xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
//                    } catch (e) {
//                        $.dialog.alert("您的浏览器不支持AJAX！");
//                        return false;
//                    }
//                }
//            }
//            xmlHttp.onreadystatechange = function () {
//                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
//                    var data = eval('(' + xmlHttp.responseText + ')');
//                    if (operate == 'query_bankcard_list') {
//                        queryUserCardCallback(data);
//                    } else {
//                        queryCardBinCallback(data);
//                    }
//                }
//            }

//            xmlHttp.open("GET", url, true);
//            xmlHttp.send(null);
//        }
//        //快捷支付绑定卡查询回调
//        function queryUserCardCallback(data) {
//            var str = "";
//            if (data.ret_code != '0000' || data.count == '0') {
//                str += "暂无银行卡";
//            }
//            else {
//                var cardtype;
//                var length = data.agreement_list.length;
//                for (var i = 0; i < length; i++) {                

//                    if (data.agreement_list[i].card_type == '2') {
//                        cardtype = "借记卡";
//                    } else {
//                        cardtype = "信用卡";
//                    }
//                    var bank_css = get_bank_css(data.agreement_list[i].bank_name);
//                    str += "<li><span class=\"bankcard "+bank_css+"\">尾号:"+data.agreement_list[i].card_no+"</span><span class=\"cardtype\">"+cardtype+"</span><input type=\"hidden\" value=\"" + data.agreement_list[i].no_agree + "\"/></li>"
//                }
//            }
//            str += "<input type=\"hidden\" id=\"no_agree\" name=\"no_agree\" value=\"\"/>";

//            document.getElementById("qplist").innerHTML = str;
//            //快捷支付卡片点击事件
//            $("#qplist li").click(function (e) {
//                if($(this).hasClass("qsselect")){
//                    $(this).removeClass("qsselect");
//                    $("#no_agree").attr("value","");
//                }
//                else{
//                    $(this).addClass("qsselect").siblings().removeClass("qsselect");
//                    $("#no_agree").attr("value",$(this).find("input").attr("value"));
//                }
//            });
//        }
//        //快捷支付绑定回调
//        function queryCardBinCallback(data) {
//            if (data.ret_code == '0000') {
//                return true;
//            } else {
//                document.getElementById("cardtip").innerHTML = data.ret_msg;
//                return false;
//            }
//        }

        //提交前验证
//        function paySubmit() {
//            //网银支付直接跳过
//            if($("#tab_ebank").hasClass("tabselected")){
//                $("#action").attr("value","bankgateway");
//                return true;
//            }else{            
//                $("#action").attr("value","recharge");
//            }

//            //快捷支付提交前认证
//            if ($("#no_agree").attr("value") != "") {
//                return true;
//            }
//            //快捷支付绑定卡号
//            var card_no = document.getElementById("card_no").value;
//            if (card_no == '') {
//                $.dialog.alert("请输入银行卡号或选择已绑定的银行卡");
//                return false;
//            }
//            queryCardBin(card_no);
//            return true;
//        }

        function get_bank_css(bank_name) {
            if ("中国工商银行".indexOf(bank_name) >= 0)
                return "icbc";
            else if ("中国农业银行".indexOf(bank_name) >= 0)
                return "abc";
            else if ("中国银行".indexOf(bank_name) >= 0)
                return "boc";
            else if ("中国建设银行".indexOf(bank_name) >= 0)
                return "ccb";
            else if ("中国光大银行".indexOf(bank_name) >= 0)
                return "ceb";
            else if ("兴业银行".indexOf(bank_name) >= 0)
                return "cib";
            else if ("招商银行".indexOf(bank_name) >= 0)
                return "cmb";
            else if ("中国民生银行".indexOf(bank_name) >= 0)
                return "cmbc";
            else if ("广发银行".indexOf(bank_name) >= 0)
                return "gdb";
            else if ("华厦银行".indexOf(bank_name) >= 0)
                return "huaxia";
            else if ("交通银行".indexOf(bank_name) >= 0)
                return "jiaotong";
            else if ("中国邮政储蓄银行".indexOf(bank_name) >= 0)
                return "post";
            else if ("浦发银行".indexOf(bank_name) >= 0)
                return "pufa";
            else if ("中信银行".indexOf(bank_name) >= 0)
                return "zhongxin";
            else if ("平安银行".indexOf(bank_name) >= 0)
                return "pingan";

            return "";
        }

        function recharge_confirm() {            
            var  howmany = parseFloat($("#howmany").val());
            if ($("#howmany").val() != "" && howmany >= 0) { 
                 $("#waitforPaymentDialog").modal('show');
                return true;
            }
            else{
                $.dialog.alert("请输入正确的金额！");
                return false;                
            }
        }
    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="ucbottom">
                    <div class="chongzhi">
                        <form class="form-horizontal" id="formRecharge" method="post" action="{config.webpath}api/payment/ecpss/index.aspx"
                        target="_blank">
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        <span class="require">*</span> 充值方式
                                    </th>
                                    <td>
                                        <div id="banklisttab">
                                            <div class="tabheader">
                                                <ul>
                                                    <li id="tab_ebank" data-target="#ebank" class="tabselected">网银充值</li>
                                                    <!--<li id="tab_quickpay" data-target="#quickpay">快捷支付</li>-->
                                                </ul>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <div class="tabcontent">
                                                <div id="ebank">
                                                    <div class="banklist">
                                                        <ul class="list-inline">
                                                            <li class="bankselect" title="ICBC">
                                                                <div class="icbc">
                                                                </div>
                                                            </li>
                                                            <li title="ABC">
                                                                <div class="abc">
                                                                </div>
                                                            </li>
                                                            <li title="CCB">
                                                                <div class="ccb">
                                                                </div>
                                                            </li>
                                                            <li title="BOCSH">
                                                                <div class="boc">
                                                                </div>
                                                            </li>
                                                            <li title="CMB">
                                                                <div class="cmb">
                                                                </div>
                                                            </li>
                                                            <li title="BCM">
                                                                <div class="jiaotong">
                                                                </div>
                                                            </li>
                                                            <li title="CMBC">
                                                                <div class="cmbc">
                                                                </div>
                                                            </li>
                                                            <li title="PAB">
                                                                <div class="pingan">
                                                                </div>
                                                            </li>
                                                            <li title="CEB">
                                                                <div class="ceb">
                                                                </div>
                                                            </li>
                                                            <li title="GDB">
                                                                <div class="gdb">
                                                                </div>
                                                            </li>
                                                            <li title="PSBC">
                                                                <div class="post">
                                                                </div>
                                                            </li>
                                                            <li title="CNCB">
                                                                <div class="zhongxin">
                                                                </div>
                                                            </li>
                                                            <li title="SPDB">
                                                                <div class="pufa">
                                                                </div>
                                                            </li>
                                                            <li title="HXB">
                                                                <div class="huaxia">
                                                                </div>
                                                            </li>
                                                            <li title="CIB">
                                                                <div class="cib">
                                                                </div>
                                                            </li>
                                                            <a href="javascript:void(0)" class="listmore"><span id="tips">更多银行</span><span class="glyphicon glyphicon-menu-down"
                                                                id="tiplogo"></span></a>
                                                        </ul>
                                                    </div>
                                                    <!--<div class="thirdparty">
                                                        <ul class="list-inline">
                                                            <li class="tdpay lianlianpay">
                                                                <input type="radio" id="llpay" name="tdppay" checked style="margin: 10px 5px"></li>
                                                            <li class="tdpay baopay">
                                                                <input type="radio" id="bpay" name="tdppay" style="margin: 10px 5px"></li>
                                                        </ul>
                                                    </div>-->
                                                </div>
                                                <!--<div id="quickpay">
                                                    <ul class="list-unstyled" id="qplist">
                                                    </ul>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>
                                                                    <span class="require">*</span> 银行卡号
                                                                </th>
                                                                <td>
                                                                    <input type="text" placeholder="请输入银行卡号" class="form-control custominput " id="card_no"
                                                                        name="card_no" datatype="*" errormsg="请输入正确格式">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    <span class="require">*</span> 银行卡开户名
                                                                </th>
                                                                <td>
                                                                    <input type="text" placeholder="请输入银行卡开户名" class="form-control custominput " id="card_username"
                                                                        name="card_username" datatype="*" errormsg="请输入正确格式" value={userModel.real_name}>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    <span class="require">*</span> 身份证号码
                                                                </th>
                                                                <td>
                                                                    <input type="text" placeholder="请输入身份证号码" class="form-control custominput has-error"
                                                                        id="id_card_no" name="id_card_no" datatype="*" errormsg="请输入正确格式" value={userModel.id_card_number}>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>-->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        帐户余额
                                    </th>
                                    <td>
                                        <p class="form-control-static">
                                            <span class="yue">
                                                <%=string.Format("{0:N}",wallet.idle_money)%></span>元</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="require">*</span> 充值金额
                                    </th>
                                    <td>
                                        <input type="text" placeholder="请输入充值金额" class="form-control custominput " id="howmany"
                                            name="amount" datatype="*" errormsg="请输入正确金额">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        充值后余额
                                    </th>
                                    <td>
                                        <p class="form-control-static">
                                            <span class="yueafteradd">0.00</span>元</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <td>
                                        <input type="hidden" id="user_id" name="user_id" value="{userModel.id}" />
                                        <input type="hidden" id="action" name="action" value="bankgateway" />
                                        <input type="hidden" id="bankcode" name="bankcode" value="ICBC" />
                                        <input name="btnSubmit" type="submit" class="btns btnorange chongzhi-btn" value="确认提交"
                                            onclick="return recharge_confirm()"/>
                                       
                                        <!--<input href="#" class="btns btnorange">确认提交</a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                        <!--充值跳转弹框-->
                    <div class="modal fade" id="waitforPaymentDialog" tabindex="-1" role="dialog" aria-labelledby="waitforPaymentDialogLabel" aria-hidden="true">
                        <div class="up-top-dialog">
                            <div class="dialog-content">
                                <button type="button" class="closebtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="pay-tips">
                                    <h3>请您在新打开的网上银行页面上完成付款</h3>
                                </div>
                                <p>付款完成前请不要关闭此窗口</p>
                                <p>完成付款后请根据您的情况点击下面的按钮</p>
                                <div class="dialog-btns">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.reload()">已完成付款</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">付款遇到问题</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--充值跳转弹框end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->
</body>
</html>
