<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="用户注册,金汇丰">
    <meta name="description" content="金汇丰p2p理财平台拥有稳健的风控体系和专业的管理团队，为投资者提供100%本息保障的金汇丰理财产品，实现15%-18%的年化收益率。">
    <title>用户注册 – 【金汇丰】</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/reglog.css">
    <!-- JS -->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/register_validate.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->

    <script>
        $(function () {
            var winHeight = $(window).innerHeight();
            var winWidth = $(window).innerWidth();
            var headHeight = $("#navbarTop").outerHeight() + $("header").outerHeight();
            var footHeight = $("footer").outerHeight();
            var bgHeight = winHeight - headHeight - footHeight;
            if (winWidth > 1000) {
                setTimeout(function () {
                    $("div.bg").css("height", bgHeight);
                }, 300);
            }
        });
    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <%if(action=="")%>
    <div class="register-bg">
        <div class="container bgdiv">
            <div class="reg roundconer5">
                <p class="h1">
                    <img src="<%templateskin%>/images/register/logo.png">
                </p>
                <form id="regform" name="regform" url="{config.webpath}tools/submit_ajax.ashx?action=user_register" autocomplete="off">
                <div>
                    <span>*</span>
                    <div class="required">
                        <%if(uconfig.regstatus==2)%>
                        <label for="txtMobile" class="user">
                            用户名：请输入手机号码</label>
                        <input type="text" name="txtMobile" id="txtMobile" class="user"/>
                        <input type="text" style="display:none"/>
                        <%else%>
                        <label for="txtUserName" class="user">
                            用户名：请输入手机号码</label>
                        <input type="text" name="txtUserName" id="txtUserName" class="user"/>
                        <input type="text" style="display:none"/>
                        <%/if%>
                    </div>
                </div>
                <div>
                    <span>*</span>
                    <div class="required">
                        <label for="txtPassword" class="passw">
                            密码：请输入6-16个字符</label>
                        <input type="password" name="txtPassword" id="txtPassword" class="passw" />
                        <input type="password" style="display:none"/>
                    </div>
                </div>
                <div>
                    <span>*</span>
                    <div class="required">
                        <label for="txtPassword1" class="passw">
                            密码：请再次输入密码</label>
                        <input type="password" name="txtPassword1" id="txtPassword1" class="passw" />
                    </div>
                </div>
                <%if(uconfig.regstatus==2)%>
                <div>
                    <span class="special-star">*</span>
                    <div class="required" style="width:95%">
                        <label for="txtPicCode" class="authcode" style="width: 135px">
                            请输入验证码
                        </label>
                        <input id="txtPicCode" name="txtPicCode" class="input small authcode" type="text"
                               style="ime-mode: disabled; text-transform: uppercase; width:135px" />
                        <a id="verifyCode" href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx');return false;">
                            <img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" /> 换一张
                        </a>                        
                    </div>
                </div>
                <div>
                    <span>*</span>
                    <div class="required">
                        <label for="txtCode" class="authcode" style="width: 155px">
                            请输入手机验证码
                        </label>
                        <input type="text" name="txtCode" id="txtCode" class="authcode" style="width: 155px" />
                        <input id="btnSendcode" type="button" class="btn" value="获取验证码" url="/tools/submit_ajax.ashx?action=user_register_smscode" />
                    </div>
                </div>
                <%else%>
                <div>     
                    <span>*</span>
                    <div class="required">
                        <label for="txtCode" class="authcode" style="width: 135px">
                            请输入验证码
                        </label>
                        <input id="txtCode" name="txtCode" class="input small authcode" type="text"
                               style="ime-mode: disabled; text-transform: uppercase; width:135px" />
                        <a id="verifyCode" href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx');return false;">
                            <img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" /> 换一张
                        </a>                        
                    </div>
                </div>
                <%/if%>
                <div class="required" style="padding-left: 11px;">
                    <label for="username" class="introducer">
                        推荐人：请输入推荐人手机/用户名</label>
                    <%if(!string.IsNullOrEmpty(invite_code))%>
                    <input type="text" name="txtInviteCode" id="txtInviteCode" class="introducer" value="{invite_code}" />
                    <%else%>
                    <input type="text" id="txtInviteNo" name="txtInviteNo" class="introducer" />
                    <%/if%>
                </div>
                <div class="agreement-box">
                    <input type="checkbox" checked id="chkAgree"/>
                    同意《<a href="<%templateskin%>/images/register_agree.pdf" target="_blank">注册协议</a>》
                </div>
                <div class="regbtn-box">
                    <button id="btnSubmit" name="btnSubmit" type="submit" class="regbtn roundconer4">立即注册</button>
                    <span style="font-weight: normal; color: #333;">已有账号？<a href="<%linkurl("login")%>">立即登录</a></span>
                </div>
                </form>
            </div>
            <script type="text/javascript">
                $(function() {
                    $('input').focus(function () {
                        $(this).css('background-color', 'white');
                    }).blur(function () {
                        if ($.trim($(this).val()) == '') {
                            $(this).css('background-color', 'transparent').val('');
                        } else {
                            $(this).css('background-color', 'white');
                        }
                    }).blur();
                });
            </script>
            <div class="biggold-reg">
            </div>
            <div class="regmask roundconer5">
            </div>
        </div>
    </div>
    <%else if(action=="succeed")%>
    <!--注册成功-->
    <div class="content bg">
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog regsuccess dialogbg">
            <a class="close-btn" href="<%linkurl("usercenter","index")%>">X</a>
            <div style="position: absolute; left: 40px; top: 400px; width: 513px;">
                <p style="text-align: center;">
                    <a href="<%linkurl("index")%>" class="btnchongzhi">立即使用</a></p> 
            </div>
        </div>
    </div>
    <script>
        $("#myModal").modal({ backdrop: 'static', keyboard: false });
    </script>
    <%/if%>
    <!--网站尾部-->
    <%template src="_footerMini.html"%>
    <!--网站尾部-->
</body>
</html>
