<%namespace "Lip2p.Linq2SQL"%>
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">
    <title>会员中心 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="{config.webpath}scripts/swfupload/swfupload.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/swfupload/swfupload.queue.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/swfupload/swfupload.handlers.js"></script>

<script type="text/javascript">
    window.alert = $.dialog.alert;

    /*切换验证码*/
    function ToggleCode(obj, codeurl) {
        $(obj).children("img").eq(0).attr("src", codeurl + "?time=" + Math.random());
        return false;
    }

    $(function(e) {
        $(".setfrm").css("display", "none");

        $(".safestatus").each(function(index, element) {
            if ($(this).text() === "未设置") {
                $(this).addClass("notset").next(".alink").text("设置");
            } else if ($(this).text() === "已设置") {
                $(this).next(".alink").text("修改");
            }
        });

        $(".alink").click(function(e) {
            if ($(this).text() === "设置") {
                $(this).parent().parent("li").siblings().children("div").slideUp().end().end().children("div[id*='set']").slideToggle();
            } else if ($(this).text() === "修改") {
                $(this).parent().parent("li").siblings().children("div").slideUp().end().end().children("div[id*='mod']").slideToggle();
            }
        });

        $(".upload-album").each(function () {
            $(this).InitSWFUpload({btntext: "批量上传", btnwidth: 66, single: false, water: true, thumbnail: true, filesize: "2048", sendurl: "/tools/upload_ajax.ashx", flashurl: "/scripts/swfupload/swfupload.swf", filetypes: "*.jpg;*.jpeg;*.png;*.gif;" });
        });

        var identitySetForm = $('form#frmSetName');
        var trueName = identitySetForm.find('#truename');
        if (trueName.val() !== "") {
            // lock identity modify
            trueName[0].disabled = true;
            identitySetForm.find('#idcard')[0].disabled = true;
            identitySetForm.find('.upload-box, .photo-list a').hide();
            identitySetForm.find('.btns.btnorange').css('background-color', 'gray').attr('onclick', 'alert("认证信息已锁定")');
        }
    });

    function verify_email(btn, email) {
        var originalEmail = "{userModel.email}";
        email = $.trim(email);
        if (email === "") {
            alert("请先填写邮箱");
            return false;
        }
        if (email === originalEmail) {
            alert("请填写另外一个邮箱");
            return false;
        }
        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在发送…").attr('disabled', 'disabled').attr('style', 'background-color: gray');

        $.getJSON('/tools/email_verify.ashx?email=' + email, function(data) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(data.msg);
        }).fail(function(jqXHR) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(jqXHR.responseJSON.msg);
        });
        return false;
    }
    function send_mobile_verify_code(btn, mobile, picCode) {
        var originalMobile = "{userModel.mobile}";
        mobile = $.trim(mobile);
        if (picCode === "") {
            alert("请先填写图形验证码");
            return false;
        }
        if (mobile === "") {
            alert("请先填写手机号码");
            return false;
        }
        if (mobile === originalMobile) {
            alert("请填写另外一个手机号码");
            return false;
        }
        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在发送…").attr('disabled', 'disabled');

        $.getJSON('/tools/mobile_verify.ashx?act=sendCodeForBindMobile&session_id_hash={GetSessionIDHash()}&mobile=' + mobile + '&picCode=' + picCode, function (data) {
            disabledBtn.removeAttr('disabled').text(originalText);
            alert(data.msg);
        }).fail(function (jqXHR) {
            disabledBtn.removeAttr('disabled').text(originalText);
            alert(jqXHR.responseJSON.msg);
        });
        return false;
    }
    function set_mobile(btn, verifyCode) {
        verifyCode = $.trim(verifyCode);
        if (verifyCode === "") {
            alert("请先填写验证码");
            return false;
        }
        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在发送…").attr('disabled', 'disabled').attr('style', 'background-color: gray');

        $.getJSON('/tools/mobile_verify.ashx?act=verifyForBindMobile&verify_code=' + verifyCode, function (data) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(data.msg, function () {
                location.reload(); // 验证手机成功，刷新页面
            });
        }).fail(function (jqXHR) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(jqXHR.responseJSON.msg);
        });
        return false;
    }
//    function checkIdentifyAndSubmit() {
//        var form = $('form#frmSetName');
//        var trueName = form.find("#truename");
//        var name = $.trim(trueName.val());
//        var idCardNumber = $.trim(form.find("#idcard").val());
//        var photoCount = form.find('.photo-list li').length;
//        if (name === "") {
//            alert("请填写姓名");
//            return false;
//        } else if (idCardNumber === "") {
//            alert("请填写身份证号码");
//            return false;
//        } else if (photoCount === 0) {
//            alert("请上传身份证图片");
//            return false;
//        }
//        if (confirm("身份资料填写后则不能再修改，是否确认？")) {
//            form.submit();
//        }
//        return false;
//    }
    function checkIdentifyAndSubmit() {
        var form = $('form#frmSetName');
        var trueName = form.find("#truename");
        var name = $.trim(trueName.val());
        var idCardNumber = $.trim(form.find("#idcard").val());

        if (name === "") {
            alert("请填写姓名");
            return false;
        } else if (idCardNumber === "") {
            alert("请填写身份证号码");
            return false;
        } 

        if (confirm("身份资料填写后则不能再修改，是否确认？")) {
            $.post('/tools/submit_ajax.ashx?action=search_idcard',
            {
                cardno: idCardNumber,
                truename: name
            }, function (data) {
                alert(data.msg);
                if (data.status === 1)
                    location.reload();
            }, "json").fail(function (jqXHR) {
                alert(jqXHR.responseText);
            });
        }
        return false;
    }
    function modifyPassword(btn) {
        var form = $('form#frmModLogPwd');
        var oldPwd = form.find('#oldpwd');
        var newpwd = form.find('#newpwd');
        var newpwdrp = form.find('#newpwdrp');

        var oldPwdVal = $.trim(oldPwd.val());
        var newpwdVal = $.trim(newpwd.val());
        var newpwdrpVal = $.trim(newpwdrp.val());
        if (oldPwdVal === "" || newpwdVal === "" || newpwdrpVal === "") {
            alert("请先填写好表单");
            return;
        }
        if (newpwdVal !== newpwdrpVal) {
            alert("两次输入的新密码不一样");
            return;
        }
        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在提交…").attr('disabled', 'disabled').attr('style', 'background-color: gray');
        $.post('/tools/submit_ajax.ashx?action=user_password_edit', { txtOldPassword: oldPwdVal, txtPassword: newpwdVal }, function (data) {
            alert(data.msg);
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
        }, "json");
    }
    function setTradePwd(btn) {
        var form = $('form#frmSetTradePwd');
        var tradepwd = form.find('#tradepwd');
        var tradepwdrp = form.find('#tradepwdrp');

        var tradepwdVal = $.trim(tradepwd.val());
        var tradepwdrpVal = $.trim(tradepwdrp.val());

        if (tradepwdVal !== tradepwdrpVal) {
            alert("两次输入的交易密码不同");
            return;
        }

        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在发送…").attr('disabled', 'disabled').attr('style', 'background-color: gray');
        $.post('/tools/trade_pwd.ashx', { action: "set", tradepwdVal: tradepwdVal}, function (data) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(data.msg, function() {
                location.reload(); // 设置交易密码成功，刷新页面
            });
        }, "json").fail(function (jqXHR) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(jqXHR.responseJSON.msg);
        });
    }
    function modTradePwd(btn) {
        var form = $('form#frmModTradePwd');
        var oldtpwd = form.find('#oldtpwd');
        var newtpwd = form.find('#newtpwd');
        var newtpwdrp = form.find('#newtpwdrp');

        var oldtpwdVal = $.trim(oldtpwd.val());
        var newtpwdVal = $.trim(newtpwd.val());
        var newtpwdrpVal = $.trim(newtpwdrp.val());

        if (newtpwdVal !== newtpwdrpVal) {
            alert("两次输入的交易密码不同");
            return;
        }

        var disabledBtn = $(btn);
        var originalText = disabledBtn.text();
        disabledBtn.text("正在发送…").attr('disabled', 'disabled').attr('style', 'background-color: gray');
        $.post('/tools/trade_pwd.ashx', { action: "mod", oldtpwdVal: oldtpwdVal, newtpwdVal: newtpwdVal }, function (data) {
            alert(data.msg);
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
        }, "json").fail(function (jqXHR) {
            disabledBtn.removeAttr('disabled').removeAttr('style').text(originalText);
            alert(jqXHR.responseJSON.msg);
        });
    }
    function forgotTradePassword(btn) {
        $.dialog.confirm("是否确认重置交易密码？", function() {
            $.post('/tools/trade_pwd.ashx', { action: "reset" }, function (data) {
                alert(data.msg);
            }, "json").fail(function (jqXHR) {
                alert(jqXHR.responseJSON.msg);
            });
        });
    }
</script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="ucbottom">
                    <div class="clearfix">
                    </div>
                    <!--start here-->
                    <div id="safesetting">
                        <ul class="list-unstyled">
                            <li>
                                <p class="bindemail">
                                    <span class="safetitle">邮箱认证</span><span class="safestatus"><%= string.IsNullOrWhiteSpace(userModel.email) ? "未设置" : "已设置"%></span>
                                    <span class="alink pull-right">设置</span></p>
                                <div class="setfrm" id="setMail">
                                    <form id="frmBindEmail" method="post" action="">
                                    <table width="80%">
                                        <tbody>
                                            <tr>
                                                <th><span class="require">*</span> 邮箱</th>
                                                <td><input type="text" placeholder="请输入邮箱地址" class="form-control" id="email" name="email" datatype="m" errormsg="请输入正确格式"></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td><a href="javascript:void(null)" class="btns btnorange" onclick="verify_email(this, $('#email').val())">提交</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                                <div class="setfrm" id="modMail">
                                    <form id="frmModEmail" method="post" action="">
                                    <table width="80%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th> 邮箱</th>
                                                <td>{userModel.email}</td>
                                            </tr>
                                            <tr>
                                                <th><span class="require">*</span> 修改邮箱</th>
                                                <td width="210px">
                                                    <input type="text" placeholder="请输入新邮箱" class="form-control" id="emailcode" name="emailcode" datatype="*" errormsg="请输入正确格式">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td><a href="javascript:void(null)" class="btns btnorange" onclick="verify_email(this, $('#emailcode').val())">提交</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <p class="bindphone">
                                    <span class="safetitle">绑定手机</span><span class="safestatus"><%= string.IsNullOrWhiteSpace(userModel.mobile) ? "未设置" : "已设置"%></span>
                                        <span class="alink pull-right">设置</span></p>
                                <div class="setfrm" id="setMobile">
                                    <table width="80%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th><span class="require">*</span> 手机号码</th>
                                                <td colspan="2">
                                                    <input type="text" placeholder="请输入手机号码" class="form-control " id="mobilephone" name="mobilephone"
                                                        datatype="p" errormsg="请输入正确格式">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 图形验证码
                                                </th>
                                                <td width="210px">
                                                    <input type="text" placeholder="请输入验证码" class="form-control" id="txtPicCode0" name="txtPicCode"
                                                           style="ime-mode: disabled; text-transform: uppercase;" datatype="*" errormsg="请输入正确格式">
                                                </td>
                                                <td>
                                                    <a id="verifyCode" href="javascript:;" onclick="return ToggleCode(this, '{config.webpath}tools/verify_code.ashx');">
                                                        <img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" /> 换一张
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 手机验证码
                                                </th>
                                                <td width="210px">
                                                    <input type="text" placeholder="请输入验证码" class="form-control" id="mobilecode-forset" name="mobilecode"
                                                        datatype="*" errormsg="请输入正确格式">
                                                </td>
                                                <td><button onclick="send_mobile_verify_code(this, $('#mobilephone').val(), $('#txtPicCode0').val())"> 获取短信验证码</button></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td colspan="2">
                                                    <a href="javascript:void(null)" class="btns btnorange" onclick="set_mobile(this, $('#mobilecode-forset').val())">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="setfrm" id="modMobile">
                                    <table width="100%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th> 原手机号码</th>
                                                <td colspan="2">
                                                    {userModel.mobile}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 新手机号码
                                                </th>
                                                <td colspan="2">
                                                    <input type="text" placeholder="请输入新手机号码" class="form-control " id="newnumber" name="newnumber"
                                                        datatype="p" errormsg="请输入正确格式">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 图形验证码
                                                </th>
                                                <td width="210px">
                                                    <input type="text" placeholder="请输入验证码" class="form-control" id="txtPicCode1" name="txtPicCode"
                                                           style="ime-mode: disabled; text-transform: uppercase;" datatype="*" errormsg="请输入正确格式">
                                                </td>
                                                <td>
                                                    <a id="verifyCode" href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx'); return false; ">
                                                        <img src="{config.webpath}tools/verify_code.ashx" width="80" height="22" /> 换一张
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 短信验证码
                                                </th>
                                                <td width="210px">
                                                    <input type="text" placeholder="请输入验证码" class="form-control" id="mobilecode-formodify" name="mobilecode"
                                                        datatype="*" errormsg="请输入正确格式">
                                                </td>
                                                <td><button onclick="send_mobile_verify_code(this, $('#newnumber').val(), $('#txtPicCode1').val())"> 获取短信验证码</button></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td colspan="2">
                                                    <a href="javascript:void(null)" class="btns btnorange" onclick="set_mobile(this, $('#mobilecode-formodify').val())">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <p class="truename">
                                    <span class="safetitle">实名认证</span><span class="safestatus"><%= string.IsNullOrWhiteSpace(userModel.real_name) ? "未设置" : "已设置"%></span><span class="alink pull-right">设置</span></p>
                                <div class="setfrm" id="setmodTruename">
                                    <form id="frmSetName" method="post" action="">
                                    <table width="80%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 真实姓名
                                                </th>
                                                <td colspan="2">
                                                    <input type="text" placeholder="请输入您的真实姓名" class="form-control " id="truename" name="truename"
                                                        datatype="*" errormsg="请输入正确格式" value="{userModel.real_name}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 身份证号码
                                                </th>
                                                <td colspan="2">
                                                    <input type="text" placeholder="请输入您的身份证号码" class="form-control " id="idcard" name="idcard"
                                                        datatype="sfz" errormsg="请输入正确格式" value="{userModel.id_card_number}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require"></span>注意事项
                                                </th>
                                                <td colspan="2">
                                                    请输入本人身份证信息<br/>
                                                    身份证信息必须与提现银行卡开户人信息一致<br/>
                                                    <br/>
                                                </td>
                                            </tr>
                                            <!--<tr>
                                                <th>
                                                    <span class="require">*</span> 身份证正反两面
                                                </th>
                                                <td colspan="2">
                                                    请上传身份证正反两面图片，图片大小不能超过2M<br/>
                                                    真实姓名、身份证号等个人信息必须清晰可见<br/>
                                                    <br/>
                                                  <div class="upload-box upload-album"></div>
                                                  <div class="photo-list">
                                                    <ul>
                                                      <%set List<li_albums> albums=query_idcard_album()%>
                                                      <%for(int i=0;i<albums.Count;i++)%>
                                                      <%set li_albums a=albums[i]%>
                                                        <li>
                                                          <input type="hidden" name="hid_photo_name" value="{a.id}|{a.original_path}|{a.thumb_path}" />
                                                          <input type="hidden" name="hid_photo_remark" value="{a.remark}" />
                                                          <div class="img-box" onclick="getBigPic(this);">
                                                            <img src="{a.thumb_path}" bigsrc="{a.original_path}" />
                                                            <span class="remark"><i><%= a.remark==""?"暂无描述...":a.remark%></i></span>
                                                          </div>
                                                          <a href="javascript:;" onclick="setRemark(this);">描述</a>
                                                          <a href="javascript:;" onclick="delImg(this);">删除</a>
                                                        </li>
                                                      <%/for%>
                                                    </ul>
                                                  </div>
                                                </td>
                                            </tr>-->
                                            <tr>
                                                <th>
                                                </th>
                                                <td colspan="2">
                                                    <a href="javascript:;" class="btns btnorange" onclick="checkIdentifyAndSubmit()">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <p class="loginpwd">
                                    <span class="safetitle">登录密码</span><span class="safestatus">已设置</span><span class="alink pull-right">修改</span></p>
                                <div class="setfrm" id="modLogPwd">
                                    <form id="frmModLogPwd" method="post" action="">
                                    <table width="80%" style="margin-left: 45px;">
                                        <caption>
                                            为了您的账户安全，请定期更换登录密码，并确保登录密码设置与交易密码不同。</caption>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 原密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请输入旧密码" class="form-control " id="oldpwd" name="oldpwd"
                                                        datatype="s6-16" errormsg="请输入正确格式"/>
                                                    <input type="password" style="display:none"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 新密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请输入新密码" class="form-control " id="newpwd" name="newpwd"
                                                        datatype="s6-16" errormsg="请输入正确格式"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 确认新密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请再输入新密码" class="form-control" id="newpwdrp" name="newpwdrp"
                                                        datatype="s6-16" errormsg="请输入正确格式"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>
                                                    <a href="javascript:;" class="btns btnorange" onclick="modifyPassword(this)">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <p class="tradepwd">
                                    <span class="safetitle">交易密码</span><span class="safestatus"><%= string.IsNullOrWhiteSpace(userModel.pay_password) ? "未设置" : "已设置"%></span>
                                        <span class="alink pull-right">设置</span></p>
                                <div class="setfrm" id="setTradePwd">
                                    <form id="frmSetTradePwd" method="post" action="">
                                    <table width="80%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 设置交易密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请输入密码" class="form-control " id="tradepwd" name="tradepwd"
                                                        datatype="s6-16" errormsg="请输入正确格式"/>
                                                    <input type="password" style="display:none"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 确认交易密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请再次输入新密码" class="form-control" id="tradepwdrp"
                                                        name="tradepwdrp" datatype="s6-16" errormsg="请输入正确格式"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>
                                                    <a href="javascript:;" class="btns btnorange" onclick="setTradePwd(this)">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                                <div class="setfrm" id="modTradePwd">
                                    <form id="frmModTradePwd" method="post" action="">
                                    <table width="80%" style="margin-left: 45px;">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 原交易密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请输入原交易密码" class="form-control " id="oldtpwd"
                                                        name="oldtpwd" datatype="s6-16" errormsg="请输入正确格式" style="display: inline-block; margin-right: 1em;"/>
                                                    <input type="password" style="display:none"/>
                                                    <a href="javascript:;" onclick="forgotTradePassword(this)">忘记密码？</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 新交易密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请输入新交易密码" class="form-control " id="newtpwd"
                                                        name="newtpwd" datatype="s6-16" errormsg="请输入正确格式"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="require">*</span> 确认交易密码
                                                </th>
                                                <td>
                                                    <input type="password" placeholder="请再输入一次新交易密码" class="form-control" id="newtpwdrp"
                                                        name="newtpwdrp" datatype="s6-16" errormsg="请输入正确格式"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>
                                                    <a href="javascript:;" class="btns btnorange" onclick="modTradePwd(this)">提交</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->
</body>
</html>
