<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="金汇丰p2p理财平台拥有稳健的风控体系和专业的管理团队，为投资者提供100%本息保障的金汇丰理财产品，实现15%-18%的年化收益率。">
    <meta name="keywords" content="网站地图,金汇丰,互联网理财平台">
    <title>网站地图 – 【金汇丰】</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <link rel="stylesheet" href="<%templateskin%>/css/site-map.css">

    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/html5shiv.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>

</head>
<body>
<%template src="_header.html"%>
<div class="main-container">
    <div class="nav-bar">
        <a href="/">金汇丰</a>
        <span style="margin-left: 8px;margin-right: 5px"> > </span>
        <span>网站地图</span>
    </div>
    <div class="content-box">
        <div class="content-th"><span class="font30-style">网站地图</span><span class="empty-line"></span></div>
        <div class="content-list">
            <div class="left-block">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/regi-login.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">注册登陆</div>
                    <div class="map-btns">
                        <a href="/">首页</a>
                        <a href="<%linkurl("register")%>">注册</a>
                        <a href="<%linkurl("login")%>">登陆</a>
                        <a href="<%linkurl("usercenter","index")%>">会员中心</a>
                        <div>
                            <a href="<%linkurl("article_invest_list",55)%>">借款项目展示</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-block">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/invest.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">我要理财</div>
                    <div class="map-btns">
                        <a href="<%linkurl("invest_list",33,0,0,0)%>">金屋子</a>
                        <a href="<%linkurl("invest_list",34,0,0,0)%>">丰车赚</a>
                        <a href="#" style="display: none;">投资列表</a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="content-list">
            <div class="left-block">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/security.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">安全保障</div>
                    <div class="map-btns">
                        <a href="<%linkurl("safedefence")%>">风控系统</a>
                        <a href="<%linkurl("safedefence")%>">资产抵押</a>
                        <a href="<%linkurl("safedefence")%>">风险准备金</a>
                        <div>
                            <a href="<%linkurl("safedefence")%>">贷后管理</a>
                            <a href="<%linkurl("safedefence")%>">安全技术</a>
                            <a href="<%linkurl("safedefence")%>">逾期处理机制</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-block" style="margin-left: -55px;">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/guide.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">新手指引</div>
                    <div class="map-btns">
                        <a href="<%linkurl("new_guidelines")%>">新手指引</a>
                        <a href="<%linkurl("new_guidelines_demo")%>">操作演示</a>
                        <a href="<%linkurl("new_guidelines_charge")%>">收费标准</a>
                        <div style="display: none;">
                            <a href="<%linkurl("new_guidelines_mortgage")%>">抵押查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="content-list">
            <div class="left-block">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/aboutus.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">关于我们</div>
                    <div class="map-btns">
                        <a href="<%linkurl("about")%>">我们是谁</a>
                        <a href="<%linkurl("about")%>?tab=1">证照资质</a>
                        <a href="<%linkurl("about")%>?tab=2">股东介绍</a>
                        <div>
                            <a href="<%linkurl("about")%>?tab=2">团队展示</a>
                            <a href="<%linkurl("about")%>?tab=3">办公环境</a>
                            <a href="<%linkurl("about")%>?tab=4">网站公告</a>
                        </div>
                        <div>
                            <a href="<%linkurl("article_invest_list",54)%>">发标公告</a>
                            <a href="<%linkurl("about")%>?tab=4&subtab=1">公司动态</a>
                            <a href="<%linkurl("about")%>?tab=4&subtab=2">媒体报道</a>
                        </div>
                        <div>
                            <a href="<%linkurl("about")%>?tab=5">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-block" style="margin-left: -20px;">
                <div class="img-wrap">
                    <img src="<%templateskin%>/images/map/else.png"/>
                </div>
                <div class="right-wrap">
                    <div class="btn-th">其他</div>
                    <div class="map-btns">
                        <a href="<%linkurl("recruitment")%>">招贤纳士</a>
                        <a href="<%linkurl("about")%>?tab=5">意见反馈</a>
                        <a href="#" style="display: none;">收益计算器</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--网站尾部-->
<%template src="_footerSmall.html"%>
</body>
</html>

