<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>团队展示--关于我们</title>
    <!--bootstrap & js-->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script> 
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <!--自定义-->
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/team-show.css">
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({trigger: 'hover', html: true});
        });
    </script>
</head>
<body>
<div class="guanli-th">
    <img src="<%templateskin%>/images/aboutus/team/guanli.png"/>
</div>
<div class="guanli-team">
    <div class="huangjian">
        <img data-toggle="popover"
             data-content="<img class='img-info-style' src='<%templateskin%>/images/aboutus/team/huangjian-info.png' />"
             src="<%templateskin%>/images/aboutus/team/huangjian.png"/>

        <div class="name-style">黄 健</div>

        <div class="position-style">总经理</div>

        <div class="slogan-style">诚信为本，和舟共济</div>
    </div>


    <div class="liaoguiqing">
        <img data-toggle="popover" data-placement="bottom"
             data-content="<img class='img-info-style' src='<%templateskin%>/images/aboutus/team/liaoguiqing-info.png' />"
             src="<%templateskin%>/images/aboutus/team/liaoguiqing.png"/>

        <div class="name-style">廖桂清</div>

        <div class="position-style">副总经理</div>

        <div class="slogan-style">人品铸产品，信用拓市场</div>
    </div>
    <div class="hejurong">
        <img data-toggle="popover" data-placement="left"
             data-content="<img class='img-info-style' src='<%templateskin%>/images/aboutus/team/hejunrong-info.png' />"
             src="<%templateskin%>/images/aboutus/team/hejunrong.png"/>

        <div class="name-style">何骏融</div>

        <div class="position-style">荣誉顾问</div>

        <div class="slogan-style">自信是迈向成功的第一步</div>
    </div>
</div>
<div class="fengkong-th">
    <img src="<%templateskin%>/images/aboutus/team/fengkong.png">
</div>
<div class="fengkong-team">
    <div class="xuanjinghui">
        <img data-toggle="popover"
             data-content="<img class='img-info-style' src='<%templateskin%>/images/aboutus/team/xuanjinghui-info.png' />"
             src="<%templateskin%>/images/aboutus/team/xuanjinghui.png"/>

        <div class="name-style">禤景辉</div>

        <div class="position-style">风控部经理</div>

        <div class="slogan-style">天道酬勤，业精于勤</div>
    </div>
    <div class="yangqixing">
        <img data-toggle="popover" data-placement="bottom"
             data-content="<img class='img-info-style' src='<%templateskin%>/images/aboutus/team/yangqixing-info.png' />"
             src="<%templateskin%>/images/aboutus/team/yangqixing.png"/>

        <div class="name-style">杨其星</div>

        <div class="position-style">风控部副经理</div>

        <div class="slogan-style">用专业的心做专业的事</div>
    </div>
</div>
<div class="yunying-th">
    <img src="<%templateskin%>/images/aboutus/team/yunying.png"/>
</div>
<div class="yunying-team">
    <div class="suxi">
        <img src="<%templateskin%>/images/aboutus/team/suxi.png"/>

        <div class="name-style">苏 西</div>

        <div class="position-style">文案策划</div>

        <div class="slogan-style">不露脸</div>
    </div>
    <div class="liuxiaojie">
        <img src="<%templateskin%>/images/aboutus/team/liuxiaojie.png"/>

        <div class="name-style">刘晓杰</div>

        <div class="position-style">SEO专员</div>

        <div class="slogan-style">一切从用户体验出发</div>

        <div class="slogan-style" style="line-height: 0">不要为了SEO而SEO</div>
    </div>
</div>
<div class="kefu-th" id="kefu">
    <img src="<%templateskin%>/images/aboutus/team/kefu.png"/>
</div>
<div class="kefu-team">
    <div class="qiqi">
        <img src="<%templateskin%>/images/aboutus/team/qiqi.png"/>

        <div class="name-style">琪 琪</div>

        <div class="position-style">客服主管</div>

        <div class="slogan-style">小琪时刻在你身边</div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=1263820722&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/qiqiQQ.png"/></a>
    </div>
    <div class="awen">
        <img src="<%templateskin%>/images/aboutus/team/awen.png"/>

        <div class="name-style">阿雯</div>

        <div class="position-style">客服MM</div>

        <div class="slogan-style">我的目标是为您赚每一分钱</div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=1175860411&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/awenQQ.png"/></a>
    </div>
    <div class="jingjing">
        <img src="<%templateskin%>/images/aboutus/team/jingjing.png"/>

        <div class="name-style">晶晶</div>

        <div class="position-style">客服MM</div>

        <div class="slogan-style"> 声音打动人，服务打动心 </div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=1159730128&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/jingjingQQ.png"/></a>
    </div>
    <div class="ajie">
        <img src="<%templateskin%>/images/aboutus/team/ajie.png"/>

        <div class="name-style">阿捷</div>

        <div class="position-style">客服MM</div>

        <div class="slogan-style">您的事，就是我最大的事</div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=3057633629&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/ajieQQ.png"/></a>
    </div>
    <div class="xiaofen">
        <img src="<%templateskin%>/images/aboutus/team/xiaofen.png"/>

        <div class="name-style">小芬</div>

        <div class="position-style">客服MM</div>

        <div class="slogan-style">态度很热情，服务很热心</div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=2359398403&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/xiaofenQQ.png"/></a>
    </div>
    <div class="meizi">
        <img src="<%templateskin%>/images/aboutus/team/meizi.png"/>

        <div class="name-style">梅子</div>

        <div class="position-style">客服MM</div>

        <div class="slogan-style">不能面对面，但可心贴心</div>
        <a target=blank href="http://wpa.qq.com/msgrd?v=3&amp;uin=3122887598&amp;site=qq&amp;menu=yes"><img
                src="<%templateskin%>/images/aboutus/team/meiziQQ.png"/></a>
    </div>

</div>
<div class="yanfa-th">
    <img src="<%templateskin%>/images/aboutus/team/yanfa.png"/>
</div>
<div class="yanfa-team">
    <div class="luomingxing">
        <img src="<%templateskin%>/images/aboutus/team/luomingxing.png"/>

        <div class="name-style">罗明星</div>
        <div class="position-style">开发工程师</div>
        <div class="slogan-style">对工作务实</div>
        <div class="slogan-style" style="line-height: 0">对工作严谨，对用户负责</div>
    </div>
    <div class="heganjie">
        <img src="<%templateskin%>/images/aboutus/team/heganjie.png"/>

        <div class="name-style">何干杰</div>
        <div class="position-style">开发工程师</div>
        <div class="slogan-style">自顶向下</div>
        <div class="slogan-style" style="line-height: 0">思绪清晰，逐步求精</div>
    </div>
</div>
<div class="caiwu-th">
    <img src="<%templateskin%>/images/aboutus/team/caiwu.png"/>
</div>
<div class="caiwu-team">
    <div class="xushufen">
        <img src="<%templateskin%>/images/aboutus/team/xushufen.png"/>
        <div class="name-style">徐淑芬</div>
        <div class="position-style">部门经理</div>
        <div class="slogan-style">用微笑迎接生活和工作</div>
    </div>
    <div class="lixiaoli">
        <img src="<%templateskin%>/images/aboutus/team/lixiaoli.png"/>
        <div class="name-style">李小莉</div>
        <div class="position-style">财务经理</div>
        <div class="slogan-style">细致做事，真诚服务</div>
    </div>
</div>
<div class="renshi-th">
    <img src="<%templateskin%>/images/aboutus/team/renshi.png"/>
</div>
<div class="renshi-team">
    <div class="qinfei">
        <img src="<%templateskin%>/images/aboutus/team/qinfei.png"/>
        <div class="name-style">覃菲</div>
        <div class="position-style">部门经理</div>
        <div class="slogan-style">是工作使人生有味</div>
    </div>
    <div class="tangbeidi">
        <img src="<%templateskin%>/images/aboutus/team/tangbeidi.png"/>
        <div class="name-style">唐贝迪</div>
        <div class="position-style">行政助理</div>
        <div class="slogan-style">以人为本,忠诚敬业</div>
    </div>
</div>
</body>
</html>