<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">

    <title>会员中心 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!-- js -->
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="ucbottom">
                    <div class="clearfix"></div>
                    <div class="panel">
                        <p>
                            我的投资</p>
                        <ul class="list-inline">
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.total_investment)%></span><span class="units">元</span></p>
                                <p>
                                    累计投资</p>
                            </li>
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.total_investment==0?0:wallet.total_investment-wallet.investing_money)%></span><span class="units">元</span></p>
                                <p>
                                    已收本金</p>
                            </li>
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.investing_money)%></span><span class="units">元</span></p>
                                <p>
                                    待收本金</p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel">
                        <p>
                            我的收益</p>
                        <ul class="list-inline">
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.total_profit+wallet.profiting_money)%></span><span class="units">元</span></p>
                                <p>
                                    利息总额</p>
                            </li>
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.total_profit)%></span><span class="units">元</span></p>
                                <p>
                                    已收利息</p>
                            </li>
                            <li>
                                <p>
                                    <span class="digits"><%=string.Format("{0:N}",wallet.profiting_money)%></span><span class="units">元</span></p>
                                <p>
                                    待收利息</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->    
</body>
</html>
