<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/whoweare.css"/>
</head>
<body>
<div class="whowear-container">
    <div class="whowear-top">
        <div class="top-left">
            <div class="title">
                <div class="title-web">
                    <ul>
                        <li>Jin&nbsp;Huifeng</li>
                        <li class="wangzhi">www.lip2p.com</li>
                    </ul>
                </div>
                <span class="color-blue" id="fuhao"><</span>
                <span class="company-name">金汇丰</span>
            </div>
            <div class="information border-style" id="infor1">
                <span class="infor-nav">基本信息</span>
                <ul>
                    <li><span class="color-blue">乳名：</span>大块金</li>
                    <li><span class="color-blue">性别：</span>不详</li>
                    <li><span class="color-blue">职业：</span>P2P</li>
                </ul>
            </div>
        </div>
        <div class="top-right">
            <img src="<%templateskin%>/images/aboutus/touxiang.png"/>
        </div>
    </div>
    <div class="cle"></div>
    <div class="whowear-bottom">
        <div class="bot-left">
            <div class="information border-style" id="contact">
                <span class="infor-nav">联系方式</span>
                <ul>
                    <li><span class="color-blue">电话：</span>400-6262-062</li>
                    <li><span class="color-blue">地址：</span>位于中国四大古镇之</li>
                    <li>一的广东佛山，最繁华的地</li>
                    <li>区季华五路，最高大上的卓</li>
                    <li>远国际商务大厦，最吉祥的</li>
                    <li>楼层16楼。</li>
                </ul>

            </div>
            <div class="information border-style" id="personal">
                <span class="infor-nav">个人宣言</span>
                <ul>
                    <li>爱吸金，爱生金</li>
                    <li>爱朋友，也爱土豪</li>
                    <li>爱金融，爱上网</li>
                    <li>是金族的姓氏，有英国的血统</li>
                    <li>我是普通人，但不是一般人</li>
                    <li>我不是牛，我是长得像牛的短颈鹿</li>
                    <li>我不是汇丰，我是金汇丰</li>
                </ul>
            </div>
        </div>
        <div class="bot-right">
            <div class="information border-style" id="detail-information">
                <span class="infor-nav">详细资料</span>
                <table cellpadding="4">
                    <tbody>
                    <tr>
                        <td class="table-left">年龄：</td>
                        <td>1岁 （2014/12）</td>
                    </tr>
                    <tr>
                        <td class="table-left">国籍：</td>
                        <td>混血儿（母亲中国人+父亲英国人）</td>
                    </tr>
                    <tr>
                        <td class="table-left">身价：</td>
                        <td>3000+n万元</td>
                    </tr>
                    <tr>
                        <td class="table-left">特长：</td>
                        <td>帮您生财</td>
                    </tr>
                    <tr>
                        <td class="table-left">性格：</td>
                        <td>奔放洋气有深度，简约时尚国际范</td>
                    </tr>
                    <tr>
                        <td class="table-left">爱好：</td>
                        <td>热衷一切金色的物品</td>
                    </tr>
                    <tr>
                        <td class="table-left">外貌特征：</td>
                        <td>一只金牙闪闪发光，一个字：帅到掉渣</td>
                    </tr>
                    <tr>
                        <td class="table-left">家庭情况：</td>
                        <td>大哥是银行人，二哥是担保人，三哥是IT人，四姐是电子商务人，人中龙，我排行最小，龙中皇，哧哧。</td>
                    </tr>
                    <tr>
                        <td class="table-left">喜欢的音乐：</td>
                        <td>Money Money Money</td>
                    </tr>
                    <tr>
                        <td class="table-left">人生座右铭：</td>
                        <td>是金子总会发光</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="cle"></div>
    <div class="bot-word">别看资料了，再迟1秒钟，金子贬值1分钱！</div>
</div>

</body>
</html>