<%namespace "Lip2p.Linq2SQL"%>
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="{config.webdescription}">
    <meta name="keywords" content="{config.webkeyword}">
    <title>会员中心 - 金汇丰</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link rel="stylesheet" href="<%templateskin%>/css/usercenter.css">
    <!--[if lt IE 9]>
      <script src="<%templateskin%>/js/html5shiv.min.js"></script>
      <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#cardlist li").click(function (e) {
                $(this).addClass("cardselect").siblings().removeClass("cardselect");
                $("#card_id").val($(this).attr("data-id"));
            });

            $(".selectdist").citySelect();

            //初始化表单
            AjaxInitForm('form_withdraw', 'btnWithdraw', 1);

            //获取提现手续费
            $("#howmany").blur(function (e) {
                if ($(this).val() !== '') {
                    var accountyue = parseFloat($(this).val());
                    $.ajax({
                        type: "POST",
                        url: "{config.webpath}tools/calc_stand_guard_fee.ashx?user_id={userModel.id}&withdraw_value=" + accountyue,
                        dataType: "json",
                        timeout: 20000,
                        success: function (data) {
                            var fee = parseFloat(data.value);
                            $("#withdraw_real").text((accountyue - data.value)+" 元");
                            $("#withdraw_fee").text("(" + data.fee + ")");                            
                        }
                    });
                }
            });
            $("#cardlist li:not(:last-child)").addClass('but-last');
        });
    </script>
</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <!--添加银行卡-->
    <%template src="_usercenter_add_card.html"%>
    <!--添加银行卡end-->
    <div class="content ctbgcolor">
        <div class="breadcrumb container">
            <li><a href="/">金汇丰</a></li>
            <li><a href="#">会员中心</a></li>
        </div>
        <div class="container">
            <!--uc_left-->
            <%template src="_usercenter_left.html"%>
            <!--/uc_left-->
            <div class="pull-left" id="rightcontent">
                <!--uc_top-->
                <%template src="_usercenter_top.html"%>
                <!--/uc_top-->
                <div class="ucbottom">
                    <div class="chongzhi">
                        <form class="form-horizontal" id="form_withdraw" name="form_withdraw" url="{config.webpath}tools/submit_ajax.ashx?action=witdh_draw" >
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        <span class="require">*</span> 选择银行卡
                                    </th>
                                    <td colspan="2">
                                        <ul class="list-inline" id="cardlist">
                                        <%set List<li_bank_accounts> bank_accounts=get_bank_accounts(userModel.id)%>
                                        <%foreach(li_bank_accounts bank_account in bank_accounts)%>
                                            <li class="icbc <%=get_bank_css({bank_account.bank})%>" data-id="{bank_account.id}">尾数:<%=bank_account.account.Substring(bank_account.account.Length - 4)%></li>
                                        <%/foreach%>
                                            <li data-toggle="modal" data-target="#myModal">
                                                <span class="glyphicon glyphicon-plus-sign addcard">
                                                </span><span class="alink">添加银行卡</span>
                                            </li>
                                        </ul>
                                        <input type="hidden" name="card_id" id="card_id"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        可用余额
                                    </th>
                                    <td width="210px">
                                        <p class="form-control-static">
                                            <span class="yue"><%=string.Format("{0:N}",wallet.idle_money)%></span>元</p>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="require">*</span> 提现金额
                                    </th>
                                    <td>
                                        <input type="text" placeholder="最低提现100元" class="form-control custominput " id="howmany" name="howmany" datatype="*" errormsg="请输入正确金额">
                                    </td>
                                    <td>
                                        实际到帐：<span id="withdraw_real">0.00 元</span><span id="withdraw_fee"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        预计到帐日期
                                    </th>
                                    <td colspan="2">
                                        <p class="form-control-static">
                                            <span class="yue"><%=DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")%></span>(1-2个工作日之内到帐,双休日和法定节假日除外)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="require">*</span> 交易密码
                                    </th>
                                    <td>
                                        <input type="password" name="pay_ps" style="display:none"><!-- for disable autocomplete on chrome -->
                                        <input autocomplete="off" type="password" name="txtPassword" placeholder="请输入交易密码" class="form-control custominput " datatype="*" errormsg="密码格式有误">
                                    </td>
                                    <!--<td>
                                        <a href="#" class="alink">忘记密码</a>
                                    </td>-->
                                </tr>
                                <!--<tr>
                                    <th>
                                        <span class="require">*</span> 手机验证码
                                    </th>
                                    <td>
                                        <input type="text" placeholder="请输入手机验证码" class="form-control custominput " id="howmany"
                                            name="howmany" datatype="*" errormsg="请输入4位手机验证码">
                                    </td>
                                    <td>
                                        <button id="getsmscode" class="getauthcode">
                                            获取短信验证码</button>
                                    </td>
                                </tr>-->
                                <tr>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <td colspan="2">
                                        <input id="btnWithdraw" name="btnSubmit" type="submit" class="btns btnorange chongzhi-btn" value="确认提交">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站尾部-->
    <%template src="_footerSmall.html"%>
    <!--网站尾部-->
</body>
</html>
