<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agp2p.Linq2SQL.Properties.Settings.agrhConnectionString"
            connectionString="Data Source=192.168.5.98;Initial Catalog=agrh;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Agp2p.Linq2SQL.Properties.Settings.agrh_testConnectionString"
            connectionString="Data Source=192.168.5.98;Initial Catalog=agrh_test;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
