<%if(projectModel.type==(int)Agp2pEnums.LoanTypeEnum.Company)%>
    <%if(projectModel.dt_article_category.call_index!="ypb"&&projectModel.dt_article_category.call_index!="ypl")%>
        <%if(projectModel.type==(int)Agp2pEnums.LoanTypeEnum.Company)%>
        <div class="">
            <div class="project-detail-title"><span class="title-icon"><span class="blue-mark"></span><span class="orange-mark"></span></span><span class="title-orange">企业信息</span></div>
            <div class="project-info project-info-properties">
                <%if(loaner_company!=null)%>
                <ul>
                    <li><span>企业名称：</span><span>{loaner_company.name}</span></li>
                    <li><span>企业地址：</span><span>{loaner_company.address}</span></li>
                    <li><span>企业法人：</span><span>{loaner_company.manager}</span></li>
                    <li><span>成立时间：</span><span><%=loaner_company.setup_time.ToString("yyyy/MM/dd")%></span></li>
                    <li><span>注册资本：</span><span>{loaner_company.registered_capital}</span></li>
                    <li><span>经营范围：</span><span>{loaner_company.business_scope}</span></li>
                    <li><span>经营状况：</span><span>{loaner_company.business_status}</span></li>
                </ul>
                <%else%>
                <div class="content-null">暂无数据</div>
                <%/if%>
            </div>
        </div>
        <%/if%>
    <%/if%>
<%/if%>