<div class="footer flex flex-vertical-align flex--flex-grow-all">
    <div class="">
        <a id="a_index" href="<%linkurl("index")%>" class="txt-default"><span id="span_index" class="center-block"></span>首页</a>
    </div>
    <div class="">
        <a id="a_invest" href="<%linkurl("projects")%>" class="txt-default"><span id="span_invest" class="center-block"></span>理财</a>
    </div>
    <div class="">
        <a id="a_usercenter" href="<%linkurl("usercenter","index")%>" class="txt-default"><span id="span_usercenter" class="center-block"></span>我的</a>
    </div>
    <div class="">
        <a id="a_setting" href="<%linkurl("settings")%>" class="txt-default"><span id="span_setting" class="center-block"></span>设置</a>
    </div>
</div>
<script>
window.onunload = function() {
    // Notify top window of the unload event
    window.top.postMessage('iframe_change', '*');
};
</script>

