<div class="footer flex flex-vertical-align flex--flex-grow-all">
    <div class="">
        <a id="a_index" href="<%linkurl("index")%>" class="txt-default"><span id="span_index" class="footer-span icon-index center-block"></span>首页</a>
    </div>
    <div class="">
        <a id="a_invest" href="<%linkurl("projects")%>" class="txt-default"><span id="span_invest" class="footer-span icon-invest center-block"></span>理财</a>
    </div>
    <div class="">
        <a id="a_usercenter" href="<%linkurl("usercenter","index")%>" class="txt-default"><span id="span_usercenter" class="footer-span icon-mine center-block"></span>我</a>
    </div>
    <div class="">
        <a id="a_setting" href="<%linkurl("settings")%>" class="txt-default"><span id="span_setting" class="footer-span icon-settings center-block"></span>设置</a>
    </div>
</div>
