<%if(projectModel.type==(int)Agp2pEnums.LoanTypeEnum.Personal)%>
    <%if(projectModel.dt_article_category.call_index!="ypb"&&projectModel.dt_article_category.call_index!="ypl")%>
    <div class="content-wrap">
        <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">借款方信息</span></div>
        <div class="project-info">
            <ul class="list-unstyled">
                <li><span>姓名：</span><span><%=loaner.dt_users.real_name.Substring(0, 1)+"**"%></span></li>                        
                <li><span>婚姻状况：</span><span><%=Agp2p.Common.Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.MaritalStatusEnum)loaner.marital_status)%></span></li>
                <li><span>职业：</span><span>{loaner.job}</span></li>
                <li><span>性别：</span><span>{loaner.dt_users.sex}</span></li>
                <li><span>文化程度：</span><span>{loaner.educational_background}</span></li>
                <li><span>月收入：</span><span>{loaner.income}</span></li>
                <li><span>籍贯：</span><span>{loaner.native_place}</span></li>
                <li><span>年龄：</span><span>{loaner.age}</span></li>
            </ul>
        </div>
    </div>
    <%/if%>
<%/if%>