<%if(projectModel.dt_article_category.call_index=="newbie")%>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">项目介绍</span></div>
    <div class="project-info">
        <p>安广融合新手标项目，投资100元即获10元现金红包</p>
    </div>
</div>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">申购条件</span></div>
    <div class="project-info">
        <p>仅限从未投资过新手标项目的会员且每人只能投资100元</p>
    </div>
</div>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">如何收益</span></div>
    <div class="project-info">
        <p>投资后的第二天15:00返回本息110元</p>
    </div>
</div>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">安全保障</span></div>
    <div class="project-info">
        <p>为了让新会员体验安广融合投资流程，平台特推出新手标项目，100%本息保障</p>
    </div>
</div>
<%else if(projectModel.dt_article_category.call_index!="ypb"&&projectModel.dt_article_category.call_index!="ypl")%>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">项目简介</span></div>
    <div class="project-info">
        <ul class="list-unstyled">
            <li><span>项目描述 </span><span>{risk.loaner_content}</span></li>                        
            <li><span>借款用途 </span><span>{risk.loan_usage}</span></li>
            <li><span>还款来源 </span><span>{risk.source_of_repayment}</span></li>
        </ul>
    </div>
</div>
<%/if%>