<%if(projectModel.dt_article_category.call_index!="ypb"&&projectModel.dt_article_category.call_index!="ypl")%>
<div class="content-wrap">
    <div class="project-detail-title"><span class="title-icon"></span><span class="title-style">项目简介</span></div>
    <div class="project-info">
        <ul class="list-unstyled">
            <li><span>项目描述 </span><span>{risk.loaner_content}</span></li>                        
            <li><span>借款用途 </span><span>{risk.loan_usage}</span></li>
            <li><span>还款来源 </span><span>{risk.source_of_repayment}</span></li>
        </ul>
    </div>
</div>
<%/if%>