<%if(projectModel.dt_article_category.call_index!="ypb"&&projectModel.dt_article_category.call_index!="ypl")%>
<div class="">
    <div class="project-detail-title"><span class="title-icon"><span class="blue-mark"></span><span class="orange-mark"></span></span><span class="title-orange">保障措施</span></div>
    <div class="project-info project-info-properties">
        <%if(!string.IsNullOrWhiteSpace(risk.risk_content))%>
        <div class="measure">{risk.risk_content}</div>
        <%/if%>

        <%if(projectModel.dt_article_category.call_index!="fdb")%>
        <ul>
            <%foreach(var p in GetAllMortgagesInfo())%>
            <li><span><%=p.Item1%>：</span><span><%=p.Item2%></span></li>                        
            <%/foreach%>
        </ul>
        <%/if%>
        <%if(string.IsNullOrWhiteSpace(risk.risk_content)&&(mortgages.Count==0||projectModel.dt_article_category.call_index=="fdb"))%>
            <div class="content-null">暂无数据</div>
        <%/if%>
    </div>
</div>
<%/if%>