<%if(projectModel.dt_article_category.call_index=="ypl")%>
<div class="">
    <div class="project-detail-title"><span class="title-icon"><span class="blue-mark"></span><span class="orange-mark"></span></span><span class="title-orange">产品介绍</span></div>
    <div class="project-info project-info-properties">
        <ul>
            <li><span>产品概述：</span><span>{projectModel.dt_article_category.title}是安广融合平台推出的，以高安全性银行承兑汇票为还款保障的短期理财产品，具有收益稳健、安全性高、期限灵活等优势。</span></li>
            <li><span>票据类型：</span><span>银行承兑汇票</span></li>
            <li>
                <span>保障措施：</span><span>
<p>1）兑付安全：在票据理财模式中，所有的票据资产都是银行承兑汇票，法律规定，票据到期后，银行无条件承兑票据金额（见票即付）；</p>
<p>2）托管安全：平台上所涉及的票据都保管在银行，由银行对票据进行托收，专款专用归还投资者；</p>
<p>3）票据安全：票据的真伪经过多重审核，通过平台专业运营成员以及合作银行两道关口把守，并经过机器、人工、人民银行大额支付系统、合作银行复验四道工序，层层把关，全面保障票据资产的真伪、灭失风险。</p>
                </span>
            </li>
        </ul>
    </div>
</div>
<%else if(projectModel.dt_article_category.call_index=="ypb")%>
<div class="">
    <div class="project-detail-title"><span class="title-icon"><span class="blue-mark"></span><span class="orange-mark"></span></span><span class="title-orange">产品介绍</span></div>
    <div class="project-info project-info-properties">
        <ul>
            <li><span>产品概述：</span><span>{projectModel.dt_article_category.title}是安广融合平台推出的，以高安全性银行承兑汇票为还款保障的理财产品，具有收益稳健、安全性高、期限灵活等优势。</span></li>
            <li><span>票据类型：</span><span>银行承兑汇票</span></li>
            <li>
                <span>保障措施：</span><span>
<p>1）兑付安全：在票据理财模式中，所有的票据资产都是银行承兑汇票，法律规定，票据到期后，银行无条件承兑票据金额（见票即付）；</p>
<p>2）托管安全：平台上所涉及的票据都保管在银行，由银行对票据进行托收，专款专用归还投资者；</p>
<p>3）票据安全：票据的真伪经过多重审核，通过平台专业运营成员以及合作银行两道关口把守，并经过机器、人工、人民银行大额支付系统、合作银行复验四道工序，层层把关，全面保障票据资产的真伪、灭失风险。</p>
                </span>
            </li>
        </ul>
    </div>
</div>
<%/if%>