<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于安广融合</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/aboutus.bundle.js"></script>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-first">
    <div class="aboutus-page scroll" style="height: 0"> <!--/ ios flex box bug hack /-->
        <div  class="top-screen">
            <img src="<%templateskin%>/imgs/logo.png">
        </div>
        <div class="introduction">
            <div class="title-style">平台简介</div>
            <p>广东安广融合电子商务股份有限公司成立于2015年8月，安广融合注册资金为陆仟捌佰万元，是互联网金融服务平台，广东南粤银行作为资金存管机构，对客户资金进行管理和监督，实现客户资金与平台自身资金分账管理，是国内获得备案和测评双重保障的P2P平台之一。</p>
            <p>安广融合致力于为公众提供一个安全、专业、收益稳健的金融平台。结合多年的资产管理服务和风险控制经验，利用先进的信息处理技术，不断为平台用户提供更丰富、更便捷的互联网理财产品。</p>
            <p>未来，安广融合将继续深耕互联网金融领域，致力成为最具价值的互联网金融信息服务平台。</p>
        </div>
        <div class="culture">
            <div class="title-style">企业文化</div>
            <p><strong>我们的理念</strong>：安天下 广聚贤 融诚信 合发展</p>
            <p><strong>我们的使命</strong>：创诚信金融服务平台，做金融行业诚信先锋</p>
            <p><strong>我们的远景</strong>：坤厚载物，德合无疆</p>
        </div>
        <div class="team">
            <div class="title-style">我们的团队</div>
            <p>安广融合团队是一群拥有金融专业精神和互联网极客精神的实力源。团队管理成员来自各大银行及业内知名机构，风控高管在信贷、供应链金融领域有多年实操经验，还有众多金融资本领导的顶级专家顾问参与，致力将安广融合打造成全国最具价值的互联网金融服务平台。</p>
        </div>
    </div>
    <%template src="_footer.html"%>
</div>

<script>var forceFooterKey = "settings";</script>


</body>
</html>