<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于安广融合</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/aboutus.bundle.js"></script>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-first">
    <div class="aboutus-page scroll" style="height: 0"> <!--/ ios flex box bug hack /-->
        <div  class="top-screen">
            <img src="<%templateskin%>/imgs/logo.png">
        </div>
        <div class="introduction">
            <div class="title-style">平台简介</div>
            <p>广东安广融合电子商务股份有限公司成立于2015年8月24日，注册资金6800万元，总部位于广东省佛山市。“安广融合”平台(www.agrhp2p.com)是广东安广融合电子商务股份有限公司运营的互联网金融信息服务平台，于2015年12月上线试运营。平台主打银行承兑汇票理财，目前产品主要包括银票宝系列和新手标系列。</p>
            <p>自上线试运营以来，平台严格遵守国家法律法规，恪守平台的中介服务本质，为投资理财用户和贷款用户两端提供投融资信息中介服务。平台凭借专业、成熟、严谨的风控体系，在银行设立风险备付金账户，并与第三方支付机构签订资金存管协议，保障投资者的资金安全。</p>
            <p>在深耕票据理财细分市场的同时，开启供应链金融、消费金融等多个领域的持续性探索，逐步搭建起平台完整的产品体系，不断提升平台竞争力。我们将秉承公开、规范、专业的经营理念，打造一个诚信、高效的互联网金融信息服务平台！</p>
        </div>
        <div class="culture">
            <div class="title-style">企业文化</div>
            
            <p class="shiming"><span class="title shaozi"><strong>安广融合使命：</strong></span><span class="content">打造诚信金融服务平台，提供专业、便捷、惠普服务</span></p>
            <p class="shiming"><span class="title shaozi"><strong>安广融合理念：</strong></span><span class="content">公开、规范、专业</span></p>
            <p class="shiming"><span class="title duozi"><strong>安广融合价值观：</strong></span><span class="content">以诚为本、专业精神、共同成长</span></p>
            <p class="shiming"><span class="title shaozi"><strong>安广融合精神：</strong></span><span class="content">务实奋进、知行合一</span></p>
            <p class="shiming"><span class="title shaozi"><strong>安广融合口号：</strong></span><span class="content">安广融合，您身边的理财专家！</span></p>
        </div>
        <div class="team">
            <div class="title-style">我们的团队</div>
            <p>安广融合团队是一群拥有金融专业精神和互联网极客精神的实力源。团队管理成员来自各大银行及业内知名机构，风控高管在信贷、供应链金融领域有多年实操经验，还有众多金融资本领导的顶级专家顾问参与。我们始终坚持中介性质，致力将安广融合打造成合法合规平台，提升用户的体验，为平台投资者营造更安全的投资环境。</p>
        </div>
    </div>
    <%template src="_footer.html"%>
</div>

<script>var forceFooterKey = "settings";</script>


</body>
</html>