<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <script src="build/commons.bundle.js"></script>
    <script src="build/citySelector.bundle.js"></script>

    <style>
        .selection {
            padding: 0 2%;
            font-size: 1em;
            line-height: 2em;
            border-bottom: #d9d9d9 solid 1px;
        }
        .inner-scrollable { /*fullPage 可滚动*/
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            height: 100%;
        }
    </style>

</head>
<body>
    <div id="fullpage">
        <div class="section">
            <div class="slide">
                <div class="inner-scrollable" data-level="province"></div>
            </div>
            <div class="slide">
                <div class="inner-scrollable" data-level="city"></div>
            </div>
            <div class="slide">
                <div class="inner-scrollable" data-level="area"></div>
            </div>
        </div>
    </div>
</body>
</html>
