<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/forgotPassword.bundle.js"></script>
    <script type="text/javascript" src="/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-first">
    <div class="forgot-psw-page scroll" style="height: 0">
        <form id="reset-form">
            <div class="account-wrap">
                <input type="text" id="txtMobile" class="input-l" placeholder="请输入手机号码">
            </div>
            <div class="pic-code-wrap">
                <input type="text" id="picCode" class="input-s" placeholder="请输入图形验证码">
                <span class="pic-code-span flex flex-center-wrapper" style="float: right">
                    <img style="cursor: pointer" src="/tools/verify_code.ashx" id="imgVerifyCode" />
                </span>
            </div>
            <div class="auth-code-wrap">
                <input type="text" id="verifyCode" class="input-s" placeholder="请输入短信验证码">
                <button type="button" id="btnGetVerifyCode" class="button-s pull-right">获 取</button>
            </div>
            <div class="new-psw-wrap">
                <input type="password" id="newPwd" class="input-l" placeholder="请输入新密码">
            </div>
            <div class="new-psw2-wrap">
                <input type="password" id="newPwd2" class="input-l" placeholder="请再次输入新密码">
            </div>
            <div class="submit-btn-wrap">
                <button type="button" id="btnSubmit" class="button-l">确认提交</button>
            </div>
        </form>
        <div class="login-now-wrap">已有账号？ <a href="login.html">马上登录</a></div>
    </div>
    <div><%template src="_footer.html"%></div>
</div>
</body>
</html>