<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/index.bundle.js"></script>
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/raphael.js"></script>
    <script src="<%templateskin%>/js/init.js"></script>
</head>
<body>
    <div class="height-100 flex flex--column flex--flex-grow-first">
        <div class="index-page scroll" style="height:0">
            <!--/ ios flex box bug hack /-->
            <%if(!IsUserLogin())%>
            <div class="reglog-bar flex flex-vertical-align flex--flex-grow-first">
                <span><img src="<%templateskin%>/imgs/agrh.png"></span>
                <a href='<%linkurl("register")%>'>快速注册</a>
                <a href='<%linkurl("login")%>'>登录</a>
            </div>
            <%/if%>
            <%set var ba=QueryWechatBanner()%>
            <%set var balen=ba.Count()%>
            <%if balen!=0%>
            <div id="banner-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">                   
                    <%for(var a=0;a<balen;a++)%>
                    <li data-target="#banner-carousel" data-slide-to="<%=a%>"></li>
                    <%/for%>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <%for(var b=0;b<balen;b++)%>
                    <%set var index=ba.Skip(b).First()%>
                    <div class="item">
                        <a href='<%=index.link_url%>'><img src="<%=index.file_path%>"></a>
                    </div>
                    <%/for%>
                </div>
            </div>
            <%/if%>
            <!--公告-->
            <%set var projectAnnounce=GetArticles(54, 1).FirstOrDefault()%>
            <div class="announce-wrap">
                <img src="<%templateskin%>/imgs/album1.png"/>
                <img src="<%templateskin%>/imgs/album2.png" />
                <span>
                    <%if(projectAnnounce!=null)%>
                    <a href='<%linkurl("article_show",projectAnnounce.id)%>'>
                        发标公告：<%=projectAnnounce.title.Length>17?projectAnnounce.title.Substring(0, 17)+"...":projectAnnounce.title%>
                    </a>
                    <%else%>
                    <span>暂无内容</span>
                    <%/if%>
                </span>
            </div>
            <!-- 新手标 -->
            <%set var np = GetFirstNewbieProject()%>
            <%if(np!=null&&np.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing)%>
                <div id="content">
                    <div class="newbie-title">
                        <span>新手标</span>
                        <img src="<%templateskin%>/imgs/001.png" />
                    </div>
                    <div id="diagram">
                        <div class="diagram-content">
                            <p class="title-style">预期年化率</p>
                            <p class="rate-style">
                                <span class="rate-first">
                                    <span class="newbie-first-rate"><%=np.profit_rate_year.ToString("f2").Substring(0,1)%></span>
                                    <span class="newbie-second-rate"><%=np.profit_rate_year.ToString("f2").Substring(1,3)%>%</span>
                                </span>
                                <span class="new-newbie">
                                    <span class="newbie-jiaxi">已加息</span>
                                    <span class="newbie-rate">1.29%</span>
                                </span>
                            </p>
                            <div class="qixian-wrap">
                                <div class="qixian">
                                    <p>项目期限</p>
                                    <p class="tianshu"><span class="txt-darkgrey">{np.repayment_term_span_count}</span> {np.GetProjectTermSpanEnumDesc()}</p>
                                </div>
                                <div class="ketou">
                                    <p>可投金额</p>
                                    <p class="jine"><span class="txt-darkgrey"><%=(np.financing_amount-np.investment_amount).ToString("n0")%></span> 元</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="get">
                        <div class="arc">
                            <input type="hidden" class="percent" value="1"/>
                            <input type="hidden" class="color" value="#eee"/>
                        </div>
                        <div class="arc">
                            <input type="hidden" class="percent" value='<%=(np.investment_amount/np.financing_amount).ToString("f2")%>'/>
                            <input type="hidden" class="color" value="#1478d2"/>
                        </div>
                    </div>
                    <p class="guize-ruels"><span>100元起投</span><span>限投100,000元</span></p>
                    <a class="invested" href='<%=linkurl("project",np.id)%>#project'>立即投资</a>
                </div>
            <%/if%>
            <div class="invest-list">
                <%set var totalcount=0%>
                <%set var investables=QueryInvestables(5,0,out totalcount,60)%>
                <%foreach(var inv in investables)%>
                <%set var p=inv.Project%>
                <div class="invest-project" onclick="location.href='<%=inv.Linkurl(config)%>#project'">
                    <p class="invest-title">
                        <span class="project-type">{inv.CategoryName}</span>
                        {inv.Title}
                        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
                        <span class="book-icon">约标</span>
                        <%/if%>
                        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
                        <%/if%>
                        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
                        <%/if%>
                    </p>
                    <div class="invest-content flex flex-vertical-align flex--flex-grow-all">
                        <div class="rate-wrap">                            
                            <div class="title-style">预期年化率</div>
                            <div class="txt-red-s"><span class="txt-red-l"><%=(inv.ProfitRateYearly*100).ToString("f2")%></span> %</div>
                        </div>
                        <div class="time-wrap">
                            <div class="title-style">期限</div>
                            <div><span class="txt-darkgrey-l">{inv.RepaymentTermSpanCount}</span> {inv.ProjectTermSpanName}</div>
                        </div>
                        <div class="amount-wrap">
                            <div class="title-style">借款金额</div>
                            <div><span class="txt-darkgrey-l"><%=inv.FinancingAmountStr%></span> 元</div>
                        </div>
                        <div class="invest-status flex flex-center-wrapper">
                            <%if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
                            <div class="status-wrap"><div class="over-icon">待发标</div></div>
                            <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                            <div class="indicatorContainer" data-progress="<%=(inv.InvestmentProgress*100)%>"></div>
                            <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
                            <div class="status-wrap"><div class="over-icon">审核中</div></div>
                            <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
                            <div class="status-wrap"><div class="over-icon">还款中</div></div>
                            <%else if(inv.Status>=Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
                            <div class="status-wrap"><div class="over-icon">已结束</div></div>
                            <%/if%>
                        </div>
                    </div>
                </div>
                <%/foreach%>
            </div>
        </div>
        <%template src="_footer.html"%>
    </div>
</body>
</html>