<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/index.bundle.js"></script>
</head>
<body>
    <div class="index-page">
        <%if(!IsUserLogin())%>
        <div class="reglog-bar flex flex-vertical-align flex--flex-grow-first">
            <span><img src="<%templateskin%>/imgs/agrh.png"></span>
            <a href='<%linkurl("register")%>'>快速注册</a>
            <a href='<%linkurl("login")%>'>登录</a>
        </div>
        <%/if%>
        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#banner-carousel" data-slide-to="1"></li>
                <li data-target="#banner-carousel" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href='<%linkurl("activities")%>'><img src="<%templateskin%>/imgs/banner/banner-2.png"></a>
                </div>
            </div>
        </div>
        <div class="invest-list">
            <!-- 新手标 -->
            <%set var np = GetFinancingNewbieProject()%>
            <%if(np!=null)%>
            <div class="invest-project" onclick="location.href='<%linkurl("project",np.id)%>#project'">
                <p class="invest-title new-hand">
                    <span class="project-type">{np.dt_article_category.title}</span>
                    新手专享标
                </p>
                <div class="invest-content flex flex-vertical-align flex--flex-grow-all">
                    <div class="rate-wrap">
                        <div class="title-style">项目收益</div>
                        <div class="txt-red-s"><span class="txt-red-l">10</span> 元</div>
                    </div>
                    <div class="time-wrap">
                        <div class="title-style">期限</div>
                        <div><span class="txt-darkgrey-l">{np.repayment_term_span_count}</span> {np.GetProjectTermSpanEnumDesc()}</div>
                    </div>
                    <div class="amount-wrap">
                        <div class="title-style">可投金额</div>
                        <div><span class="txt-darkgrey-l"><%=np.financing_amount.ToString("n0")%></span> 元</div>
                    </div>
                    <div class="invest-status flex flex-center-wrapper">
                        <div class="indicatorContainer" data-progress="<%=(np.GetInvestmentProgressPercent()*100)%>"></div>
                    </div>
                </div>
            </div>
            <%/if%>

            <%set var totalcount=0%>
            <%set var projects=QueryProjects(5,0,out totalcount,0,0,0,0)%>
            <%foreach(var p in projects)%>
            <div class="invest-project" onclick="location.href='<%linkurl("project",p.id)%>#project'">
                <p class="invest-title">
                    <span class="project-type">{p.dt_article_category.title}</span>
                    {p.title}
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
                    <span class="book-icon">约标</span>
                    <%/if%>
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
                    <%/if%>
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
                    <%/if%>
                </p>
                <div class="invest-content flex flex-vertical-align flex--flex-grow-all">
                    <div class="rate-wrap">
                        <div class="title-style">年化利率</div>
                        <div class="txt-red-s"><span class="txt-red-l"><%=p.profit_rate_year.ToString("f1")%></span> %</div>
                    </div>
                    <div class="time-wrap">
                        <div class="title-style">期限</div>
                        <div><span class="txt-darkgrey-l">{p.repayment_term_span_count}</span> {p.GetProjectTermSpanEnumDesc()}</div>
                    </div>
                    <div class="amount-wrap">
                        <div class="title-style">借款金额</div>
                        <div><span class="txt-darkgrey-l"><%=p.financing_amount.ToString("n0")%></span> 元</div>
                    </div>
                    <div class="invest-status flex flex-center-wrapper">
                        <%if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
                        <div class="status-wrap"><div class="over-icon">待发标</div></div>
                        <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                        <div class="indicatorContainer" data-progress="<%=(p.GetInvestmentProgressPercent()*100)%>"></div>
                        <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
                        <div class="status-wrap"><div class="over-icon">审核中</div></div>
                        <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
                        <div class="status-wrap"><div class="over-icon">还款中</div></div>
                        <%else if(p.status>=(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
                        <div class="status-wrap"><div class="over-icon">已结束</div></div>
                        <%/if%>
                    </div>
                </div>
            </div>
            <%/foreach%>
        </div>
        <%template src="_footer.html"%>
    </div>
</body>
</html>