<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/index.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/invest-list.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/radialIndicator.min.js"></script>
    <script>
        /*rem的相对单位定义*/
        var viewportWidth = $(window).width();
        var fontSizeUnit = viewportWidth / 20;
        $("html").css("font-size", fontSizeUnit);

        $(function () {
            $('.indicatorContainer').each(function(index, obj) {
                $(obj).radialIndicator({
                    radius: 28,
                    barColor: '#fd6500',
                    barBgColor: '#d9d9d9',
                    barWidth: 2,
                    initValue: $(obj).attr('data-progress'),
                    roundCorner: true,
                    percentage: true
                });
            });
        });
    </script>
</head>
<body>
    <div class="index-page">
        <%if(!IsUserLogin())%>
        <div class="reglog-bar flex flex-vertical-align flex--flex-grow-first">
            <span><img src="<%templateskin%>/imgs/jinhuifeng.png"></span>
            <a href="<%linkurl("register")%>">快速注册</a>
            <a href="<%linkurl("login")%>">登录</a>
        </div>
        <%/if%>
        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#banner-carousel" data-slide-to="1"></li>
                <li data-target="#banner-carousel" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="<%templateskin%>/imgs/banner/banner-1.png">
                </div>
                <div class="item">
                    <img src="#">
                </div>
                <div class="item">
                    <img src="#">
                </div>
            </div>
        </div>
        <div class="invest-list">
            <%set DataTable projectList=get_project_list(5,0,0,0,0)%>
            <%foreach(DataRow dr in projectList.Rows)%>
            <div class="invest-project" onclick="location.href='<%linkurl("invest_detail",{dr[id]})%>'">
                <p class="invest-title">
                    {dr[title]}
                    <%if(dr["tag"].ToString()=="1")%>
                    <span class="book-icon">约标</span>
                    <%/if%>
                </p>
                <div class="invest-content flex flex-vertical-align flex--flex-grow-all">
                    <div class="proj-margin-top">
                        <div class="title-style">金额</div>
                        <div><span class="txt-darkgrey-l">{dr[project_amount_str]}</span> 万元</div>
                    </div>
                    <div class="proj-margin-top">
                        <div class="title-style">期限</div>
                        <div><span class="txt-darkgrey-l">{dr[repayment_number]}</span> {dr[repayment_term]}</div>
                    </div>
                    <div class="proj-margin-top">
                        <div class="title-style">年化收益</div>
                        <div><span class="txt-darkgrey-l">{dr[profit_rate_year]}</span> %</div>
                    </div>
                    <div class="invest-status flex flex-center-wrapper">
                        <%if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.FaBiao)%>
                        <div class="indicatorContainer" data-progress="{dr[project_investment_progress]}"></div>
                        <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.DelayFaBiao)%>
                        <div class="status-wrap"><div class="over-icon">待发标</div></div>
                        <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.ManBiao||(int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.JieBiao)%>
                        <div class="status-wrap"><div class="over-icon">还款中</div></div>
                        <%else if((int)dr["status"]==(int)Lip2p.Common.Lip2pEnums.ProjectStatusEnum.WanCheng)%>
                        <div class="status-wrap"><div class="over-icon">已结束</div></div>
                        <%/if%>
                    </div>
                </div>
            </div>
            <%/foreach%>
        </div>
        <%template src="_footer.html"%>
    </div>
</body>
</html>