<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>投资成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/invest-success.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
</head>
<body>
<div class="invest-success-page">
    <div class="congratulation-wrap">
        <div class="div-center">
            <h1>恭喜您</h1>
            <p>您已成功投资<span>金屋子1505021子项目</span></p>
        </div>
    </div>
    <div class="invest-detail-wrap">
        <ul>
            <li>
                <span>投资金额</span>
                <span>100000元</span>
            </li>
            <li>
                <span>预计收益</span>
                <span>1250元</span>
            </li>
            <li>
                <span>账户余额</span>
                <span>50000元</span>
            </li>
        </ul>
    </div>
    <div class="invest-on-btn-wrap">
        <button type="button" id="invest-on-btn" onclick="location.href='#'">继续投资</button>
    </div>
    <%template src="_footer.html"%>
</div>
</body>
</html>