<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/login.bundle.js"></script>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-first">
    <div class="login-page scroll">
        <form id="loginform" name="loginform" data-turl="{turl}">
            <!-- hack autofill -->
            <input type="text" id="txtUserName0" class="input-l hidden" name="txtUserName0" placeholder="请输入手机号码">
            <input type="password" id="txtPassword0" class="input-l hidden" name="txtPassword0" placeholder="请输入密码">

            <div class="account-wrap">
                <input type="text" id="txtUserName" class="input-l" name="txtUserName" placeholder="请输入手机号码"  value='<%=Utils.GetCookie(DTKeys.COOKIE_USER_NAME_REMEMBER,"Agp2p")%>'>
            </div>
            <div class="psw-wrap">
                <input type="password" id="txtPassword" class="input-l" name="txtPassword" placeholder="请输入密码">
                <input type="hidden" id="code" name="code" value="{code}">
            </div>
            <dl id="msgtips">
                <dt></dt>
                <dd></dd>
            </dl>
            <div class="remember-psw-wrap">
                <input type="checkbox" id="chkRemember" checked>
                <label for="chkRemember" id="psw-label">记住用户名</label>
                <a href='<%linkurl("forgot_password")%>'>忘记密码?</a>
            </div>
            <div class="login-btn-wrap">
                <button id="btnSubmit" class="button-l" type="button">登 录</button>
            </div>
        </form>
        <div class="turn-now-wrap" style="margin-bottom: 15px;"> 要参加转盘游戏抽奖请<a href="<%linkurl("login")%>">登录</a></div>
        <div class="register-now-wrap">还没有账号? <a href="<%linkurl("register")%>">立即注册</a></div>
    </div>
    <%template src="_footer.html"%>
</div>
</body>
</html>