<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>绑定银行卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/binding-cards.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/cards-list.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/card-select.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{config.webpath}scripts/fullpage/jquery.fullPage.css">
    <script type="text/javascript" src="{config.webpath}scripts/fullpage/jquery.fullPage.min.js"></script>

    <style>
        .inner-scrollable { /*fullPage 可滚动*/
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            height: 100%;
        }
        .inner-scrollable::-webkit-scrollbar { /*隐藏滚动条*/
            width: 0 !important;
        }
        #dlgSelectArea .modal-body {
            height: 89%;
        }
    </style>
    <script>
        /*rem的相对单位定义*/
        $("html").css("font-size", $(window).width() / 20);

        function loadCardInfo(cardId, callback) {
            $.ajax({
                type: "GET",
                url: "{Request.FilePath}" + "/AjaxQueryCardInfo?cardId=" + cardId,
                data: "",
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    var info = JSON.parse(msg.d);
                    callback(info);
                }
            }).fail(function (data) {
                callback(null, data.responseJSON.d);
            });
        }
        function ajaxInvoke(methodName, params, callback) {
            $.ajax({
                type: "POST",
                url: "{Request.FilePath}/" + methodName,
                data: JSON.stringify(params),
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    callback(true, msg.d);
                }
            }).fail(function (data) {
                callback(false, data.responseJSON.d);
            });
        }
        function initCardList() {
            $(".bank-select-body div").click(function () { // 在对话框选择银行卡后
                $('#bank-select-dialog').modal("hide");
                $("div.bank-select-wrap input").val(this.innerText);
            });
            var cardNumberInput = $("#cardNumber");
            var bankNameInput = $("#bankName");
            var bankLocationInput = $("#bankLocation");
            var openingBank = $("#openingBank");
            var submitBtn = $("button#submitBtn");
            var modifyBtns = $(".modify-btns-box");
            var cardId = null; // 当前查看的银行卡
            $("div.card-cell").click(function () {
                submitBtn.hide();
                modifyBtns.show();
                $.fn.fullpage.moveSlideRight();

                cardNumberInput[0].readOnly = true;
                cardNumberInput.val("加载中...");

                cardId = Number($(this).attr("data-cardId"));
                loadCardInfo(cardId, function (info, msg) {
                    if (info === null) {
                        alert(msg);
                        $.fn.fullpage.moveSlideLeft();
                        return;
                    }
                    cardNumberInput.val(info.CardNumber);
                    bankNameInput.val(info.BankName);
                    bankLocationInput
                        .val(info.BankLocation === null ? "" : info.BankLocation.replace(/;/g, ""))
                        .attr("data-splited-location", info.BankLocation);
                    openingBank.val(info.OpeningBank);
                });
            });
            $(".add-cards").click(function() {
                $.fn.fullpage.moveSlideRight();
                submitBtn.show();
                modifyBtns.hide();

                cardNumberInput[0].readOnly = false;
                cardNumberInput.val("");
                bankNameInput.val("");
                bankLocationInput.val("").attr("info.BankLocation", "");
                openingBank.val("");
            });
            submitBtn.click(function() {
                ajaxInvoke("AjaxAppendCard", {
                    cardNumber: cardNumberInput.val(),
                    bankName: bankNameInput.val(),
                    bankLocation: bankLocationInput.attr("data-splited-location") || "",
                    openingBank: openingBank.val()
                }, function (succ, result) {
                    if (!succ) alert(result);
                    else {
                        alert(result);
                        history.back();
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    }
                });
            });
            modifyBtns.find("#modify-btn").click(function() {
                ajaxInvoke("AjaxModifyCard", {
                    cardId: cardId,
                    bankName: bankNameInput.val(),
                    bankLocation: bankLocationInput.attr("data-splited-location"),
                    openingBank: openingBank.val()
                }, function (succ, result) {
                    if (!succ) alert(result);
                    else {
                        alert(result);
                        history.back();
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    }
                });
            });
            modifyBtns.find("#delete-btn").click(function () {
                if (!confirm("确定删除银行卡？")) return;
                ajaxInvoke("AjaxDeleteCard", {
                    cardId: cardId
                }, function (succ, result) {
                    if (!succ) alert(result);
                    else {
                        alert(result);
                        history.back();
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    }
                });
            });
        }
        function initFullpage() {
            $('#fullpage').fullpage({
                paddingBottom: '50px',
                anchors: ['slide'],
                controlArrows: false,
                verticalCentered: false,
                loopHorizontal: false,
            });
            $.fn.fullpage.setAllowScrolling(false);
            if (history.pushState) {
                history.pushState(null, null, '#slide');
            } else {
                location.href = "#slide";
            }
        }
        function fixAndroid2xOverflowCannotScroll($affectedElem) {
            var ua = navigator.userAgent;
            if (ua.indexOf("Android") >= 0) {
                var androidversion = parseFloat(ua.slice(ua.indexOf("Android") + 8));
                if (androidversion < 3) {
                    var script = document.createElement('script');
                    script.src = "<%templateskin%>/js/touchscroll.js";
                    script.onload = function () {
                        $affectedElem.each(function (index, elem) {
                            touchScroll(elem);
                        });
                    };
                    document.head.appendChild(script);
                }
            }
        }
        $(function() {
            if (!"{userModel.real_name}") {
                alert("请先进行实名认证");
                location.href = '<%linkurl("safe","safe")%>';
            }
            initFullpage();
            initCardList();

            fixAndroid2xOverflowCannotScroll($(".inner-scrollable, .bank-select-body"));
        });
        function initIframe(iframe) {
            var dlgPickAddr = $("#dlgSelectArea");
            iframe.contentWindow.pickDone = function(addr) {
                $("div.city-select-wrap input").val(addr.replace(/;/g, "")).attr("data-splited-location", addr);
                dlgPickAddr.modal('hide');
            }
            dlgPickAddr.on('hidden.bs.modal', function(e) { // 关闭选择地区对话框后，翻到第一页
                var loc = iframe.contentWindow.location;
                loc.href = loc.href.split("#")[0] + "#pager";
            });
        }
    </script>
</head>
<body>
<div id="fullpage">
    <div class="section">
        <div class="slide">
            <div class="mycards-page inner-scrollable">
                <%set var bank_accounts=get_bank_accounts(userModel.id)%>
                <%foreach(var bank_account in bank_accounts)%>
                <div class="card-cell flex flex--align-items--center flex--flex-grow-second" data-cardId="{bank_account.id}">
                    <i class="sprite"></i>
                    <div class="card-info">
                        <p>{bank_account.bank}</p>
                        <span class="last-num">尾号： <span><%=bank_account.account.Substring(bank_account.account.Length - 4)%></span></span>
                    </div>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </div>
                <%/foreach%>
                <script>
                    $(function() {
                        // init card logo
                        var bankPicMapping = {};
                        $("#bank-select-dialog .bank-select-body span").each(function (index, item) {
                            var span = $(item);
                            var bankClass = span.prev()[0].className.split(/\s+/)[1];
                            bankPicMapping[span.text().replace(/银行|储蓄/g, "")] = bankClass.replace("sprite-", "");
                        });
                        $("div.card-cell p").each(function(index, item) {
                            var p = $(item);
                            var iconClass = 0 < p.text().indexOf("中国银行") ? "中国" : bankPicMapping[p.text().replace(/中国|银行|储蓄/g, "")];
                            p.parent().prev().addClass(iconClass);
                        });
                    });
                </script>
                <div class="add-cards">添加银行卡</div>
                <div class="tips">绑定的银行卡开户人姓名必须与实名认证保持一致，否则无法提现。</div>
            </div>
        </div>
        <div class="slide">
            <div class="binding-cards-page inner-scrollable">
                <form>
                    <div class="name-wrap">
                        <input id="realName" type="text" readonly="readonly" value="{userModel.real_name}">
                    </div>
                    <div class="card-num-wrap">
                        <input type="text" id="cardNumber" placeholder="请输入银行卡号">
                    </div>
                    <div class="bank-select-wrap" data-toggle="modal" data-target="#bank-select-dialog">
                        <input type="text" id="bankName" placeholder="请选择银行" readonly="readonly">
                    </div>
                    <div class="city-select-wrap" data-toggle="modal" data-target="#dlgSelectArea">
                        <input type="text" id="bankLocation" placeholder="请选择开户行城市" readonly="readonly">
                    </div>
                    <div class="bank-name-wrap">
                        <input type="text" id="openingBank" placeholder="请输入开户行名称">
                    </div>
                    <div class="submit-btn-wrap">
                        <button type="button" id="submitBtn">提 交</button>
                        <div class="modify-btns-box">
                            <button id="delete-btn" type="button">删 除</button>
                            <button id="modify-btn" type="button">修 改</button>
                        </div>
                    </div>
                </form>
                <span class="glyphicon glyphicon-triangle-bottom" id="for-bank"></span>
                <span class="glyphicon glyphicon-triangle-bottom" id="for-city"></span>
            </div>
        </div>
    </div>
</div>
<script>var forceFooterKey = "settings";</script>
<%template src="_footer.html"%>

<!-- Modal -->
<div class="modal fade" id="bank-select-dialog" tabindex="-1" role="dialog" aria-labelledby="bankSelectTitleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bankSelectTitleLabel">选择银行</h4>
                <p>绑定银行卡</p>
            </div>
            <div class="bank-select-body" style="overflow-y: scroll; height: 79%;">
                <div><i class="sprite-dlg sprite-gonghang"></i><span>工商银行</span></div>
                <div><i class="sprite-dlg sprite-nonghang"></i><span>农业银行</span></div>
                <div><i class="sprite-dlg sprite-jianhang"></i><span>建设银行</span></div>
                <div><i class="sprite-dlg sprite-zhonghang"></i><span>中国银行</span></div>
                <div><i class="sprite-dlg sprite-zhaohang"></i><span>招商银行</span></div>
                <div><i class="sprite-dlg sprite-jiaohang"></i><span>交通银行</span></div>
                <div><i class="sprite-dlg sprite-minsheng"></i><span>民生银行</span></div>
                <div><i class="sprite-dlg sprite-pingan"></i><span>平安银行</span></div>
                <div><i class="sprite-dlg sprite-guangda"></i><span>光大银行</span></div>
                <div><i class="sprite-dlg sprite-guangfa"></i><span>广发银行</span></div>
                <div><i class="sprite-dlg sprite-youzheng"></i><span>邮政储蓄银行</span></div>
                <div><i class="sprite-dlg sprite-zhongxin"></i><span>中信银行</span></div>
                <div><i class="sprite-dlg sprite-pufa"></i><span>浦发银行</span></div>
                <div><i class="sprite-dlg sprite-huaxia"></i><span>华夏银行</span></div>
                <div><i class="sprite-dlg sprite-xingye"></i><span>兴业银行</span></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dlgSelectArea" tabindex="-1" role="dialog" aria-labelledby="dlgSelectAreaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dlgSelectAreaLabel">请选择开户行城市</h4>
      </div>
        <div class="modal-body">
            <iframe src="<%templateskin%>/city-selecter.htm" data-src="<%templateskin%>/city-selecter.htm" id="city-selecter" frameBorder='0' seamless='seamless' style="width: 100%; height: 100%" onload="initIframe(this)"></iframe>
        </div>
    </div>
  </div>
</div>
<!-- Modal end-->
</body>
</html>