<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的投资</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>

    <style>
        #loading-hint, .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
    </style>

    <script type="text/html" id="investment-record">
        @{ items.forEach(function(item, key, list){ }@
        <div class="project-cell flex flex--align-items--center flex--flex-grow-first">
            <div class="title-box">
                <p>@{=item.projectName}@</p>
                <span class="time-style">@{=item.investTime}@</span>
            </div>
            <div class="amount-box">
                <p>投资金额</p>
                <span>@{=item.investValue}@</span>
            </div>
        </div>
        @{ }); }@
    </script>
    <script>
        var reqFilePath = "{Request.FilePath}";
    </script>
    <script src="<%templateskin%>/build/myinvest.bundle.js"></script>

</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-second">
    <div class="nav-bar">
        <a id="receiving" href="javascript:;" data-project-status="1" class="nav-active nav-border-active">投资中<span class="float-right hr-style">|</span></a>
        <a id="investing" href="javascript:;" data-project-status="2">回款中<span class="float-right hr-style">|</span></a>
        <a id="done" href="javascript:;" data-project-status="3">已完成</a>
    </div>
    <div class="myinvest-page scroll">
        <div class="project-list">
            <div id="pending"></div>
            <div id="loading-hint"></div>
            <div class="loading-hint" style="display: none">
                <img src="<%templateskin%>/imgs/empty-box.png" style="width: 30%; margin: 70px auto 10px auto;"/>
                <p style="color:#ccc">您目前没有投资记录</p>
            </div>
        </div>
    </div>
    <div><%template src="_footer.html"%></div>
</div>
</body>
</html>