<%namespace "Agp2p.Linq2SQL"%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的奖券</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script>
        var lotteryStatus = {lottery_status};
    </script>
    <script src="<%templateskin%>/build/mylottery.bundle.js"></script>
    <style>
        /*加载提示*/
        .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
    </style>
</head>
<body>
    <div class="mylottery-page">
        <div class="nav-bar">
            <a id="receiving" class="type" href="<%linkurl("mylottery","mylottery",1)%>">未使用<span class="float-right hr-style">|</span></a>
            <a id="investing" class="type" href="<%linkurl("mylottery","mylottery",2)%>">已使用<span class="float-right hr-style">|</span></a>
            <a id="done" class="type" href="<%linkurl("mylottery","mylottery",3)%>">已过期</a>
        </div>
        <div class="lottery-list">
            <%set var trs=QueryLottery()%>
            <%for(int i=0;i<trs.Count;i++)%>
                <%set var t=trs[i]%>
                <div class="<%=t["lottery-face-class"]%>">
                    <div class="left-face flex flex--align-items--center flex--flex-grow-all">
                        <div class="lottery-info">
                            <p class="lottery-title"><%=t["lottery-spec"]%></p>
                            <p class="txt-pink"><%=t["lottery-valid-time"]%></p>
                            <p class="txt-pink"><%=t["lottery-condition"]%></p>
                            <div class="lottery-amount"><%=t["lottery-value"]%></div>
                        </div>
                    </div>
                    <div class="right-face flex-center-wrapper">
                        <div class="">
                            <%if(t["lottery-source"].Contains("天标"))%>
                            天<br />标<br />券
                            <%else if(t["lottery-source"].Contains("体验"))%>
                            体<br />验<br />券
                            <%else%>
                            现<br />金<br />券
                            <%/if%>
                        </div>
                    </div>
                    <div class="circle-s-top"></div>
                    <div class="circle-s-bottom"></div>
                    <div class="circle-l-left"></div>
                    <div class="circle-l-right"></div>
                </div>
                <%/for%>
                <%if(trs.Count()==0)%>
                <div class="loading-hint">
                    <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
                    <p style="color:#ccc">您当前没有奖券记录</p>
                </div>
                <%/if%>
        </div>
        <script>var forceFooterKey = "settings";</script>
        <%template src="_footer.html"%>
    </div>
</body>
</html>