<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script>
        var reqFilePath = "{Request.FilePath}", messageStatus = "{message_status}";
    </script>
    <script src="<%templateskin%>/build/mynews.bundle.js"></script>
    <style>
        /*加载提示*/
        .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
    </style>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-second">
    <div class="nav-bar">
        <a id="receiving" class="type" href="<%linkurl("mynews","mynews",0)%>" data-status="0">全部<span class="float-right hr-style">|</span></a>
        <a id="investing" class="type" href="<%linkurl("mynews","mynews",2)%>" data-status="2">未读<span class="float-right hr-style">|</span></a>
        <a id="done" class="type" href="<%linkurl("mynews","mynews",1)%>" data-status="1">已读</a>
    </div>
    <div class="mynews-page scroll" style="height: 0"> <!--/ ios flex box bug hack /-->
        <%loop dr messageDt%>
        <div class="notice-cell" data-href='<%linkurl("mynews_show",{message_status},{dr[id]})%>' data-msgId="{dr[id]}">
            <div class="vertical-align">
                <div class="select-icon" style="display:none"></div>
                <div class="news-content">
                    <div><span class="title-style">{dr[title]}</span><span class="float-right txt-grey"><%=((DateTime)dr["post_time"]).ToString("yyyy-MM-dd")%></span></div>
                    <span class="txt-grey notice-detail">{dr[content]}</span>
                </div>
            </div>
        </div>
        <%/loop%>
        <div id="no-content" class="loading-hint">
            <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
            <p style="color:#ccc">您目前没有消息记录</p>
        </div>
        <div class="news-manage" style="display: none">管理消息</div>
        <script>var forceFooterKey = "settings";</script>
    </div>
    <%template src="_footer.html"%>
</div>
</body>
</html>