<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>回款计划</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/receive-plan.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/receive-plan-detail.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/underscore-min.js"></script>

    <link type="text/css" rel="stylesheet" href="{config.webpath}scripts/fullpage/jquery.fullPage.css">
    <script type="text/javascript" src="{config.webpath}scripts/fullpage/jquery.fullPage.min.js"></script>

    <style>
        .loading-hint, .empty-box {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
        .inner-scrollable { /*fullPage 可滚动*/
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            height: 100%;
        }
        .myinvest-page { padding-top: 50px; }
    </style>
    <script>
        /*rem的相对单位定义*/
        $("html").css("font-size", $(window).width() / 20);
    </script>

    <script type="text/html" id="repaying-project-fragment">
        @{ _.each(items, function(item, index, list){ }@
        <div class="project-cell flex flex--align-items--center flex--flex-grow-first" data-projectId="@{=item.ProjectId}@" data-ticketId="@{=item.TicketId}@">
            <div class="title-box">
                <div class="receiveplan-title">@{=item.ProjectTitle}@</div>
                <span style="color:#d9d9d9">@{=item.InvestTime}@</span>
            </div>
            <div class="amount-box">
                <p style="margin:0 0 6px">投资金额</p>
                <span>@{=item.InvestValue}@</span>
            </div>
        </div>
        @{ }); }@
    </script>

    <script type="text/html" id="detail-page">
            <div class="top-screen flex flex--column flex--justify-content--space-between">
                <div class="title-style">
                    @{ if (project.Title.indexOf('丰车赚') == -1) { }@
                    <i class="title-icon receiveplan-house"></i>
                    @{ } else { }@
                    <i class="title-icon receiveplan-car"></i>
                    @{ } }@
                    <span id="receiveplan-title">@{=project.Title}@</span>
                </div>
                <div class="flex-center-wrapper flex--column">
                    <span class="title-style">应收总额</span>
                    <p>@{=project.ProfitingAmount}@</p>
                </div>
            </div>
            <div class="invest-standard flex flex--align-items--center">
                <div class="return-rate">
                    <span>年化收益</span>
                    <p>@{=project.ProfitRateYear}@%</p>
                </div>
                <div class="invest-amount">
                    <span>投资金额</span>
                    <p>@{=project.InvestedValue}@</p>
                </div>
                <div class="periods">
                    <span>还款期数</span>
                    <p>@{=project.TermsData.length}@</p>
                </div>
            </div>
            @{ _.each(project.TermsData, function(item, index, list){ }@
            <div class="plan-list flex flex--align-items--center">
                <div class="">
                    <p>第 @{=index+1}@ 期回款计划</p>
                    <ul>
                        <li>回款利息 <span>@{=item.RepayInterest}@</span></li>
                        <li>回款本金 <span>@{=item.RepayPrincipal}@</span></li>
                        <li>回款日期 <span>@{=item.ShouldRepayTime}@</span></li>
                        <li>回款总额 <span>@{=item.RepayTotal}@</span></li>
                    </ul>
                </div>
            </div>
            @{ }); }@
    </script>

    <script>
        _.templateSettings = {
            evaluate: /@\{([\s\S]+?)\}@/g, // 求值 @{ ... }@
            interpolate: /@\{=([\s\S]+?)\}@/g // 直接输出 @{= ...}@
        };

        var render = _.template($("#repaying-project-fragment").html());
        function loadData(pageIndex, callback) {
            var pageSize = 15;
            var status = Number($("a.nav-active").attr("data-status"));
            var loadingHint = $(".loading-hint");
            var emptyBox = $("div.empty-box");
            loadingHint.text("加载中...");
            loadingHint.show();
            emptyBox.hide();
            $.ajax({
                type: "POST",
                url: "{Request.FilePath}" + "/AjaxQueryInvestedProject",
                data: JSON.stringify({ projectStatus: status, pageIndex: pageIndex, pageSize: pageSize }),
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    var ls = JSON.parse(msg.d);
                    $("#pending").append(render({ items: ls }));
                    if (ls.length < pageSize) {
                        $(".nav-active").attr("data-loadCompleted", "true"); // disable auto load for this page
                    }
                    loadingHint.hide();
                    if (pageIndex === 0 && ls.length === 0) {
                        emptyBox.show();
                    } else {
                        emptyBox.hide();
                    }
                    callback(true);
                }
            }).fail(function () {
                loadingHint.text("加载失败");
                callback(false);
            });
        }
        var renderDetail = _.template($("#detail-page").html());
        function loadDetailData(projectId, ticketId) {
            var pageWrapper = $(".receive-plan-detail-page");
            pageWrapper.html("<div class='loading-hint'>加载中...</div>");
            $.ajax({
                type: "POST",
                url: "{Request.FilePath}" + "/AjaxQueryProjectRepaymentDetail",
                data: JSON.stringify({ projectId: projectId, ticketId: ticketId }),
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    var pro = JSON.parse(msg.d);
                    pageWrapper.html(renderDetail({ project: pro }));
                }
            }).fail(function () {
                pageWrapper.html("<div class='loading-hint'>加载失败</div>");
            });
        }
        function initFullpage() {
            $('#fullpage').fullpage({
                paddingBottom: '50px',
                anchors: ['projects'],
                controlArrows: false,
                verticalCentered: false,
                loopHorizontal: false,
                onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex) { // 修复 android 对 position: fixed 兼容性不好的问题
                    if (direction === 'right') {
                        $('div.nav-bar').hide('slow');
                    } else {
                        $('div.nav-bar').show();
                    }
                }
            });
            $.fn.fullpage.setAllowScrolling(false);
            if (history.pushState) {
                history.pushState(null, null, '#projects');
            } else {
                location.href = '#projects';
            }
        }
        function fixAndroid2xOverflowCannotScroll($affectedElem) {
            var ua = navigator.userAgent;
            if (ua.indexOf("Android") >= 0) {
                var androidversion = parseFloat(ua.slice(ua.indexOf("Android") + 8));
                if (androidversion < 3) {
                    var script = document.createElement('script');
                    script.src = "<%templateskin%>/js/touchscroll.js";
                    script.onload = function () {
                        $affectedElem.each(function (index, elem) {
                            touchScroll(elem);
                        });
                    };
                    document.head.appendChild(script);
                }
            }
        }
        $(function(){
            initFullpage();

            // init
            var processing = false;
            var loadedPage = 0;
            loadData(loadedPage, function (succ) {
                if (succ) loadedPage += 1;
            });

            // auto load
            $(".inner-scrollable").scroll(function () {
                if (processing) return;
                if ($(".nav-active").attr("data-loadCompleted") === "true") return; // load complete

                if (($(document).height() - $(this).height()) * 0.7 <= $(this).scrollTop()) {
                    processing = true; //sets a processing AJAX request flag

                    loadData(loadedPage, function (succ) {
                        if (succ) loadedPage += 1;
                        processing = false;
                    });
                }
            });

            // changing tab
            $("div.nav-bar a").click(function(){
                var clicked = $(this);
                if (clicked.hasClass("nav-active")) return;
                clicked.siblings().removeClass("nav-active nav-border-active");
                clicked.addClass("nav-active nav-border-active");
                $("a[data-loadCompleted]").removeAttr("data-loadCompleted");

                $("#pending").html("");
                loadedPage = 0;
                loadData(loadedPage, function (succ) {
                    if (succ) loadedPage += 1;
                });
            });

            $("#pending").on("click", ".project-cell", function () {
                var clicked = $(this);
                loadDetailData(clicked.attr("data-projectId"), clicked.attr("data-ticketId"));
                location.href = "#projects/1";
            });

            fixAndroid2xOverflowCannotScroll($(".inner-scrollable"));
        });
    </script>
</head>
<body>
<div id="fullpage">
    <div class="section">
        <div class="slide">
            <div class="nav-bar">
                <a id="recieving" href="javascript:;" data-status="80" class="nav-active nav-border-active">回款中<span class="float-right hr-style">|</span></a>
                <a id="received" href="javascript:;" data-status="90">已回款</a>
            </div>
            <div class="myinvest-page inner-scrollable">
                <div class="project-list">
                    <div id="pending"></div>
                    <div class="loading-hint"></div>
                    <div class="empty-box" style="display: none">
                        <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
                        <p style="color:#ccc">您目前没有回款记录</p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="receive-plan-detail-page inner-scrollable"></div>
        </div>
    </div>
</div>
<%template src="_footer.html"%>
</body>
</html>