<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>回款计划</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/fullpage.bundle.js"></script>

    <style>
        .loading-hint, .empty-box {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
        .inner-scrollable { /*fullPage 可滚动*/
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            height: 100%;
        }
        .myinvest-page { padding-top: 50px; }
        span.glyphicon { color: #ccc;}
    </style>
    <script>
        
    </script>

    <script type="text/html" id="repaying-project-fragment">
        @{ items.forEach(function(item, index, list){ }@
        <div class="project-cell flex flex--align-items--center flex--flex-grow-first" data-projectId="@{=item.ProjectId}@" data-ticketId="@{=item.TicketId}@">
            <div class="title-box">
                <div class="receiveplan-title">@{=item.ProjectTitle}@</div>
                <span style="color:#d9d9d9">@{=item.InvestTime}@</span>
            </div>
            <div class="amount-box">
                <p style="margin:0 0 6px">投资金额</p>
                <span>@{=item.InvestValue}@</span>
            </div>
            <span class="glyphicon glyphicon-menu-right"></span>
        </div>
        @{ }); }@
    </script>

    <script type="text/html" id="detail-page">
            <div class="top-screen flex flex--column flex--justify-content--space-between">
                <div class="title-style">
                    @{ if (project.Title.indexOf('丰车赚') == -1) { }@
                    <i class="title-icon receiveplan-house"></i>
                    @{ } else { }@
                    <i class="title-icon receiveplan-car"></i>
                    @{ } }@
                    <span id="receiveplan-title">@{=project.Title}@</span>
                </div>
                <div class="flex-center-wrapper flex--column">
                    <span class="title-style">应收总额</span>
                    <p>@{=project.ProfitingAmount}@</p>
                </div>
            </div>
            <div class="invest-standard flex flex--align-items--center">
                <div class="return-rate">
                    <span>年化收益</span>
                    <p>@{=project.ProfitRateYear}@</p>
                </div>
                <div class="invest-amount">
                    <span>投资金额</span>
                    <p>@{=project.InvestedValue}@</p>
                </div>
                <div class="periods">
                    <span>还款期数</span>
                    <p>@{=project.TermsData.length}@</p>
                </div>
            </div>
            @{ project.TermsData.forEach(function(item, index, list){ }@
            <div class="plan-list flex flex--align-items--center">
                <div class="">
                    <p>第 @{=index+1}@ 期回款计划</p>
                    <ul>
                        <li>回款利息 <span>@{=item.RepayInterest}@</span></li>
                        <li>回款本金 <span>@{=item.RepayPrincipal}@</span></li>
                        <li>回款日期 <span>@{=item.ShouldRepayTime}@</span></li>
                        <li>回款总额 <span>@{=item.RepayTotal}@</span></li>
                    </ul>
                </div>
            </div>
            @{ }); }@
    </script>
    <script>
        var reqFilePath = "{Request.FilePath}", templateSkin = "<%templateskin%>";
    </script>
    <script src="<%templateskin%>/build/myreceiveplan.bundle.js"></script>

</head>
<body>
<div id="fullpage">
    <div class="section">
        <div class="slide">
            <div class="nav-bar">
                <a id="investing" href="javascript:;" data-project-status="1" class="nav-active nav-border-active">投资中<span class="float-right hr-style">|</span></a>
                <a id="recieving" href="javascript:;" data-project-status="2">回款中<span class="float-right hr-style">|</span></a>
                <a id="received" href="javascript:;" data-project-status="3">已回款</a>
            </div>
            <div class="myinvest-page inner-scrollable">
                <div class="project-list">
                    <div id="pending"></div>
                    <div class="loading-hint"></div>
                    <div class="empty-box" style="display: none">
                        <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
                        <p style="color:#ccc">您目前没有回款记录</p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="receive-plan-detail-page inner-scrollable"></div>
        </div>
    </div>
</div>
<%template src="_footer.html"%>
</body>
</html>