<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>交易记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/trade-record.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/underscore-min.js"></script>

    <style>
        #loading-hint, .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
        .remark { display: none;}
    </style>
    <script>
        /*rem的相对单位定义*/
        var viewportWidth = $(window).width();
        var fontSizeUnit = viewportWidth / 20;
        $("html").css("font-size", fontSizeUnit);
    </script>

    <script type="text/html" id="record-item">
        @{ _.each(items, function(item, key, list){ }@
        <div class="record-cell flex flex--align-items--center flex--flex-grow-first" data-id="@{=item.id}@">
            <div class="trade-way">
                <p> @{=item.type}@ </p>
                <span>余额：<span> @{=item.idleMoney}@ </span></span>
            </div>
            <div class="amount">
                <p> @{=item.createTime}@ </p>
                @{ if (item.income) { }@
                <span class="txt-increase">+@{=item.income}@ </span>
                @{} else {}@
                <span class="txt-reduce">-@{=item.outcome}@ </span>
                @{ } }@
            </div>
        </div>
        <div class="remark" data-id="@{=item.id}@">
            <div>
                <span style="color: red">*</span> @{=item.remark}@
            </div>
        </div>
        @{ }); }@
    </script>

    <script>
        _.templateSettings = {
            evaluate: /@\{([\s\S]+?)\}@/g, // 求值 @{ ... }@
            interpolate: /@\{=([\s\S]+?)\}@/g // 直接输出 @{= ...}@
        };

        var render = _.template($("#record-item").html());
        function loadData(pageIndex, callback) {
            var pageSize = 15;
            var loadingHint = $("#loading-hint");
            var emptyBox = $("div.loading-hint");
            loadingHint.text("加载中...");
            loadingHint.show();
            emptyBox.hide();
            $.ajax({
                type: "POST",
                url: "{Request.FilePath}" + "/AjaxQueryTransactionHistory",
                data: JSON.stringify({ pageIndex, pageSize, type: 0, startTime: "", endTime: "" }),
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    var ls = JSON.parse(msg.d).data;
                    $("#pending").append(render({ items: ls }));
                    if (ls.length < pageSize) {
                        $(window).unbind('scroll');
                    }
                    loadingHint.hide();
                    if (pageIndex === 0 && ls.length === 0) {
                        emptyBox.show();
                    } else {
                        emptyBox.hide();
                    }
                    callback(true);
                }
            }).fail(function () {
                loadingHint.text("加载失败");
                callback(false);
            });
        }
        $(function() {
            $("#pending").on("click", ".record-cell", function() {
                $(".remark[data-id=" + $(this).attr("data-id") + "]").toggle();
            });
            var processing = false;
            var loadedPage = 0;
            loadData(loadedPage, function(succ) {
                if (succ) loadedPage += 1;
            });

            $(window).scroll(function() {
                if (processing) return;

                if (($(document).height() - $(window).height())*0.7 <= $(window).scrollTop()) {
                    processing = true; //sets a processing AJAX request flag

                    loadData(loadedPage, function(succ) {
                        if (succ) loadedPage += 1;
                        processing = false;
                    });
                }
            });
        });
    </script>
</head>
<body>
<div class="trade-record-page">
    <div id="pending"></div>
    <div id="loading-hint"></div>
    <div class="loading-hint" style="display: none">
        <img src="<%templateskin%>/imgs/empty-box.png" style="width: 30%; margin: 70px auto 10px auto;"/>
        <p style="color:#ccc">您目前没有交易记录</p>
   </div> 
</div>
    <%template src="_footer.html"%>
</body>
</html>