<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="{projectModel.seo_keywords}" name="keywords" />
    <meta content="{projectModel.seo_description}" name="description" />
    <title><%=string.IsNullOrEmpty(projectModel.seo_title) ? Investable.Title : projectModel.seo_title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        var financingAmount = {Investable.FinancingAmount};
        var totalInterest = {Investable.TotalInterest};
        var idleMoney = {idle_money};
        var investProgress = <%=(Investable.InvestmentProgress*100)%>;
        var projectId = {projectModel.id};
        var projectSum = {projectModel.financing_amount};
        var huoqi = '{projectModel.IsHuoqiProject()}';
        var projectName = '{Investable.Title}';
        var buyClaimId = '{buyClaimId}';
        var isUserLogin = "<%=IsUserLogin()%>" === "True";
    </script>
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/fullpage.bundle.js"></script>
    <script src="<%templateskin%>/build/project.bundle.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>

    <style>
        /*隐藏滚动条*/
        .inner-scrollable::-webkit-scrollbar {width: 0 !important;}

        /*加载提示*/
        .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
    </style>
</head>
<body>
<div id="fullpage">
    <div class="height-100 flex flex--column flex--flex-grow-first">
        <div class="scroll" style="height: 0"> <!--/ ios flex box bug hack /-->
    <div class="section fp-auto-height">
    <div class="slide">
        <div class="invest-detail-page inner-scrollable">
            <div class="top-screen">
                <div class="project-title"><span class="project-type">{Investable.CategoryName}</span><span>{Investable.Title}</span></div>
                <div class="flex flex--align-items--center flex--column flex--justify-content--space-between">
                    <div class="indicatorContainer flex flex-center-wrapper"></div>
                    <p class="amount-left">剩余金额 {Investable.InvestmentBalance}</p>
                </div>
            </div>
            <div class="invest-data flex">
                <span class="border-right flex flex--column flex-center-wrapper">
                    <span class="title-style">项目金额</span>
                    <p><span class="data-style"><%=Investable.FinancingAmountStr%></span> 元</p>
                </span>
                <span class="flex flex--column flex-center-wrapper">
                    <%if(projectModel.IsNewbieProject())%>
                    <span class="title-style">项目收益</span>
                    <p><span class="data-style">10</span>元</p>
                    <%else%>
                    <span class="title-style">年化收益</span>
                    <p><span class="data-style"><%=string.Format("{0:0.0}", Investable.ProfitRateYearly*100)%></span> %</p>
                    <%/if%>
                </span>
            </div>
            <div class="invest-data flex">
                <span class="border-right flex flex--column flex-center-wrapper">
                    <span class="title-style">借款期限</span>
                    <p><span class="data-style">{Investable.RepaymentTermSpanCount}</span> {Investable.ProjectTermSpanName}</p>
                </span>
                <span class="flex flex--column flex-center-wrapper">
                    <span class="title-style">还款方式</span>
                    <p><span><%=projectModel.GetProjectRepaymentTypeDesc()%></span></p>
                </span>
            </div>
            
            <div style="clear:both"></div>
            <div class="account-balance">
                <div class="account-detail">
                    账户余额：<span>{idle_money} 元</span>
                    <a href="<%linkurl("recharge")%>" class="charge-link">[充值]</a>
                </div>
                <div class="invest-action">
                    <%if(Investable.Status<=Agp2pEnums.ProjectStatusEnum.Financing)%>
                    <div class="investing">
                        <input type="text" placeholder="请输入投资金额（不小于 100）" <%=Investable.FixInvestAmountString%> >
                        <button type="button" id="btnInvest">投 资</button>
                    </div>
                    <%else%>
                    <div class="invest-over">
                        <button type="button" class="button-l">已结束</button>
                    </div>
                    <%/if%>
                </div>
            </div>
            <div class="project-content">
                <div class="proj-details" onclick="location.href='#project/details'">项目详情 <span class="glyphicon glyphicon-menu-right"></span></div>
                <div class="invest-record" onclick="location.href='#project/investments'">投资记录 <span class="glyphicon glyphicon-menu-right"></span></div>
                <%if(!projectModel.IsNewbieProject()&&!projectModel.IsHuoqiProject()&&!Investable.IsClaimTransferProject)%>
                <div class="debt-photos" onclick="location.href='#project/pics'">照片资料 <span class="glyphicon glyphicon-menu-right"></span></div>
                <div class="receive-plan" onclick="location.href='#project/repayTasks'">回款计划 <span class="glyphicon glyphicon-menu-right"></span></div>
                <%/if%>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="details">
        <div class="project-detail-page inner-scrollable">
            <%if(projectModel.IsNewbieProject())%>
            <%template src="_project_intro.html"%>
            <%else if(projectModel.IsHuoqiProject())%>
            <%template src="_project_intro.html"%>
            <%else if(Investable.IsClaimTransferProject)%>
            <%template src="_project_intro.html"%>
            <%else%>
            <%template src="_project_intro.html"%>
            <%template src="_loaner_info.html"%>
            <%template src="_ticket_info.html"%>
            <%template src="_ticket_intro.html"%>
            <%template src="_company_info.html"%>
            <%template src="_risk_control.html"%>
            <%/if%>
            <!--
            <div class="pawn">
                <div class="project-detail-title"><span class="title-icon"><span class="blue-mark"></span><span class="orange-mark"></span></span><span class="title-orange">抵押物信息</span></div>
                <%foreach(var mortgage in mortgages)%>
                <div class="pawn-info">
                    <ul>
                        <%foreach(var p in GetMortgageProperties(mortgage))%>
                        <li><span><%=p.Item1%>： </span><span><%=p.Item2%></span></li>
                        <%/foreach%>
                    </ul>
                </div>
                <div class="pawn-remark">
                    <p class="remark-style">备注：</p>
                    <span style="display:block;margin-top:0.5rem">{mortgage.remark}</span>
                </div>
                <%/foreach%>
            </div>-->
        </div>
    </div>
    <div class="slide" data-anchor="investments">
        <div class="invest-record-page inner-scrollable">
            <%set var investments=QueryProjectTransactions()%>
            <%for(int i=0;i<investments.Count;i++)%>
            <div class="record-cell flex flex--align-items--center flex--flex-grow-first">
                <div class="user">
                    <p><%=investments[i].user_name%></p>
                    <span><%=investments[i].create_time%></span>
                </div>
                <div class="amount">
                    <p>投资金额</p>
                    <span><%=investments[i].value%></span>
                </div>
            </div>
            <%/for%>
            <%if(!investments.Any())%>
            <div class="loading-hint">
                <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
                <p style="color:#ccc">目前没有投资记录</p>
            </div>
            <%/if%>
        </div>
    </div>
    <div class="slide" data-anchor="pics">
        <div class="claims-photos inner-scrollable">
            <div class="photos-box">
                <%set var pics=QueryAlbums()%>
                <%foreach(var picture in pics)%>
                <div class="photo-cell" >
                    <img src="{picture.thumb_path}" data-origin-src="{picture.original_path}" data-toggle="modal" data-target="#photo-enlarge-dialog"> 
                </div>
                <%/foreach%>
                <%if(!pics.Any())%>
                <div class="loading-hint" >
                    <img src="<%templateskin%>/imgs/empty-box.png" style="width: 30%; margin: 70px auto 10px auto;"/>
                    <p style="color: #ccc">目前没有照片记录</p>              
                </div>
                <%/if%>
            </div>
        </div>
    </div>
    <div class="slide receive-plan-detail-page" data-anchor="repayTasks">
        <%if(!repayment_tasks.Any())%>
        <div class="loading-hint">
            <img src="<%templateskin%>/imgs/empty-box.png" style="width:30%;margin:70px auto 10px auto;"/>
            <p style="color:#ccc">此项目目前没有回款计划</p>
        </div>
        <%/if%>
        <div class="receive-plan-detail-page inner-scrollable">
            <%for(int i=0;i<repayment_tasks.Count;i++)%>
            <%set var task=repayment_tasks[i]%>
            <div class="plan-list flex flex--column flex--justify-content--center">
                <p>第 {task.term} 期回款计划</p>
                <ul>
                    <li>回款利息 <span><%=string.Format("{0:c}", task.repay_interest)%></span></li>
                    <li>回款本金 <span><%=string.Format("{0:c}", task.repay_principal)%></span></li>
                    <li>回款日期 <span><%=task.should_repay_time.ToString("yyyy-MM-dd")%></span></li>
                    <li>回款总额 <span><%=string.Format("{0:c}", task.repay_interest+task.repay_principal)%></span></li>
                </ul>
            </div>
            <%/for%>
        </div>
    </div>
    </div>
        </div>
    <%template src="_footer.html"%>
    </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="dlgInvestConfirm" tabindex="-1" role="dialog" aria-labelledby="dlgInvestConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgInvestConfirmLabel">投资确认</h4>
                </div>
                <div class="modal-body">         
                    <div class="invest-success-page">
                        <div class="congratulation-wrap">
                            <div class="div-center">
                                <p><span id="dlgField_ProjectName"></span></p>
                            </div>
                        </div>
                        <div class="invest-detail-wrap">
                            <ul>
                                <li>
                                    <span>投资金额</span>
                                    <span id="dlgField_InvestAmount"></span>
                                </li>
                                <li>
                                    <%if(!projectModel.IsHuoqiProject())%>
                                    <span>预计收益</span>
                                    <%else%>
                                    <span>预计每日收益</span>
                                    <%/if%>
                                    <span id="dlgField_ProfitPredict"></span>
                                </li>
                                <li>
                                    <span>账户余额</span>
                                    <span id="dlgField_IdleMoney"></span>
                                </li>                                
                            </ul>
                            <!--<input type="password" id="transactPwd" class="form-control" placeholder="请输入交易密码">-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认投资</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photo-enlarge-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="photo-enlarge-body">
                        <img src=""  data-dismiss="modal">
                        <span class="leftBtn"></span>
                        <span class="rightBtn"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end-->
</body>
</html>