<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>理财</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
        #loading-hint, .loading-hint {
            padding-top: 25px;
            line-height: 1.2em;
            font-size: 1.2em;
            text-align: center;
            color: grey;
        }
    </style>

    <script type="text/html" id="invest-item">
        @{ items.forEach(function(item, key, list){ }@
        <div class="invest-list" data-id="@{=item.id}@" onclick="location.href='project/@{=item.id}@.html#project'">
            <div class="invest-project">
                <p class="invest-title">
                    <span class="project-type">@{=item.categoryTitle}@</span>
                    @{=item.title}@
                    @{ if (item.tag=="1") { }@
                    <span class="book-icon">约标</span>
                    @{ } }@
                </p>
                <div class="invest-content flex flex-vertical-align flex--flex-grow-all">
                    <div class="rate-wrap">
                        <div class="title-style">年化利率</div>
                        <div class="txt-red-s"><span class="txt-red-l">@{=item.profit_rate_year}@</span> %</div>
                    </div>
                    <div class="time-wrap">
                        <div class="title-style">期限</div>
                        <div><span class="txt-darkgrey-l">@{=item.repayment_number}@</span> @{=item.repayment_term}@</div>
                    </div>
                    <div class="amount-wrap">
                        <div class="title-style">借款金额</div>
                        <div><span class="txt-darkgrey-l">@{=item.project_amount_str}@</span> 元</div>
                    </div>
                    <div class="invest-status flex flex-center-wrapper">
                        @{ if (item.status==11) { }@
                        <div class="indicatorContainer" data-progress="@{=item.project_investment_progress}@"></div>
                        @{ }else if (item.status==10) { }@
                        <div class="status-wrap"><div class="over-icon">待发标</div></div>
                        @{ }else if (item.status==20||item.status==21) { }@
                        <div class="status-wrap"><div class="over-icon">审核中</div></div>
                        @{ }else if (item.status==30) { }@
                        <div class="status-wrap"><div class="over-icon">还款中</div></div>
                        @{ }else if (item.status==40) { }@
                        <div class="status-wrap"><div class="over-icon">已完成</div></div>
                        @{ } }@
                    </div>
                </div>
            </div>
        </div>
        @{ }); }@
    </script>
    <script>
        var categoryId = {category_id}, aspxPath = '{Request.FilePath}';
    </script>
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/projects.bundle.js"></script>
</head>
<body>
    <div class="invest-page">
        <div class="invest-nav hidden">
            <a id="projects" href="<%linkurl("invest_list",0)%>">全部项目<span class="divider">|</span></a>
            <a id="golden-house" href="<%linkurl("invest_list",33)%>">金屋子<span class="divider">|</span></a>
            <a id="cars-invest" href="<%linkurl("invest_list",34)%>">丰车赚</a>
        </div>
        <div id="pending"></div>
        <div id="loading-hint"></div>
        <div class="loading-hint" style="display: none">
            <img src="<%templateskin%>/imgs/empty-box.png" style="width: 30%; margin: 70px auto 10px auto;"/>
            <p style="color:#ccc">您目前没有投资记录</p>
        </div>       
        <%template src="_footer.html"%>
    </div>
</body>
</html>