<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>充值</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/recharge.bundle.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
</head>
<body>
    <div class="charge-page">
        <form class="form-horizontal" id="formRecharge" method="post" action="{config.webpath}api/payment/lianlianpay/index.aspx">
            <div class="charge-amount-wrap">
                <input type="text" id="amount" name="amount" placeholder="请输入充值金额（元）">
            </div>
            <div class="submit-btn-wrap">
                <a class="btn btn-lg btn-block" id="charge-link" href="">提 交</a>
            </div>
        </form>
        
        <span class="glyphicon glyphicon-triangle-bottom" id="for-bank"></span>
    </div>
    <%template src="_footer.html"%>
</body>
</html>