<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>注册领流量</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/register_tdlte.bundle.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
</head>
<body>
    <div class="height-100 flex flex--column flex--flex-grow-first">
        <div class="register-page scroll" style="height: 0">
            <!--/  ios flex box bug hack /-->
            <div class="register-step">
                <form id="regform" autocomplete="off">
                    <div class="account-wrap">
                        <input type="text" id="account" class="input-l" name="txtMobile" placeholder="请输入手机号码" datatype="m" errormsg="手机号码格式不正确">
                    </div>
                    <div class="psw-wrap">
                        <input type="password" id="psw" class="input-l" name="txtPassword" placeholder="请输入密码" datatype="*" errormsg="请输入6-16位的密码，不能有空格">
                    </div>
                    <div class="pic-code-wrap">
                        <input type="text" id="pic-code" class="input-s" name='<%=uconfig.regstatus==2?"txtPicCode":"txtVerifyCode"%>' placeholder="请输入图形验证码" datatype="*" errormsg="请输入图形验证码">
                        <span class="pic-code-span pull-right flex flex-center-wrapper">
                            <img style="cursor: pointer" src="{config.webpath}tools/verify_code.ashx" onclick="return ToggleCode(this, '{config.webpath}tools/verify_code.ashx');" />
                        </span><br />
                    </div>
                    <%if(uconfig.regstatus==2)%>
                    <div class="auth-code-wrap">
                        <input type="text" id="auth-code" class="input-s" name="txtVerifyCode" placeholder="请输入短信验证码" datatype="*" errormsg="请输入短信验证码">
                        <button type="button" id="get-auth-code-btn" class="button-s pull-right">获 取</button><br />
                    </div>
                    <%/if%>
                    <div class="liuliang">
                         <div class="liuliang-rules">领取流量规则：</div>
                         <div class="liuliang-content">
                              <p>1.仅支持广东省中国移动用户。</p>
                              <p>2.每个手机号码只可领取一次流量。</p>
                              <p>3.流量将在参与活动起的1-2个工作日内到帐。月末三天参加活动的用户，流量将在次月2号统一充值，具体流量生效以中国移动下发的生效短信内容为准。</p>
                              <p>4.所获流量当月有效，仅限国内使用。</p>
                              <p>5.本次活动最终解释权归安广融合所有。</p>
                         </div>                           
                    </div>
                    <div class="register-btn-wrap">
                        <button type="button" id="register-btn" class="button-l">领取流量</button>
                    </div>
                </form>
                <div class="login-now-wrap">
                    已有账号？ <a href="<%linkurl("login")%>">马上登录</a>
                </div>
            </div>
            <div class="register-step">
                <form id="realNameForm" autocomplete="off">
                    <div class="realName-wrap">
                        <input type="text" id="realName" class="input-l" name="trueName" placeholder="请输入您的真实姓名" datatype="*" errormsg="请输入正确的中文姓名">
                    </div>
                    <div class="identityId-wrap">
                        <input type="text" id="identityId" class="input-l" name="idCardNumber" placeholder="请输入您的身份证号码" datatype="*" errormsg="请输入正确的18位身份证号码">
                    </div>
                    <div class="register-btn-wrap">
                        <button type="button" id="register-identity-btn" class="button-l">实名认证</button>
                    </div>
                </form>
                <div class="skip-now-wrap">
                    暂不实名认证 <a href="<%linkurl("index")%>">跳过</a>
                </div>
                <div class="warm-tips">
                    <div class="tiphead"><span>温馨提示</span></div>
                    <p>1.安广融合不会在任何地方泄漏您的信息。</p>
                    <p>2.每天实名认证不能超过3次，一年不能超过6次，请认真核对信息。</p>
                </div>
                <div  id="liuliangConfirm">
                    <div class="liuliangConfirm-dialog" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="<%templateskin%>/imgs/right.png"/>
                                <p class="modal-title" id="myModalLabel">恭喜您，流量领取成功</p>
                            </div>
                            <div class="modal-body">
                                <p>流量将在1-2个工作日内送到您的手机号上，届时会由中国移动为您发送短信通知，请注意查收。</p>
                                <a class="cancel-btn">知道了</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step"
             data-step="<%=action%>"
             data-result="<%=result%>">
        </div>
        <%template src="_footer.html"%>
    </div>
</body>
</html>