<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>安全措施</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/safe_defence.bundle.js"></script>
</head>
<body>
    <div class="height-100 flex flex--column flex--flex-grow-second">
      
        <div class="defence-nav">
            <a href='javascript:' class="nav-active nav-border-active">合规性原则<span class="divider">|</span></a>
            <a href='javascript:' class="">专业性原则<span class="divider">|</span></a>
            <a href='javascript:' class="">稳健性原则<span class="divider">|</span></a>
        </div>
    <div class="safe-defence-page scroll" style="height:0;">   <!--/ ios flex box bug hack /-->
        <div class="defence-link">
        <div class="defence-content">
           <div class="defence-title"> 
                <div class="defence-img hegui1"></div>
                <div class="defence-font1">经营的过程符合国家监管要求</div>
           </div>
           <p>经营过程符合《合同法》、《中华人民共和国民法通则》、《最高人民法院关于人民法院审理借贷案件的若干意见》等法律法规、指导意见的规定。并先行一步，按《网络借贷信息中介机构业务活动管理暂行办法》进行规范。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img hegui2"></div>
                <div>资金第三方存管体系</div>
            </div>
            <p>由北京数码视讯支付技术有限公司提供第三方资金存管服务，投资人资金不经过平台账户，不形成资金池，从根本上消除资金被挪用的风险。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img hegui3"></div>
                <div>法律顾问团</div>
            </div>
            <p>盈科(佛山)律师事务所提供全程法律顾问服务。</p>
        </div>
        </div>
        <div class="defence-link">
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye1"></div>
                <div>严格的贷前审核</div>
            </div>
            <p>我们建立了专业的调查团队和严格的信贷政策，对融资项目进行全方位实地尽职调查。过滤高风险行业，贷款资料的严格审核，借款人背景调查、实地考察，重点核实借款主体 财务情况、信用状况，还款能力的评估，对项目提出风控意见，确保项目及融资需求真实、合法，并将项目信息、借款主体情况公示于网站平台。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye2"></div>
                <div>风险评审委员会终审</div>
            </div>
            <p>风险评审委员会对初审项目进行终审，出具终审结果；对终审通过项目上线至安广融合平台。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye3"></div>
                <div>完善的贷后管理</div>
            </div>
            <p>平台对借款主体及抵（质）押物情况进行定期追踪检查，确保借款人贷款资金使用的合理、按时还款。建立风险预警机制，控制逾期风险，建立多种手段针对各种逾期情况的催收 体系、专业法律团队多渠道对抵（质）押物快速处置。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye4"></div>
                <div>选择可靠的合作机构</div>
            </div>
            <p>平台有完善的合作机构筛选体系，用于合作前的机构审核，严格合作总额的控制，建立了以优质小额贷款公司提供全额本息保障为核心，小额贷款公司主发起人连带担保、健全的风险准备金制度与风险资金池的风险防控体系。由小额贷款公司提供贷前审查、贷款担保以及贷后管理。我平台风控团队对合作机构及相关业务实行贷后跟踪管理。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye5"></div>
                <div >技术保障：<br/>卓越IT技术，保障资金安全</div>
            </div>
            <p>
                <ul>
                    <li><span>网络安全：采用阿里云ECS服务器DDoS防护、木马查杀、防暴力破解等服务可轻松实现多用户对多服务器的访问控制。实时监控、过滤和记录数据，并生成直观的报告。</span></li>
                    <li><span>数据安全：采用阿里云RDS数据库，实时同步系统在云端的容灾备份点，每份数据具有多个副本，保证数据安全。</span></li>
                </ul>
            </p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye6"></div>
                <div class="defence-font2">隐私保障：完善的管理体系</div>
            </div>
            <p>
                <ul>
            <li><span>信息加密：采用国际标准的SSL安全加密技术对用户信息进行高强度加密处理，杜绝不法分子窃取和截获。</span></li>
            <li><span>完善内控管理：已有完善的内部管理机制和加密系统，从而确保工作人员不能在任何场合和任何时间下擅自批露、修改、删除系统的相关数据。</span></li>
            <li><span>权限管理保障：严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经用户的同意，我们不会向任何第三方公司、组织和个人披露用户的个人信息、账户信息以及交易信息（法律法规另有规定除外）。</span></li>
                </ul>
            </p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye7"></div>
                <div>资金只能转出到投资人实名认证银行卡</div>
            </div>
            <p>平台建立手机认证、实名认证、银行卡认证等全方位认证体系，资金只能转出到投资人实名认证及绑定的银行账户。</p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img zhuanye8"></div>
                <div>资金帐户查询</div>
            </div>
            <p>投资人可实时查询资金账户的详情。</p>
        </div>
    </div>
    <div class="defence-link">
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img wenjian1"></div>
                <div>银票融资</div>
            </div>
            <p style="margin:0;">
                <ul>
                    <li><span>兑付安全：在票据理财模式中，所有的票据资产都是银行承兑汇票，法律规定，票据到期后，银行无条件承兑票据金额（见票即付）；</span></li>
                    <li><span>托管安全：平台上所涉及的票据都保管在银行；</span></li>
                    <li><span>票据安全：投资的票据真伪经过多重审核，通过平台专业运营成员以及合作银行两道关口把守，并经过专业设备、人工、合作银行复检等多层工序，层层把关，全面保障票据资产的真伪，灭失风险。</span></li>
                </ul>
            </p>
        </div>
        <div class="defence-content">
            <div class="defence-title">
                <div class="defence-img wenjian3"></div>
                <div>企业供应链融资</div>
            </div>
            <p style="margin:0;">
                <ul>
                    <li><span>寻找AAA项目来源：选择行业知名企业/上市公司/大型核心企业上下游融资；</span></li>
                    <li><span>确保第一还款来源：线下风控团队严格把关贷前调查，贷后管理；</span></li>
                    <li><span>确保第二还款来源：公司直属控制货权、确保存货足值、回购商可靠。</span></li>
                </ul>
            </p>
        </div>
      </div>
        </div>
        <%template src="_footer.html"%>
    </div>

        

</body>
</html>