<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的账户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/usercenter.bundle.js"></script>
</head>
<body>
<div class="height-100 flex flex--column flex--flex-grow-first">
    <div class="usercenter-page scroll" style="height:0"> <!--/ ios flex box bug hack /-->
        <div class="account-amount flex-center-wrapper">
            <div class="vertical-align">
                <span style="font-size: 1.2em">账户总额（元）</span>
                <p style="font-size: 2.5em;margin-top: 1vw;"><%=(userModel.li_wallets.idle_money+userModel.li_wallets.locked_money+userModel.li_wallets.investing_money+userModel.li_wallets.profiting_money+GetLotteriesValue()).ToString("n2")%></p>
            </div>
        </div>
        <div class="amount-detail">
            <div class="flex-center-wrapper">
                <div class="vertical-align">
                    <span>账户余额（元）</span>
                    <div><%=string.Format("{0:N}",userModel.li_wallets.idle_money)%></div>
                </div>
            </div>
            <div class="flex-center-wrapper">
                <div class="vertical-align">
                    <span>冻结金额（元）</span>
                    <div><%=string.Format("{0:N}",userModel.li_wallets.locked_money)%></div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="operate-btns">
            <div><a href="<%linkurl("recharge")%>">充值</a></div>
            <div><a href="<%linkurl("withdraw")%>">提现</a></div>
        </div>
        <div style="clear: both"></div>
        <div class="invest-amount-detail">
            <div class="first-row">
                <div class="flex-center-wrapper">
                    <div class="vertical-align">
                        <span class="txt-grey">待收收益（元）</span>
                        <div class="txt-red"><%=string.Format("{0:N}",userModel.li_wallets.profiting_money)%></div>
                    </div>
                </div>
                <div class="flex-center-wrapper">
                    <div class="vertical-align">
                        <span class="txt-grey">已收益（元）</span>
                        <div class="txt-red"><%=string.Format("{0:N}",userModel.li_wallets.total_profit)%></div>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="flex-center-wrapper">
                    <div class="vertical-align">
                        <span class="txt-grey">待收本金（元）</span>
                        <div class="txt-red"><%=string.Format("{0:N}",userModel.li_wallets.investing_money)%></div>
                    </div>
                </div>
                <div class="flex-center-wrapper">
                    <div class="vertical-align">
                        <span class="txt-grey">累计投资（元）</span>
                        <div class="txt-red"><%=string.Format("{0:N}",userModel.li_wallets.total_investment)%></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="invest-record">
            <div class="trade-record flex flex--align-items--center flex--flex-grow-second" onclick="location.href='<%linkurl("mytrade","mytrade")%>'">
                <i class="trade-record-icon"></i>
                <span class="span-style">交易记录</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </div>
            <div class="my-invest flex flex--align-items--center flex--flex-grow-second" onclick="location.href='<%linkurl("myreceiveplan","myreceiveplan",1,0,0,0)%>#projects'">
                <i class="my-invest-icon"></i>
                <span class="span-style">我的投资</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </div>
        </div>
    </div>
    <div><%template src="_footer.html"%></div>
</div>
</body>
</html>