<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>提现</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script>
        var idleMoney = {userModel.li_wallets.idle_money};
        var mycardUrl = '<%linkurl("mycard","mycard")%>';
        var userCenterUrl = '<%linkurl("usercenter","index")%>';
    </script>
    <script src="<%templateskin%>/build/withdraw.bundle.js"></script>
    <script>
        
    </script>
</head>
<body>
    <div class="withdrawals-page">
        <form>
            <div class="withdraw-amount-wrap">
                <input type="text" id="withdrawals" placeholder="账户余额 <%=string.Format("{0:N}",userModel.li_wallets.idle_money)%> 元">
            </div>
            <div class="select-card-wrap">
                <input type="text" id="select-card" placeholder="请选择银行卡" readonly="readonly"/>
            </div>
            <div class="trade-psw-wrap">
                <input type="text" id="trade-psw" placeholder="请输入交易密码" autocomplete="off">
            </div>
            <div class="withdrawals-tips-wrap">
                手续费：<span id="handling-fee">?</span>
                <br>
                实际到账：<span id="getting">?</span>
                <br>
                <br>
                预计到账日期：<%=DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")%>（1-2个工作日内到账，双休日和法定节假日除外）
            </div>
            <div class="submit-btn-wrap">
                <button type="button" id="submit-btn">提 交</button>
            </div>
        </form>
        <span class="glyphicon glyphicon-triangle-bottom" id="for-bank"></span>
    </div>
    <!-- 提现银行卡选择弹窗 -->
    <div class="modal fade" id="bank-select-dialog" tabindex="-1" role="dialog" aria-labelledby="bank-select-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgInvestConfirmLabel">选择银行</h4>
                    <p>提现</p>
                </div>
                <div class="bank-select-body">
                    <%set var bank_accounts=get_bank_accounts(userModel.id)%>
                    <%foreach(var bank_account in bank_accounts)%>
                    <div data-dismiss="modal" data-cardId="{bank_account.id}" data-bankName="{bank_account.bank}">
                        <i class="sprite-dlg"></i>
                        <span>{bank_account.bank} （<%=bank_account.account.Substring(bank_account.account.Length - 4)%>）</span>
                    </div>
                    <%/foreach%>
                </div>
            </div>
        </div>
    </div>
    <!-- 提现银行卡选择弹窗 end-->
</body>
</html>