<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>提现</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/withdrawals.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/card-select.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script>
        /*rem的相对单位定义*/
        $("html").css("font-size", $(window).width() / 20);

        var idleMoney = {wallet.idle_money};
        $(function() {
            $("div.select-card-wrap").click(function(){
                $('#bank-select-dialog').modal();
            });

            //提现银行卡信息读取
            var bankSelected = $("#bank-select-dialog .bank-select-body>div");
            if (bankSelected.length === 0) {
                alert("请先到“设置 > 银行卡绑定”添加银行卡");
                location.href = '<%linkurl("mycard","mycard")%>';
            }
            bankSelected.click(function(){
                $("input#select-card").val(this.innerText).attr("data-cardId", $(this).attr("data-cardId"));
            });

            setTimeout(function() {
                $("input#trade-psw").attr("type", "password"); // skip auto complete
            }, 1000);

            //获取提现手续费
            var txtHowmany = $("#withdrawals");
            txtHowmany.blur(function(e) {
                if (txtHowmany.val() === "") return;
                var withdrawVal = Number(txtHowmany.val());
                if (idleMoney < withdrawVal) {
                    alert("您提现的金额超出了您的余额，您的余额为：" + idleMoney);
                    return;
                }
                $.getJSON("{config.webpath}tools/calc_stand_guard_fee.ashx?user_id={userModel.id}&withdraw_value=" + withdrawVal).done(function(data) {
                    $("#getting").text((withdrawVal - data.value) + " 元");
                    $("#handling-fee").text(data.fee);
                }).fail(function(data) {
                    alert(data.responseJSON.fee);
                });
            });
            $("#submit-btn").click(function() {
                var withdrawVal = Number(txtHowmany.val());
                if (idleMoney < withdrawVal) {
                    alert("您提现的金额超出了您的余额，您的余额为：" + idleMoney);
                    return;
                }
                $.post("{config.webpath}tools/submit_ajax.ashx?action=witdh_draw", {
                    card_id: $("input#select-card").attr("data-cardId"),
                    howmany: withdrawVal,
                    txtPassword: $("input#trade-psw").val()
                }, function(data) {
                    alert(data.msg);
                    if (data.status === 1) {
                        location.href = '<%linkurl("usercenter","index")%>';
                    }
                }, "json").fail(function() {
                    alert("提交失败，请重试");
                });
            });
            var bankClassMapping = JSON.parse('{"工商":"gonghang","农业":"nonghang","建设":"jianhang","中国":"zhonghang",' +
                '"招商":"zhaohang","交通":"jiaohang","民生":"minsheng","平安":"pingan","光大":"guangda","广发":"guangfa",' +
                '"邮政":"youzheng","中信":"zhongxin","浦发":"pufa","华夏":"huaxia","兴业":"xingye"}');
            $(".bank-select-body span").each(function(index, item) {
                var span = $(item);
                var keyword = span.parent().attr("data-bankName").replace(/银行|储蓄/g, "");
                span.prev().addClass("sprite-" + bankClassMapping[keyword]);
            });
        });
    </script>
</head>
<body>
    <div class="withdrawals-page">
        <form>
            <div class="withdraw-amount-wrap">
                <input type="text" id="withdrawals" placeholder="账户余额 <%=string.Format("{0:N}",wallet.idle_money)%> 元">
            </div>
            <div class="select-card-wrap">
                <input type="text" id="select-card" placeholder="请选择银行卡" readonly="readonly"/>
            </div>
            <div class="trade-psw-wrap">
                <input type="text" id="trade-psw" placeholder="请输入交易密码" autocomplete="off">
            </div>
            <div class="withdrawals-tips-wrap">
                手续费：<span id="handling-fee">?</span>
                <br>
                实际到账：<span id="getting">?</span>
                <br>
                <br>
                预计到账日期：<%=DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")%>（1-2个工作日内到账，双休日和法定节假日除外）
            </div>
            <div class="submit-btn-wrap">
                <button type="button" id="submit-btn">提 交</button>
            </div>
        </form>
        <span class="glyphicon glyphicon-triangle-bottom" id="for-bank"></span>
    </div>
    <!-- 提现银行卡选择弹窗 -->
    <div class="modal fade" id="bank-select-dialog" tabindex="-1" role="dialog" aria-labelledby="bank-select-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgInvestConfirmLabel">选择银行</h4>
                    <p>提现</p>
                </div>
                <div class="bank-select-body">
                    <%set var bank_accounts=get_bank_accounts(userModel.id)%>
                    <%foreach(var bank_account in bank_accounts)%>
                    <div data-dismiss="modal" data-cardId="{bank_account.id}" data-bankName="{bank_account.bank}">
                        <i class="sprite-dlg"></i>
                        <span>{bank_account.bank} （<%=bank_account.account.Substring(bank_account.account.Length - 4)%>）</span>
                    </div>
                    <%/foreach%>
                </div>
            </div>
        </div>
    </div>
    <!-- 提现银行卡选择弹窗 end-->
</body>
</html>