<%namespace "Newtonsoft.Json.Linq"%>
<%namespace "Newtonsoft.Json"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标书</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/ie8-polyfill.js"></script>
    <script src="<%templateskin%>/js/html5shiv.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/invest_detail.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="#">我要理财</a>
    <span> > </span>
    <span>项目详情</span>
</div>
<!--面包屑导航 end-->

<!--标书样式-->
<div class="tender-content">
    <div class="tender-face">
        <div class="invest-title">
            <span class="invest-style-tab">房贷宝</span>
            <span>{projectModel.title}</span>
            
            <%if(projectModel.tag.ToString()=="1")%>
            <span class="invest-list-icon yue-icon"></span>
            <%else if(projectModel.tag.ToString()=="2")%>
            <span class="invest-list-icon jian-icon"></span>
            <%/if%>
            <span class="invest-list-icon xin-icon"></span>
        </div>
        <div class="invest-rules">
            <div class="sum">
                <div>借款金额</div>
                <div class="rules-style"><%=string.Format("{0:N0}", projectModel.financing_amount)%><span>元</span></div>
            </div>
            <div class="deadline">
                <div>期限</div>
                <div class="rules-style">{projectModel.repayment_term_span_count}<span><%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTermSpanEnum)projectModel.repayment_term_span)%></span></div>
            </div>
            <div class="apr">
                <div>年化利率</div>
                <div class="rules-style"><%=string.Format("{0:0.0}", projectModel.profit_rate_year)%><span>%</span></div>
            </div>
        </div>
        <div class="repayment">
            <div class="repayment-way">
                <table>
                    <tbody>
                        <tr><td>还款方式</td><td colspan="2"><%=Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%></td></tr>
                        <tr><td>投标人数</td><td colspan="2">{invsetorCount}人</td></tr>
                        <tr><td>投标进度</td><td><div class="progress progress-custom">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{investmentProgress}" aria-valuemin="0" aria-valuemax="100" style="width: {investmentProgress}%">
                            </div>
                        </div></td><td>{investmentProgress}%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="interest-way">
                <table>
                    <tbody>
                        <tr><td>计息方式</td><td>满标当天，立即计息</td></tr>
                        <tr><td>发标时间</td><td><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.invest_complete_time)%></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="invest-control pull-right">
        <div><span class="title-mark">可投金额</span></div>
        <div class="investable-amount-wrap">
            <div class="investable-amount">{investmentBalance}</div>
            <%if(projectModel.status>(int)Lip2pEnums.ProjectStatusEnum.FinancingTimeout)%>
            <!--满标-->
            <div class="account-balance-empty">
                <div class="tips">已经有{invsetorCount}名聪明的投资者投资此项目,敬请关注安广融合其他项目！</div>
                <button type="button" class="btn-common empty-btn" disabled>抢 光 了</button>
            </div>
            <%else if(!IsUserLogin())%>
            <!--未满标 未登录-->
            <div class="account-balance-unlogin">
                <div>起投金额100元</div>
                <button type="button" class="btn-common register-btn">30秒快速注册</button>
                <span>已有账号？ <a href='<%linkurl("login")%>'>立即登录</a></span>
            </div>
            <%else%>
            <!--未满标 登录后-->
            <div class="account-balance">
                <div><span>账户余额 {idle_money} 元</span><a href='<%linkurl("recharge")%>' class="pull-right">[充值]</a></div>
                <input type="text" placeholder="请输入投资金额"/>
                <button type="button" class="btn-common investing-btn">投 资</button>
            </div>
            <%/if%>
        </div>
    </div>
</div>
<!--标书样式 end-->

<!--项目内容-->
<div class="project-content-wrap clearfix">
    <div class="project-content-left">
        <div id="project-summary">
            <span class="title-mark">1.项目简介</span>
            <ul class="list-unstyled">
                <li><span>项目描述</span><span class="span-sec">借款企业主营业务为矿产品、煤炭等产品的销售，借款用于采购铝矾土，销售给与其合作关系稳定的下游客户，采购的货物由监管公司进行监管，借款企业分批回款分批出货。该项目的风控要点在于对供应链的控制。</span></li>
                <li><span>借款用途</span><span class="span-sec">补充流动资金。</span></li>
                <li><span>还款来源</span><span class="span-sec">工资收入。</span></li>
                <li><span>借款期限</span><span class="span-sec">借款1个月，期限较短。</span></li>
            </ul>
        </div>
        
        <div id="borrower-info">
            <span class="title-mark">2.借款人信息</span>
            <div class="personal-info clearfix">
                <ul class="list-unstyled">
                    <li><span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span><span><%=loaner.dt_users.real_name.Substring(0, 1)+"**"%></span></li>
                    <li><span>出生年月</span><span>暂无数据</span></li>
                    <li><span>月 收 入</span><span>{loaner.income}</span></li>
                    <li><span>文化程度</span><span>{loaner.educational_background}</span></li>
                </ul>
                <ul class="list-unstyled">
                    <li><span>籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯</span><span>{loaner.dt_users.area}</span></li>
                    <li><span>婚姻状况</span><span><%=Lip2p.Common.Utils.GetLip2pEnumDes((Lip2p.Common.Lip2pEnums.MaritalStatusEnum)loaner.marital_status)%></span></li>
                    <li><span>房产数量</span><span>暂无数据</span></li>
                    <li><span>是否购车</span><span>暂无数据</span></li>
                </ul>
                <ul class="list-unstyled">
                    <li><span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span><span><%=loaner.dt_users.sex%></span></li>
                    <li><span>逾期次数</span><span>暂无数据</span></li>
                    <li><span>借款次数</span><span>暂无数据</span></li>
                </ul>
            </div>
        </div>
        
        <div id="corporate-info">
            <span class="title-mark">3.企业信息</span>
            <%if(loaner_company==null)%>
            <div class="content-null">暂无数据</div>
            <%else%>
            <ul class="list-unstyled">
                <li><span><span class="specific-location">企业名称</span></span><span class="span-sec">{loaner_company.name}</span></li>
                <li><span><span class="specific-location">成立时间</span></span><span class="span-sec">{loaner_company.setup_time}</span></li>
                <li><span><span class="specific-location">注册资本</span></span><span class="span-sec">{loaner_company.registered_capital}</span></li>
                <li><span><span class="specific-location">净 资 产</span></span><span class="span-sec">{loaner_company.net_assets}</span></li>
                <li><span><span class="specific-location">经营范围</span></span><span class="span-sec">{loaner_company.business_scope}</span></li>
                <li><span><span class="specific-location">经营状况</span></span><span class="span-sec">{loaner_company.business_status}</span></li>
                <li><span><span class="specific-location">涉诉情况</span></span><span class="span-sec">{loaner_company.business_lawsuit}</span></li>
                <li><span><span class="specific-location">年收入</span></span><span class="span-sec">{loaner_company.income_yearly}</span></li>
                <li><span><span class="specific-location">备注</span></span><span class="span-sec">{loaner_company.remark}</span></li>
            </ul>
            <%/if%>
        </div>
        
        <div id="risk-control">
            <span class="title-mark">4.风控措施</span>
            <ul class="list-unstyled risk-control-content">
                <li><span><span class="specific-location">风控描述</span></span><span class="span-sec">{risk.risk_content}</span></li>
                <%foreach(var mortgage in mortgages)%>
                <%csharp%>
                var schemeObj = (JObject) JsonConvert.DeserializeObject(mortgage.li_mortgage_types.scheme);
                var kv = (JObject)JsonConvert.DeserializeObject(mortgage.properties);

                var properties = schemeObj.Cast
                <KeyValuePair<string, JToken>>().Select(p => new Tuple<string,string>(p.Value.ToString(), kv[p.Key].ToString()))
                .Concat(new [] {new Tuple<string,string>("市场价值",mortgage.valuation.ToString("c")) }).ToList();
            foreach (var p in properties) {
            <%/csharp%>
            <li><span><span class="specific-location"><%=p.Item1%></span></span><span class="span-sec"><%=p.Item2%></span></li>
            <%csharp%> } <%/csharp%>
            <%/foreach%>
            </ul>
        </div>
        
        <div id="relevant-info">
            <span class="title-mark">5.相关资料</span>
            <div class="row photo-cell">
                <%foreach(var picture in albums_pictures)%>
                <div class="col-md-3 col-xs-3">
                    <a href="javascript:;" class="thumbnail thumbnail-custom">
                        <img src="{picture.thumb_path}" origin-src="{picture.original_path}" />
                    </a>
                    <div class="photo-title">{picture.remark}</div>
                </div>
                <%/foreach%>
                <%foreach(var picture in albums_credit)%>
                <div class="col-md-3 col-xs-3">
                    <a href="javascript:;" class="thumbnail thumbnail-custom">
                        <img src="{picture.thumb_path}" origin-src="{picture.original_path}" />
                    </a>
                    <div class="photo-title">{picture.remark}</div>
                </div>
                <%/foreach%>
                <%foreach(var picture in albums_mortgage)%>
                <div class="col-md-3 col-xs-3">
                    <a href="javascript:;" class="thumbnail thumbnail-custom">
                        <img src="{picture.thumb_path}" origin-src="{picture.original_path}" />
                    </a>
                    <div class="photo-title">{picture.remark}</div>
                </div>
                <%/foreach%>
            </div>
        </div>
        
        <div id="invest-record">
            <span class="title-mark">6.投标记录</span>
            <div class="invest-record">
                <table class="table table-hover">
                    <thead>
                        <tr><th>序号</th><th>用户名</th><th>投标金额</th><th>投标时间</th></tr>
                    </thead>
                    <tbody>
                        <%set int totalCount=0%>
                        <%set var investments=query_investment(projectModel,page-1,PageSize,out totalCount)%>
                        <%for(int i=0;i
                        <investments.Count;i++)%>
                            <tr><td>{i+1}</td><td class="account-style"><%=investments[i].user_name%></td><td><%=investments[i].value%></td><td><%=investments[i].create_time%></td></tr>
                            <%/for%>
                            <%if(totalCount<1)%>
                                <tr><td align="center" colspan="4">暂无记录</td></tr>
                                <%/if%>
                    </tbody>
                </table>
                <div class="flickr" style="text-align: center;"><%= get_page_link(PageSize,page,totalCount,linkurl("invest_detail",project_id,"__id__"))%></div> <!--放置页码列表-->
            </div>
        </div>
    </div>

    <div id="sidemenu" class="project-content-right">
        <ul class="list-unstyled notScroll">
            <li><a href="#project-summary"><span></span>1.项目简介</a></li>
            <li><a href="#borrower-info"><span></span>2.借款人信息</a></li>
            <li><a href="#corporate-info"><span></span>3.企业信息</a></li>
            <li><a href="#risk-control"><span></span>4.风控措施</a></li>
            <li><a href="#relevant-info"><span></span>5.相关资料</a></li>
            <li><a href="#invest-record"><span></span>6.投资记录</a></li>
        </ul>
    </div>
</div>
<!--项目内容 end-->

<!--footer-->
<%template src="_footer.html"%>
<!--footer end-->
</body>
</html>