<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="Lip2p.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="Lip2p.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="Lip2p.Web.UI.Page.error" templet="error.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="Lip2p.Web.UI.Page.login" templet="login.html">
  </rewrite>
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="Lip2p.Web.UI.Page.oauth_login" templet="oauth_login.html">
    <item path="oauth_login.aspx" pattern="oauth_login.aspx" />
  </rewrite>
  <rewrite name="register" type="other" page="register.aspx" inherit="Lip2p.Web.UI.Page.register" templet="register.html">
  </rewrite>
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="Lip2p.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="Lip2p.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="Lip2p.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="Lip2p.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="Lip2p.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="Lip2p.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="Lip2p.Web.UI.Page.repassword" templet="repassword.html">
    <item path="repassword/{0}.aspx" pattern="repassword/(\w+).aspx" querystring="action=$1" />
    <item path="repassword/{0}---{1}.aspx" pattern="repassword/(\w+)---(\w+).aspx" querystring="action=$1^code=$2" />
  </rewrite>
  <rewrite name="payment" type="other" page="payment.aspx" inherit="Lip2p.Web.UI.Page.payment" templet="payment.html">
    <item path="payment/{0}.aspx" pattern="payment/(\w+).aspx" querystring="action=$1" />
    <item path="payment/{0}/{1}.aspx" pattern="payment/(\w+)/(\w+).aspx" querystring="action=$1^order_no=$2" />
  </rewrite>
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="Lip2p.Web.UI.Page.shopping" templet="shopping.html">
    <item path="shopping/{0}.aspx" pattern="shopping/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="Lip2p.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="Lip2p.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="Lip2p.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mytrade" type="other" page="mytrade.aspx" inherit="Lip2p.Web.UI.Page.mytrade" templet="mytrade.html">
    <item path="user/mytrade/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/mytrade/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^transaction_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/mytrade/{0}.aspx" pattern="user/mytrade/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="myinvest" type="other" page="myinvest.aspx" inherit="Lip2p.Web.UI.Page.myinvest" templet="myinvest.html">
    <item path="user/myinvest/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/myinvest/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^investment_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/myinvest/{0}.aspx" pattern="user/myinvest/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="recharge" type="other" page="recharge.aspx" inherit="Lip2p.Web.UI.Page.recharge" templet="recharge.html" />
  <rewrite name="withdraw" type="other" page="withdraw.aspx" inherit="Lip2p.Web.UI.Page.withdraw" templet="withdraw.html" />
  <rewrite name="mycard" type="other" page="mycard.aspx" inherit="Lip2p.Web.UI.Page.mycard" templet="mycard.html">
    <item path="user/mycard/{0}.aspx" pattern="user/mycard/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="mylottery" type="other" page="mylottery.aspx" inherit="Lip2p.Web.UI.Page.mylottery" templet="mylottery.html">
    <item path="user/mylottery/{0}.aspx" pattern="user/mylottery/(\w+).aspx" querystring="action=$1" />
    <item path="user/mylottery/{0}-{1}.aspx" pattern="user/mylottery/(\w+)-(\d+).aspx" querystring="action=$1^lottery_status=$2" />
  </rewrite>
  <rewrite name="myreward" type="other" page="myreward.aspx" inherit="Lip2p.Web.UI.Page.myreward" templet="myreward.html">
    <item path="user/myreward/{0}.aspx" pattern="user/myreward/(\w+).aspx" querystring="action=$1" />
    <item path="user/myreward/{0}-{1}.aspx" pattern="user/myreward/(\w+)-(\d+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="safe" type="other" page="safe.aspx" inherit="Lip2p.Web.UI.Page.safe" templet="safe.html">
    <item path="user/safe/{0}.aspx" pattern="user/safe/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="new_guidelines" type="other" page="new_guidelines.aspx" inherit="Lip2p.Web.UI.Page.new_guidelines" templet="new_guidelines.html" />
  <rewrite name="new_guidelines_charge" type="other" page="new_guidelines_charge.aspx" inherit="Lip2p.Web.UI.Page.new_guidelines_charge" templet="new_guidelines_charge.html" />
  <rewrite name="new_guidelines_demo" type="other" page="new_guidelines_demo.aspx" inherit="Lip2p.Web.UI.Page.new_guidelines_demo" templet="new_guidelines_demo.html" />
  <rewrite name="new_guidelines_mortgage" type="other" page="new_guidelines_mortgage.aspx" inherit="Lip2p.Web.UI.Page.new_guidelines_mortgage" templet="new_guidelines_mortgage.html" />
  <rewrite name="recruitment" type="other" page="recruitment.aspx" inherit="Lip2p.Web.UI.Page.recruitment" templet="recruitment.html" />
  <rewrite name="mynews" type="other" page="mynews.aspx" inherit="Lip2p.Web.UI.Page.usermessage" templet="mynews.html">
    <item path="user/mynews/{0}.aspx" pattern="user/mynews/(\w+).aspx" querystring="action=$1" />
    <item path="user/mynews/{0}-{1}.aspx" pattern="user/mynews/(\w+)-(\d+).aspx" querystring="action=$1^message_status=$2" />
    <item path="user/mynews/{0}-{1}-{2}.aspx" pattern="user/mynews/(\w+)-(\d+)-(\d+).aspx" querystring="action=$1^message_status=$2^page=$3" />
  </rewrite>
  <rewrite name="mynews_show" type="other" page="mynews_show.aspx" inherit="Lip2p.Web.UI.Page.usermessage_show" templet="mynews_show.html">
    <item path="user/mynews_show/{0}-{1}.aspx" pattern="user/mynews_show/(\d+)-(\d+).aspx" querystring="status=$1^id=$2" />
  </rewrite>
  <rewrite name="safedefence" type="other" page="safedefence.aspx" inherit="Lip2p.Web.UI.Page.article" templet="safedefence.html" />
  <rewrite name="safeie" type="other" page="safeie.aspx" inherit="Lip2p.Web.UI.Page.article" templet="safe_ie.html" />
  <rewrite name="whoweare" type="other" page="whoweare.aspx" inherit="Lip2p.Web.UI.Page.article" templet="whoweare.html" />
  <rewrite name="about" type="other" page="about.aspx" inherit="Lip2p.Web.UI.Page.article" templet="aboutus.html" />
  <rewrite name="licenses" type="other" page="licenses.aspx" inherit="Lip2p.Web.UI.Page.article" templet="licenses.html" />
  <rewrite name="team_show" type="other" page="team_show.aspx" inherit="Lip2p.Web.UI.Page.article" templet="team_show.html" />
  <rewrite name="office_environment" type="other" page="office_environment.aspx" inherit="Lip2p.Web.UI.Page.article" templet="office_environment.html" />
  <rewrite name="contactus" type="other" page="contactus.aspx" inherit="Lip2p.Web.UI.Page.article" templet="contactus.html" />
  <rewrite name="article_invest_list" type="list" page="article_invest_list.aspx" inherit="Lip2p.Web.UI.Page.article_list" templet="article_invest_list.html" channel="content_project">
    <item path="article_invest_list-{0}.aspx" pattern="article_invest_list-(\d+).aspx" querystring="category_id=$1" />
    <item path="article_invest_list-{0}-{1}.aspx" pattern="article_invest_list-(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="sitemap" type="other" page="sitemap.aspx" inherit="Lip2p.Web.UI.Page.article" templet="sitemap.html" />
  <rewrite name="activities" type="other" page="activities.aspx" inherit="Lip2p.Web.UI.Page.article" templet="activities.html" />
  <rewrite name="trip" type="other" page="trip.aspx" inherit="Lip2p.Web.UI.Page.article" templet="trip.html" />
  <rewrite name="activities-millions" type="other" page="activities-millions.aspx" inherit="Lip2p.Web.UI.Page.article" templet="activities-millions.html" />
  <rewrite name="activities-duang" type="other" page="activities-duang.aspx" inherit="Lip2p.Web.UI.Page.article" templet="activities-duang.html" />
  <rewrite name="myinformation" type="other" page="myinformation.aspx" inherit="Lip2p.Web.UI.Page.myinformation" templet="myinformation.html">
    <item path="user/myinformation/{0}.aspx" pattern="user/myinformation/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="myreceiveplan" type="other" page="myreceiveplan.aspx" inherit="Lip2p.Web.UI.Page.myreceiveplan" templet="myreceiveplan.html">
    <item path="user/myreceiveplan/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/myreceiveplan/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^investment_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/myreceiveplan/{0}.aspx" pattern="user/myreceiveplan/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="forgot_pwd" type="other" page="forgot_pwd.aspx" inherit="Lip2p.Web.UI.Page.article" templet="forgot_pwd.html">
    <item path="forgot_pwd.aspx" pattern="forgot_pwd.aspx" />
  </rewrite>
  <rewrite name="indexwx" type="other" page="indexwx.aspx" inherit="Lip2p.Web.UI.Page.index" templet="index.html" />
  <rewrite name="usercenterwx" type="other" page="usercenterwx.aspx" inherit="Lip2p.Web.UI.Page.usercenter" templet="usercenter.html" />
  <rewrite name="settings" type="other" page="settings.aspx" inherit="Lip2p.Web.UI.Page.usercenter" templet="settings.html" />
  <rewrite name="invest_list" type="list" page="invest_list.aspx" inherit="Lip2p.Web.UI.Page.article_list" templet="invest_list.html" channel="project">
    <item path="invest/invest-{0}.aspx" pattern="invest/invest-(\d+).aspx" querystring="category_id=$1" />
    <item path="invest/invest-{0}-{1}.aspx" pattern="invest/invest-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate=$2" />
    <item path="invest/invest-{0}-{1}-{2}.aspx" pattern="invest/invest-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3" />
    <item path="invest/invest-{0}-{1}-{2}-{3}.aspx" pattern="invest/invest-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3^amount_index=$4" />
    <item path="invest/invest-{0}-{1}-{2}-{3}-{4}.aspx" pattern="invest/invest-(\d+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^project_profit_rate_index=$2^repayment_index=$3^amount_index=$4^page=$5" />
    <item path="invest/invest.aspx" pattern="invest/invest.aspx" />
  </rewrite>
  <rewrite name="invest" type="index" page="invest.aspx" inherit="Lip2p.Web.UI.Page.article" templet="invest.html" channel="project" />
  <rewrite name="invest_detail" type="detail" page="invest_detail.aspx" inherit="Lip2p.Web.UI.Page.article_show" templet="invest_detail.html" channel="project">
    <item path="invest/detail-{0}" pattern="invest/detail-(\d+)" querystring="project_id=$1" />
    <item path="invest/detail-{0}-{1}.aspx" pattern="invest/detail-(\d+)-(\d+).aspx" querystring="project_id=$1^page=$2" />
  </rewrite>
  <rewrite name="information_center" type="list" page="information_center.aspx" inherit="Lip2p.Web.UI.Page.article_list" templet="information_center.html" channel="content">
    <item path="information_center-{0}-{1}.aspx" pattern="information_center-(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="information_center-{0}.aspx" pattern="information_center-(\d+).aspx" querystring="category_id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="Lip2p.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="article_content_show" type="detail" page="article_content_show.aspx" inherit="Lip2p.Web.UI.Page.article_show" templet="article_content_show.html" channel="content">
    <item path="article_content_show-{0}.aspx" pattern="article_content_show-(\d+).aspx" querystring="id=$1" />
    <item path="article_content_show-{0}-{1}.aspx" pattern="article_content_show-(\d+)-(\d+).aspx" querystring="id=$1^category_id=$2" />
  </rewrite>
  <rewrite name="article_invest_show" type="detail" page="article_invest_show.aspx" inherit="Lip2p.Web.UI.Page.article_show" templet="article_invest_show.html" channel="content">
    <item path="article_invest_show-{0}.aspx" pattern="article_invest_show-(\d+).aspx" querystring="id=$1" />
    <item path="article_invest_show-{0}-{1}.aspx" pattern="article_invest_show-(\d+)-(\d+).aspx" querystring="id=$1^category_id=$2" />
  </rewrite>
</urls>