<?xml version="1.0"?>
<costconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <loan_fee_rate>0.03</loan_fee_rate>
  <loan_fee_rate_bank>0.0005</loan_fee_rate_bank>
  <bond_fee_rate>0.002</bond_fee_rate>
  <bond_fee_rate_bank>0.0001</bond_fee_rate_bank>
  <earlier_pay>0.005</earlier_pay>
  <overtime_pay>1.5</overtime_pay>
  <overtime_cost>0.003</overtime_cost>
  <overtime_cost2>0.005</overtime_cost2>
  <overtime_cost_bank>0.001</overtime_cost_bank>
  <withdraw>0.0</withdraw>
  <static_withdraw>0.002</static_withdraw>
  <recharge_lowest>100</recharge_lowest>
  <recharge_fee_rate>0.0025</recharge_fee_rate>
  <recharge_fee_rate_quick>0.004</recharge_fee_rate_quick>
</costconfig>