<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="Agp2p.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="cordova_wrapper" type="other" page="cordova-wrapper.aspx" inherit="Agp2p.Web.UI.Page.article" templet="cordova-wrapper.html" />
  <rewrite name="search" type="other" page="search.aspx" inherit="Agp2p.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="Agp2p.Web.UI.Page.error" templet="error.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="Agp2p.Web.UI.Page.login" templet="login.html">
  </rewrite>
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="Agp2p.Web.UI.Page.oauth_login" templet="oauth_login.html">
    <item path="oauth_login.aspx" pattern="oauth_login.aspx" />
  </rewrite>
  <rewrite name="coop" type="other" page="coop.aspx" inherit="Agp2p.Web.UI.Page.coop" templet="coop.html">
  </rewrite>
  <rewrite name="register" type="other" page="register.aspx" inherit="Agp2p.Web.UI.Page.register" templet="register.html">
  </rewrite>
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="Agp2p.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="Agp2p.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="Agp2p.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="Agp2p.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="Agp2p.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="Agp2p.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="forgot_password" type="other" page="forgot_password.aspx" inherit="Agp2p.Web.UI.Page.article" templet="forgot_password.html">
  </rewrite>
  <rewrite name="payment" type="other" page="payment.aspx" inherit="Agp2p.Web.UI.Page.payment" templet="payment.html">
    <item path="payment/{0}.aspx" pattern="payment/(\w+).aspx" querystring="action=$1" />
    <item path="payment/{0}/{1}.aspx" pattern="payment/(\w+)/(\w+).aspx" querystring="action=$1^order_no=$2" />
  </rewrite>
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="Agp2p.Web.UI.Page.shopping" templet="shopping.html">
    <item path="shopping/{0}.aspx" pattern="shopping/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="mytrade" type="other" page="mytrade.aspx" inherit="Agp2p.Web.UI.Page.mytrade" templet="mytrade.html">
    <item path="user/mytrade/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/mytrade/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^transaction_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/mytrade/{0}.aspx" pattern="user/mytrade/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="myinvest" type="other" page="myinvest.aspx" inherit="Agp2p.Web.UI.Page.myinvest" templet="myinvest.html">
    <item path="user/myinvest/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/myinvest/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^investment_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/myinvest/{0}.aspx" pattern="user/myinvest/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="recharge" type="other" page="recharge.aspx" inherit="Agp2p.Web.UI.Page.recharge" templet="recharge.html" />
  <rewrite name="withdraw" type="other" page="withdraw.aspx" inherit="Agp2p.Web.UI.Page.withdraw" templet="withdraw.html" />
  <rewrite name="mycard" type="other" page="mycard.aspx" inherit="Agp2p.Web.UI.Page.mycard" templet="mycard.html">
    <item path="user/mycard/{0}.aspx" pattern="user/mycard/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="mylottery" type="other" page="mylottery.aspx" inherit="Agp2p.Web.UI.Page.mylottery" templet="mylottery.html">
    <item path="user/mylottery/{0}.aspx" pattern="user/mylottery/(\w+).aspx" querystring="action=$1" />
    <item path="user/mylottery/{0}-{1}.aspx" pattern="user/mylottery/(\w+)-(\d+).aspx" querystring="action=$1^lottery_status=$2" />
  </rewrite>
  <rewrite name="myreward" type="other" page="myreward.aspx" inherit="Agp2p.Web.UI.Page.myreward" templet="myreward.html">
    <item path="user/myreward/{0}.aspx" pattern="user/myreward/(\w+).aspx" querystring="action=$1" />
    <item path="user/myreward/{0}-{1}.aspx" pattern="user/myreward/(\w+)-(\d+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="safe" type="other" page="safe.aspx" inherit="Agp2p.Web.UI.Page.safe" templet="safe.html">
    <item path="user/safe/{0}.aspx" pattern="user/safe/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="new_guidelines_charge" type="other" page="new_guidelines_charge.aspx" inherit="Agp2p.Web.UI.Page.new_guidelines_charge" templet="new_guidelines_charge.html" />
  <rewrite name="new_guidelines_demo" type="other" page="new_guidelines_demo.aspx" inherit="Agp2p.Web.UI.Page.new_guidelines_demo" templet="new_guidelines_demo.html" />
  <rewrite name="new_guidelines_mortgage" type="other" page="new_guidelines_mortgage.aspx" inherit="Agp2p.Web.UI.Page.new_guidelines_mortgage" templet="new_guidelines_mortgage.html" />
  <rewrite name="recruitment" type="other" page="recruitment.aspx" inherit="Agp2p.Web.UI.Page.recruitment" templet="recruitment.html" />
  <rewrite name="mynews" type="other" page="mynews.aspx" inherit="Agp2p.Web.UI.Page.usermessage" templet="mynews.html">
    <item path="user/mynews/{0}.aspx" pattern="user/mynews/(\w+).aspx" querystring="action=$1" />
    <item path="user/mynews/{0}-{1}.aspx" pattern="user/mynews/(\w+)-(\d+).aspx" querystring="action=$1^message_status=$2" />
    <item path="user/mynews/{0}-{1}-{2}.aspx" pattern="user/mynews/(\w+)-(\d+)-(\d+).aspx" querystring="action=$1^message_status=$2^page=$3" />
  </rewrite>
  <rewrite name="mynews_show" type="other" page="mynews_show.aspx" inherit="Agp2p.Web.UI.Page.usermessage_show" templet="mynews_show.html">
    <item path="user/mynews_show/{0}-{1}.aspx" pattern="user/mynews_show/(\d+)-(\d+).aspx" querystring="status=$1^id=$2" />
  </rewrite>
  <rewrite name="safe_defence" type="other" page="safe-defence.aspx" inherit="Agp2p.Web.UI.Page.article" templet="safe_defence.html" />
  <rewrite name="safeie" type="other" page="safeie.aspx" inherit="Agp2p.Web.UI.Page.article" templet="safe_ie.html" />
  <rewrite name="whoweare" type="other" page="whoweare.aspx" inherit="Agp2p.Web.UI.Page.article" templet="whoweare.html" />
  <rewrite name="licenses" type="other" page="licenses.aspx" inherit="Agp2p.Web.UI.Page.article" templet="licenses.html" />
  <rewrite name="team_show" type="other" page="team_show.aspx" inherit="Agp2p.Web.UI.Page.article" templet="team_show.html" />
  <rewrite name="office_environment" type="other" page="office_environment.aspx" inherit="Agp2p.Web.UI.Page.article" templet="office_environment.html" />
  <rewrite name="contactus" type="other" page="contactus.aspx" inherit="Agp2p.Web.UI.Page.article" templet="contactus.html" />
  <rewrite name="sitemap" type="other" page="sitemap.aspx" inherit="Agp2p.Web.UI.Page.article" templet="sitemap.html" />
  <rewrite name="activity_new" type="other" page="activity_new.aspx" inherit="Agp2p.Web.UI.Page.article" templet="activity_new.html" />
  <rewrite name="activity_rewards" type="other" page="activity_rewards.aspx" inherit="Agp2p.Web.UI.Page.article" templet="activity_rewards.html" />
  <rewrite name="activity_apps" type="other" page="activity_apps.aspx" inherit="Agp2p.Web.UI.Page.article" templet="activity_apps.html" />
  <rewrite name="trip" type="other" page="trip.aspx" inherit="Agp2p.Web.UI.Page.article" templet="trip.html" />
  <rewrite name="activities-millions" type="other" page="activities-millions.aspx" inherit="Agp2p.Web.UI.Page.article" templet="activities-millions.html" />
  <rewrite name="activities-duang" type="other" page="activities-duang.aspx" inherit="Agp2p.Web.UI.Page.article" templet="activities-duang.html" />
  <rewrite name="myinformation" type="other" page="myinformation.aspx" inherit="Agp2p.Web.UI.Page.myinformation" templet="myinformation.html">
    <item path="user/myinformation/{0}.aspx" pattern="user/myinformation/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="myreceiveplan" type="other" page="myreceiveplan.aspx" inherit="Agp2p.Web.UI.Page.myreceiveplan" templet="myreceiveplan.html">
    <item path="user/myreceiveplan/{0}-{1}-{2}-{3}-{4}.aspx" pattern="user/myreceiveplan/(\w+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="action=$1^investment_type=$2^page=$3^time_span_start=$4^time_span_end=$5" />
    <item path="user/myreceiveplan/{0}.aspx" pattern="user/myreceiveplan/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="indexwx" type="other" page="indexwx.aspx" inherit="Agp2p.Web.UI.Page.index" templet="index.html" />
  <rewrite name="usercenterwx" type="other" page="usercenterwx.aspx" inherit="Agp2p.Web.UI.Page.usercenter" templet="usercenter.html" />
  <rewrite name="settings" type="other" page="settings.aspx" inherit="Agp2p.Web.UI.Page.usercenter" templet="settings.html" />
  <rewrite name="projects" type="list" page="projects.aspx" inherit="Agp2p.Web.UI.Page.projects" templet="projects.html" channel="project">
    <item path="projects/{0}.aspx" pattern="projects/(\d+).aspx" querystring="category_id=$1" />
    <item path="projects/{0}-{1}.aspx" pattern="projects/(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2" />
    <item path="projects/{0}-{1}-{2}.aspx" pattern="projects/(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3" />
    <item path="projects/{0}-{1}-{2}-{3}.aspx" pattern="projects/(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3^status_index=$4" />
    <item path="projects/{0}-{1}-{2}-{3}-{4}.aspx" pattern="projects/(\d+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3^status_index=$4^page=$5" />
    <item path="projects/{0}-{1}-{2}-{3}-{4}.aspx" pattern="projects/(\d+)-(\d+)-(\d+)-(\d+)-(\d+).aspx" querystring="category_id=$1^profit_rate_index=$2^repayment_index=$3^status_index=$4^page=$5" />
    <item path="projects.aspx" pattern="projects.aspx" />
  </rewrite>
  <rewrite name="invest" type="index" page="invest.aspx" inherit="Agp2p.Web.UI.Page.article" templet="invest.html" channel="project" />
  <rewrite name="project" type="detail" page="project.aspx" inherit="Agp2p.Web.UI.Page.project" templet="project.html" channel="project">
    <item path="project/{0}.aspx" pattern="project/(\d+).aspx" querystring="project_id=$1" />
    <item path="project/{0}-{1}.aspx" pattern="project/(\d+)-(\d+).aspx" querystring="project_id=$1^buyClaimId=$2" />
  </rewrite>
  <rewrite name="information_center" type="list" page="information_center.aspx" inherit="Agp2p.Web.UI.Page.article_list" templet="information_center.html" channel="content">
    <item path="information_center-{0}-{1}.aspx" pattern="information_center-(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="information_center-{0}.aspx" pattern="information_center-(\d+).aspx" querystring="category_id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="Agp2p.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="article_invest_show" type="detail" page="article_invest_show.aspx" inherit="Agp2p.Web.UI.Page.article_show" templet="article_invest_show.html" channel="content">
    <item path="article_invest_show-{0}.aspx" pattern="article_invest_show-(\d+).aspx" querystring="id=$1" />
    <item path="article_invest_show-{0}-{1}.aspx" pattern="article_invest_show-(\d+)-(\d+).aspx" querystring="id=$1^category_id=$2" />
  </rewrite>
  <rewrite name="about" type="other" page="about.aspx" inherit="Agp2p.Web.UI.Page.article" templet="aboutus.html" />
  <rewrite name="about_more" type="other" page="about_more.aspx" inherit="Agp2p.Web.UI.Page.article_list" templet="about_more.html">
    <item path="about_more.aspx" pattern="about_more.aspx" querystring="" />
    <item path="about_more/{0}.aspx" pattern="about_more/(-?[\d]+).aspx" querystring="category_id=$1" />
    <item path="about_more/{0}-{1}.aspx" pattern="about_more/(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="about_more/{0}.aspx" pattern="about_more/([\d,]+).aspx" querystring="category_ids=$1" />
    <item path="about_more/{0}-{1}.aspx" pattern="about_more/([\d,]+)-(\d+).aspx" querystring="category_ids=$1^page=$2" />
  </rewrite>
  <rewrite name="loan" type="other" page="loan.aspx" inherit="Agp2p.Web.UI.Page.loan" templet="loan.html" />
  <rewrite name="404" type="other" page="404.aspx" inherit="Agp2p.Web.UI.Page.article" templet="404.html" />
  <rewrite name="article_list" type="list" page="articles.aspx" inherit="Agp2p.Web.UI.Page.article_list" templet="article_list.html" channel="content_project">
    <item path="articles/{0}.aspx" pattern="articles/(\d+).aspx" querystring="category_id=$1" />
    <item path="articles/{0}-{1}.aspx" pattern="articles/(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="articles/{0}.aspx" pattern="articles/([\d,]+).aspx" querystring="category_ids=$1" />
    <item path="articles/{0}-{1}.aspx" pattern="articles/([\d,]+)-(\d+).aspx" querystring="category_ids=$1^page=$2" />
  </rewrite>
  <rewrite name="help" type="other" page="help.aspx" inherit="Agp2p.Web.UI.Page.article_list" templet="help.html">
    <item path="help.aspx" pattern="help.aspx" querystring="" />
    <item path="help/{0}.aspx" pattern="help/(\d+).aspx" querystring="category_id=$1" />
    <item path="help/{0}-{1}.aspx" pattern="help/(\d+)-(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="help/{0}-{1}--{2}.aspx" pattern="help/(\d+)-(\d+)--(\d+).aspx" querystring="category_id=$1^page=$2^articleId=$3" />
  </rewrite>
  <rewrite name="article_show" type="detail" page="article.aspx" inherit="Agp2p.Web.UI.Page.article_show" templet="article_show.html" channel="content">
    <item path="article/{0}.aspx" pattern="article/(\d+).aspx" querystring="id=$1" />
    <item path="article/{0}-{1}.aspx" pattern="article/(\d+)-(\d+).aspx" querystring="id=$1^category_id=$2" />
  </rewrite>
  <rewrite name="app_download" type="other" page="app_download.aspx" inherit="Agp2p.Web.UI.Page.article" templet="app_download.html" />
  <rewrite name="success_return" type="other" page="success_return.aspx" inherit="Agp2p.Web.UI.Page.article" templet="success_return.html" />
</urls>