<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面不存在</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.font-face.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/404.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<div class="content-wrap page404">
    <div class="page-bg"></div>
    <p class="tips">非常抱歉，你访问的页面回火星了......</p>
    <p class="tips">我们正在努力找回</p>
    <p class="control-btn"><a href="/"><i></i>返回首页</a><a href="#"><i></i>返回上一页</a></p>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>