<div class="container-fluid footer-wrap">
    <div class="footer-top">
        <ul class="list-unstyled list-inline">
            <li><a href="/">网站首页</a></li>
            <li><a href='<%linkurl("about")%>'>关于我们</a></li>
            <li><a href='<%=linkurl("about_more")%>'>产品介绍</a></li>
            <li><a href='<%linkurl("help")%>'>帮助中心</a></li>
            <li><a href='<%linkurl("about")%>#contact'>联系我们</a></li>
            <li><a href='<%linkurl("sitemap")%>'>网站地图</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
    <p>2016 广东安广融合电子商务股份有限公司 粤ICP备15085586号</p>
    <p class="attention">理财有风险，投资需谨慎</p>
    </div>
    
</div>
