<div class="container-fluid footer-wrap">
    <div class="footer-top">
        <div class="content-left">
            <div class="foot-about">
                <span><a href='<%linkurl("about")%>'>关于我们</a></span>
                <span><a href='<%linkurl("help")%>'>帮助中心</a></span>
                <span><a href='<%linkurl("safe_defence")%>'>安全保障</a></span>
            </div>
            <div class="foot-about-join">
                <div>
                    <p><a href='<%linkurl("about")%>#company'>公司介绍</a>
                    </p>
                    <p><a href='<%=linkurl("about_more",-1)%>'>加入我们</a>
                    </p>
                    <p><a href='<%linkurl("about")%>#contact'>联系我们</a>
                    </p>
                </div>
                <div>
                    <p><a href='<%=linkurl("help",63)%>'>注册登录</a></p>
                    <p><a href='<%=linkurl("help",64)%>'>充值提现</a></p>
                    <p><a href='<%=linkurl("help",65)%>'>投资收益</a></p>
                </div>
                <div>
                    <p><a href='<%linkurl("safe_defence")%>'>合规性原则</a></p>
                    <p><a href='<%linkurl("safe_defence")%>'>专业性原则</a></p>
                    <p><a href='<%linkurl("safe_defence")%>'>稳健性原则</a></p>
                </div>
            </div>
        </div>
        <div class="qrcode">
            <div class="service">服务号</div>
            <div class="subscribe">订阅号</div>
        </div>
        <div class="serviceCall">
            <p class="service-phone">客户服务热线：<span>400-8878-200</span></p>
            <p class="service-time">（人工&nbsp;8：30~22：00）</p>
            <p class="service-line">24小时在线客服</p>
            <p class="service-icon">
                <a href="http://weibo.com/agrh" target="_blank"></a>
                <span></span>
            </p>
        </div>
    </div>
    <div class="footer-links">
        <p class="links">
            友情链接：
            <a href="http://www.wangdaizhijia.com/" target="_blank">网贷之家</a>
            <a class="link-hr"></a>
            <a href="http://www.p2peye.com/" target="_blank">网贷天眼</a>
            <a class="link-hr"></a>
            <a href="http://www.erongtu.com/" target="_blank">融途网</a>
            <a class="link-hr"></a>
            <a href="http://www.wdzx.com/" target="_blank">网贷中心</a>
            <a class="link-hr"></a>
            <a href="http://www.ewdtx.com/" target="_blank">网贷天下</a>
            <a class="link-hr"></a>
            <a href="http://www.p2pchina.com/" target="_blank">网贷中国</a>
            <a class="link-hr"></a>
            <a href="http://www.p2p110.com/" target="_blank">网贷110</a>
            <a class="link-hr"></a>
            <a href="http://www.wd361.com/" target="_blank">网贷互联</a>
            <a class="link-hr"></a>
            <a href="http://ask.76676.com/" target="_blank">互联网金融知识社区</a>
        </p>
    </div>
    <div class="footer-bottom">
        <div class="bottom-icons">
            <a class="icon1" href="http://gsxt.gdgs.gov.cn/aiccips/" target="_blank"></a>
            <a class="icon2" href="http://www.miitbeian.gov.cn/" target="_blank"></a>
            <a class="icon3" href="https://sealsplash.geotrust.com/splash?&dn=www.agrhp2p.com" target="_blank"></a>
        </div>
        <p>2016 广东安广融合电子商务股份有限公司 粤ICP备15085586号<span>理财有风险，投资需谨慎</span></p>
    </div>
</div>
