<div class="container-fluid footer-wrap">
    <div class="footer-top">
        <div class="qrcode pull-right"></div>
        <div class="content-left">
            <ul class="list-unstyled list-inline">
                <li><a href="/">网站首页</a></li>
                <li><a href='<%linkurl("about")%>?tab=0'>关于我们</a></li>
                <li><a href='<%linkurl("about")%>?tab=1'>产品介绍</a></li>
                <li><a href='<%linkurl("help")%>'>帮助中心</a></li>
                <li><a href='<%linkurl("about")%>?tab=7'>联系我们</a></li>
                <li><a href='<%linkurl("sitemap")%>'>网站地图</a></li>
            </ul>
            <p class="contacts">客户服务热线：400-8878-200 <span>投诉邮箱： postmaster@agrhp2p.com</span></p>
            <p class="links">
                友情链接：
                <a href="http://www.wangdaizhijia.com/">网贷之家</a>
                <a href="http://www.p2peye.com/">网贷天眼</a>
                <a href="http://www.erongtu.com/">融途网</a>
                <a href="http://www.wdzx.com/">网贷中心</a>
                <a href="http://www.wangdaichina.com/">网贷天下</a>
                <a href="http://www.p2pchina.com/">网贷中国</a>
                <a href="http://www.p2p110.com/">网贷110</a>
                <a href="http://www.yiqiwangdai.com/">一起网贷</a>
                <a href="http://ask.76676.com/">互联网金融知识社区</a>
            </p>
        </div>
    </div>
    <div class="footer-bottom">2015 广东安广融合电子商务股份有限公司 粤ICP备15085586号</div>
</div>
