<div class="container-fluid footer-wrap">
    <div class="footer-top">
        <ul class="list-unstyled list-inline">
            <li><a href="/">网站首页</a></li>
            <li><a href='<%linkurl("about")%>?tab=0'>关于我们</a></li>
            <li><a href='<%linkurl("about")%>?tab=1'>产品介绍</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href='<%linkurl("about")%>?tab=7'>联系我们</a></li>
            <li><a href='<%linkurl("sitemap")%>'>网站地图</a></li>
        </ul>
    </div>
    <div class="footer-bottom">2015 广东安广融合电子商务股份有限公司 粤ICP备14084776号-1</div>
</div>
