<script type="text/javascript" src="{config.webpath}tools/browser_redirect.ashx"></script>
<!--[if lt IE 8]>
<style>body{ margin-top: 60px; }</style>
<div class="ltie8">您的浏览器版本过低，无法正常使用安广融合官网。为保证交易安全进行，我们推荐您使用 <a href="http://browser.qq.com/">极速QQ浏览器</a> 或 <a href="http://se.360.cn/">360安全浏览器</a> 等更棒的浏览器</div>
<![endif]-->
<div class="container-fluid top-bar-wrap">
    <div class="top-bar">
        <div class="pull-right">
            <ul class="list-inline">
                <%set var _userModel=GetUserInfo()%>
                <%if(_userModel==null)%>
                <li><a id="login" href='<%linkurl("login")%>'>登录</a></li>
                <li class="hr-line">|</li>
                <li><a id="register" href='<%linkurl("register")%>'>注册</a></li>
                <%else%>
                <li><a href='<%linkurl("usercenter","index")%>'>欢迎，<%=Utils.GetUserNameHidden(_userModel.user_name)%></a></li>
                <%set var _userUnreadMsgCount=GetUserUnreadMessage(_userModel.id)%>
                <%if(_userUnreadMsgCount!=0)%>
                <li class="news-ring" onclick="window.open('<%linkurl("usercenter","index")%>#/mynews','_blank')"><span><%=GetUserUnreadMessage(_userModel.id)%></span></li>
                <%/if%>
                <li class="hr-line">|</li>
                <li><a id="logout" href='<%linkurl("usercenter","exit")%>'>退出</a></li>
                <%/if%>
                <li class="hr-line">|</li>
                <li><a id="help" href='<%=linkurl("loan")%>'>我要借款</a></li>
                <li class="hr-line">|</li>
                <li><a id="help" href='<%=linkurl("coop")%>'>融资合作</a></li>
                <li class="hr-line">|</li>
                <li><a id="help" href='<%=linkurl("help")%>'>帮助</a></li>
                <li class="hr-line">|</li>
                <li><a id="apps" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="<img style='width:95px' src='<%templateskin%>/imgs/index/top-bar-app-code.png'/>" href='<%linkurl("activity_apps")%>' target="_blank"></a></li>
            </ul>
        </div>

        <span class="top-bar-icon head-hot-line-icon"></span>
        <span class="head-hot-line-num">客服热线：400-8878-200</span>
        <a class="top-bar-icon weibo-icon" href="http://weibo.com/agrh" target="_blank"></a>
        <a class="top-bar-icon wechat-icon"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="<img style='width:95px' src='<%templateskin%>/imgs/index/service-code.png'/>"></a>
    </div>
</div>
<div class="container-fluid nav-bar-wrap">
    <div class="nav-bar">
        <nav class="pull-right">
            <ul class="list-inline in-header">
                <li><a href="/">首页</a></li>
                <li role="presentation" id="financial" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" onclick="location.href = this.getAttribute('href');" href='<%linkurl("projects")%>'
                   role="button" aria-haspopup="true" aria-expanded="false">
                   我要理财 <span class="arrowsituation"></span>
                </a>
                    <ul class="dropdown-menu dropdown-menu-custom">
                        <li><a href='<%linkurl("projects",70)%>'>票据专区</a></li>
                        <li><a href='<%linkurl("projects",69)%>'>债权转让</a></li>
                        <li><a href='<%linkurl("projects",67)%>'>活期宝</a></li>
                        <li><a href='<%linkurl("projects")%>#wentibao'>文体宝</a></li>
                        <li><a href='<%linkurl("projects")%>#consumefin'>消费金融</a></li>
                    </ul>
                </li>
                <li role="presentation" id="myAccount" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="location.href = this.getAttribute('href');" href='<%linkurl("usercenter","index")%>'
                        role="button" aria-haspopup="true" aria-expanded="false">
                        我的账户 <span class="arrowsituation"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-custom">
                        <li><a href='<%linkurl("usercenter","index")%>#'>账户总览</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/invest-record'>投资记录</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/recharge'>充值</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/withdraw'>提现</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/safe'>个人中心</a></li>
                    </ul>
                </li>
                <li><a href='<%linkurl("safe_defence")%>'>安全保障</a></li>
                <li><a href='<%linkurl("about")%>'>关于我们</a></li>
                
            </ul>
        </nav>
        <a href='<%linkurl("index")%>'><img src="<%templateskin%>/imgs/index/logo.png" /></a>
    </div>
</div>

<!--alert-->
<div class="modal fade" id="tipsAlert" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="tipsAlertLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tipsAlertLabel">温馨提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">确 定</button>
            </div>
        </div>
    </div>
</div>

<!--confirm-->
<div class="modal fade" id="tipsConfirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="tipsConfirmLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tipsConfirmLabel">温馨提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" data-dismiss="modal">取 消</button>
                <button type="button" class="confirm-btn" data-dismiss="modal">确 定</button>
            </div>
        </div>
    </div>
</div>