<div class="container-fluid top-bar-wrap">
    <div class="top-bar">
        <span class="top-bar-icon head-hot-line-icon"></span>
        <span class="head-hot-line-num">客服热线：400-8989-089</span>
        <span class="top-bar-icon weibo-icon"></span>
        <span class="top-bar-icon wechat-icon"></span>

        <div class="pull-right">
            <ul class="list-inline">
                <%set var _userModel=GetUserInfo()%>
                <%if(_userModel==null)%>
                <li><a id="login" href='<%linkurl("login")%>'>登录</a></li>
                <li class="hr-line">|</li>
                <li><a id="register" href='<%linkurl("register")%>'>注册</a></li>
                <%else%>
                <li><a href='<%linkurl("usercenter","index")%>'><%=_userModel.user_name%></a></li>
                <li class="hr-line">|</li>
                <li><a id="logout" href='<%linkurl("usercenter","exit")%>'>退出</a></li>
                <%/if%>
                <li class="hr-line">|</li>
                <li><a id="help" href="#">帮助</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid nav-bar-wrap">
    <div class="nav-bar">
        <a href='<%linkurl("index")%>'><img src="<%templateskin%>/imgs/index/logo.png" /></a>
        <nav class="pull-right">
            <ul class="list-inline in-header">
                <li><a href="/">首页</a></li>
                <li><a href='<%linkurl("invest_list")%>'>我要理财</a></li>
                <li role="presentation" id="myAccount" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="location.href = this.getAttribute('href');" href='<%linkurl("usercenter","index")%>' role="button" aria-haspopup="true" aria-expanded="false">
                        我的账户 <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-custom">
                        <li><a href='<%linkurl("usercenter","index")%>#'>账户总览</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/mytrade'>资金管理</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/invest-record'>投资管理</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/safe'>账户管理</a></li>
                        <li><a href='<%linkurl("usercenter","index")%>#/mynews'>消息管理</a></li>
                    </ul>
                </li>
                <li><a href="#">安全保障</a></li>
                <li><a href='<%linkurl("about")%>'>关于我们</a></li>
            </ul>
        </nav>
    </div>
</div>