<div class="project-detail-huoqi">
    <span class="title-mark">{hIndex++}.产品介绍</span>
    <div class="pro">
        <p>项目介绍</p>
        <p>新手标是安广融合针对平台注册新用户或在平台累计投资1万元（含）内用户开发的一款产品，该产品是一款借款人以银行承兑汇票到期办理托收为还款措施的产品，期限短，灵活周转，在年化率5.8%的基础上增加新手投标奖励1.29%，合计年化率7.09%，让投资者感受畅快的投资体验。</p>
    </div>
    <div class="fanwei">
        <span>预期年化收益</span>
        <span><!--<%=string.Format("{0:0.0}%", Investable.ProfitRateYearly*100)%>-->5.8%+1.29%</span>
    </div>
    <div class="fanwei">
        <span>起投金额</span>
        <span>100元</span>
    </div>
    <div class="fanwei">
    <span>募集期</span>
    <span>3日</span>
    </div>

    <div class="fanwei1">
        <span>购买规则</span>
        <span >1、起投金额为100元；</span>
        </div>
    <div class="fanwei1 " style="border-top:white;" >
        <span>&nbsp;&nbsp;</span>
        <span>2、平台注册新用户或在平台累计投资1万元（含）内的用户，均有资格投资新手标；</span>
        </div>
    <div class="fanwei1" style="border-top:white;">
        <span>&nbsp;&nbsp;</span>
        <span>3、投资新手标每笔最大1万，累计限额为1万元。</span>
    </div>
    <div class="fanwei1" style="border-top:white; border-bottom: 1px solid #e6e6e6; margin-bottom: 2em">
        <span>&nbsp;&nbsp;</span>
        <span>4、此次新手标项目活动解释权归安广融合平台所有。</span>
    </div>
</div>