<div class="project-detail-raw">
    <span class="title-mark">{hIndex++}.产品介绍</span>
    <div class="pro">
        <p>项目介绍</p>
        <p>安广融合新手标项目，投资100元即获10元现金红包</p>
    </div>
    <div class="hr"></div>
    <div class="purchase">
        <p>申购条件</p>
        <p>仅限从未投资过新手标项目的会员且每人只能投资100元</p>
    </div>
    <div class="hr"></div>
    <div class="profit">
        <p>如何收益</p>
        <p>投资后的第二天15:00返回本息110元</p>
    </div>
    <div class="hr"></div>
    <div class="guarantee">
        <p>安全保障</p>
        <p>为了让新会员体验安广融合投资流程，平台特推出新手标项目，100%本息保障</p>
    </div>
    <div class="hr"></div>
</div>
