<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>关于我们</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/aboutus.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<div class="about-nav-bar">
    <div class="content-wrap">
        <ul class="list-unstyled list-inline">
            <li><a href="javascript:">公司简介</a></li>
            <li><a href="javascript:">企业文化</a></li>
            <li><a href="javascript:">大事记</a></li>
            <li><a href="javascript:">高管团队</a></li>
            <li><a href="javascript:">合作机构</a></li>
            <li><a href="javascript:">员工风采</a></li>
            <li><a href="javascript:">办公环境</a></li>
            <li><a href="javascript:">公司资质</a></li>
            <li><a href="javascript:">战略合作</a></li>
            <li><a href="javascript:">联系方式</a></li>
            <li><a class="more" href="javascript:">更多</a></li>
        </ul>
    </div>
</div>

<div class="content-wrap aboutPage">
    <div class="left-nav">
        <ul class="list-unstyled nav-list">
            <li data-binding="product-wrap"><a href='<%=linkurl("about")%>?tab=1' class="product">产品介绍</a></li>
            <li><a href='<%=linkurl("article_list","43,54")%>' class="announcement">网站公告</a></li>
            <li><a href='<%=linkurl("article_list",42)%>' class="dynamic">公司动态</a></li>
            <li><a href='<%=linkurl("article_list",44)%>' class="reports">媒体报道</a></li>
        </ul>
    </div>
    <div class="right-content">
        <!--产品介绍-->
        <div class="product-wrap">
            <div class="topic-th">产品介绍</div>
            <div class="content-body">
                <div class="bills-group">
                    <div class="product-icon bills-icon"></div>
                    <div class="product-text bills">
                        <h4>票据业务</h4>
                        <ul>
                            <li><span>兑付安全：在票据理财模式中，所有的票据资产都是银行承兑汇票，法律规定，票据到期后，银行无条件承兑票据金额（见票即付）；</span></li>
                            <li><span>托管安全：平台上所涉及的票据都保管在该银行；</span></li>
                            <li><span>票据安全：投资的票据真伪经过多重审核，通过平台专业运营成员以及合作银行两道关口把守，并经过机器、人工、人民银行大额支付系统、合作银行复验四道工序，层层把关，全面保障票据资产的真伪、灭失风险。</span></li>
                        </ul>
                    </div>
                </div>

                <div class="micro-finance-group">
                    <div class="product-icon micro-finance-icon"></div>
                    <div class="product-text micro-finance">
                        <h4>小贷公司业务</h4>
                        <ul>
                            <li><span>甄选优质机构：小额贷款公司提供全额本息保障、严格小额贷款公司准入标准、合作总额控制；</span></li>
                            <li><span>选取优质项目：由小额贷款公司提供贷前审查、贷款担保以及贷后管理；</span></li>
                            <li><span>二次审核：我司风控团队根据自身的风控标准对借款人进行二次审核。</span></li>
                        </ul>
                    </div>
                </div>

                <div class="mortgage-group">
                    <div class="product-icon mortgage-icon"></div>
                    <div class="product-text mortgage">
                        <h4>房产抵押业务</h4>
                        <ul>
                            <li><span>优质房产抵押借款：项目期限为1-6个月、权威机构进行专业评估、严格办理房产抵押手续；</span></li>
                            <li><span>评估贷款项目：线下风控团队严格把关贷前调查，贷后管理。</span></li>
                        </ul>
                    </div>
                </div>

                <div class="supply-chain-group">
                    <div class="product-icon supply-chain-icon"></div>
                    <div class="product-text supply-chain">
                        <h4>供应链业务</h4>
                        <ul>
                            <li><span>寻找AAA项目来源：选择行业知名企业/上市公司/大型核心企业上下游融资；</span></li>
                            <li><span>确保第一还款来源：线下风控团队严格把关贷前调查，贷后管理；</span></li>
                            <li><span>确保第二还款来源：公司直属控制货权、确保存货足值、回购商可靠。</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>