<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/aboutus.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="index.html">首页</a>
    <span> > </span>
    <span>关于我们</span>
</div>
<!--面包屑导航 end-->

<div class="content-wrap aboutPage">
    <div class="left-nav">
        <ul class="list-unstyled nav-list">
            <li><a href="javascript:" class="company">公司简介</a></li>
            <li><a href="javascript:" class="product">产品介绍</a></li>
            <li><a href="javascript:" class="announcement">网站公告</a></li>
            <li><a href="javascript:" class="dynamic">公司动态</a></li>
            <li><a href="javascript:" class="reports">媒体报道</a></li>
            <li><a href="javascript:" class="join-us">加入我们</a></li>
            <li><a href="javascript:" class="partner">合作伙伴</a></li>
            <li><a href="javascript:" class="contact">联系我们</a></li>
        </ul>
    </div>
    <div class="right-content">
        <!--网站公告内容-->
        <div class="announcement-wrap hidden">
            <div class="topic-th">网站公告</div>
            <ul class="list-unstyled content-list">
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
            </ul>
            <div class="pages">页码</div>
        </div>

        <!--公司动态内容-->
        <div class="dynamic-wrap">
            <div class="topic-th">公司动态</div>
            <ul class="list-unstyled content-list">
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
            </ul>
            <div class="pages">页码</div>
        </div>

        <!--媒体报道内容-->
        <div class="reports-wrap hidden">
            <div class="topic-th">媒体报道</div>
            <ul class="list-unstyled content-list">
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
                <li><i></i><a href="javascript:">安广融合：2015，奔跑吧！</a><span class="pull-right">2015-11-05 15:19</span></li>
            </ul>
            <div class="pages">页码</div>
        </div>

        
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>