<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>关于我们</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/about_more.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<div class="content-wrap morePage">
    <div class="left-nav">
        <ul class="list-unstyled nav-list">
            <li class='<%=category.id==0&&category_id==0?"clicked":""%>'><a href='<%=linkurl("about_more")%>' class="product">产品介绍</a></li>
            <li class='<%=category.id==43||category.id==54?"clicked":""%>'><a href='<%=linkurl("about_more","43,54")%>' class="announcement">平台公告</a></li>
            <li class='<%=category.id==42?"clicked":""%>'><a href='<%=linkurl("about_more",42)%>' class="dynamic">最新动态</a></li>
            <li class='<%=category.id==44?"clicked":""%>'><a href='<%=linkurl("about_more",44)%>' class="reports">媒体报道</a></li>
            <li class='<%=category.id==0&&category_id==-1?"clicked":""%>'><a href='<%=linkurl("about_more",-1)%>' class="join-us">加入我们</a></li>
        </ul>
    </div>
    <div class="right-content">
        <%if(category.id==0&&category_id==0)%>
        <!--产品介绍-->
        <div class="product-wrap">
            <div class="topic-th">产品介绍</div>
            <div class="content-body">
                <div class="bills-group">
                    <div class="yinpiao">
                        <p class="ypb-first">银票宝</p>
                        <p class="ypb-second">
                            <img src="<%templateskin%>/imgs/aboutus/xing.png" />
                            <span>票据托管 到期承兑</span>
                        </p>
                    </div>
                    <p class="ypb-con">银票宝是一款票据理财产品，银行承兑汇票是由出票人签发并由银行承兑，委托付款人在指定日期无条件支付票面金额给收款人或者持票人的票据。</p>
                    <img src="<%templateskin%>/imgs/aboutus/yinpiaobao.png" style="margin:14px 0 0 90px;" />
                    <p class="img-tit pull-right">（产品操作流程）</p>
                    <p class="ypb-tit" style="margin-top:70px;">产品利率、期限</p>
                    <p class="ypb-con">预期年化收益率5%-8%、期限10-70天；</p>
                    <p class="ypb-tit">产品特点</p>
                    <p class="ypb-con">《票据法》规定银行承兑汇票由银行开具的到期兑付的书面凭证，银行承诺到期无条件兑付该票据金额；平台银票宝产品，起投低、贷款周期短，让理财更便捷；</p>
                </div>

                <div class="micro-finance-group">
                    <div class="rongtong">
                        <p class="rt-first">融通宝</p>
                        <p class="rt-second">
                            <img src="<%templateskin%>/imgs/aboutus/xing.png" />
                            <span>(项目推进中)</span>
                        </p>
                    </div>
                    <p class="rtb-con">融通宝是一款供应链金融业务，是指以核心企业为依托，通过应收账款质押、货权质押等手段封闭资金流或者控制物权，对核心企业的上下游企业提供灵活运用的金融产品与服务的一种融资模式。</p>
                    <img src="<%templateskin%>/imgs/aboutus/rongtongbao.png" style="margin:14px 0 0 90px;" />
                    <p class="img-tit pull-right">（销售商产品操作流程）</p>
                    <p class="rtb-tit" style="margin-top:70px;">产品利率、期限</p>
                    <p class="rtb-con">预期年化收益率5%-8%、期限10-70天；</p>
                    <p class="rtb-tit">产品特点</p>
                    <p class="rtb-con">真实贸易、还款可靠、抵押充足、风控优异。</p>
                </div>

                <div class="mortgage-group">
                    <div class="xiaodai">
                        <p class="xd-first">小贷宝</p>
                        <p class="xd-second">
                            <img src="<%templateskin%>/imgs/aboutus/xing.png" />
                            <span>(项目推进中)</span>
                        </p>
                    </div>
                    <p class="xdb-con">小贷宝是借款人以足值抵押物（借款人所有的房地产）作为担保物，向安广融合平台申请发布借款信息的一款贷款产品；房地产包括：普通住宅、别墅、商铺、办公楼、商住两用房、厂房、土地。</p>
                    <img src="<%templateskin%>/imgs/aboutus/xiaodaibao.png" style="margin:14px 0 0 90px;" />
                    <p class="img-tit pull-right">（产品操作流程）</p>
                    <p class="xdb-tit" style="margin-top:70px;">产品利率、期限</p>
                    <p class="xdb-con">预期年化收益率5%-8%、期限10-70天；</p>
                    <p class="xdb-tit">产品特点</p>
                    <p class="xdb-con">实物抵押，每笔贷款都有房产抵押，风险极低。</p>
                </div>

            </div>
        </div>
        <%else if(category.id==0&&category_id==-1)%>
        <!--加入我们-->
        <div class="join-us-wrap">
            <div class="topic-th">加入安广融合</div>
            <div class="content-body">
                <p>安广融合视员工为企业的第一财富。我们为员工营造了轻松愉快的工作环境、充足的学习和成长机会，以充分展现员工的才华。作为创业企业，我们愿与员工一起成长，共创互联网金融的美好未来。</p>
                <p>请将您的简历通过电子邮件投递到 <span>hr@agrhp2p.com</span> ，邮件标题格式： 姓名-应聘职位，谢谢！</p>
                <div class="office">
                    <div class="th"><h4>在招聘中的职位</h4></div>
                    <ul>
                        <li>
                            <span>营销策划</span><span class="time pull-right">2016-05-03 17:49 <i class="glyphicon glyphicon-menu-down"></i></span>
                            <div class="office-detail">
                                <h5>岗位职责：</h5>
                                <ul>
                                    <li>负责组织搜集相关行业政策、竞争对手信息、客户信息等，分析市场发展趋势，根据需要撰写调研报告</li>
                                    <li>根据公司发展战略组织制定营销战略规划，转化为具体的行动计划，细化执行流程，监控整个项目的执行过程并完成监测总结</li>
                                    <li>营销策划活动的组织、执行、协调以及在执行过程中的监控和调配</li>
                                    <li>根据项目需求，完成策略、创意方案的拟定工作，并提供最优性价比的执行方式</li>
                                    <li>负责项目各类文件、数据和资料的汇总、整理</li>
                                    <li>负责撰写活动执行报告，制定和实施活动方案，进行评估和反馈，对活动执行结果负责</li>
                                    <li>完成上级领导临时交办的工作</li>
                                </ul>
                                <h5 style="margin-top: 25px">任职要求：</h5>
                                <ul>
                                    <li>熟练掌握战略、策划、定位、创意、推广的系列专业技巧</li>
                                    <li>具有敏锐的市场嗅觉及洞察力，进行市场调研与分析</li>
                                    <li>思维缜密，具有较强的创新能力、文字表达能力，对信息的整合、运用能力强，可完成项目的策略制定、方案策划（创意）、撰写、提案等日常工作。熟练操作Office及统计相关软件，尤其是PPT、Excel的熟练使用</li>
                                    <li>人品端正、积极主动、性格适度外向、善于沟通和表达</li>
                                    <li>具有一定的项目风险把控与全局思维能力</li>
                                    <li>有较强的沟通协调能力、应变能力、组织协调能力以及团队合作能力</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <span>媒体主管</span><span class="time pull-right">2016-05-03 17:49 <i class="glyphicon glyphicon-menu-down"></i></span>
                            <div class="office-detail">
                                <h5>岗位职责：</h5>
                                <ul>
                                    <li>塑造公司整体品牌形象，制定品牌行销策略策划，开展公关活动，提高企业知名度，拉升品牌形象</li>
                                    <li>根据整体需求，开拓各类媒体资源，对接媒介广告资源，进行新闻发布或品牌推广</li>
                                    <li>负责公司舆情监控、负面舆论管制、新闻传播、风险管控、危机处理等工作</li>
                                    <li>协助公司高层形象与包装，管理高层接受媒体访问，负责公司对外发言</li>
                                    <li>联合多家供应商进行互联网口碑营销，在论坛、微博微信、知乎社区等渠道推广公司品牌及口碑故事</li>
                                    <li>进行政府关系、投资者关系的维护与拓展</li>
                                    <li>熟练运用互联网品牌公关技巧，并有成功案例</li>
                                </ul>
                                <h5 style="margin-top: 25px">任职要求：</h5>
                                <ul>
                                    <li>本科及以上学历</li>
                                    <li>创意能力强，善于把握时事热点，有跨界营销、新媒体营销的思维方式</li>
                                    <li>对品牌建设有独到见解；具备整体战略思考和把握全局能力，并能实施落地</li>
                                    <li>有良好的品牌策划和稿件撰写能力</li>
                                    <li>良好的媒体关系及丰富的媒介资源，善于开拓媒体资源</li>
                                    <li>积极进取、优秀的人际沟通能力、良好的沟通技巧以及丰富的团队管理经验</li>
                                    <li>有互联网公司市场公关管理实际工作经验优先</li>
                                    <li>有媒体资源背景者优先</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <span>软件开发工程师</span><span class="time pull-right">2016-05-03 17:49 <i class="glyphicon glyphicon-menu-down"></i></span>
                            <div class="office-detail">
                                <h5>岗位职责：</h5>
                                <ul>
                                    <li>根据架构师要求开发并实现各产品功能及代码重构</li>
                                    <li>参与后端研发中涉及到的技术框架选型及相关实现</li>
                                    <li>负责相关模块性能分析及改进，保证系统性能和稳定性</li>
                                </ul>
                                <h5 style="margin-top: 25px">任职要求：</h5>
                                <ul>
                                    <li>大专以上学历，一年以上软件开发经验</li>
                                    <li>精通至少一门编程语言，Java/.Net优先</li>
                                    <li>熟悉Java Struts2、Spring、Hibernate；.Net MVC、Entity Framework优先</li>
                                    <li>熟悉HTTP、JavaScript/Ajax/Jquery、HTML/CSS</li>
                                    <li>熟悉数据库设计和优化能力，至少熟悉一种数据库应用</li>
                                    <li>有大访问量网站建设或数据库建设经验优先</li>
                                    <li>有手机网站应用开发经验者优先</li>
                                    <li>拥有GitHub作品或其它技术博客优先</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%else%>
        <!--列表-->
        <div class="announcement-wrap">
            <div class="topic-th">{category.title}</div>
            <ul class="list-unstyled content-list">
                <%set var queryKey = category_id==0?category_ids:"" + category_id%>
                <%set var pageSize = 10%>
                <%set var articles = GetArticles(queryKey,pageSize,page-1,out totalcount)%>
                <%foreach(var a in articles)%>
                <li><span class="pull-right">{a.add_time}</span><i></i><a href='<%=linkurl("article_show",a.id)%>'>{a.title}</a></li>
                <%/foreach%>
            </ul>
            <%if(category_id!=0)%>
            <div class="pages"><%=Utils.OutPageList(pageSize,page,totalcount,linkurl("about_more",category_id,"__id__"),8)%></div>
            <%else%>
            <div class="pages"><%=Utils.OutPageList(pageSize,page,totalcount,linkurl("about_more",category_ids,"__id__"),8)%></div>
            <%/if%>
        </div>
        <%/if%>
    </div>
</div>

<%template src="_floating.html"%>
<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>