<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>核对商品信息</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/react.bundle.js"></script>
    <script src="<%templateskin%>/build/add_order.bundle.js"></script>
</head>

<body>
    <%template src="_header.html"%>

        <div class="breadcrumbs">
            <a href='<%linkurl("point")%>'>积分商城</a>
            <span> > </span>
            <span>核对商品信息</span>
        </div>


<div id="orderConfirm"
     class='<%=articleModel.dt_article_category.call_index == "jiaxijuan"||articleModel.dt_article_category.call_index=="hongbao"?"hidden":""%>'
     ></div>

        
            <div class="order-content">
                 <p class="bill">商品清单</p>
                   <table class="table order-tb">           
            <thead>            
                <tr>
                    <th></th>
                    <th>商品名称</th>
                    <th>价格</th>
                    <th>属性</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%if(articleAlbums!=null)%>
                        <img src="<%=articleAlbums.thumb_path%>" />
                        <%/if%>
                    </td>
                    <td>
                           <%=articleModel.title%>
                    </td>
                    <td>
                           <%=articleDetail.point%>
                    </td>
                    <td>
                        <%=order_type_zh%>
                        <%if(articleModel.dt_article_category.call_index=="jiaxijuan")%>
                        限投<%=articleDetail.point_limit%>万
                        <%/if%>
                        <%if(articleModel.dt_article_category.call_index=="hongbao")%>
                        有效期：1个月
                        <%/if%>
                    </td>
                    <td>
                          <%=order_count%>
                    </td>
                    <td>
                         <%=(articleDetail.point*order_count)%>
                    </td>
                </tr>
            </tbody>
        </table>
         <p class="quantity">
            商品数量：<%=order_count%>件
        </p>
         <p class="points">应付积分：<i><%=(articleDetail.point*order_count)%>积分</i></p>
 <a href="javascript:" class="adding">提交订单</a>
 <p class="premise">* 须完成投资的用户才能兑换</p>
    </div>

    <div id="shiwuxinxi"
          data-goodsid="<%=goods_id%>"
         data-count="<%=order_count%>"
         ></div>

        <%template src="_footerSmall.html"%>
</body>

</html>