<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>核对商品信息</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/react.bundle.js"></script>
    <script src="<%templateskin%>/build/add_order.bundle.js"></script>
</head>
<body>
<%template src="_header.html"%>

<div class="breadcrumbs">
    <a href='<%linkurl("point")%>'>积分商城</a>
    <span> > </span>
    <span>核对商品信息</span>
</div>

<div id="orderConfirm"></div>


<%template src="_footerSmall.html"%>
</body>
</html>
