<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/article_show.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="index.html">首页</a>
    <span> > </span>
    <span>关于我们</span>
</div>
<!--面包屑导航 end-->

<div class="content-wrap article-content">
    <div class="article-th">安广融合发布会在佛山XXX举行</div>
    <div class="article-th-secondary"><span class="article-source">公司动态</span><span class="pull-right time">2015-11-06</span></div>
    <div class="content-body">
        <!--一般文章格式-->
        <div class="basic-article hidden">
            <div class="img-wrap"><img src="<%templateskin%>/imgs/usercenter/test_01.jpg"/></div>
            <p>观自在菩萨，行深般若波罗蜜多时，照见五蕴皆空，度一切苦厄。</p>
            <h4>般若波罗蜜多心经</h4>
            <p>舍利子，色不异空，空不异色，色即是空，空即是色，受想行识，亦复如是。舍利子，是诸法空相，不生不灭，不垢不净，不增不减。是故空中无色，无受想行识，无眼耳鼻舌身意，无色声香味触法，无眼界，乃至无意识界，无无明，亦无无明尽，乃至无老死，亦无老死尽。无苦集灭道，无智亦无得。以无所得故。</p>
            <p>菩提萨埵，依般若波罗蜜多故，心无挂碍。无挂碍故，无有恐怖，远离颠倒梦想，究竟涅盘。三世诸佛，依般若波罗蜜多故，得阿耨多罗三藐三菩提。故知般若波罗蜜多，是大神咒，是大明咒，是无上咒，是无等等咒，能除一切苦，真实不虚。故说般若波罗蜜多咒，即说咒曰：揭谛揭谛，波罗揭谛，波罗僧揭谛，菩提萨婆诃。 </p>
        </div>
        <!--还款公告文章格式-->
        <div class="repayment-article">
            <p>尊敬的安广融合用户：</p>
            <p>今日（2015-11-06）有以下项目完成兑付：</p>
            <table class="table table-bordered repayment-tb">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>项目名称</th>
                    <th>返回金额</th>
                    <th>返回本金</th>
                    <th>返回收益</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>石化供应链系列-XXXXX公司应收</td>
                    <td>￥100,000,00.00</td>
                    <td>￥80,000,00.00</td>
                    <td>￥20,000,00.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>石化供应链系列-XXXXX公司应收</td>
                    <td>￥100,000,00.00</td>
                    <td>￥80,000,00.00</td>
                    <td>￥20,000,00.00</td>
                </tr>
                </tbody>
            </table>
            <p>如对资金信息有疑问和未收到短信通知的投资用户，欢迎致电详询：400-8989-089。</p>
            <p>祝您赚钱愉快！</p>
            <div class="sender">
                <p>安广融合运营团队</p>
                <p>2015年11月6日</p>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>
