<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{category.title}</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/article_list.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<div class="content-wrap aboutPage">
    <div class="left-nav">
        <ul class="list-unstyled nav-list">
            <li><a href='<%=linkurl("about")%>?tab=1' class="product">产品介绍</a></li>
            <li class='<%=category.id==43||category.id==54?"clicked":""%>'><a href='<%=linkurl("article_list","43,54")%>' class='announcement'>网站公告</a></li>
            <li class='<%=category.id==42?"clicked":""%>'><a href='<%=linkurl("article_list",42)%>' class='dynamic'>公司动态</a></li>
            <li class='<%=category.id==44?"clicked":""%>'><a href='<%=linkurl("article_list",44)%>' class='reports'>媒体报道</a></li>
        </ul>
    </div>
    <div class="right-content">
        <!--网站公告内容-->
        <div class="announcement-wrap">
            <div class="topic-th">{category.title}</div>
            <ul class="list-unstyled content-list">
                <%set var queryKey = category_id==0?category_ids:"" + category_id%>
                <%set var articles = GetArticles(queryKey,10,page-1,out totalcount)%>
                <%foreach(var a in articles)%>
                <li><span class="pull-right">{a.add_time}</span><i></i><a href='<%=linkurl("article_show",a.id)%>'>{a.title}</a></li>
                <%/foreach%>
            </ul>
            <%if(category_id!=0)%>
            <div class="pages"><%=Utils.OutPageList(10,page,totalcount,linkurl("article_list",category_id,"__id__"),8)%></div>
            <%else%>
            <div class="pages"><%=Utils.OutPageList(10,page,totalcount,linkurl("article_list",category_ids,"__id__"),8)%></div>
            <%/if%>
        </div>
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>