<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>融资合作</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/coop.bundle.js"></script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
    <!--head end-->

    <div class="about-nav-bar">
        <div class="content-wrap">
            <span><a href="#company">融资合作</a></span>
            <a class="teamwork">项目合作</a>
            <a  class="rongzi">银票融资</a>
        </div>
    </div>

    <div class="jiameng">
        <div class="content-wrap">
            <div class="tijiao">
                <p>我们的专属热线<span>400-8878-200</span>24小时为您等候，</p>
                <p>或给我们留下您的联系方式，我们会在最短时间内联系您</p>
                <input id="accountname" class="input-l" type="text" placeholder="输入您的名字" />
                <input id="phone" class="input-l" type="text" placeholder="输入您的手机号码" />
                <button id="giving" type="submit">提 交</button>
            </div>
        </div>
    </div>

    <div class="cooperation2 ">
        <div class="procedure">操作流程</div>
        <div class="procedure2 ">
            <div class="content-wrap">
                <ul class="list-unstyled list-inline list-step">
                    <li class="step1"></li>
                    <li class="stephr"></li>
                    <li class="step2"></li>
                    <li class="stephr"></li>
                    <li class="step3"></li>
                    <li class="stephr"></li>
                    <li class="step4"></li>
                    <li class="stephr"></li>
                    <li class="step5"></li>
                    <li class="stephr"></li>
                    <li class="step6"></li>
                </ul>
            </div>
            <div class="step-tips">
                <div class="content-wrap">
                    <span class="tip1">客户提交联系方式</span>
                    <span class="tip2">客户经理电话联系</span>
                    <span class="tip3">达成合作意向</span>
                    <span class="tip4">审核通过</span>
                    <span class="tip5">签订合同</span>
                    <span class="tip6">票据交银行托管托收</span>
                </div>
            </div>
        </div>
        <div class="loan-hr"></div>
        <div class="procedure">产品介绍</div>
        <div class="content-wrap introduction">
            以高安全性银行承兑汇票为还款保障的借款产品，寻求与票据提供方、需求方的共同合作。
        </div>
        <div class="loan-hr"></div>
        <div class="procedure">产品优势</div>
        <div class="content-wrap advantage">
            <div class="advantage1">低成本</div>
            <div class="advantage2">高安全性</div>
            <div class="advantage3">服务可靠</div>
            <div class="advantage4">专业团队</div>
        </div>
        <div class="loan-hr"></div>
        <div class="procedure">业务流程</div>
        <div class="content-wrap steping"></div>
        <div class="loan-hr"></div>
        <div class="content-wrap required">
            <div class="tiaojian">
                <p class="require-title">准入条件</p>
                <p class="require-con"><span>1</span>有固定经营场所的企业法人</p>
                <p class="require-con"><span>2</span>业务经营状态良好、信用良好</p>
            </div>
            <div class="apply-for">
                <p class="require-title">申请资料</p>
                <p class="require-con"><span>1</span>企业基本资料</p>
                <div>营业执照、组织机构代码证、税务登记证、开户许可证、公司章程、法人身份证</div>
                <p class="require-con"><span>2</span>财务资料</p>
                <div>财务报表、银行流水</div>
                <p class="require-con"><span>3</span>信用情况</p>
                <div>企业/法人征信报告、对外借款明细、诉讼情况</div>
            </div>

        </div>
    </div>  


<div class="cooperation">
    <div class="procedure">合作流程</div>
    <div class="procedure2 ">
        <div class="content-wrap">
            <ul class="list-unstyled list-inline list-step">
                <li class="step1"></li>
                <li class="stephr"></li>
                <li class="step2"></li>
                <li class="stephr"></li>
                <li class="step3"></li>
                <li class="stephr"></li>
                <li class="step4"></li>
            </ul>
        </div>
        <div class="step-tips content-wrap">
            <span class="tip1">客户提交联系方式</span>
            <span class="tip2">客户经理电话联系</span>
            <span class="tip3">取得合作途径</span>
            <span class="tip4">合作成功</span>
        </div>
    </div>
    <div class="loan-hr"></div>
    <div class="procedure">产品介绍</div>
    <div class="content-wrap introduction introduction6">
        <p>银票融资</p>
        <div>以高安全性银行承兑汇票为还款保障的借款产品，寻求与票据提供方、需求方的共同合作。</div>
    </div>
    <div class="content-wrap introduction introduction1">
        <p>企业供应链融资</p>
        <div>以核心客户为依托，在真实贸易背景为前提，通过对货权质押控制、应收账款保理等方式，对供应链上下游企业提供的综合性金融产品和服务。</div>
    </div>

    <div class="content-wrap introduction introduction2">
        <p>小额贷款公司债权资产转让融资</p>
        <div>平台联合专业性较强的小额贷款公司共同开发。小额贷款公司将已有的债权项目通过我平台合法流转，投资者通过平台受让小额贷款公司出让的债权获得收益。小额贷款公司承诺对公司债权转让项目按期回购。</div>
    </div>

</div>
     
       



    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>