<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>首页</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/index.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--banner-floating-->
<div class="banner-floating">
    <div class="content-wrap">
        <div class="floating-box">
            <div class="opacity"></div>
            <div class="content-body">
                <%if(_userModel==null)%>
                <p class="title">安广融合年化收益</p>
                <p class="rate">最高<span class="num">15</span><span class="unit">%</span></p>
                <p class="invest-amount">100元起投，享稳健收益</p>
                <a class="register-btn" href='<%linkurl("register")%>'>免费注册</a>
                <p class="switch">已有账号？ <a href='<%linkurl("login")%>'>立即登录</a></p>
                <%else%>
                <p class="title">欢迎来到安广融合</p>
                <p class="user">您的账户：<span class="account"><%=Utils.GetUserNameHidden(_userModel.user_name)%></span></p>
                <a class="register-btn enter" href='<%linkurl("usercenter","index")%>'>进入我的账户</a>
                <p class="switch"><a href='<%linkurl("usercenter","exit")%>'>退出登录</a></p>
                <%/if%>
            </div>
        </div>
    </div>
</div>


<!--banner-->
<div class="container-fluid">
    <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <!--<li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#bannerCarousel" data-slide-to="1"></li>-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a class="banner1" href='<%linkurl("register")%>' target="_blank"></a>
            </div>
            <!--<div class="item">-->
                <!--<img src="<%templateskin%>/imgs/index/bannerTest-02.jpg" alt="Chania">-->
            <!--</div>-->

            <!-- Left and right controls -->
            <!--<a class="left carousel-control" href="#bannerCarousel" role="button" data-slide="prev">-->
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#bannerCarousel" role="button" data-slide="next">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
            <!--</a>-->

        </div>
    </div>
</div>
<!--banner end-->

<!--announcement-->
<div class="container-fluid announcement-wrap">
    <div class="announcement">
        <span class="pull-right"><a href='<%=linkurl("about_more","43,54")%>' target="_blank">更多></a></span>
        <span class="announce-board-icon announce-icon"></span>
        <%set var projectAnnounce=GetArticles(54, 1).FirstOrDefault()%>
        <span class="return-announce">发标公告：
            <%if(projectAnnounce!=null)%>
            <a href='<%linkurl("article_show",projectAnnounce.id)%>' target="_blank">
            <%=projectAnnounce.title.Length>25?projectAnnounce.title.Substring(0, 25)+"...":projectAnnounce.title%>
            </a>
            <%else%>
            <span>暂无内容</span>
            <%/if%>
        </span>
        <span class="announce-board-icon news-icon"></span>
        <%set var newestAnnounce=GetArticles(42, 1).FirstOrDefault()%>
        <span class="web-announce">最新动态：
            <%if(newestAnnounce!=null)%>
            <a href='<%linkurl("article_show",newestAnnounce.id)%>' target="_blank">
            <%=newestAnnounce.title.Length>30?newestAnnounce.title.Substring(0, 30)+"...":newestAnnounce.title%>
            </a>
            <%else%>
            <span>暂无内容</span>
            <%/if%>
        </span>
        <span class="announce-board-icon news-icon"></span>
    </div>
</div>
<!--announcement end-->

<div class="container-fluid features">
    <ul class="list-unstyled list-inline content-wrap">
        <li><a href='<%linkurl("safe_defence")%>' class="funds-icon"></a>
            <div>
                <p>资金存管</p>
                <p>坚持中介本质</p>
            </div>
        </li>
        <li><a href='<%linkurl("safe_defence")%>' class="acceptance-icon"></a>
            <div>
                <p>银行承兑</p>
                <p>低风险、短期高收益</p>
            </div>
        </li>
        <li><a href='<%linkurl("safe_defence")%>'class="guarantee-icon"></a>
            <div>
                <p>本息保障</p>
                <p>风险保证金垫付</p>
            </div>
        </li>
    </ul>
</div>

<%set var np = GetFinancingNewbieProject()%>
<%if(np!=null)%>
<div class="content-wrap new-hand">
    <div class="project-icon">
        <a href='<%=linkurl("help")%>' target="_blank">
            <p>新手指引</p>
            <p>安广融合带您理财</p>
        </a>
    </div>
    <div class="rawProject-wrap">
        <div class="project-content">
            <div class="title-wrap">
                <span class="title">新手专享标</span>
                <span class="tips">每个新注册用户仅限投资新手标一次，每次固定限投100元</span>
            </div>
            <div class="content-body">
                <div class="column">
                    <p class="grey25px bottom18px">1<span class="grey15px">天</span></p>
                    <p class="grey13px">期限</p>
                </div>
                <div class="column">
                    <p class="grey25px bottom18px">10<span class="grey15px">元</span></p>
                    <p class="grey13px">项目收益</p>
                </div>
                <div class="column">
                    <div class="progress progress-custom">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%=(np.GetInvestmentProgressPercent()*100)%>"
                             aria-valuemin="0" aria-valuemax="100" style='width: <%=np.GetInvestmentProgressPercent().ToString("p1")%>;'>
                            <%=np.GetInvestmentProgressPercent().ToString("p1")%>
                        </div>
                    </div>
                    <p class="grey13px">可投金额：<span class="dark-grey13px">{np.GetInvestmentBalance()}</span></p>
                    <p class="grey13px">到期还本付息</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rules">
        <p class="rule1">新手专享标仅限一次</p>
        <p class="rule2">投资当天，立即计息</p>
        <p class="rule3">100%本息保障</p>
        <a href='<%linkurl("project",np.id)%>'>立即投资</a>
    </div>
</div>
<%/if%>

<!--invest list-->
<div class="container-fluid">
    <%set var totalcount=0%>
    <%set var projects=QueryProjects(5,0,out totalcount,0,0,0,0)%>
    <%foreach(var p in projects)%>
    <div class="invest-cell">
        <div class="invest-title-wrap">
            <span class="invest-style-tab"><%=p.dt_article_category.title%></span>
            <%if(p.dt_article_category.call_index=="ypb")%>
            <span class="invest-title"><a href='<%linkurl("project",p.id)%>'>{p.title}</a></span>
            <span class="pull-right acceptance-bank"><i></i>承兑银行：<%=p.GetMortgageInfo("bank")%></span>
            <%else%>
            <span class="invest-title"><a href='<%linkurl("project",p.id)%>'>{p.title}</a></span>
            <%/if%>
            <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
            <span class="invest-list-icon yue-icon"></span>
            <%/if%>
            <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
            <span class="invest-list-icon jian-icon"></span>
            <%/if%>
            <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
            <span class="invest-list-icon xin-icon"></span>
            <%/if%>
        </div>
        <div class="invest-content">
            <div class="apr">
                <div class="red25px margin-bottom10px"><%=p.profit_rate_year.ToString("f1")%><span class="red15px">%</span></div>
                <div class="grey13px">年化利率</div>
            </div>
            <div class="deadline">
                <div class="grey25px margin-bottom10px">{p.repayment_term_span_count}<span
                        class="grey15px">{p.GetProjectTermSpanEnumDesc()}</span></div>
                <div class="grey13px">期限</div>
            </div>
            <div class="sum">
                <div class="grey25px margin-bottom10px"><%=p.financing_amount.ToString("n0")%><span class="grey15px">元</span></div>
                <div class="grey13px">借款金额</div>
            </div>
            <div class="repayment">
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=(p.GetInvestmentProgressPercent()*100)%>"
                         aria-valuemin="0" aria-valuemax="100" style='width: <%=p.GetInvestmentProgressPercent().ToString("p1")%>'>
                        <%=p.GetInvestmentProgressPercent().ToString("p1")%>
                    </div>
                </div>
                <%if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                <div class="grey13px margin-bottom10px">可投金额 : <span class="dark-grey13px">{p.GetInvestmentBalance()}</span></div>
                <%else %>
                <div class="grey13px margin-bottom10px">投资人数 : <span class="dark-grey13px">{p.GetInvestedUserCount()}人</span></div>
                <%/if%>
                <div class="grey13px">{p.GetProjectRepaymentTypeDesc()}</div>
            </div>
            <div class="invest-btn">
                <%if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
                <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>待发标</a>
                <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                <a class="invest-now-btn" href='<%linkurl("project",p.id)%>'>立即投资</a>
                <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
                <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>审核中</a>
                <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
                <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>还款中</a>
                <%else if(p.status>=(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
                <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>已完成</a>
                <%/if%>
            </div>
        </div>
    </div>
    <%/foreach%>
    <div class="more-projects"><a href='<%linkurl("projects")%>'>查看更多投资理财项目</a></div>
</div>
<!--invest list end-->

<!--dynamic boards-->
<div class="container-fluid">
    <div class="dynamic-wrap">
        <!--公司动态-->
        <div class="company-news">
            <div class="dynamic-title-wrap">
                <a href='<%=linkurl("about_more",42)%>'>
                    <span class="link-mark pull-right"></span>
                    <span class="dynamic-title">公司动态</span>
                </a>
            </div>
            <div class="news-wrap">
                <%set var inc_news_ls=GetArticles(42, 4)%>
                <%set var inc_news_first=inc_news_ls.FirstOrDefault()%>
                <%if(inc_news_first!=null)%>
                <a class="img-wrap" href='<%linkurl("article_show",inc_news_first.id)%>' target="_blank">
                    <img src="{inc_news_first.img_url}" alt=""/>
                </a>
                <div class="img-title">{inc_news_first.title}</div>
                <%else%>
                <div style="text-align: center">暂无内容</div>
                <%/if%>
                <div class="news-list">
                    <ul class="list-unstyled">
                        <%foreach(var a in inc_news_ls.Skip(1))%>
                        <li>
                            <span class="list-title-wrap">
                                <a href='<%linkurl("article_show",a.id)%>' target="_blank" class="dark-grey14px">
                                    <span class="pull-right"><%=string.Format("{0:yyyy-MM-dd}", a.add_time)%></span>
                                    <span class="list-mark"></span>
                                    <span class="list-title"><%=a.title%></span>
                                </a>
                            </span>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>

        <!--媒体报道-->
        <div class="media-report">
            <div class="dynamic-title-wrap">
                <a href='<%=linkurl("about_more",44)%>'>
                    <span class="link-mark pull-right"></span>
                    <span class="dynamic-title">媒体报道</span>
                </a>
            </div>
            <div class="report-wrap">
                <%set var media_dt_ls=GetArticles(44, 4)%>
                <%set var media_dt_first=media_dt_ls.FirstOrDefault()%>
                <%if(media_dt_first!=null)%>
                <a class="img-wrap" href='<%linkurl("article_show",media_dt_first.id)%>' target="_blank">
                    <img src="{media_dt_first.img_url}" alt=""/>
                </a>
                <div class="img-title">{media_dt_first.title}</div>
                <%else%>
                <div style="text-align: center">暂无内容</div>
                <%/if%>
                <div class="report-list">
                    <ul class="list-unstyled">
                        <%foreach(var a in media_dt_ls.Skip(1))%>
                        <li><span class="list-title-wrap">
                            <a href='<%linkurl("article_show",a.id)%>' target="_blank" class="dark-grey14px">
                                <span class="pull-right"><%=string.Format("{0:yyyy-MM-dd}", a.add_time)%></span>
                                <span class="list-mark"></span>
                                <span class="list-title"><%=a.title%></span>
                            </a>
                            </span>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>

        <!--网站公告-->
        <div class="company-placard">
            <div class="dynamic-title-wrap">
                <a href='<%=linkurl("about_more","43,54")%>'>
                    <span class="link-mark pull-right"></span>
                    <span class="dynamic-title">公司公告</span>
                </a>
            </div>
            <ul class="list-unstyled">
                <%set var announces_ls=GetArticles("43,54", 10, 0)%>
                <%foreach(var a in announces_ls)%>
                <li><span class="list-title-wrap">
                        <a href='<%linkurl("article_show",a.id)%>' target="_blank" class="dark-grey14px">
                            <span class="pull-right"><%=string.Format("{0:yyyy-MM-dd}", a.add_time)%></span>
                            <span class="list-mark"></span>
                            <span class="list-title"><%=a.title%></span>
                        </a>
                    </span>
                </li>
                <%/foreach%>
            </ul>
        </div>
    </div>
</div>
<!--dynamic boards end-->

<!--floating icon-->
<div class="floating-wrap">
    <a class="btn cal-btn" data-toggle="popover" data-placement="left" data-html="true" data-content=
    '<ul class="list-unstyled cal-ul">
      <li><span>投资金额：</span><input type="text" id="money" />元</li>
      <li><span>年化利率：</span><input type="text" id="rate" />%</li>
      <li><span>投资期限：</span><input type="text" id="time" />日</li>
      <li><span>投资收益：</span><span id="profit"></span>元</li>
    </ul>
    <div class="btn-wrap"><button type="button" id="cal-btn" onclick="calculate()">计 算</button></div>'
    ><span id="floating-cal" class="floating-icon cal-icon"></span>
    </a>
    <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008878200&aty=1&a=0&curl=&ty=1" target="_blank"><span id="floating-qq"></span></a>
    <a href="#" id="floating-top-wrap" style="display:none"><span id="floating-top" class="floating-icon top-icon"></span></a>
</div>
<!--floating icon end-->

<!--footer-->
<%template src="_footer.html"%>
<!--footer end-->
</body>
</html>