<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我要借款</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/loan.bundle.js"></script>
    <script type="text/javascript">
        function change_bg(obj)
        {
            var a=document.getElementById("Menu").getElementsByTagName("a");
            for(var i=0;i<a.length;i++)
            {
                a[i].className="";
            }
            obj.className="current";
        }
    </script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
    <!--head end-->
    <div class="about-nav-bar">
        <div class="content-wrap">
                <span><a href="#company" >融资合作</a></span>               
                <a href="#events" class="teamwork">项目合作</a>
                <a href="#culture" class="rongzi">银票融资</a>      
        </div>
    </div>

    <div class="jiameng">
    <div class="content-wrap">
        <div class="tijiao">
            <p>我们的专属热线<span>400-8878-200</span>24小时为你等候，</p>
            <p>或给我们留下您的联系方式，我们会在最短时间内联系您</p>
            <input id="accountname" class="input-l" type="text" placeholder="输入您的名字"/>
            <input id="phone" class="input-l" type="text" placeholder="输入您的手机号码/固话"/>
            <button id="giving" type="button">提 交</button>
        </div>
    </div>
    </div>

    <div class="procedure">合作流程</div>
    <div class="procedure2 ">
        <div class="content-wrap">
            <ul class="list-unstyled list-inline list-step">
                <li class="step1"></li>
                <li class="stephr"></li>
                <li class="step2"></li>
                <li class="stephr"></li>
                <li class="step3"></li>
                <li class="stephr"></li>
                <li class="step4"></li>
            </ul>   
        </div>
        <div class="step-tips content-wrap">
            <span class="tip1">客户提交联系方式</span>
            <span class="tip2">客户经理电话联系</span>
            <span class="tip3">取得合作途径</span>
            <span class="tip4">合作成功</span>
        </div>
    </div>
    <div class="loan-hr"></div>
    <div class="procedure">产品介绍</div>
    <div class="content-wrap introduction">
        <p>生活消费金融</p>
        <div>通过平台发售充值消费卡，满足商家资金需求，实现各行各业客户资源的共享，同时也是客户把计划消费金进行理财的一种创新理财模式。</div>          
    </div>
    <div class="content-wrap introduction introduction1" >
        <p>企业供应链融资</p>
        <div>以核心客户为依托，在真实贸易背景为前提，通过对货权质押控制、应收账款保理等方式，对供应链上下游企业提供的综合性金融产品和服务。</div>
    </div>
    <div class="content-wrap introduction introduction4">
        <p>进出口贸易融资</p>
        <div style="margin-left:-4px;">（一）进口贸易融资</div>
        <div>1、授信开证</div>
        <div>企业办理进口业务采用信用证方式结算时，按照进口合同金额最高80%比例借款给企业作为开立信用证的保证金。</div>
        <div>2、提单质押</div>
        <div>企业以海运提单（物权单据）作为该笔融资的质押保证的一种融资方式。</div>
    </div>
    <div class="content-wrap introduction introduction5">
        <div style="margin-left:-4px;">（二）出口贸易融资</div>
        <div>1、打包放款</div>
        <div>平台根据企业的申请，将境外银行开具的以出口申请人为受益人的信用证正本留存作保证，对出口申请人发放的用于生产或采购该信用证项下出口货物的专项贷款。</div>
        <div>2、出口退税质押融资</div>
        <div>针对享有符合国家政策规定的出口退税应收款的出口贸易企业，以其享受的符合国家政策规定的出口退税应收款作为质押，加快企业退税资金回笼的一种融资方式。</div>
    </div>
    <div class="content-wrap introduction introduction2">
        <p>小额贷款公司债权资产转让融资</p>
        <div>平台联合专业性较强的小额贷款公司共同开发。小额贷款公司将已有的债权项目通过我平台合法流转，投资者通过平台受让小额贷款公司出让的债权获得收益。小额贷款公司承诺对公司债权转让项目按期回购。</div>
    </div>
    <div class="content-wrap introduction introduction3">
        <p>融资租赁公司资产抵押融资</p>
        <div>融资租赁公司与平台建立合作关系，通过平台寻求经营资金来源；融资租赁公司可通过将存量租赁项目的应收账款进行转让，并提供项目项下的租赁物抵押担保，以承租人定期支付的租金作为还款来源，通过分期还款的方式归还投资者投资资金；该模式使融资租赁公司获得经营资金，盘活资产，增加现金流。</div>
    </div>



    <!--
    <div class="content-wrap application-form">
        <div class="nav-wrap">
            <p class="title">借款流程</p>
            <ul class="list-unstyled list-inline application-ul">
                <li class="step1">登录</li>
                <li class="next-icon"></li>
                <li class="step2">申请成为借款人</li>
                <li class="next-icon"></li>
                <li class="step3">申请借款</li>
                <li class="next-icon"></li>
                <li class="step4">完成借款</li>
            </ul>
        </div>

        <div class="form-wrapper">
          <div class="login-form-wrap">
                <div class="form-title">
                    <span class="title-style">登录</span>
                    <span class="pull-right register-btn">如无账号 <a href='<%linkurl("register")%>'>快速注册</a></span>
                </div>
                <form class="form-horizontal login-form">
                    <div class="form-group">
                        <label for="user-name" class="control-label">用户名：</label>
                        <input type="text" class="form-control" id="user-name" />
                    </div>
                    <div class="form-group">
                        <label for="user-pwd" class="control-label">密码：</label>
                        <input type="text" style="display:none" />
                        <input type="password" class="form-control" id="user-pwd" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="loginBtn">登 录</button>
                    </div>
                </form>
            </div>

            <div class="personal-info-form-wrap" style="display: none">
                <div class="form-title">
                    <span class="title-style">借款人资料</span>
                </div>
                <div id="loanerApplyChecking" class="status">
                    <span class="status-icon checking"></span>
                    <span class="tips-title">申请借款人审核中</span>
                    <span class="tips">您提交的申请正在审核中，请耐心等待！</span>
                </div>
                <div id="loanerApplyFailed" class="status">
                    <span class="status-icon failed"></span>
                    <span class="tips-title">申请借款人失败</span>
                    <span class="tips">您提交的申请资料有误，请重新核对资料后再提交！</span>
                </div>
                <div id="loanerApplyForbid" class="status">
                    <span class="status-icon forbid"></span>
                    <span class="tips-title">禁止申请借款人</span>
                    <span class="tips">抱歉！您已被禁止申请成为借款人。</span>
                </div>
                <form class="form-horizontal personal-info-form">
                    <div class="form-group">
                        <label for="name" class="control-label">姓名：</label>
                        <input type="text" id="name" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">手机号码：</label>
                        <input type="text" id="phone" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="birthplace" class="control-label">籍贯：</label>
                        <input type="text" id="birthplace" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="job" class="control-label">工作：</label>
                        <input type="text" id="job" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="employer" class="control-label">工作单位：</label>
                        <input type="text" id="employer" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="work-place" class="control-label">工作地点：</label>
                        <input type="text" id="work-place" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="education" class="control-label">学历：</label>
                        <select id="education" class="form-control">
                            <option value="" style="display: none"></option>
                            <option value="">小学及以下</option>
                            <option value="">初中</option>
                            <option value="">高中</option>
                            <option value="">中专</option>
                            <option value="">大专</option>
                            <option value="">本科</option>
                            <option value="">研究生</option>
                            <option value="">博士及以上</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="marital-status" class="control-label">婚姻状况：</label>
                        <select id="marital-status" class="form-control">
                            <option style="display: none"></option>
                            <option value="1">未婚</option>
                            <option value="2">已婚</option>
                            <option value="3">离异</option>
                            <option value="4">丧偶</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="income" class="control-label">收入：</label>
                        <input type="text" id="income" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="loanerApplyBtn">提 交</button>
                    </div>
                </form>
            </div>

            <div class="loan-detail-form-wrap" style="display: none">
                <div class="form-title">
                    <span class="title-style">申请借款</span>
                </div>
                <div id="loanApplyChecking" class="status">
                    <span class="status-icon checking"></span>
                    <span class="tips-title">申请借款审核中</span>
                    <span class="tips">您提交的申请正在审核中，请耐心等待！</span>
                </div>
                <div id="loanApplyFailed" class="status">
                    <span class="status-icon failed"></span>
                    <span class="tips-title">申请借款失败</span>
                    <span class="tips">您提交的申请资料有误，请重新核对资料后再提交！</span>
                </div>
                <form class="form-horizontal loan-detail-form">
                    <div class="form-group margin-left">
                        <label for="ddl_project_type" class="control-label">借款类别：</label>
                        <select id="ddl_project_type" class="form-control">
                            <option style="display: none"></option>
                            <option value="61">小贷宝</option>
                            <option value="58">房盈宝</option>
                            <option value="57">融通宝</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="loan-amount" class="control-label">借款金额：</label>
                        <input type="text" id="loan-amount" class="form-control" />
                        <span id="largest-amount">（可用额度 <span></span>）</span>
                    </div>
                    <div class="form-group">
                        <label for="loan-description" class="control-label">借款描述：</label>
                        <textarea id="loan-description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="loan-usage" class="control-label">借款用途：</label>
                        <textarea id="loan-usage" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="repayment-source" class="control-label">还款来源：</label>
                        <textarea id="repayment-source" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="loanApplyBtn">提 交</button>
                    </div>
                </form>
            </div>

       <div class="Completion-loan-form-wrap">
                <div class="form-title">
                    <span class="title-style">完成借款</span>
                   
               </div>
                <form class="form-horizontal Completion-loan-form">
                    <div class="form-group">

                        <label for="ddl_project_type" class="control-label"><img src="<%templateskin%>/imgs/loan/001.png" /></label><br /><br />
                        <label for="ddl_project_type" class="control-label">恭喜您！您申请的借款已审核通过！</label><br /><br /><br />
                        <label for="ddl_project_type" class="control-label"><input type="submit" value="申请借款"></label>

                    </div>
                </form>
            </div>
       
        </div>
    </div>

    <div id="main"
         data-step="<%=step%>"
         data-user-id="<%=user_id%>"
         data-user-name="<%=user_name%>"
         data-loaner-id="<%=loaner_id%>"
         data-pending-project-id="<%=pending_project_id%>"
         data-quota-use="<%=quota_use%>"
         >
    </div>

    <div id="loaner"
         data-loaner-name="<%=loaner_name==null?"":loaner_name%>"
         data-loaner-mobile="<%=loaner_mobile%>"
         data-loaner-age="<%=loaner_age%>"
         data-loaner-native-place="<%=loaner_native_place%>"
         data-loaner-job="<%=loaner_job%>"
         data-loaner-working-at="<%=loaner_working_at%>"
         data-loaner-working-company="<%=loaner_working_company%>"
         data-loaner-educational-background="<%=loaner_educational_background%>"
         data-loaner-marital-status="<%=loaner_marital_status%>"
         data-loaner-income="<%=loaner_income%>"
         >
    </div>

    <div id="project"
         data-project-category-id="<%=project_category_id%>"
         data-project-amount="<%=project_amount%>"
         data-project-loan-usage="<%=project_loan_usage%>"
         data-project-source-of-repayment="<%=project_source_of_repayment%>"
         data-project-loaner-content="<%=project_loaner_content%>"
         >
    </div>
-->

    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>