<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我要借款</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/react.bundle.js"></script>
    <script src="<%templateskin%>/build/loan.bundle.js"></script>
    <script type="text/javascript">
        function change_bg(obj)
        {
            var a=document.getElementById("Menu").getElementsByTagName("a");
            for(var i=0;i<a.length;i++)
            {
                a[i].className="";
            }
            obj.className="current";
        }
    </script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
    <!--head end-->
    <div class="react-root"></div>

    <div id="main"
         data-step="<%=((int)step)%>"
         data-user-id="<%=user_id%>"
         data-user-name="<%=user_name%>"
         data-loaner-id="<%=loaner_id%>"
         data-pending-project-id="<%=pending_project_id%>"
         data-quota-use="<%=quota_use%>"
         >
    </div>

    <div id="loaner"
         data-loaner-name="<%=loaner_name==null?"":loaner_name%>"
         data-loaner-mobile="<%=loaner_mobile%>"
         data-loaner-age="<%=loaner_age%>"
         data-loaner-native-place="<%=loaner_native_place%>"
         data-loaner-job="<%=loaner_job%>"
         data-loaner-working-at='<%=loaner_working_at??""%>'
         data-loaner-working-company="<%=loaner_working_company%>"
         data-loaner-educational-background="<%=loaner_educational_background%>"
         data-loaner-marital-status="<%=loaner_marital_status%>"
         data-loaner-income="<%=loaner_income%>"
         data-loaner-status="<%=(loaner==null?-1:loaner.status)%>"
         >
    </div>

    <div id="project"
         data-project-category-id="<%=project_category_id%>"
         data-project-amount="<%=project_amount%>"
         data-project-loan-usage="<%=project_loan_usage%>"
         data-project-source-of-repayment="<%=project_source_of_repayment%>"
         data-project-loaner-content="<%=project_loaner_content%>"
         data-project-status="<%=(project==null?-1:project.status)%>"
         >
    </div>


    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>