<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小积分抽大奖</title>
    <meta charset="utf-8" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/lottery.bundle.js"></script>
</head>

<body>
    <%template src="_header.html"%>

        <div id="lottery">
            <div class="lottery-border">
                <img src="<%templateskin%>/imgs/point/lottery2.gif"/>
                <table>
                    <tr>
                        <td class="lottery-unit lottery-unit-0">
                            <div>
                                <p class="shuzhi">88</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-1">
                            <div>
                                <p class="shuzhi">688</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-2">
                            <div>
                                <p class="shuzhi">18</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lottery-unit lottery-unit-7">
                            <div>
                                <p>加油</p>
                                <p class="shuzhi hidden">0</p>
                                <p class="jifen">只差一点点</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="choujiang">
                            <a href="javascript:" class="denglu">
                                <span>我要抽奖</span>
                            </a>                           
                            <p class="use-jifen">80积分/次</p>
                        </td>
                        <td class="lottery-unit lottery-unit-3">
                            <div>
                                <p class="shuzhi">68</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lottery-unit lottery-unit-6">
                            <div>
                                <p class="shuzhi">288</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-5">
                            <div>
                                <p class="shuzhi">888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-4">
                            <div>
                                <p class="shuzhi">188</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                </table>
                <div class="lottery-record">
                    <a class="zhongjiang">中奖纪录</a>
                    <a class="myjiangpin">我的奖品</a>
                    <ul class="list-unstyled scroll-award ">
                        <%set var jifenRecord=JifenRecord()%>
                        <%foreach(var dr in jifenRecord)%>
                        <li>恭喜<%=Utils.GetLotteryNameHidden(dr.user_name)%>抽中<%=dr.value%>积分</li>
                        <%/foreach%>
                    </ul>
                </div>
                <p class="rules">抽奖规则</p>
                <p class="rule-list">1、安广融合用户可通过投资或完成任务等换取积分，本活动每抽奖一次将扣除80个积分；</p>
                <p class="rule-list">2、活动期间用户可无限制次数抽奖；</p>
                <p class="rule-list">3、抽中的积分将实时到账。</p>
            </div>
        </div>

        <%template src="_footerSmall.html"%>
</body>

</html>