<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小积分抽大奖</title>
    <meta charset="utf-8" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/lottery.bundle.js"></script>
</head>

<body>
    <%template src="_header.html"%>

        <div id="lottery">
            <div class="lottery-border">
                <img  src="<%templateskin%>/imgs/point/donghua.gif" />
                <table>
                    <tr>
                        <td class="lottery-unit lottery-unit-0">
                            <div>
                                <p class="shuzhi">88</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-1">
                            <div>
                                <p class="shuzhi">1688</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-2">
                            <div>
                                <p class="shuzhi">18</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-3">
                            <div>
                                <p class="shuzhi">88888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-4">
                            <div>
                                <p class="shuzhi">1</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lottery-unit lottery-unit-11">
                            <div>
                                <p>加油</p>
                                <p class="shuzhi hidden"></p>
                                <p class="jifen">只差一点点</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="choujiang">
                            <%if(_userModel==null)%>
                            <a href="javascript:" class="weidenglu">
                                <span>我要抽奖</span>
                            </a>
                            <%else%>
                            <a href="javascript:" class="denglu">
                                <span>我要抽奖</span></a>
                            <%/if%>
                            <p class="use-jifen">10积分/次</p>
                        </td>
                        <td class="lottery-unit lottery-unit-5">
                            <div>
                                <p class="shuzhi">16888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lottery-unit lottery-unit-10">
                            <div>
                                <p class="shuzhi">2888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-9">
                            <div>
                                <p class="shuzhi">888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-8">
                            <div>
                                <p class="shuzhi">188</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-7">
                            <div>
                                <p class="shuzhi">8888</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                        <td class="lottery-unit lottery-unit-6">
                            <div>
                                <p class="shuzhi">8</p>
                                <p class="jifen">积分</p>
                            </div>
                            <span></span>
                        </td>
                    </tr>
                </table>
                <div class="lottery-record">
                    <a class="zhongjiang">中奖纪录</a>
                    <a class="myjiangpin">我的奖品</a>
                    <ul>
                        <li>恭喜135**89抽中1积分</li>
                        <li>恭喜135**89抽中1积分</li>
                        <li>恭喜135**89抽中1积分</li>
                        <li>恭喜135**89抽中1积分</li>
                        <li>恭喜135**89抽中1积分</li>
                        <li>恭喜135**89抽中1积分</li>
                    </ul>
                </div>
            </div>
        </div>

        <%template src="_footerSmall.html"%>
</body>

</html>