<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>积分商城</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/point.bundle.js"></script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
<!--head end-->

<div class="point-banner">
    <div class="content-wrap">
        <div class="banner-left">
            <div class="banner-gift">
                <p>全部商品</p>
                <p><span>虚拟商品</span><span>实物商品</span></p>
            </div>
            <div class="banner-gift">
                <p>虚拟商品</p>
                <p><span>加息券</span></p>
            </div>
            <div class="banner-gift">
                <p>虚拟商品</p>
                <p><span>加息券</span></p>
            </div>
            <div class="banner-code">
                <p>关注微信公众号</p>
                <p>更有惊喜等你拿</p>
                <img src="<%templateskin%>/imgs/point/code.png"/>
            </div>
        </div>
        <div class="banner-img">
            <img  src="<%=QueryMallBanner().First().file_path%>" />
        </div>
        <div class="banner-right">
            <div class="content-body">
                <%if(_userModel==null)%>
                <a class="loginBtn" href='<%linkurl("login")%>'>登录</a>
                <p>还不是安广融合会员？<a href='<%linkurl("register")%>'>立即注册&nbsp;></a>
                </p>
                <%else%>
                <div>我的积分</div>
                <p class="points"><%=_userModel.point%></p>
                <a class="giftRecord" href='<%linkurl("usercenter","index")%>#/mypoints'>兑奖记录</a>
                <%/if%>
            </div>
            <div class="banner-bottom">
                <div class="banner-sign">
                    <div><img src="<%templateskin%>/imgs/point/002.png"/>
                    </div>
                    <div class="banner-sign-day">
                        <span>每日签到</span>
                        <span>每天都有好运气</span>
                    </div>
                    <a href="javascript:" id="signPoint">签到有礼</a>
                </div>
                <div class="banner-lottery">
                    <div><img src="<%templateskin%>/imgs/point/003.png"/>
                    </div>
                    <div class="banner-sign-day">
                        <span>小积分抽大奖</span>
                        <span>每天都有好运气</span>
                    </div>
                    <a class="exchangeXuni" href='<%linkurl("lottery")%>'>积分抽奖</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="signConfirm" tabindex="-1" role="dialog" aria-labelledby="investConfirmLabel">
        <div class="modal-dialog investConfirm-dialog" role="document">
            <div class="modal-content">
                <div class="signImg"><img src="<%templateskin%>/imgs/point/daySign.png"/>
                <img class="closeing" src="<%templateskin%>/imgs/point/close.png" data-dismiss="modal"/></div>
                <ul class="list-unstyled list-inline">
                    <li>
                        <div class="signTable">
                            <div class="nojinbi"></div>
                            <p>积分+<span>28</span></p>
                            <span class="signRight"></span>
                        </div>
                        <p class="signDay">第一天</p></li>
                    <li>
                        <div class="signTable">
                            <div class="nojinbi"></div>
                            <p>积分+<span>38</span></p>
                            <span class="signRight"></span>
                        </div>
                        <p class="signDay">第二天</p></li>
                    <li>
                        <div class="signTable">
                            <div class="nojinbi"></div>
                            <p>积分+<span>68</span></p>
                            <span class="signRight"></span>
                        </div>
                        <p class="signDay">第三天</p></li>
                    <li>
                        <div class="signTable">
                            <div class="nojinbi"></div>
                            <p>积分+<span>88</span></p>
                            <span class="signRight"></span>
                        </div>
                        <p class="signDay">第四天</p>
                    </li>
                    <li>
                    <div class="signTable">
                        <div class="nojinbi"></div>
                        <p>积分+<span style="margin-right:3px;">100</span></p>
                        <span class="signRight"></span>
                    </div>
                    <p class="signDay">第五天</p>
                    <li/>
                </ul>
                <div class="qiandaoOK">
                    <p>连续签到5天，即可获得意外宝箱一个，每5天循环一次。</p>
                    <a data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>

<div class="point-recommend">
    <p>精彩推荐</p>
    <ul class="list-unstyled list-inline">
        <li>
            <div class="recommend-img recommend-img1"></div>
            <div class="recommend-points">10000积分</div>
            <div class="recommend-title">乐扣运动水壶</div>
            <div class="recommend-content">便携创意杯子</div>
        </li>
        <li>
            <div class="recommend-img recommend-img2"></div>
            <div class="recommend-points">10000积分</div>
            <div class="recommend-title">洁丽雅毛巾</div>
            <div class="recommend-content">纯棉舒适蓬松柔软洁面巾</div>
        </li>
        <li>
            <div class="recommend-img recommend-img3"></div>
            <div class="recommend-points">10000积分</div>
            <div class="recommend-title">小米迷你充电宝</div>
            <div class="recommend-content">移动电源10000毫安大容量</div>
        </li>
        <li>
            <div class="recommend-img recommend-img4"></div>
            <div class="recommend-points">10000积分</div>
            <div class="recommend-title">ZARA男钱包</div>
            <div class="recommend-content">编织长形钱包</div>
        </li>
    </ul>
</div>

<div class="xuni-goods">
    <p>虚拟商品</p>
    <div class="xuni-img">
        <span>1%加息券</span>
        <span>所需积分：<%=GetXuniquan().dt_article_attribute_value.point%></span>
        <a href='<%linkurl("point_detail",GetXuniquan().id)%>'>兑换</a>
    </div>
    <div class="xuni">
        <%set var xuni=GetArticles("74,75",4)%>
        <%foreach(var b in xuni)%>
        <div class="xuni-quan">
            <div class="xuni-quan-content">
                <p class="xuni-quan-content-p1"><%=b.title%></p>
                <p class="xuni-quan-content-p2">所需积分：<span><%=b.dt_article_attribute_value.point%></span></p>
                <p class="xuni-quan-content-p3">剩余数量：<%=b.dt_article_attribute_value.stock_quantity%>个</p>
                <a class="xuni-quan-content-p4" href='<%linkurl("point_detail",b.id)%>'>兑换</a>
            </div>
            <a href='<%linkurl("point_detail",b.id)%>'><img src="<%=b.img_url%>" /></a>
        </div>
        <%/foreach%>
    </div>
</div>

    <div class="shiwu-goods">
        <p>实物商品</p>
        <%set var shiwu=GetArticles(73,5)%>
        <%set var shiwuFirst=shiwu.FirstOrDefault()%>
        <div class="shiwu-img">
            <a href='<%linkurl("point_detail",shiwuFirst.id)%>'><img src="<%=shiwuFirst.img_url%>"/></a>
            <span><%=shiwuFirst.title%></span>
            <span>所需积分：<%=shiwuFirst.dt_article_attribute_value.point%></span>
            <a class="exchange" href='<%linkurl("point_detail",shiwuFirst.id)%>'>兑换</a>
        </div>
        <div class="shiwu">
            <%foreach(var a in shiwu.Skip(1))%>
            <div class="shiwu-quan">
                <div class="shiwu-quan-content">
                    <p class="shiwu-quan-content-p1"><%=a.title%></p>
                    <p class="shiwu-quan-content-p2">所需积分：<span><%=a.dt_article_attribute_value.point%></span></p>
                    <p class="shiwu-quan-content-p3">剩余数量：<%=a.dt_article_attribute_value.stock_quantity%>个</p>
                    <a class="shiwu-quan-content-p4" href='<%linkurl("point_detail",a.id)%>'>兑换</a>
                </div>
                <a href='<%linkurl("point_detail",a.id)%>'><img src="<%=a.img_url%>"/></a>
            </div>
            <%/foreach%>
        </div>
    </div>
<!--footer-->
    <%template src="_footer.html"%>
<!--footer end-->

</body>
</html>
