<%namespace "Newtonsoft.Json.Linq"%>
<%namespace "Newtonsoft.Json"%>
<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>商品详情</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/react.bundle.js"></script>
    <script src="<%templateskin%>/build/point_detail.bundle.js"></script>
</head>
<body>
<%template src="_header.html"%>

<div class="breadcrumbs">
    <a href='<%linkurl("point")%>'>积分商城</a>
    <span> > </span>
    <span><%=articleModel.title%></span>
</div>

<div class="goodsBuy">
    <%if detailAlbums==null%>
    <div class="goods-img"></div>
    <%else%>
    <div class="goods-img">
        <%if(articleDetail.hongbao!=0)%>
        <div class="mall-lottery" style='background:url("<%=detailAlbums.original_path%>") no-repeat center;'>
            <div class="lottery-left">
                红<br />包
            </div>
            <div class="lottery-right">
                <%if(articleModel.title.Contains("100"))%>
                <span class="money-unit-100">元</span>
                <%else%>
                <span class="money-unit">元</span>
                <%/if%>
            </div>
        </div>
        <%/if%>
        <%if(articleDetail.jiaxijuan!=0)%>
        <div class="mall-lottery-jiaxi" style='background:url("<%=detailAlbums.original_path%>") no-repeat center;'>
            <div class="lottery-left">
                加<br />息<br />券
            </div>
            <div class="lottery-right">
                <span class="money-unit">%</span>
            </div>
        </div>
        <%/if%>  
    </div>
    <%/if%>
    <div class="goods-content">
        <p class="goodsName"><%=articleModel.title%></p>
        <%if(articleModel.IsJiaxijuan())%>
        <form method="get" action='<%linkurl("add_order")%>'>
            <div class="goods">
                <p class="goods-points">兑换积分：
                    <%foreach(var dr in jiaxiquanValue)%>
                    <span class="jiaxipoint"><%=dr.dt_article_attribute_value.point%></span>
                    <%/foreach%>
                    积分
                </p>
                <div>
                    <div id="xiaomiType"
                        data-stock="<%=articleDetail.stock_quantity%>"
                        data-title="<%=articleModel.title%>">
                    </div>
                    <span style="font-size:15px; color:#646464;">库存&nbsp;&nbsp;
                        <%foreach(var dr in jiaxiquanValue)%>
                        <span class="jiaxiquantity"><%=dr.dt_article_attribute_value.stock_quantity%></span>
                        <%/foreach%>
                        &nbsp;&nbsp;件</span>
                </div>
                <div class="IsJiaxijuan">
                    <span>属性：</span>
                    <ul class="list-unstyled list-inline type-jiaxijuan">
                        <%foreach(var dr in jiaxiquanValue)%>
                        <li class='<%=dr.id==goods_id?"selectJiaxi":""%>' id="<%=dr.id%>">限投<%=dr.dt_article_attribute_value.point_limit%>万</li>
                        <%/foreach%>
                    </ul>
                </div>
                <input type="hidden" name="id" id="jiaxiquanId" value="<%=goods_id%>">
            </div>
            <input type="submit" value="立即兑换" class="duihuan"/>
        </form>
        <%else%>
        <form method="get" action='<%linkurl("add_order")%>'>
            <div class="goods">
                <p class="goods-points">
                    兑换积分：
                    <span class="jiaxipoint"><%=articleDetail.point%></span>
                    积分
                </p>
                <div>
                    <div id="xiaomiType"
                        data-stock="<%=articleDetail.stock_quantity%>"
                        data-title="<%=articleModel.title%>">

                    </div>
                    <span style="font-size:15px; color:#646464;">库存&nbsp;&nbsp;<%=articleDetail.stock_quantity%>&nbsp;&nbsp;件</span>
                </div>
                <input type="hidden" name="id" id="jiaxiquanId" value="<%=goods_id%>">
            </div>
            <input type="submit" value="立即兑换" class="duihuan" />
        </form>
        <%/if%>
    </div>
</div>

<div class="content-wrap goods-detail">
    <div class="goods-explain">
        商品说明
    </div>
    <div class="goods-compress">
        <%=articleModel.content%>  
    </div>
</div>

<%template src="_footerSmall.html"%>

</body>
</html>
