<%namespace "Agp2p.Core"%>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>我要理财</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/projects.bundle.js"></script>
</head>
<body>
    <!--head-->
    <a name="ticket-area"></a>
    <%template src="_header.html"%>
    <!--head end-->
    <!--面包屑导航-->
    <div class="breadcrumbs">
        <a href="/">首页</a>
        <span> > </span>
        <span>我要理财</span>
    </div>
    <!--面包屑导航 end-->
    <div class="content-wrap consume">
        <ul>
            <li class='<%=rootCategoryId==tickerCategoryId?"bluecon":""%> ticket-area-li' onclick="location.href='<%linkurl("projects",tickerCategoryId)%>'">票据专区 <p><%=FinancingProjectMap.GetValueOrDefault(tickerCategoryId,0)%></p><span></span> </li>
            <li class='<%=rootCategoryId==claimsCategoryId?"bluecon":""%> zhaiquan-li' onclick="location.href='<%linkurl("projects",claimsCategoryId)%>'">债权转让<span></span></li>
            <li class='<%=rootCategoryId==huoqiCategoryId?"bluecon":""%> huoqibao-li' onclick="location.href='<%linkurl("projects",huoqiCategoryId)%>'">活期宝<span></span></li>
            <li class="wentibao-li">文体宝<span></span></li>
            <li class="consumefin-li">消费金融<span></span></li>
        </ul>
    </div>

<div class="fincategory">
<div>   
   
    <div class="top-part content-wrap">
        <div class="select-box">
            <div class="project-time">理财项目发布时间：工作日10:00、15:00；非工作日可查看 <a href='<%=linkurl("about_more",54)%>'>发标公告</a>。</div>
            <div class="type-select">
                <!--<div class="project-status"><span>项目状态</span>
                <ul class="list-unstyled list-inline">
                <%set var projectStatusEnums=Utils.GetEnumValues<Agp2pEnums.ProjectStatusQueryTypeEnum>()%>
                <%foreach(var en in projectStatusEnums)%>
                <li><a href='<%linkurl("projects",category_id,project_profit_rate_index,project_repayment_index,(int)en,1)%>'
                class='<%=project_status_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
                </ul>
                </div>-->
                <%if(SubCategoryIdTitleMap.Any())%>
                <div class="project-types">
                    <span>项目类型</span>
                    <ul class="list-unstyled">
                        <li>
                            <a href='<%linkurl("projects",0,project_profit_rate_index,project_repayment_index,project_status_index,1)%>'
                               class='<%=0==category_id||rootCategoryId==category_id?"selected":""%>'>全部</a>
                        </li>
                        <%foreach(var kvp in SubCategoryIdTitleMap)%>
                        <li>
                            <a href='<%linkurl("projects",kvp.Key,project_profit_rate_index,project_repayment_index,project_status_index,1)%>'
                               class='<%=kvp.Key==category_id?"selected":""%>'><%=kvp.Value%>
                                <%if(kvp.Key!=category_id)%>
                                <%=FinancingProjectMap.ContainsKey(kvp.Key)?"<span style='color: red;padding:0 1px'>("+FinancingProjectMap[kvp.Key]+")</span>":""%>
                                <%else%>
                                <%=FinancingProjectMap.ContainsKey(kvp.Key)?"<span style='color: white;padding:0 1px'>("+FinancingProjectMap[kvp.Key]+")</span>":""%>
                                <%/if%>
                            </a>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
                <%/if%>
                <div class="project-profit">
                    <span>项目收益</span>
                    <ul class="list-unstyled list-inline">
                        <%set var interestRateTypeEnums=Utils.GetEnumValues<Agp2pEnums.InterestRateTypeEnum>()%>
                        <%foreach(var en in interestRateTypeEnums)%>
                        <li>
                            <a href='<%linkurl("projects",category_id,(int)en,project_repayment_index,project_status_index,1)%>'
                               class='<%=project_profit_rate_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
                <div class="project-deadline">
                    <span>项目期限</span>
                    <ul class="list-unstyled list-inline">
                        <%set var repaymentTermEnums=Utils.GetEnumValues<Agp2pEnums.RepaymentTermEnum>()%>
                        <%foreach(var en in repaymentTermEnums)%>
                        <li>
                            <a href='<%linkurl("projects",category_id,project_profit_rate_index,(int)en,project_status_index,1)%>'
                               class='<%=project_repayment_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="novice-guide pull-right">
        
            <ul class="guide-list">
                <li><a href="<%linkurl("article_show",78)%>" target="_blank">如何进行充值?</a></li>
                <li><a href="<%linkurl("article_show",89)%>" target="_blank">如何进行投资?</a></li>
                <li><a href="<%linkurl("article_show",90)%>" target="_blank">如何获取收益?</a></li>
                <li><a href="<%linkurl("article_show",91)%>" target="_blank">平台提供什么样的项目?</a></li>
            </ul>
        </div>
    </div>

    <div class="invest-list content-wrap">
        <div class="list-head">
            <span class="title-th">借款标题</span>
            <span class="apr-th">年化利率</span>
            <span class="sum-th">借款金额</span>
            <span class="deadline-th">期限</span>
            <span class="back-way-th">还款方式</span>
            <span class="progress-th">进度</span>
            <span class="status pull-right">状态</span>
        </div>
        <%set var investables=QueryInvestables(PAGE_SIZE,page-1,out totalcount,category_id==0?rootCategoryId:category_id,project_profit_rate_index,project_repayment_index,project_status_index)%>
        <%if(!investables.Any())%>
        <div class="empty-box content-wrap">
            <div class="empty-icon">暂没有找到相关数据</div>
        </div>
        <%/if%>
        <%foreach(var inv in investables)%>
        <%set var p=inv.Project%>
        <div class="invest-per">
            <span class="title">
                <i class="title-mark"><%=inv.CategoryName%></i>
                <a href='<%=inv.Linkurl(config)%>'>{inv.Title}</a>
                <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
                <span class="invest-list-icon yue-icon"></span>
                <%/if%>
                <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
                <span class="invest-list-icon jian-icon"></span>
                <%/if%>
                <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
                <span class="invest-list-icon xin-icon"></span>
                <%/if%>
            </span>
            <span class="apr"><%=(inv.ProfitRateYearly*100).ToString("f1")%><i>%</i></span>
            <span class="sum"><%=inv.IsClaimTransferProject?inv.FinancingAmount.ToString("n2"):inv.FinancingAmount.ToString("n0")%><i>元</i></span>
            <%if(p.IsHuoqiProject())%>
            <span class="deadline">--</span>
            <%else%>
            <span class="deadline">{inv.RepaymentTermSpanCount}<i>{inv.ProjectTermSpanName}</i></span>
            <%/if%>
            <span class="back-way">{p.GetProjectRepaymentTypeDesc()}</span>
            <span class="progress-wrap">
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=(inv.InvestmentProgress*100)%>"
                         aria-valuemin="0" aria-valuemax="100" style='width: 0'>
                        <%=inv.InvestmentProgress.ToString("p1")%>
                    </div>
                </div>
            </span>
            <span class="btn-wrap pull-right">
                <%if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
                <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>待发标</a>
                <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                <a class="btn-red" href='<%=inv.Linkurl(config)%>'>立即投资</a>
                <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
                <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>审核中</a>
                <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
                <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>还款中</a>
                <%else if(inv.Status>=Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
                <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>已完成</a>
                <%/if%>
            </span>
        </div>
        <%/foreach%>
    </div>

    <!--取得分页页码列表-->
    <div class="pages"><%=get_page_link(PAGE_SIZE,page,totalcount,linkurl("projects",{category_id},{project_profit_rate_index},{project_repayment_index},{project_status_index},"__id__"))%></div>
</div>

    <!--债权转让-->
    <div class="hidden zhaiquan">
         <a name="zhaiquan"></a>
        <div class="invest-list content-wrap">
            <div class="list-head">
                <span class="title-th">借款标题</span>
                <span class="apr-th">年化利率</span>
                <span class="sum-th">借款金额</span>
                <span class="deadline-th">期限</span>
                <span class="back-way-th">还款方式</span>
                <span class="progress-th">进度</span>
                <span class="status pull-right">状态</span>
            </div>
            <%set var investables0=QueryInvestables(PAGE_SIZE,page-1,out totalcount,claimsCategoryId,project_profit_rate_index,project_repayment_index,project_status_index)%>
            <%if(!investables0.Any())%>
            <div class="empty-box content-wrap">
                <div class="empty-icon">暂没有找到相关数据</div>
            </div>
            <%/if%>
            <%foreach(var inv in investables0)%>
            <%set var p=inv.Project%>
            <div class="invest-per">
                <span class="title">
                    <i class="title-mark"><%=inv.CategoryName%></i>
                    <a href='<%linkurl("project",p.id)%>'>{inv.Title}</a>
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
                    <span class="invest-list-icon yue-icon"></span>
                    <%/if%>
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
                    <span class="invest-list-icon jian-icon"></span>
                    <%/if%>
                    <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
                    <span class="invest-list-icon xin-icon"></span>
                    <%/if%>
                </span>
                <span class="apr"><%=p.profit_rate_year.ToString("f1")%><i>%</i></span>
                <span class="sum"><%=inv.FinancingAmount.ToString("n0")%><i>元</i></span>
                <span class="deadline">{p.repayment_term_span_count}<i>{p.GetProjectTermSpanEnumDesc()}</i></span>
                <span class="back-way">{p.GetProjectRepaymentTypeDesc()}</span>
                <span class="progress-wrap">
                    <div class="progress progress-custom">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=(inv.InvestmentProgress*100)%>"
                             aria-valuemin="0" aria-valuemax="100" style='width: 0'>
                            <%=inv.InvestmentProgress.ToString("p1")%>
                        </div>
                    </div>
                </span>
                <span class="btn-wrap pull-right">
                    <%if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
                    <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>待发标</a>
                    <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
                    <a class="btn-red" href='<%=inv.Linkurl(config)%>'>立即投资</a>
                    <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
                    <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>审核中</a>
                    <%else if(inv.Status==Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
                    <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>还款中</a>
                    <%else if(inv.Status>=Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
                    <a class="btn-grey" href='<%=inv.Linkurl(config)%>'>已完成</a>
                    <%/if%>
                </span>
            </div>
            <%/foreach%>
          </div>
        </div>

    <!--活期宝-->
    <div class="hidden huoqibao">
        <a name="huoqibao"></a>
        <div class="content-wrap">
            <img src="<%templateskin%>/imgs/projects/002.jpg" />
                <div>敬请期待</div>
        </div>
    </div>

    <!--文体宝-->
    <div class="hidden wentibao">
        <a name="wentibao"></a>
        <div class="content-wrap">
            <img src="<%templateskin%>/imgs/projects/002.jpg" />
                <div>敬请期待</div>
        </div>
    </div>
    <!--消费金融-->
    <div class="consumefin hidden ">
        <a name="consumefin"></a>
        <div class="content-wrap">
           <img src="<%templateskin%>/imgs/projects/002.jpg" />
                <div>敬请期待</div>
        </div>
    </div>
</div>
    <%template src="_floating.html"%>

    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>