<%namespace "Newtonsoft.Json.Linq"%>
<%namespace "Newtonsoft.Json"%>
<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="{projectModel.seo_keywords}" name="keywords" />
    <meta content="{projectModel.seo_description}" name="description"/>
    <title><%=string.IsNullOrEmpty(projectModel.seo_title) ? projectModel.title : projectModel.seo_title%></title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.font-face.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/project.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href='<%linkurl("projects")%>'>我要理财</a>
    <span> > </span>
    <span>项目详情</span>
</div>
<!--面包屑导航 end-->

<!--标书样式-->
<div class="tender-content">
    <div class="invest-control pull-right">
        <%if(projectModel.status<=(int)Agp2pEnums.ProjectStatusEnum.Financing)%>
        <div><span class="title-mark">可投金额</span></div>
        <%else%>
        <div><span class="title-mark">剩余金额</span></div>
        <%/if%>
        <div class="investable-amount-wrap">
            <div class="investable-amount">{investmentBalance}</div>
            <%if(projectModel.status==(int)Agp2pEnums.ProjectStatusEnum.FinancingSuccess)%>
            <!--满标，审核中-->
            <div class="account-balance-empty">
                <div class="tips" style="text-align: center">已满标</div>
                <button type="button" class="btn-common empty-btn" disabled>审 核 中</button>
            </div>
            <%else if(projectModel.status==(int)Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
            <!--到期未满标，审核中-->
            <div class="account-balance-empty">
                <div class="tips" style="text-align: center">已过期</div>
                <button type="button" class="btn-common empty-btn" disabled>审 核 中</button>
            </div>
            <%else if(projectModel.status>(int)Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
            <!--满标-->
            <div class="account-balance-empty">
                <div class="tips">已经有{invsetorCount}名聪明的投资者投资此项目,敬请关注安广融合其他项目！</div>
                <button type="button" class="btn-common empty-btn" disabled>抢 光 了</button>
            </div>
            <%else if(projectModel.status==(int)Agp2pEnums.ProjectStatusEnum.FinancingFail)%>
            <!--流标-->
            <div class="account-balance-empty">
                <div class="tips">项目已流标，已投资款项已退回</div>
                <button type="button" class="btn-common empty-btn" disabled>已 流 标</button>
            </div>
            <%else if(!IsUserLogin())%>
            <!--未满标 未登录-->
            <div class="account-balance-unlogin">
                <div>起投金额100元</div>
                <button type="button" class="btn-common register-btn" onclick="location.href='register.html'">30秒快速注册</button>
                <span>已有账号？ <a href='<%linkurl("login")%>'>立即登录</a></span>
            </div>
            <%else%>
            <!--未满标 登录后-->
            <div class="account-balance">
                <div><a id="link-recharge" href='<%linkurl("usercenter","index")%>#/recharge' class="pull-right">[充值]</a><span>账户余额 {idle_money} 元</span></div>
                <input type="text" placeholder="请输入投资金额" id="investAmount-input"/>
                <button type="button" class="btn-common investing-btn" data-has-pay-password="{HasPayPassword()}"
                        data-idle-money="{idle_money}"
                        data-profit-rate='<%=projectModel.GetFinalProfitRate(projectModel.publish_time.GetValueOrDefault(DateTime.Now).AddDays(projectModel.financing_day))%>'
                        data-project-id="{projectModel.id}">投 资</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="investConfirm" tabindex="-1" role="dialog" aria-labelledby="investConfirmLabel">
                <div class="modal-dialog investConfirm-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">确认投资</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li><span>项目标题：</span><span>{projectModel.title}</span></li>
                                <li><span>年利率：</span><span class="rate"><%=string.Format("{0:0.0}%", projectModel.profit_rate_year)%></span></li>
                                <li><span>还款期限：</span><span>{projectModel.repayment_term_span_count}<%=Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.ProjectRepaymentTermSpanEnum)projectModel.repayment_term_span)%></span></li>
                                <li><span>还款方式：</span><span><%=Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%></span></li>
                                <li><span>投资金额：</span><span id="investAmount">0.00</span></li>
                                <li><span>保障方式：</span><span>本金 + 利息</span></li>
                            </ul>
                        </div>
                        <div class="profit-wrap"><span>预期收益：</span><span class="profit">0.00</span></div>
                        <div class="pswInput"><i>*</i><span>支付密码：</span><!--<input type="password" />--></div>
                        <div class="agreement"><input type="checkbox" id="agreement"/>
                            <label for="agreement">我已经阅读并同意</label><a id="show-invest-contract" href="javascript:" target="_blank">《投资协议》</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="cancel-btn" data-dismiss="modal">取 消</button>
                            <button type="button" class="confirm-btn">确 认</button>
                        </div>
                        <%if(!HasBindedEmail())%>
                        <p><i>*</i>为了您能正常收到投资协议，请到 <a href='<%=linkurl("usercenter","index")%>#safe' target="_blank">个人中心</a> 绑定邮箱</p>
                        <%/if%>
                        <%if(!HasBindedIdCard())%>
                        <p><i>*</i>为了您的合法利益，请到 <a href='<%=linkurl("usercenter","index")%>#safe' target="_blank">个人中心</a> 进行实名认证</p>
                        <%/if%>
                    </div>
                </div>
            </div>
            <%/if%>
        </div>
    </div>
    <div class="tender-face">
        <div class="invest-title">
            <span class="invest-style-tab">{projectModel.dt_article_category.title}</span>
            <span>{projectModel.title}</span>
            
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
            <span class="invest-list-icon yue-icon"></span>
            <%/if%>
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
            <span class="invest-list-icon jian-icon"></span>
            <%/if%>
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
            <span class="invest-list-icon xin-icon"></span>
            <%/if%>
        </div>
        <div class="invest-rules">
            <div class="sum">
                <div>借款金额</div>
                <div class="rules-style"><%=string.Format("{0:N0}", projectModel.financing_amount)%><span>元</span></div>
            </div>
            <div class="deadline">
                <div>期限</div>
                <div class="rules-style">{projectModel.repayment_term_span_count}<span><%=Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.ProjectRepaymentTermSpanEnum)projectModel.repayment_term_span)%></span></div>
            </div>
            <div class="apr">
                <div>年化利率</div>
                <div class="rules-style"><%=string.Format("{0:0.0}", projectModel.profit_rate_year)%><span>%</span></div>
            </div>
        </div>
        <div class="repayment">
            <div class="repayment-way">
                <table>
                    <tbody>
                        <tr><td>还款方式</td><td colspan="2"><%=Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%></td></tr>
                        <tr><td>投标人数</td><td colspan="2">{invsetorCount}人</td></tr>
                        <tr><td>投标进度</td><td><div class="progress progress-custom">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{investmentProgress}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {investmentProgress}%">
                            </div>
                        </div></td><td>{investmentProgress}%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="interest-way">
                <table>
                    <tbody>
                        <tr><td>计息方式</td><td>满标当天，立即计息</td></tr>
                        <%if(projectModel.status>(int)Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
                        <tr><td>满标时间</td><td><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.invest_complete_time)%></td></tr>
                        <%else%>
                        <tr><td>发标时间</td><td><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.publish_time)%></td></tr>
                        <%/if%>
                        <%if(projectModel.status==(int)Agp2pEnums.ProjectStatusEnum.Financing)%>
                        <tr><td>剩余时间</td><td><%=GetRemainTime(projectModel)%></td></tr>
                        <%/if%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<!--标书样式 end-->

<!--项目内容-->
<%set var hIndex=1%>
<div class="project-content-wrap clearfix">
    <div class="project-content-left">
        <%template src="_project_intro.html"%>
        <%template src="_loaner_info.html"%>
        <%template src="_ticket_info.html"%>
        <%template src="_ticket_intro.html"%>
        <%template src="_company_info.html"%>
        <%template src="_risk_control.html"%>
        <%template src="_imgs_info.html"%>
        <%template src="_repayment_task.html"%>
        <%template src="_invest_record.html"%>
    </div>

    <%set hIndex=1%>
    <div id="sidemenu" class="project-content-right">
        <ul class="list-unstyled notScroll">
        </ul>
    </div>
</div>
<!--项目内容 end-->

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>