<%namespace "Newtonsoft.Json.Linq"%>
<%namespace "Newtonsoft.Json"%>
<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="{projectModel.seo_keywords}" name="keywords" />
    <meta content="{projectModel.seo_description}" name="description"/>
    <title><%=string.IsNullOrEmpty(projectModel.seo_title) ? Investable.Title : projectModel.seo_title%></title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/project.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href='<%linkurl("projects")%>'>我要理财</a>
    <span> > </span>
    <span>项目详情</span>
    <span style="float: right; font-size: 15px;">
    <a id="show-invest-contract2" style="color: #37aaf0;" href="/tools/submit_ajax.ashx?action=generate_user_invest_contract&projectId={Investable.Project.id}" target="_blank">投资协议（范本）</a>
    </span>
</div>
<!--面包屑导航 end-->

<!--标书样式-->
<div class="tender-content">
    <div class="invest-control pull-right">
        <%if(Investable.Status!=Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
        <div><span class="title-mark">可投金额</span></div>
        <%else%>
        <div><span class="title-mark">剩余金额</span></div>
        <%/if%>
        <div class="investable-amount-wrap">
            <div class="investable-amount">{Investable.InvestmentBalance}</div>
            <%if(Investable.Status==Agp2pEnums.ProjectStatusEnum.FinancingSuccess)%>
            <!--满标，审核中-->
            <div class="account-balance-empty">
                <div class="tips" style="text-align: center">已满标</div>
                <button type="button" class="btn-common empty-btn" disabled>审 核 中</button>
            </div>
            <%else if(Investable.Status==Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
            <!--到期未满标，审核中-->
            <div class="account-balance-empty">
                <div class="tips" style="text-align: center">已过期</div>
                <button type="button" class="btn-common empty-btn" disabled>审 核 中</button>
            </div>
            <%else if(Investable.Status>Agp2pEnums.ProjectStatusEnum.FinancingTimeout)%>
            <!--满标-->
            <div class="account-balance-empty">
                <div class="tips">已经有{Investable.InvesterCount}名聪明的投资者投资此项目,敬请关注安广融合其他项目！</div>
                <button type="button" class="btn-common empty-btn" disabled>抢 光 了</button>
            </div>
            <%else if(Investable.Status==Agp2pEnums.ProjectStatusEnum.FinancingFail)%>
            <!--流标-->
            <div class="account-balance-empty">
                <div class="tips">项目已流标，已投资款项已退回</div>
                <button type="button" class="btn-common empty-btn" disabled>已 流 标</button>
            </div>
            <%else if(!IsUserLogin())%>
            <!--未满标 未登录-->
            <div class="account-balance-unlogin">
                <div>起投金额100元</div>
                <button type="button" class="btn-common register-btn" onclick="location.href='register.html'">30秒快速注册</button>
                <span>已有账号？ <a href='<%linkurl("login")%>'>立即登录</a></span>
            </div>
            <%else%>
            <!-- hack 自动完成功能 -->
            <input type="text" name="foo" class="hidden"/>
            <input type="password" name="bar" class="hidden"/>
            <!--未满标 登录后-->
            <div class="account-balance">
                <div><a id="link-recharge" href='<%linkurl("usercenter","index")%>#/recharge' class="pull-right">[充值]</a><span>账户余额 {idle_money} 元</span></div>
                <input type="text" placeholder="请输入投资金额（不小于 100）" id="investAmount-input" <%=Investable.FixInvestAmountString%> />
                <button type="button" class="btn-common investing-btn" data-has-pay-password="{HasPayPassword()}" data-has-identification="{HasIdentification()}"
                        data-buy-claim-id="{buyClaimId}"
                        data-idle-money="{idle_money}"
                        data-financing-amount="{Investable.FinancingAmount}"
                        data-total-interest="{Investable.TotalInterest}"
                        data-project-id="{projectModel.id}" data-project-sum="{projectSum}" data-project-description="{projectDescription}"
                        data-project-huoqi="{projectModel.IsHuoqiProject()}"><%=projectModel.IsHuoqiProject()?"转入活期宝":"投资"%></button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="investConfirm" tabindex="-1" role="dialog" aria-labelledby="investConfirmLabel">
                <div class="modal-dialog investConfirm-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">确认投资</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li><span>项目标题：</span><span><%=Investable.Title%></span></li>
                                <%if(projectModel.IsNewbieProject())%>
                                <li><span>年利率：</span><span class="rate">--</span></li>
                                <%else%>
                                <li><span>年利率：</span><span class="rate"><%=string.Format("{0:0.0}%", Investable.ProfitRateYearly*100)%></span></li>
                                <%/if%>
                                <%if(!projectModel.IsHuoqiProject())%>
                                <li><span>还款期限：</span><span>{Investable.RepaymentTermSpanCount}{Investable.ProjectTermSpanName}</span></li>
                                <%/if%>
                                <li><span>还款方式：</span><span><%=projectModel.GetProjectRepaymentTypeDesc()%></span></li>
                                <li><span>投资金额：</span><span id="investAmount">0.00</span></li>
                                <!--<li><span>保障方式：</span><span>本金 + 利息</span></li>-->
                            </ul>
                        </div>
                        <div class="profit-wrap">
                            <%if(!projectModel.IsHuoqiProject())%>
                            <span>预期收益：</span>
                            <%else%>
                            <span>预期每日收益：</span>
                            <%/if%>
                            <span class="profit">0.00</span>
                        </div>
                        <!--<div class="pswInput"><i>*</i><span>支付密码：</span><input type="password" /></div>-->
                        <div class="agreement"><input type="checkbox" id="agreement"/>
                            <label for="agreement">我已经阅读并同意
                            <%if(!projectModel.IsNewbieProject())%>
                            </label><a id="show-invest-contract" href="javascript:" target="_blank">《投资协议》</a> <span>和 
                            <%/if%>
                            <a href="<%templateskin%>/risk-tips.html" target="_blank">《风险说明书》</a></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="cancel-btn" data-dismiss="modal">取 消</button>
                            <button type="button" class="confirm-btn">确 认</button>
                        </div>
                        <%if(!HasBindedEmail())%>
                        <p><i>*</i>为了您能正常收到投资协议，请到 <a href='<%=linkurl("usercenter","index")%>#safe' target="_blank">个人中心</a> 绑定邮箱</p>
                        <%/if%>
                        <%if(!HasBindedIdCard())%>
                        <p><i>*</i>为了您的合法利益，请到 <a href='<%=linkurl("usercenter","index")%>#safe' target="_blank">个人中心</a> 进行实名认证</p>
                        <%/if%>
                    </div>
                </div>
            </div>
            <%/if%>
        </div>
    </div>
    <div class="tender-face">
        <div class="invest-title">
            <span class="invest-style-tab">{Investable.CategoryName}</span>
            <span>{Investable.Title}</span>
            
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
            <span class="invest-list-icon yue-icon"></span>
            <%/if%>
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
            <span class="invest-list-icon jian-icon"></span>
            <%/if%>
            <%if((projectModel.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
            <span class="invest-list-icon xin-icon"></span>
            <%/if%>
            <%if (projectModel.IsHuoqiProject()) %>
            <span class="invest-plus">+0.2%</span>
            <%/if%>
        </div>
        <div class="invest-rules">
            <div class="sum">

                <div><%=(Investable.IsClaimTransferProject ? "预期年化收益率" : "借款金额")%></div>
                <%if(Investable.IsClaimTransferProject)%>
                <div class="rules-style"><%=string.Format("{0:0.0}", projectModel.profit_rate_year)%><span> %</span></div>
                <%else%>
                <div class="rules-style"><%=string.Format("{0:N0}", projectModel.financing_amount)%><span> 元</span></div>
                <%/if%>
            </div>
            <div class="deadline">
                <div>期限</div>
                <%if(projectModel.IsHuoqiProject())%>
                <div class="rules-style">活期</div>
                <%else%>
                <div class="rules-style">{Investable.RepaymentTermSpanCount}<span> <%=Investable.ProjectTermSpanName%></span></div>
                <%/if%>
            </div>
            <div class="apr">
                <div>预期年化率</div>
                <%if(projectModel.IsHuoqiProject())%>
                <div class="rules-style"><%=string.Format("{0:0.0}", Investable.ProfitRateYearly*100-.2m)%><span> %</span>+0.2<span> %</span></div>
                <%else if(projectModel.IsNewbieProject())%>
                <div class="rules-style"><%=string.Format("{0:0.00}", Investable.ProfitRateYearly*100)%><span> %</span></div>
                <%else%>
                <div class="rules-style"><%=string.Format("{0:0.0}", Investable.ProfitRateYearly*100)%><span> %</span></div>
                <%/if%>
            </div>
        </div>
        <div class="repayment">
            <div class="repayment-way">
                <table>
                    <tbody>
                        <%if (projectModel.IsHuoqiProject()) %>
                        <tr><td>收益起始日</td><td colspan="2">T+1（自然日）</td></tr>
                        <tr><td>投标人数</td><td colspan="2">{Investable.InvesterCount}人</td></tr>
                        <tr>
                            <td>投标进度</td>
                            <td>
                                <div class="progress progress-custom">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow='<%=(Investable.InvestmentProgress*100)%>'
                                         aria-valuemin="0" aria-valuemax="100" style='width: <%=Investable.InvestmentProgress.ToString("p1")%>'>
                                    </div>
                                </div>
                            </td>
                            <td><%=Investable.InvestmentProgress.ToString("p1")%></td>
                        </tr>
                        
                        <%else%>
                        <tr><td>还款方式</td><td colspan="2"><%=Utils.GetAgp2pEnumDes((Agp2p.Common.Agp2pEnums.ProjectRepaymentTypeEnum)projectModel.repayment_type)%></td></tr>
                        <tr><td>投标人数</td><td colspan="2">{Investable.InvesterCount}人</td></tr>
                        <tr><td>投标进度</td><td><div class="progress progress-custom">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow='<%=(Investable.InvestmentProgress*100)%>'
                                 aria-valuemin="0" aria-valuemax="100" style='width: <%=Investable.InvestmentProgress.ToString("p1")%>'>
                            </div>
                        </div></td><td><%=Investable.InvestmentProgress.ToString("p1")%></td></tr>
                        <%/if%>
                    </tbody>
                </table>
            </div>

            <%if(Investable.Status>Agp2pEnums.ProjectStatusEnum.FinancingTimeout&&!Investable.IsClaimTransferProject)%>
            <div class="interest-way" style="margin-top:-10px;height:128px ;background:url('<%templateskin%>/imgs/index/manbiao2.jpg') no-repeat 210px 0; ">
            </div>
            <%else%>
            <div class="interest-way">
                <table>
                    <tbody>
                        <%if (projectModel.IsHuoqiProject()) %>
                        <tr><td style="width:110px;">每人购买限额</td><td>100000.0元</td></tr>
                        <tr><td style="width:110px;">每日提取限额</td><td>50000.0元</td></tr>
                        <%else if(Investable.IsClaimTransferProject)%>
                        <tr><td>转让日期</td><td><%=Investable.NeedTransferClaim.createTime.ToString("yyyy-MM-dd")%></td></tr>
                        <tr><td>还款日期</td><td><%=Investable.NeedTransferClaim.createTime.AddDays(Investable.RemainDays).ToString("yyyy-MM-dd")%></td></tr>
                        <%else%>
                        <tr><td>计息方式</td><td><%=projectModel.dt_article_category.call_index=="newbie"?"投标后立即计息":"满标当天，立即计息"%></td></tr>
                        <tr><td>发标时间</td><td><%=string.Format("{0:yyyy-MM-dd HH:mm}",projectModel.publish_time)%></td></tr>
                        <tr><td>剩余时间</td><td><%=GetRemainTime(projectModel)%></td></tr>
                        <%/if%>
                    </tbody>
                </table>
            </div>
            <%/if%>
            
        </div>
    </div>
    
</div>
<!--标书样式 end-->

<!--项目内容-->
<%set var hIndex=1%>
<div class="project-content-wrap clearfix">
    <div class="project-content-left">
        <%if(projectModel.IsNewbieProject())%>
        <%template src="_new_hand.html"%>
        <%template src="_invest_record.html"%>
        <%else if(projectModel.IsHuoqiProject())%>
        <%template src="_project_intro.html"%>
        <%template src="_invest_record.html"%>
        <%else if(Investable.IsClaimTransferProject)%>
        <%template src="_project_intro.html"%>
        <%template src="_invest_record.html"%>
        <%else%>
        <%template src="_project_intro.html"%>
        <%template src="_loaner_info.html"%>
        <%template src="_ticket_info.html"%>
        <%template src="_ticket_intro.html"%>
        <%template src="_company_info.html"%>
        <%template src="_risk_control.html"%>
        <%template src="_imgs_info.html"%>
        <%template src="_repayment_task.html"%>
        <%template src="_invest_record.html"%>
        <%/if%>
    </div>

    <div id="sidemenu" class="project-content-right">
        <ul class="nav list-unstyled notScroll">
        </ul>
    </div>
</div>
<!--项目内容 end-->

<%template src="_floating.html"%>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>