<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我要理财</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/projects.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="#">首页</a>
    <span> > </span>
    <span>我要理财</span>
</div>
<!--面包屑导航 end-->

<div class="select-box content-wrap">
    <div class="project-time">项目发布时间为 10:30，12:30，14:30，16:30 <a href="#" class="pull-right">这些项目是什么</a></div>
    <div class="type-select">
        <div class="project-status"><span>项目状态</span>
            <ul class="list-unstyled list-inline">
                <%set var projectStatusEnums=Utils.GetEnumValues<Agp2pEnums.ProjectStatusQueryTypeEnum>()%>
                <%foreach(var en in projectStatusEnums)%>
                <li><a href='<%linkurl("projects",category_id,project_profit_rate_index,project_repayment_index,(int)en,page)%>'
                       class='<%=project_status_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-types"><span>项目类型</span>
            <ul class="list-unstyled list-inline">
                <li><a href='<%linkurl("projects",0,project_profit_rate_index,project_repayment_index,project_status_index,page)%>'
                       class='<%=0==category_id?"selected":""%>'>全部</a></li>
                <%foreach(var kvp in CategoryIdTitleMap)%>
                <li><a href='<%linkurl("projects",kvp.Key,project_profit_rate_index,project_repayment_index,project_status_index,page)%>'
                       class='<%=kvp.Key==category_id?"selected":""%>'><%=kvp.Value%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-profit"><span>项目收益</span>
            <ul class="list-unstyled list-inline">
                <%set var interestRateTypeEnums=Utils.GetEnumValues<Agp2pEnums.InterestRateTypeEnum>()%>
                <%foreach(var en in interestRateTypeEnums)%>
                <li><a href='<%linkurl("projects",category_id,(int)en,project_repayment_index,project_status_index,page)%>'
                       class='<%=project_profit_rate_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-deadline"><span>项目期限</span>
            <ul class="list-unstyled list-inline">
                <%set var repaymentTermEnums=Utils.GetEnumValues<Agp2pEnums.RepaymentTermEnum>()%>
                <%foreach(var en in repaymentTermEnums)%>
                <li><a href='<%linkurl("projects",category_id,project_profit_rate_index,(int)en,project_status_index,page)%>'
                       class='<%=project_repayment_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
    </div>
</div>
<%set var projectsDataTable=get_project_list(PAGE_SIZE,page,out totalcount,category_id,project_profit_rate_index,project_repayment_index,project_status_index)%>
<%foreach(DataRow dr in projectsDataTable.Rows)%>
<div class="invest-cell">
    <div class="invest-title-wrap">
        <span class="invest-style-tab"><%=CategoryIdTitleMap[(int)dr["category_id"]]%></span>
        <span class="invest-title"><a href='<%linkurl("project",{dr[id]})%>'>{dr[title]}</a></span>
        <%if(((int)dr["tag"]&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
        <span class="invest-list-icon yue-icon"></span>
        <%/if%>
        <%if(((int)dr["tag"]&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
        <span class="invest-list-icon jian-icon"></span>
        <%/if%>
        <%if(((int)dr["tag"]&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
        <span class="invest-list-icon xin-icon"></span>
        <%/if%>
    </div>
    <div class="invest-content">
        <div class="apr">
            <div class="red25px margin-bottom10px">{dr[profit_rate_year]}<span class="red15px">%</span></div>
            <div class="grey13px">年化利率</div>
        </div>
        <div class="deadline">
            <div class="grey25px margin-bottom10px">{dr[repayment_number]}<span
                    class="grey15px">{dr[repayment_term]}</span></div>
            <div class="grey13px">期限</div>
        </div>
        <div class="sum">
            <div class="grey25px margin-bottom10px">{dr[project_amount_str]}<span class="grey15px">万</span></div>
            <div class="grey13px">借款金额</div>
        </div>
        <div class="repayment">
            <div class="progress progress-custom">
                <div class="progress-bar progress-bar-info" role="progressbar"
                     aria-valuenow="{dr[project_investment_progress]}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {dr[project_investment_progress]}%">
                    <span class="sr-only">{dr[project_investment_progress]}% Complete</span>
                </div>
            </div>
            <div class="grey13px margin-bottom10px">可投金额 : <span class="dark-grey13px">{dr[project_investment_balance]}</span></div>
            <div class="grey13px margin-bottom10px hidden">投资人数 : <span class="dark-grey13px">{dr[project_investment_count]}人</span>
            </div>
            <!--满标人数显示-->
            <div class="grey13px">到期还本付息</div>
        </div>
        <div class="invest-btn pull-right">
            <%if((int)dr["status"]==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
            <button type="button" class="invest-full-btn" onclick="location.href='<%linkurl("project",{dr[id]})%>'">待发标</button>
            <%else if((int)dr["status"]==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
            <button type="button" class="invest-now-btn" onclick="location.href='<%linkurl("project",{dr[id]})%>'">立即投资</button>
            <%else if((int)dr["status"]==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||(int)dr["status"]==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
            <button type="button" class="invest-full-btn" onclick="location.href='<%linkurl("project",{dr[id]})%>'">募集结束</button>
            <%else if((int)dr["status"]==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
            <button type="button" class="invest-full-btn" onclick="location.href='<%linkurl("project",{dr[id]})%>'">还款中</button>
            <%else if((int)dr["status"]>=(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
            <button type="button" class="invest-full-btn" onclick="location.href='<%linkurl("project",{dr[id]})%>'">已完成</button>
            <%/if%>
        </div>
    </div>
</div>
<%/foreach%>

<!--取得分页页码列表-->
<div class="pages"><%=get_page_link(PAGE_SIZE,page,totalcount,linkurl("projects",{category_id},{project_profit_rate_index},{project_repayment_index},{project_status_index},"__id__"))%></div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>