<%namespace "Agp2p.Core"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>我要理财</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/projects.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="/">首页</a>
    <span> > </span>
    <span>我要理财</span>
</div>
<!--面包屑导航 end-->

<div class="select-box content-wrap">
    <div class="project-time">理财项目发布时间：工作日15:00；非工作日可查看 <a href='<%=linkurl("article_list",54)%>'>发标公告</a>。<a href='<%=linkurl("about")%>?tab=1' class="pull-right">这些项目是什么</a></div>
    <div class="type-select">
        <div class="project-status"><span>项目状态</span>
            <ul class="list-unstyled list-inline">
                <%set var projectStatusEnums=Utils.GetEnumValues<Agp2pEnums.ProjectStatusQueryTypeEnum>()%>
                <%foreach(var en in projectStatusEnums)%>
                <li><a href='<%linkurl("projects",category_id,project_profit_rate_index,project_repayment_index,(int)en,page)%>'
                       class='<%=project_status_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-types"><span>项目类型</span>
            <ul class="list-unstyled list-inline">
                <li><a href='<%linkurl("projects",0,project_profit_rate_index,project_repayment_index,project_status_index,page)%>'
                       class='<%=0==category_id?"selected":""%>'>全部</a></li>
                <%foreach(var kvp in CategoryIdTitleMap)%>
                <li><a href='<%linkurl("projects",kvp.Key,project_profit_rate_index,project_repayment_index,project_status_index,page)%>'
                       class='<%=kvp.Key==category_id?"selected":""%>'><%=kvp.Value%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-profit"><span>项目收益</span>
            <ul class="list-unstyled list-inline">
                <%set var interestRateTypeEnums=Utils.GetEnumValues<Agp2pEnums.InterestRateTypeEnum>()%>
                <%foreach(var en in interestRateTypeEnums)%>
                <li><a href='<%linkurl("projects",category_id,(int)en,project_repayment_index,project_status_index,page)%>'
                       class='<%=project_profit_rate_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
        <div class="project-deadline"><span>项目期限</span>
            <ul class="list-unstyled list-inline">
                <%set var repaymentTermEnums=Utils.GetEnumValues<Agp2pEnums.RepaymentTermEnum>()%>
                <%foreach(var en in repaymentTermEnums)%>
                <li><a href='<%linkurl("projects",category_id,project_profit_rate_index,(int)en,project_status_index,page)%>'
                       class='<%=project_repayment_index==(int)en?"selected":""%>'><%=Utils.GetAgp2pEnumDes(en)%></a></li>
                <%/foreach%>
            </ul>
        </div>
    </div>
</div>
<%set var projects=QueryProjects(PAGE_SIZE,page-1,out totalcount,category_id,project_profit_rate_index,project_repayment_index,project_status_index)%>
<%foreach(var p in projects)%>
<div class="invest-cell">
    <div class="invest-title-wrap">
        <span class="invest-style-tab"><%=p.dt_article_category.title%></span>
        <%if(p.dt_article_category.call_index=="ypb")%>
        <span class="invest-title"><a href='<%linkurl("project",p.id)%>'>{p.title}</a></span>
        <span class="pull-right acceptance-bank"><i></i>承兑银行：<%=p.GetMortgageInfo("bank")%></span>
        <%else%>
        <span class="invest-title"><a href='<%linkurl("project",p.id)%>'>{p.title}</a></span>
        <%/if%>
        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Ordered)>0)%>
        <span class="invest-list-icon yue-icon"></span>
        <%/if%>
        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.Recommend)>0)%>
        <span class="invest-list-icon jian-icon"></span>
        <%/if%>
        <%if((p.tag&(int)Agp2pEnums.ProjectTagEnum.CreditGuarantee)>0)%>
        <span class="invest-list-icon xin-icon"></span>
        <%/if%>
    </div>
    <div class="invest-content">
        <div class="apr">
            <div class="red25px margin-bottom10px"><%=p.profit_rate_year.ToString("f1")%><span class="red15px">%</span></div>
            <div class="grey13px">年化利率</div>
        </div>
        <div class="deadline">
            <div class="grey25px margin-bottom10px">{p.repayment_term_span_count}<span
                    class="grey15px">{p.GetProjectTermSpanEnumDesc()}</span></div>
            <div class="grey13px">期限</div>
        </div>
        <div class="sum">
            <div class="grey25px margin-bottom10px"><%=p.financing_amount.ToString("n0")%><span class="grey15px">元</span></div>
            <div class="grey13px">借款金额</div>
        </div>
        <div class="repayment">
            <div class="progress progress-custom">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{p.GetInvestmentProgressPercent()}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {p.GetInvestmentProgressPercent()}%">
                    <span class="sr-only">{p.GetInvestmentProgressPercent()}% Complete</span>
                </div>
            </div>
            <%if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
            <div class="grey13px margin-bottom10px">可投金额 : <span class="dark-grey13px">{p.GetInvestmentBalance()}</span></div>
            <%else%>
            <div class="grey13px margin-bottom10px">投资人数 : <span class="dark-grey13px">{p.GetInvestedUserCount()}人</span></div>
            <%/if%>
            <div class="grey13px">到期还本付息</div>
        </div>
        <div class="invest-btn">
            <%if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingAtTime) %>
            <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>待发标</a>
            <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.Financing) %>
            <a class="invest-now-btn" href='<%linkurl("project",p.id)%>'>立即投资</a>
            <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingTimeout||p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.FinancingSuccess) %>
            <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>审核中</a>
            <%else if(p.status==(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.ProjectRepaying) %>
            <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>还款中</a>
            <%else if(p.status>=(int)Agp2p.Common.Agp2pEnums.ProjectStatusEnum.RepayCompleteIntime) %>
            <a class="invest-full-btn" href='<%linkurl("project",p.id)%>'>已完成</a>
            <%/if%>
        </div>
    </div>
</div>
<%/foreach%>

<!--取得分页页码列表-->
<div class="pages"><%=get_page_link(PAGE_SIZE,page,totalcount,linkurl("projects",{category_id},{project_profit_rate_index},{project_repayment_index},{project_status_index},"__id__"))%></div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>