<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>注册</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/register.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--register box-->
<div class="content-wrap register-box" data-need-sms-verify='<%=uconfig.regstatus==2?"true":"false"%>'>
    <div class="register-right pull-right"></div>
    <div class="register-left">
        <div class="title-tips">免费注册 <span class="pull-right">已有账号？ <a href='<%linkurl("login")%>'>立即登录</a></span></div>
        <div class="form-box"><label for="account">手机号码 ：</label><input id="account" class="input-l" type="text"/><span class="status"></span></div>
        <div class="form-box"><label for="psw">登录密码 ：</label><input id="psw" class="input-l" type="password"/><span class="status psw-tips">请输入6~16位密码</span></div>
        <div class="form-box"><label for="psw2">确认密码 ：</label><input id="psw2" class="input-l" type="password"/><span class="status"></span></div>
        <div class="form-box"><label for="pic-code">验证码 ：</label><input id="pic-code" class="input-s" type="text"/><span class="pic-code-wrap"><img src="/tools/verify_code.ashx"/></span><span class="status"></span></div>
        <%if(uconfig.regstatus==2)%>
        <div class="form-box"><label for="sms-code">短信验证码 ：</label><input id="sms-code" class="input-s" type="text"/><button id="get-sms-btn" type="button">获取验证码</button><span class="status"></span></div>
        <%/if%>
        <div class="form-box"><label for="recommended">推荐人号码 ：</label><input id="recommended" class="input-l" type="text"/></div>
        <div class="agreement"><input type="checkbox"/> 我已经阅读并同意 <a href="<%templateskin%>/register-agreement.html" target="_blank">《注册协议》</a></div>
        <div class="register-btn"><button id="registerBtn" type="button">注 册</button></div>
    </div>
    <div class="dividing-hr"></div>
</div>
<!--register box end-->

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>