<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/es5-shim.min.js"></script>
    <script src="<%templateskin%>/js/es5-sham.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/repassword.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<div class="content-wrap reset-pwd step2-done step3-done">
    <div class="reset-pwd-th">重置密码</div>
    <div class="ul-wrap">
        <ul class="list-unstyled list-inline steps-list">
            <li class="hr step1-hr"></li>
            <li class="step1">1</li>
            <li class="hr step2-hr"></li>
            <li class="step2">2</li>
            <li class="hr step3-hr"></li>
            <li class="step3">3</li>
            <li  class="hr step4-hr"></li>
        </ul>
    </div>
    <div class="steps-tips">
        <span class="tips1">填写信息</span>
        <span class="tips2">验证信息</span>
        <span class="tips3">重置密码</span>
    </div>
    <div class="step-content">
        <ul class="list-unstyled reset-step1 hidden">
            <li><span>手机号</span><input type="text" class="phone-input"/></li>
            <li><span>验证码</span><input type="text" class="sms-code-input"/><a href="javascript;">获取验证码</a></li>
            <li><span></span><button type="button">下一步</button></li>
        </ul>
        <ul class="list-unstyled reset-step2 hidden">
            <li><span>新密码</span><input type="password" class="new-pwd"/></li>
            <li><span>确认密码</span><input type="password" class="new-pwd2"/></li>
            <li><span></span><button type="button">确 认</button></li>
        </ul>
        <div class="reset-step3">
            <p><span class="succeed-icon"></span><span class="succeed-tips">重置密码成功！</span></p>
            <p class="txt-style marginTop"><span>您的账号：13800138000</span></p>
            <p class="txt-style"><span>请牢记您的新密码。</span></p>
            <a href="javascript:;" class="btn">返回登录</a>
        </div>
    </div>
    <div class="help-info">
        验证过程如有其他问题，请致电客服：400-8989-089 <span class="service-time">服务时间：工作日 8:30—18:00</span>
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>