<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全保障</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/safe_defence.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="/">首页</a>
    <span> > </span>
    <span>安全保障</span>
</div>
<!--面包屑导航 end-->

<div class="content-wrap safePage">
    <div class="left-nav">
        <ul class="list-unstyled nav-list">
            <li class="clicked"><a href='javascript:' class="funds">合规性原则</a></li>
            <li><a href='javascript:' class="data">专业性原则</a></li>
            <li><a href='javascript:' class="project">稳健性原则</a></li>
        </ul>
    </div>
    <div class="right-content">
        <!--合规性-->
        <div class="funds-wrap">
            <div class="topic-th">合规性原则</div>
            <div class="content-body">
                <div class="content-cell">
                    <i class="third-part"></i>
                    <div class="description">
                        <h4>经营的过程符合国家监管要求</h4>
                        <p>经营过程符合《合同法》、《中华人民共和国民法通则》、《最高人民法院关于人民法院审理借贷案件的若干意见》等法律法规、指导意见的规定。并先行一步，按《网络借贷信息中介机构业务活动管理暂行办法》进行规范。</p>
                    </div>
                </div>
                <div class="content-cell even-cell" >
                   <div class="description" style="width: 500px; margin-left: 45px;">
                        <h4>资金第三方存管体系</h4>
                        <p>由北京数码视讯支付技术有限公司提供第三方资金存管服务，投资人资金不经过平台账户，不形成资金池，从根本上消除资金被挪用的风险。</p>                        
                   </div>
                   <i class="backup"></i>       
                </div>
                <div class="content-cell">
                    <i class="authentication"></i>
                    <div class="description">
                        <h4>法律顾问团</h4>
                        <p>盈科(佛山)律师事务所提供全程法律顾问服务。</p>
                    </div>
                </div>
            </div>
        </div>
        <!--专业性-->
        <div class="data-wrap">
            <div class="topic-th">专业性原则</div>
            <div class="content-body">
                <div class="content-cell">
                    <i class="third-part"></i>
                    <div class="description">
                        <h4>严格的贷前审核</h4>
                        <p>我们建立了专业的调查团队和严格的信贷政策，对融资项目进行全方位实地尽职调查。过滤高风险行业，贷款资料的严格审核，借款人背景调查、实地考察，重点核实借款主体
                            财务情况、信用状况，还款能力的评估，对项目提出风控意见，确保项目及融资需求真实、合法，并将项目信息、借款主体情况公示于网站平台。</p>
                    </div>
                </div>
                <div class="content-cell even-cell">
                    <div class="description" style="width: 500px; margin-left: 45px;">
                        <h4>风险评审委员会终审</h4>
                        <p>风险评审委员会对初审项目进行终审，出具终审结果；对终审通过项目上线至安广融合平台。</p>
                    </div>
                    <i class="project02"></i>
                </div>
                <div class="content-cell">
                    <i class="authentication"></i>
                    <div class="description">
                        <h4>完善的贷后管理</h4>
                        <p>
                            平台对借款主体及抵（质）押物情况进行定期追踪检查，确保借款人贷款资金使用的合理、按时还款。建立风险预警机制，控制逾期风险，建立多种手段针对各种逾期情况的催收
                            体系、专业法律团队多渠道对抵（质）押物快速处置。
                        </p>
                    </div>
                </div>
                <div class="content-cell even-cell">
                    <div class="description" style="width: 500px; margin-left: 35px;">
                        <h4>选择可靠的合作机构</h4>
                        <p>平台有完善的合作机构筛选体系，用于合作前的机构审核，严格合作总额的控制，建立了以优质小额贷款公司提供全额本息保障为核心，小额贷款公司主发起人连带担保、健全的风险准备金制度与风险资金池的风险防控体系。由小额贷款公司提供贷前审查、贷款担保以及贷后管理。我平台风控团队对合作机构及相关业务实行贷后跟踪管理。</p>
                    </div>
                    <i class="cooperating-agency"></i>
                </div>
                <div class="content-cell">
                    <i class="technology"></i>
                    <div class="description">
                        <h4>技术保障：卓越IT技术，保障资金安全</h4>
                        <ul>
                            <li><span>网络安全：采用阿里云ECS服务器DDoS防护、木马查杀、防暴力破解等服务可轻松实现多用户对多服务器的访问控制。实时监控、过滤和记录数据，并生成直观的报告。</span></li>
                            <li><span>数据安全：采用阿里云RDS数据库，实时同步系统在云端的容灾备份点，每份数据具有多个副本，保证数据安全。</span></li>
                        </ul>
                    </div>
                </div>
                <div class="content-cell even-cell">
                    <div class="description" style="width: 500px; margin-left: 35px;">
                        <h4>隐私保障：完善的管理体系</h4>
                        <ul>
                            <li><span>信息加密：采用国际标准的SSL安全加密技术对用户信息进行高强度加密处理，杜绝不法分子窃取和截获。</span></li>
                            <li><span>完善内控管理：已有完善的内部管理机制和加密系统，从而确保工作人员不能在任何场合和任何时间下擅自批露、修改、删除系统的相关数据。</span></li>
                            <li><span>权限管理保障：严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经用户的同意，我们不会向任何第三方公司、组织和个人披露用户的个人信息、账户信息以及交易信息（法律法规另有规定除外）。</span></li>
                        </ul>
                    </div>
                    <i class="privacy"></i>
                </div>
                <div class="content-cell">
                    <i class="funds03"></i>
                    <div class="description">
                        <h4>资金只能转出到投资人实名认证</h4>
                        <p>
                            平台建立手机认证、实名认证、银行卡认证等全方位认证体系，资金只能转出到本人实名认证及绑定的银行账户。
                        </p>
                    </div>
                </div>
                <div class="content-cell even-cell">
                    <div class="description" style="width: 500px; margin-left: 35px;">
                        <h4>资金帐户查询</h4>
                        <p>投资人可实时查询资金账户的详情。</p>
                    </div>
                    <i class="query"></i>
                </div>
            </div>
        </div>
        <!--稳健性-->
        <div class="project-wrap">
            <div class="topic-th">稳健性原则</div>
            <div class="content-body">
                <div class="content-cell">
                    <i class="check"></i>
                    <div class="description">
                        <h4>银票融资</h4>
                        <ul>
                            <li><span>兑付安全：在票据理财模式中，所有的票据资产都是银行承兑汇票，法律规定，票据到期后，银行无条件承兑票据金额（见票即付）；</span></li>
                            <li><span>托管安全：平台上所涉及的票据都保管在该银行；</span></li>
                            <li><span>票据安全：投资的票据真伪经过多重审核，通过平台专业运营成员以及合作银行两道关口把守，并经过专业设备、人工、合作银行复检等多层工序，层层把关，全面保障票据资产的真伪，灭失风险。</span></li>
                        </ul>
                    </div>
                </div>
                <div class="content-cell">
                    <i class="final-check"></i>
                    <div class="description">
                        <h4>小额贷款公司债权资产转让融资</h4>
                        <ul>
                            <li><span>甄选优质机构：小额贷款公司提供全额本息保障、严格小额贷款公司准入标准、合作总额控制，小贷公司负有最终回购的责任；</span></li>
                            <li><span>选取优质项目：由小额贷款公司提供贷前审核、贷款担保以及贷后管理；</span></li>
                            <li><span>二次审核：我司风控团队根据自身的风控标准对借款人进行二次审核。</span></li>
                        </ul>
                    </div>
                </div>
                <div class="content-cell">
                    <i class="manage"></i>
                    <div class="description">
                        <h4>企业供应链融资</h4>
                        <ul>
                            <li><span>寻找AAA项目来源：选择行业知名企业/上市公司/大型核心企业上下游融资；</span></li>
                            <li><span>确保第一还款来源：线下风控团队严格把关贷前调查，贷后管理；</span></li>
                            <li><span>确保第二还款来源：公司直属控制货权、确保存货足值、回购商可靠。</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%template src="_floating.html"%>
<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>