<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站地图</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <script src="<%templateskin%>/js/custom-shim.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/sitemap.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="/">首页</a>
    <span> > </span>
    <span>网站地图</span>
</div>
<!--面包屑导航 end-->

<div class="content-wrap sitemap-page">
    <div class="content-th">网站地图</div>
    <div class="content-body">
        <div class="content-cell">
            <div class="left-part">
                <i class="index-icon"></i>
                <div class="index-links">
                    <h3>安广融合</h3>
                    <p><a href="/" target="_blank">首页</a><a href='<%linkurl("register")%>' target="_blank">注册</a><a href='<%linkurl("login")%>' target="_blank">登录</a></p>
                    <p><a href='<%linkurl("usercenter","index")%>' target="_blank">会员中心</a></p>
                </div>
            </div>
            <div class="right-part">
                <i class="invest-icon"></i>
                <div class="invest-links">
                    <h3>我要理财</h3>
                    <p><a href='<%linkurl("projects")%>' target="_blank">投资项目列表</a></p>
                </div>
            </div>
        </div>

        <div class="content-cell">
            <div class="left-part">
                <i class="safe-icon"></i>
                <div class="safe-links">
                    <h3>安全保障</h3>
                    <p><a href='<%linkurl("safe_defence")%>#tab0' target="_blank">资金安全保障</a><a href='<%linkurl("safe_defence")%>#tab1' target="_blank">信息数据安全</a></p>
                    <p><a href='<%linkurl("safe_defence")%>#tab2' target="_blank">项目流程规范</a><a href='<%linkurl("safe_defence")%>#tab3' target="_blank">法律法规保障</a></p>
                </div>
            </div>
            <div class="right-part">
                <i class="help-icon"></i>
                <div class="help-links">
                    <h3>帮助中心</h3>
                    <p><a href="#">常见问题</a><a href="#">收费标准</a></p>
                </div>
            </div>
        </div>

        <div class="content-cell">
            <div class="left-part">
                <i class="aboutus-icon"></i>
                <div class="aboutus-links">
                    <h3>关于我们</h3>
                    <p><a href='<%=linkurl("about")%>?tab=0' target="_blank">公司简介</a><a href='<%=linkurl("about")%>?tab=1' target="_blank">产品介绍</a><a href='<%=linkurl("article_list","43,54")%>' target="_blank">网站公告</a></p>
                    <p><a href='<%=linkurl("article_list",42)%>' target="_blank">公司动态</a><a href='<%=linkurl("article_list",44)%>' target="_blank">媒体报道</a><a href='<%=linkurl("about")%>?tab=5' target="_blank">加入我们</a></p>
                    <p><a href='<%=linkurl("about")%>?tab=6' target="_blank">合作伙伴</a><a href='<%=linkurl("about")%>?tab=7' target="_blank">联系我们</a></p>
                </div>
            </div>
            <div class="right-part">
                <i class="others-icon"></i>
                <div class="others-links">
                    <h3>其他</h3>
                    <p><a href="/" target="_blank">在线客服</a><a href="/" target="_blank">收益计算</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>