<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>状态激活</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/success_return.bundle.js"></script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
    <!--head end-->
<div>
    <div class="invested">        
        <div class="confirmtran"><span>确认转让信息</span></div>           
        <p>恭喜您，投资成功</p>
        <div class="contentbg investedbg"></div>
        <div class="investedtip">
        <span>转让成功后，安广融合将以短信通知您。</span>
        <span>如果在2016-04-18 10:26:00前没有人购买，转让项目将自动取消</span>
        </div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess recharge">
        <p>恭喜您，充值成功</p>
        <div class="contentbg rechargebg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">我的账户</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess withdraw">
        <p>恭喜您，提现成功</p>
        <div class="contentbg withdrawbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">我的账户</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess repay">
        <p>恭喜您，还款成功</p>
        <div class="contentbg repaybg"></div>
        <a href='<%linkurl("usercenter","index")%>#/myloan' class="returnBtn">我的借款</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess tranClaim">
        <p>恭喜您，债权转让认购成功</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess autoTender">
        <p>恭喜您，自动投标续约成功</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess autoTenderCancel">
        <p>恭喜您，自动投标解约成功</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess autoAccount">
        <p>恭喜您，个人自动账户开通成功</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnSuccess autoAccountCancel">
        <p>恭喜您，个人自动账户取消成功</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>#/invest-record' class="returnBtn">投资记录</a>
        <a href="/" class="closeBtn">首页</a>
    </div>



    <div class="returnFail investedFail">
        <p>很抱歉，投资失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail repayFail">
        <p>很抱歉，还款失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail withdrawFail">
        <p>很抱歉，提现失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail rechargeFail">
        <p>很抱歉，充值失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail tranClaimFail">
        <p>很抱歉，债权转让认购失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail autoTenderFail">
        <p>很抱歉，自动投标续约失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail autoTenderCancelFail">
        <p>很抱歉，自动投标解约失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail autoAccountFail">
        <p>很抱歉，个人自动账户开通失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
    <div class="returnFail autoAccountCancelFail">
        <p>很抱歉，个人自动账户取消失败</p>
        <div class="contentbg"></div>
        <a href='<%linkurl("usercenter","index")%>' class="returnBtn">重试</a>
        <a href="/" class="closeBtn">首页</a>
    </div>
</div>
    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>