<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>状态激活</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/success_return.bundle.js"></script>
</head>
<body>
    <!--head-->
    <%template src="_header.html"%>
    <!--head end-->
<div>
    <div class="contenttips invested">        
        <div class="confirmtran"><span>确认转让信息</span></div>           
        <p>恭喜您，投资成功</p>
        <div class="contentbg investedbg"></div>
        <div class="investedtip">
        <span>转让成功后，安广融合将以短信通知您。</span>
        <span>如果在2016-04-18 10:26:00前没有人购买，转让项目将自动取消</span>
        </div>
        <a href="" class="returnBtn">返回</a>
        <a href="" class="closeBtn">关闭</a>
    </div>

    <div class="contenttips recharge">
        <p>恭喜您，充值成功</p>
        <div class="contentbg rechargebg"></div>
        <a href="" class="returnBtn">返回</a>
        <a href="" class="closeBtn">关闭</a>
    </div>

    <div class="contenttips withdraw">
        <p>恭喜您，提现成功</p>
        <div class="contentbg withdrawbg"></div>
        <a href="" class="returnBtn">返回</a>
        <a href="" class="closeBtn">关闭</a>
    </div>

    <div class="contenttips repay">
        <p>恭喜您，还款成功</p>
        <div class="contentbg repaybg"></div>
        <a href="" class="returnBtn">返回</a>
        <a href="" class="closeBtn">关闭</a>
    </div>
</div>
    <!--footer-->
    <%template src="_footerSmall.html"%>
    <!--footer end-->
</body>
</html>