<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>我的账户</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="<%templateskin%>/node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="<%templateskin%>/node_modules/respond.js/dest/respond.min.js"></script>
    <script src="<%templateskin%>/js/json2.js"></script>
    <![endif]-->
    <link href="<%templateskin%>/less/bootstrap.glyphicons.min.css" rel="stylesheet" />
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/react.bundle.js"></script>
    <script src="<%templateskin%>/build/usercenter.bundle.js"></script>

    <!--[if IE 8]>
    <style>
        select { height: auto !important; }
    </style>
    <![endif]-->
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="/">首页</a>
    <span> > </span>
    <span>我的账户</span>
</div>
<!--面包屑导航 end-->

<div id="app"
     data-user-name="<%=!string.IsNullOrEmpty(userModel.nick_name)?userModel.nick_name:userModel.user_name%>"
     data-prev-login-time="{pre_login_time}"
     data-idle-money='<%=userModel.li_wallets.idle_money%>'
     data-locked-money='<%=userModel.li_wallets.locked_money%>'
     data-investing-money='<%=userModel.li_wallets.investing_money%>'
     data-profiting-money='<%=userModel.li_wallets.profiting_money%>'
     data-lotteries-value='<%=GetLotteriesValue()%>'
     >
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>