<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/es5-shim.min.js"></script>
    <script src="<%templateskin%>/js/es5-sham.min.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/build/commons.bundle.js"></script>
    <script src="<%templateskin%>/build/usercenter.bundle.js"></script>
</head>
<body>
<!--head-->
<%template src="_header.html"%>
<!--head end-->

<!--面包屑导航-->
<div class="breadcrumbs">
    <a href="#">首页</a>
    <span> > </span>
    <span>我的账户</span>
</div>
<!--面包屑导航 end-->

<div id="app" data-total-money="<%=GetTotalMoney()%>"
     data-user-name="<%=!string.IsNullOrEmpty(userModel.nick_name)?userModel.nick_name:userModel.user_name%>"
     data-prev-login-time="{pre_login_time}"
     data-idle-money='<%=string.Format("{0:N}",wallet.idle_money)%>' data-locked-money='<%=string.Format("{0:N}",wallet.locked_money)%>'>
</div>

<!--footer-->
<%template src="_footerSmall.html"%>
<!--footer end-->
</body>
</html>