body {
    padding-bottom: 3rem;
}

div.top-screen {
    position: relative;
    text-align: center;
    padding: 2rem 25%;
}

div.top-screen img,
div.contrast img {
    width: 100%;
}

div.introduction,
div.advantage,
div.service,
div.contrast {
    padding: 0 5%;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.title-style {
    position: relative;
    left: -1rem;
    width: 5rem;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #00a5df;
}

div.advantage ul {
    list-style: none;
    padding: 0;
}

div.contrast-img-box {
    margin-bottom: 1rem;
}