/*footer样式start*/
@import "common";
@footer: "../imgs/footer";

div.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    border-top: @border;
    background: @white;

    & > div {
        text-align: center;
        a {
            color: @grey;
            font-size: 12px;
            text-decoration: none;
            span {
                display: block;
                width: 25px;
                height: 25px;
                margin-top: .15rem;
            }
            #span_index {
                background: url("@{footer}/index.png");
                background-size: contain;
                &.active {
                    background: url("@{footer}/index-active.png");
                    background-size: contain;
                }
            }
            #span_invest {
                background: url("@{footer}/invest.png");
                background-size: contain;
                &.active {
                    background: url("@{footer}/invest-active.png");
                    background-size: contain;
                }
            }
            #span_usercenter {
                background: url("@{footer}/usercenter.png");
                background-size: contain;
                &.active {
                    background: url("@{footer}/usercenter-active.png");
                    background-size: contain;
                }
            }
            #span_setting {
                background: url("@{footer}/setting.png");
                background-size: contain;
                &.active {
                    background: url("@{footer}/setting-active.png");
                    background-size: contain;
                }
            }
            &.active { color: @red; }
        }
    }
}
/*footer样式end*/