div.forgot-psw-page {
    padding: 1rem 5%;
}
div.forgot-psw-page form {width:20rem;}
div.forgot-psw-page form > div {margin-bottom:1.2rem;}
div.forgot-psw-page form > div input {
    border: 1px solid #ccc;
}
div.pic-code-wrap span img {
    width: 100%;
}
#btnGetVerifyCode {
    float: right;
}
div.login-now-wrap {
    text-align: center;
    color: #a9a9a9;
}
div.login-now-wrap a {
    padding-left: 8px;
    color: #00a5df;
    text-decoration: none;
}
