body { background: #f7f7f8 !important; }
div.reglog-bar {
    height: 2.66rem;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2em;
    background: #044ba2;
}
div.index-page div.reglog-bar span img {width:6.25rem;}
div.reglog-bar a {
    color: #fff;
    margin-left: 5%;
    text-decoration: none;
}
#banner-carousel .carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
}

#banner-carousel .carousel-indicators .active {
    width: 10px !important;
    height: 10px !important;
}

#banner-carousel .carousel-indicators {
    bottom: -6px !important;
}

#banner-carousel .carousel-control {
    background-image: none !important;
}

.announce-wrap{
    height:2rem; background:#fff; border-bottom:1px solid #eee;  padding:0 0 0 5%;
    img{margin-right:2%;  }
    span{
        a{ color:#646464; font-size:14px; line-height:2rem;}
        }
}

#content{text-align:center; position:relative;   background:#fff; padding-top:10px;
         .newbie-title{       text-align:left;  height:28px;   
             span{background:#1478d2; color:#fff; font-size:18px; display:inline-block; height:28px; float:left; line-height:28px; margin-right:2px;
                  padding:0 8px;    
             }
             img{height:21px; margin-top:3px; }
         }
        .diagram-content{ width:100%;
            position:absolute; top:65px;  z-index:10;
            .title-style{ font-size:18px; color:#464646;}
            .rate-style{ margin:0 auto; width:175px; border-bottom:2px solid #eee; 
                .rate-first{
                    .newbie-first-rate{
                        font-size:40px; color:#ff414b;
                    }
                    .newbie-second-rate{
                        font-size:25px; color:#ff414b;
                    }
                }
                .new-newbie{
                float:right;  height:1.5rem;   
                .newbie-jiaxi{ color:#ff414b; font-size:13px; float:left;height:20px; line-height:20px; border: 1px solid #ff414b; border-top-left-radius:5px; border-bottom-left-radius:5px;}
                .newbie-rate{color:#fff; font-size:13px; background:#ff414b; line-height:20px; float:left; border-top-right-radius:5px; border-bottom-right-radius:5px; padding:0 2px;}
            }
            }
            .qixian-wrap{ margin-top:10px;
                .qixian{
                    display:inline-block; color:#464646;font-size:18px;
                    p{margin-bottom:0;}
                    .tianshu{font-size:20px; 
                             .txt-darkgrey{color:#ff414b; font-size:20px;}
                    }
                }
                .ketou{
                    display:inline-block; color:#464646;font-size:18px; margin-left:10%;
                    p{margin-bottom:0;}
                    .jine{font-size:20px;
                          .txt-darkgrey{color:#ff414b; font-size:20px;}
                    }
                }
            }
        }
        .guize-ruels{
            font-size:15px; color:#aaa; margin-top:-20px; margin-left:-10px;
            span{padding-left:5px;}
            span:first-child{ padding-right:5px; border-right:1px solid #aaa;}
        }
        .invested{
            display:inline-block; width:90%; height:40px; font-size:20px; text-align:center; color:#fff;
            background:#ff414b; line-height:40px; border-radius:20px; margin:0 auto 10px auto; text-decoration:none;
        }
}
