body {
    background-color: #f7f7f8;
    padding-bottom: 4rem;
}

div.account-amount {
    width: 100%;
    height: 6.8rem;
    background-color: #00a5df;
    text-align: center;
    color: #fff;
}

div.amount-detail > div {
    float: left;
    width: 50%;
    height: 3rem;
    background-color: #33b7e5;
    text-align: center;
    color: #fff;
}

div.amount-detail > div:first-child {
    border-right: 1px solid #00a5df;
}

div.operate-btns {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #e8e8ea;
}

div.operate-btns > div {
    float: left;
    width: 50%;
    text-align: center;
}

div.operate-btns > div a {
    color: #00aeef;
    font-size: 1.3em;
    line-height: 3rem;
}

div.operate-btns > div a:hover,
div.operate-btns > div a:focus,
div.operate-btns > div a:visited {
    color: #00aeef;
    text-decoration: none;
}

div.invest-record {
    padding: 0 2%;
}

div.invest-amount-detail > div > div {
    float: left;
    width: 50%;
    height: 4rem;
    text-align: center;
}

div.first-row > div {
    border-bottom: 1px solid #e8e8ea;
}

.txt-orange {
    color: #fd6500;
    font-size: 1.35em;
}

.txt-grey {
    color: grey;
}

div.invest-record {
    background-color: #fff;
    border-top: 1px solid #e8e8ea;
    border-bottom: 1px solid #e8e8ea;
}

div.invest-record > div {
    width: 100%;
    height: 3.2rem;
    padding: 0 5%;
}

div.invest-record > div:first-child,
div.invest-record > div:nth-child(2) {
    border-bottom: 1px solid #e8e8ea;
}

.span-style {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
    padding-left: 0.6rem;
}

span.glyphicon {
    color: #ccc;
}

.sprite {
    width: 1.876rem;
    height: 1.876rem;
    background-image: url("../imgs/myaccount-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 300%;
}

.sprite-back {
    background-position: 0 0;
}

.sprite-invest {
    background-position: -1.874rem 0;
}

.sprite-trade {
    background-position: -3.75rem 0;
}