/*mycard.less*/
@input: "../imgs/input-icon";

div.binding-cards-page {
    padding: 1rem 5%;
    form{
       & > div { margin-bottom: 1rem; }
        .modify-btns-box button { width: 40%; }
        #delete-btn { background-color: #fd565d; }
        #realName {
            background: url("@{input}/user.png") no-repeat 3% center;
            background-size: 8%;
        }
        #cardNumber, #bankName {
            background: url("@{input}/bank-card.png") no-repeat 3% center;
            background-size: 8%;
        }
        #bankLocation {
            background: url("@{input}/position.png") no-repeat 3% center;
            background-size: 8%;
        }
        #openingBank {
            background: url("@{input}/bank.png") no-repeat 3% center;
            background-size: 8%;
        }
    }
    #for-bank {
        position: absolute;
        top: 10.2rem;
        left: 37.5rem;
    }
    #for-city {
        position: absolute;
        top: 14.2rem;
        left: 37.5rem;
    }
    .glyphicon-triangle-bottom:before { color: #ccc; }
}

.modal-header .close {margin-top: -1rem;}