/*project-detail.less*/
body { padding-bottom: 50px; }

.content-wrap {
    padding: 0 4%;
    margin-bottom: 1.5rem;
    * { color: #646464; }
    .project-detail-title {
        margin: 0.6rem 0;
        & > span {
            display: inline-block;
            vertical-align: middle;
        }
        .title-icon {
            width: .2rem;
            height: 1.3em;
            background: #ff4148;
        }
        .title-style {
            margin-left: 0.5rem;
            color: #464646;
            font-size: 1.3em;
            font-weight: bold;
        }
    }
    .project-info {
        p {
            margin: .5rem 0;
            line-height: 1.3rem;
        }
        ul {
            margin-left: .4rem;
            li {
                line-height: 1.2rem;
                margin: .3rem 0;
            }
        }
    }
}


