div.register-page {
    padding: 1rem 5%;
}
div.register-page form {width:20rem;}
div.register-page form > div {
    margin-bottom: 1.2rem
}
input {
    background: url("../imgs/login-icon.png") no-repeat;
    background-size: 11%;
}
input#account {
    background-position: 0 -8.4rem;
}
input#psw, input#psw2 {
    background-position: 0 -6.2rem;
}
input#pic-code {
    background-position: 0 -2rem;
}
input#auth-code {
    background-position: 0 -4.1rem;
}
input#recommend-one {
    background-position: 0 .4rem;
}
div.auth-code-wrap input,
div.pic-code-wrap input {
    background-size: 19%;
}
#get-auth-code-btn,
div.pic-code-wrap .pic-code-span {
    float: right;
}
div.pic-code-wrap span img {
    width: 100%;
}
input#agreement {
    width: 16px;
    height: 16px;
    margin-top: 1.5px;
    margin-right: 5px;
    vertical-align: top;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #a9a9a9;
}
input[type=checkbox]:checked {
    background: url("../imgs/icon-tick.png") no-repeat center center;
    background-size: 100%;
}
div.agreement-wrap label {
    color: #3e4346;
    font-weight: normal;
}
div.agreement-wrap label a {
    color: #00a5df;
    text-decoration: none;
}
div.login-now-wrap {
    text-align: center;
    color: #a9a9a9;
    margin-bottom: 30px;
}
div.login-now-wrap a {
    padding-left: 8px;
    color: #00a5df;
    text-decoration: none;
}