/*register.less*/
@input: "../imgs/input-icon";

.register-page {
    padding: 1rem 5%;
    form {
        width: 20rem;
        & > div { margin-bottom: 1.2rem; }
        .pic-code-wrap span img { width: 100%; }
        #account {
            background: url("@{input}/user.png") no-repeat 3% center;
            background-size: 8%;
        }
        #psw, #psw2 {
            background: url("@{input}/pwd.png") no-repeat 3% center;
            background-size: 8%;
        }
        #pic-code {
            background: url("@{input}/pic-code.png") no-repeat 3% center;
            background-size: 15%;
        }
        #auth-code {
            background: url("@{input}/sms-code.png") no-repeat 3% center;
            background-size: 15%;
        }
        #recommend-one {
            background: url("@{input}/recommend.png") no-repeat 3% center;
            background-size: 8%;
        }
        .agreement-wrap {
            #agreement {
                width: 16px;
                height: 16px;
                margin-top: 1.5px;
                margin-right: 5px;
                padding: 0;
                vertical-align: top;
                border-radius: 0;
                &:checked {
                    background: url("../imgs/blue-tick.png") no-repeat center;
                    background-size: contain;
                }
            }
            label {
                color: #3e4346;
                font-weight: normal;
                a {
                    color: #1478d2;
                    text-decoration: none;
                }
            }
        }
    }
    .login-now-wrap, .turn-now-wrap{
        text-align: center;
        color: #a9a9a9;
        margin-bottom: 30px;
        a {
            padding-left: 8px;
            color: #1478d2;
            text-decoration: none;
        }
    }
}
