/*withdraw.less*/
@recharge: "../imgs/recharge";

div.withdraw-page {
    padding: 0 5%;
    form {
        & > div {
            margin: 1.6rem 0;
        }
        .withdraw-tips-wrap {
            color: #a9a9a9;
            margin-top: 26px;
        }
        input, button {
            width: 18rem;
            height: 2.7rem;
        }
        input { padding-left: 15%; }
        #withdrawals {
            background: url("@{recharge}/amount.png") no-repeat 3% center;
            background-size: 8%;
        }
        #select-card {
            background: url("@{recharge}/bank-card.png") no-repeat 3% center;
            background-size: 8%;
        }
        #trade-psw {
            background: url("@{recharge}/trade-pwd.png") no-repeat 3% center;
            background-size: 8%;
        }
    }
    span.glyphicon {
        position: absolute;
        top: 6.9rem;
        left: 17.4rem;
        color: #ccc;
    }
}

.modal-header .close { margin-top: -1rem; }