/*about-more.less（关于我们-更多）*/
@import "common-style";
@images: "../imgs/aboutus";

body { background: @body-color; }
.morePage {
	margin-top: 25px !important;
	& > div {
		display: inline-block;
		vertical-align: top;
		.ie7-inline-block;
		background: @white;
		border: @border;
	}
	.left-nav {
		width: 230px;
		height: 276px;
		*height: auto;
		margin-right: 10px;
		.nav-list {
			text-align: center;
			li {
				line-height: 52px;
				border-top: @border;
				&:hover, &.clicked {
					background: @body-color;
					border-left: 3px solid @blue;
				}
				a {
					display: inline-block;
					.ie7-inline-block;
					width: 150px;
					height: 100%;
					color: @dark-grey;
					font-size: @font18;
					text-decoration: none;
					padding-left: 25px;
					outline: none;
				}
				.product { background: url("@{images}/001.png") no-repeat 0 50%; }
				.announcement { background: url("@{images}/002.png") no-repeat 0 50%; }
				.dynamic { background: url("@{images}/003.png") no-repeat 0 50%; }
				.reports { background: url("@{images}/004.png") no-repeat 0 50%; }
				.join-us { background: url("@{images}/005.png") no-repeat 0 50%; }
			}
			li:first-child { border-top: none; }
		}
	}
	.right-content {
		width: 855px;
		.topic-th {
			padding: 0 25px;
			color: @darker-grey;
			font-size: @font22;
			font-weight: bold;
			line-height: 54px;
			border-bottom: @border;
		}
		.topic-content {
			padding: 35px 30px;
			color: @dark-grey;
			font-size: @font15;
			p {
				text-indent: 30px;
				margin: 0 0 30px;
				line-height: 28px;
			}
			h4 { color: @blue; }
		}
		.content-body { min-height: 583px; }
		//��Ʒ����
		.product-wrap {
			.content-body {
				padding: 0 50px 35px 50px;
				& > div {
					padding: 30px 0;
					border-bottom:@border-dashed;
					& > div { .inline-block; }
					.product-icon {
						width: 200px;
						height: 190px;
					}
					.bills-icon { background: url("@{images}/bills-icon.png") no-repeat; }
					.micro-finance-icon { background: url("@{images}/micro-finance-icon.png") no-repeat; }
					.mortgage-icon { background: url("@{images}/mortgage-icon.png") no-repeat; }
					.supply-chain-icon { background: url("@{images}/supply-chain-icon.png") no-repeat; }

					.product-text {
						width: 65%;
						margin-left: 73px;
						h4 {
							color: @blue;
							margin-bottom: 15px;
						}
						ul {
							color: @blue;
							list-style-type: square;
							margin-left: -20px;
							li { margin-bottom: 15px; }
							span {
								color: @dark-grey;
								font-size: @font15;
								line-height: 28px;
							}
						}
					}
				}
                .bills-group{
                    .yinpiao{ margin-top:10px;
                        .ypb-first{ font-size:35px; color:@blue; font-weight:bold; display:inline-block; margin-right:12px;}
                        .ypb-second{ display:inline-block;
                                     span{display:block; font-size:@font14; color:@dark-grey;}
                        }
                    }
                    .ypb-con{font-size:@font15; color:@dark-grey; line-height:28px;}
                    .img-tit{font-size:@font14; color:@dark-grey; margin-right:80px; margin-top:11px;}
                    .ypb-tit{font-size:@font18; color:@blue; margin-bottom:4px;}
                }
                .micro-finance-group{
                    .rongtong{ margin-top:10px;
                        .rt-first{ font-size:35px; color:@blue; font-weight:bold; display:inline-block; margin-right:12px;}
                        .rt-second{ display:inline-block;
                                     span{display:block; font-size:@font14; color:@dark-grey;}
                        }
                    }
                    .rtb-con{font-size:@font15; color:@dark-grey; line-height:28px;}
                    .img-tit{font-size:@font14; color:@dark-grey; margin-right:80px; margin-top:11px;}
                    .rtb-tit{font-size:@font18; color:@blue; margin-bottom:4px;}
                }
                .mortgage-group{
                    .xiaodai{ margin-top:10px;
                        .xd-first{ font-size:35px; color:@blue; font-weight:bold; display:inline-block; margin-right:12px;}
                        .xd-second{ display:inline-block;
                                     span{display:block; font-size:@font14; color:@dark-grey;}
                        }
                    }
                    .xdb-con{font-size:@font15; color:@dark-grey; line-height:28px;}
                    .img-tit{font-size:@font14; color:@dark-grey; margin-right:80px; margin-top:11px;}
                    .xdb-tit{font-size:@font18; color:@blue; margin-bottom:4px;}
                }
			}
		}
		//��������
		.join-us-wrap {
			.content-body {
				.topic-content;
				p span { color: @blue; }
				.office {
					margin-top: 50px;
					.th {
						border-bottom: @border;
						padding-bottom: 10px;
					}
					ul {
						color: @blue;
						list-style-type: square;
						margin-top: 10px;
						li {
							border-bottom: @border-dashed;
							line-height: 55px;
							cursor: pointer;
							& span:first-child { color: @dark-grey; }
							 .time {
								color: @grey;
								font-size: @font13;
								 i {
									 color: @dark-grey;
									 margin-left: 10px;
								 }
							}
							.office-detail {
								display: none;
								padding: 10px;
								margin-bottom: 20px;
								background: @body-color;
								cursor: default;
								* { color: @dark-grey; }
								h5 {
									font-size: @font15;
									font-weight: bold;
								}
								ul {
									list-style-type: decimal;
									color: @dark-grey;
									margin-left: -15px;
									li {
										border: none;
										line-height: 30px;
										cursor: default;
									}
								}
							}
						}
					}
				}
			}
		}
		//��վ���桢��˾��̬��ý�屨��
		.announcement-wrap, .dynamic-wrap,  .reports-wrap {
			.content-list {
				height: 520px;
				li {
					padding: 0 10px;
					margin: 0 15px;
					line-height: 50px;
					border-bottom: @border-dashed;
					i {
						.inline-block;
						width: 5px;
						height: 5px;
						background: @blue;
						margin-right: 15px;
					}
					a {
						color: @dark-grey;
						font-size: @font15;
						text-decoration: none;
					}
					span {
						color: @grey;
						font-size: @font13;
					}
				}
			}
			.pages {
				text-align: center;
				height: 75px;
				padding: 24px 0;
				* {
					display: inline-block;
					margin: 0 5px;
					padding: 2px 8px;
					color: @dark-grey;
					font-size: @font13;
					border: @border;
				}
				a {
					text-decoration: none;
					&:hover { background: @light-grey; }
				}
				span {  }
				span:first-child { border: none; }
				.current {
					color: @white;
					background: @blue;
				}
			}
		}
	}
}