@charset "utf-8";
/* CSS Document */
/*1.1 布局*/
.wp{width:1080px}/*网页整体宽度*/
.contain{width:100%;position:relative;padding-top:40px;background:#f2f2f2;min-height:535px}
.contain_main{width:1000px; margin:0px auto 40px auto;border:1px solid #e0e0e0;padding:5px 40px 20px 40px;background:#fff}
/*1.2 文字*/
a{color:#333;text-decoration: none}/*主链接颜色*/
.sublink:link,.sublink:visited,.sublink:active{}/*次链颜色*/
a:hover,a:focus,.c_main,.c_main a,a.on{color:#ff7610;text-decoration: none}/*链接经过颜色，主色调*/
.3alink,a.3alink{color:#333;}
.3alink:hover,a.3alink:hover{color:#ff7610;}
.c_sub,.c_sub a{}/*次文字颜色*/
.c_title{}/*标题颜色*/
.c_content{ color:#818181}/*内容文字颜色*/
.c_Auxiliary{}/*辅助颜色*/

.c-orange{color:#ff7610}
.c-blue{color:#22a9e7}
.c-link{color:#2261f0;}
.hlink,a.hlink,.hlink:hover{font-size:12px;font-family:"宋体";color:#2261f0;}

.title-big{ font-size:22px; line-height:30px}/*首屏标题*/
.title-large{}
.bold{font-weight:700;}
/*1.3 边距*/
.mt-0{margin-top:0}.mt-50{margin-top:50px}.mt-60{margin-top:60px}
.mb-0{margin-bottom:0}.mb-50{margin-bottom:50px}.mb-60{margin-bottom:60px}.mb-35{margin-bottom:35px}
.mr-0{margin-right:0}.mr-50{margin-right:50px}.mr-60{margin-right:60px}
.ml-0{margin-left:0}.ml-50{margin-left:50px}.mr-60{margin-right:60px}
.pt-0{padding-top:0}.pt-30{padding-top:30px}.pt-40{padding-top:40px}.pt-50{padding-top:50px}.pt-60{padding-top:60px}
.pb-0{padding-bottom:0}.pb-30{padding-bottom:30px}.pb-40{padding-bottom:40px}.pb-50{padding-bottom:50px}.pb-60{padding-bottom:60px}.pb-150{padding-bottom:150px}
/*1.4 背景 icon*/
.bg42{background-color:#424242}
.bgfff{background-color:#fff}
.bgf0{background-color:#f0f0f0}
.bgf1{background-color:#f1f1f1}
.bgf4{background-color:#f4f4f4}
.bgf5{background-color:#f5f5f5}
.bgf7{background-color:#f7f7f7}
.bgmain{background-color:#fff}
.bgdesc{background-color:#f7f7f7}
.bgft{background-color:#f0f0ee}
.bglogin{background-color:#f88f56}
.bgnav{background:url(../images/nav.png) repeat}
.textIndent2{text-indent:2em;}
/*1.5 表格*/
/*两条分割线*/
.table .c-blue{color:#22a9e7}
.table .c-orange{color:#ff7610}
.table-bg thead th{background-color:#f6f6f6}
.table-border2,.table-border2 th{border-bottom:1px solid #ddd}
/*仅td带分割线*/
.table-border3 td{border-bottom:1px solid #ddd}
/*1.6 边框*/
.borderb1{border-bottom:1px solid #e5e5e5;box-shadow: 0 0 3px rgba(0,0,0,.2)}
/*1.7 高度*/
.h20{height:20px}.h30{height:30px}.h40{height:40px}.h50{height:50px}.h60{height:60px}
/*1.8 颜色*/
.c-bbb,a.c-bbb{color:#bbb}
.c-222{color:#222}.c-333{color:#333}.c-444{color:#444}.c-555{color:#555}
.c-777{color:#777}.c-888{color:#888}.c-aaa{color:#aaa}.c-ccc{color:#ccc}
/*2 布局样式（grid）（.g-）*/
/*2.1 头部*/
.g-header{position:relative;min-width:1080px;z-index:1000}
/*2.2 主体*/
.g-mainer{position:relative;min-width:1080px}
/*2.3 尾部*/
.g-footer{position:relative;min-width:1080px}
.minwp{min-width:1080px;}
.mg-auto{margin-left:auto;margin-right:auto;}
/*3 元件（unit）（.u-）*/
/*
3.1 u-title 通用标题
*/
.u-title{position:relative;line-height:30px;}
.u-title h2{line-height:24px;margin-top:0;margin-bottom:18px;font-size:20px;font-weight:normal}
.u-title h2 .desc{display:inline-block;padding-left:10px;font-size:14px;margin-left:10px;border-left:1px solid #999;color:#999;}
.u-title .more{position:absolute;right:0;top:4px;display:block;line-height:18px;height:18px;text-decoration:none;color:#999;font-size:14px}
.u-title .more:hover,.u-title .more.on{color:#ff7610}

.u-title2{position:relative;line-height:30px;padding:0 10px}
.u-title2 h2{line-height:1;margin-top:0;margin-bottom:18px;font-size:18px;font-weight:normal}
.u-title2 .title-right{position:absolute;right:10px;bottom:0;line-height:18px;text-decoration:none;color:#666;font-size:15px}
/*注册页标题*/
.u-title3{position:relative;border-bottom:1px solid #f1f1f1;height:50px;line-height:50px;}
.u-title3 h3{position:absolute;left:25px;top:0;line-height:48px;border-bottom:5px solid #ff7610;color:#ff7610;font-size:24px;}
.u-title3 .title-right{position:absolute;right:10px;bottom:0;text-decoration:none;color:#666;font-size:15px}
/*layer自定义标题*/
.u-layertitle{position:relative;}
.u-layertitle h2{line-height:50px;height:50px;font-size:18px;background-color:#ff7610;text-align:center;color:#fff;}
.u-layertitle .close{position:absolute;display:block;right:0;top:3px;color:#fff;font-size:38px;padding:0 5px;line-height:40px;height:40px;cursor:pointer;}
/*
3.2 u-progress 水平进度条
*/
.u-progress,.u-progress-bar{ height:10px; font-size:0;line-height:0}
.u-progress{display:inline-block;text-align:left;overflow:hidden;width:400px;border-radius:6px}
.u-progress-bar{display:inline-block;width:100%;background-color:#eee}
.sr-only{display:inline-block; background-color:#ffa664;text-align: center;font-size:9px;color:#fff;line-height:10px;height:10px;border-radius:10px}
.sr-only.bluebg{background-color:#22a9e7}
.u-progress{*display:inline;}
/*ht3*/
.u-progress.htmini,.u-progress.htmini .u-progress-bar{height:3px;}
.u-progress.htmini{width:200px;border-radius:0}
.u-progress.htmini .sr-only{font-size:0;line-height:3px;height:3px;border-radius:0}
/*3.3 u-breadcrumb 面包屑导航*/
.u-breadcrumb{line-height:22px;font-size:15px;color:#666}
.u-breadcrumb span,.u-breadcrumb a{ padding-right:5px}
/*3.6 按钮*/
.btn-theme,.btn-theme:visited{display:inline-block;line-height:30px;height:30px;padding:0 10px;border-radius:4px;font-size:14px;background-color:#ff8e3a;color:#fff;border:1px solid #ff8e3a;}
.btn-theme.w80{width:90px;text-align:center;}
.btn-theme .iconfont{display:inline-block;font-size:15px;margin-right:2px;}
.btn-theme.btn-orange2,.btn-theme.btn-orange2:visited{background-color:#fff;border:1px solid #ff7610;color:#ff7610;}
.btn-theme.on,.btn-theme:hover{background-color:#ff7610;color:#fff;}
.btn-theme.btn-blue,.btn-theme.btn-blue:visited{background-color:#489ceb;color:#fff;border:1px solid #489ceb;}
.btn-theme.btn-blue2,.btn-theme.btn-blue2:visited{background-color:#fff;border:1px solid #489ceb;color:#489ceb;}
.btn-theme.btn-blue:hover,.btn-theme.btn-blue.on{background-color:#2a97ca;color:#fff;border:1px solid #2a97ca;}
.btn-theme.btn-gray{background-color:#d5d5d5;color:#fff;border-color:#d5d5d5;}
/*
3.7 u-checkbox-blue, u-checkbox-orange,u-iradio-blue, u-iradio-orange
*/
/*3.7.1 大小为12px*/
.u-checkbox-orange,.u-iradio-orange {display: inline-block;vertical-align: middle; margin: 0;padding: 0;width: 12px;height: 12px;background: url(../images/icheck-orange.png) no-repeat;border: none;cursor: pointer}
.u-checkbox-blue,.u-iradio-blue {display: inline-block;vertical-align: middle; margin: 0;padding: 0;width: 12px;height: 12px;background: url(../images/icheck-blue.png) no-repeat;border: none;cursor: pointer}

.u-checkbox-orange,.u-checkbox-blue {background-position: 0 0}
.u-checkbox-orange.checked,.u-checkbox-blue.checked {background-position: -13px 0}
.u-checkbox-orange.disabled,.u-checkbox-blue.disabled {background-position: -26px 0;cursor: default}
.u-checkbox-orange.checked.disabled,.u-checkbox-blue.checked.disabled {background-position: -39px 0}

.u-iradio-orange,.u-iradio-blue{background-position: -53px 0}
.u-iradio-orange.checked,.u-iradio-blue.checked {background-position: -66px 0}
.u-iradio-orange.disabled, .u-iradio-blue.disabled{background-position: -79px 0;cursor: default}
.u-iradio-orange.checked.disabled,.u-iradio-blue.checked.disabled {background-position: -92px 0}


/*3.7.1 大小为20px*/
.u-checkbox-orange2,.u-iradio-orange2 {display: inline-block;vertical-align: middle; margin: 0;padding: 0;width: 20px;height: 20px;background: url(../images/icheck-orange2.png) no-repeat;border: none;cursor: pointer}
.u-checkbox-blue2,.u-iradio-blue2 {display: inline-block;vertical-align: middle; margin: 0;padding: 0;width: 20px;height: 20px;background: url(../images/icheck-blue2.png) no-repeat;border: none;cursor: pointer}

.u-checkbox-orange2,.u-checkbox-blue2 {background-position: 0 0}
.u-checkbox-orange2.checked,.u-checkbox-blue2.checked {background-position: -22px 0}
.u-checkbox-orange2.disabled,.u-checkbox-blue2.disabled {background-position: -44px 0;cursor: default}
.u-checkbox-orange2.checked.disabled,.u-checkbox-blue2.checked.disabled {background-position: -66px 0}

.u-iradio-orange2,.u-iradio-blue2{background-position: -88px 0}
.u-iradio-orange2.checked,.u-iradio-blue2.checked {background-position: -110px 0}
.u-iradio-orange2.disabled, .u-iradio-blue2.disabled{background-position: -132px 0;cursor: default}
.u-iradio-orange2.checked.disabled,.u-iradio-blue2.checked.disabled {background-position: -154px 0}

.u-icheck-label{cursor:pointer}
.u-checkbox-orange,.u-iradio-orange,.u-checkbox-blue,.u-iradio-blue,.u-checkbox-orange2,.u-iradio-orange2,.u-checkbox-blue2,.u-iradio-blue2{*display:inline}

/*
3.9 缩写提示
*/
.u-dottip{position:relative;display:inline-block;font-size:18px;color:#f00;padding:3px;cursor:pointer;line-height:18px;height:18px; }
.u-dottip .tip{position:absolute;display:none;left:-20px;top:27px;line-height:20px;color:#333;padding:5px 10px;background:#f90;color:#fff;font-size:14px;border-radius:3px;z-index:1000;width:150px;}
.u-dottip.w200 .tip{width:200px;}
.u-dottip:hover .tip{display:block;}
.u-dottip .tip em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;top:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
/*
3.10 u-label
*/
.u-label{position:relative;display:inline-block;background:#ff7610;padding:2px 5px;color:#fff;border-radius:3px;font-size:12px;line-height:1;vertical-align:top;}
.u-label{*display:inline;}
.u-label.hand{cursor:pointer;}
.u-label .tip{display:none;}
.u-label:hover .tip{display:block;position:absolute;text-align:center;left:-60px;bottom:20px;line-height:1.2;padding:10px;background-color:#f90;color:#fff;border-radius:3px;z-index:1001;font-size:13px;width:120px;white-space:normal;}
.u-label .tip em,.u-label .tip i{position:absolute;width:0;height:0;border-width:5px;border-color:transparent;border-style:dashed;*overflow:hidden;bottom:-5px;border-right-style:solid;border-right-color:#f90;left:60px}
.u-label.u-label-left:hover .tip{left:-5px;}
.u-label.u-label-left:hover .tip em,.u-label.u-label-left:hover .tip i{left:5px;}
.u-label.u-label-right:hover .tip{left:-115px;}
.u-label.u-label-right:hover .tip em,.u-label.u-label-right:hover .tip i{left:115px;}
/*
3.11 dropdown
*/
.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown.hovershow{cursor:pointer;}
.dropdown.inline-block{display:inline-block;}
.dropdown>.iconfont{font-size:12px;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;min-width:100px;padding:5px 0;margin:1px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu.min150{min-width:150px;}
.dropdown-menu.pull-right{right: 0;left: auto;}
.dropdown-menu-top{top:auto;bottom:100%;}
.dropdown-menu .divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
.dropdown-menu > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.42857143;color: #333;white-space: nowrap;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {color: #262626;text-decoration: none;background-color: #eee;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {color: #fff;text-decoration: none;background-color: #ff7610;outline: 0;}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {color: #777;}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {text-decoration: none;cursor: not-allowed;background-color: transparent;background-image: none;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.open > .dropdown-menu, 
.hovershow:hover .dropdown-menu{display: block;}
.open > a {outline: 0;}
.dropdown-menu-right {right: 0;left: auto;}
.dropdown-menu-left {right: auto;left: 0;}
.dropdown-header {display: block;padding: 3px 20px;font-size: 12px;line-height: 1.42857143;color: #777;white-space: nowrap;}
.dropdown-backdrop {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 990;}
.pull-right > .dropdown-menu {right: 0;left: auto;}
/*
3.12 .u-select
*/
.u-select{position:relative;vertical-align:middle;line-height:28px;height:28px;display:inline-block;background-color:#f1f1f1;width:120px;padding-left:10px;padding-right:30px;background:url(../images/selectdown.png) no-repeat right center;border:1px solid #e8e8e8;border-radius:4px;cursor:pointer;}
.u-select .xzcontent{display:block;width:100%;text-overflow:ellipsis;overflow:hidden; white-space:nowrap; }
.u-select .dropdown-menu{min-width:150px;padding:5px;margin-top:2px;max-height:150px;*height:150px;overflow:auto;}
.u-select .dropdown-menu > li{display:block;padding:3px 10px;clear:both;font-weight: normal;line-height:24px;color: #333;white-space: nowrap;}
.u-select .dropdown-menu > li:hover,
.u-select .dropdown-menu > li:focus {color:#fff;text-decoration: none;background-color:#ff7610;}
.u-select .dropdown-menu > li.on,
.u-select .dropdown-menu > li.on:hover,
.u-select .dropdown-menu > li.on:focus{color:#fff;text-decoration: none;background-color: #ff7610;outline: 0;}
.u-select .dropdown-menu > li.disabled,
.u-select .dropdown-menu > li.disabled:hover,
.u-select .dropdown-menu > li.disabled:focus {color: #777;}
.u-select .dropdown-menu > li.disabled:hover,
.u-select .dropdown-menu > li.disabled:focus {text-decoration: none;cursor: not-allowed;background-color: transparent;background-image: none;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}
/*
3.13 u-arrow 三角箭头
*/
.u-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:dashed;*overflow:hidden;}
.arrow-top{border-width:9px;top:-18px;border-bottom-style:solid;border-bottom-color:#ebebeb;}
.arrow-top2{border-width:8px;top:-16px;border-bottom-style:solid;border-bottom-color:#fbfbfb;}
.arrow-bottom{border-width:9px;bottom:-18px;border-top-style:solid;border-top-color:#ebebeb;}
.arrow-bottom2{border-width:8px;bottom:-16px;border-top-style:solid;border-top-color:#fbfbfb;}
.arrow-left{border-width:9px;left:-18px;border-right-style:solid;border-right-color:#ebebeb;}
.arrow-left2{border-width:8px;left:-16px;border-right-style:solid;border-right-color:#fbfbfb;}
.arrow-right{border-width:9px;right:-18px;border-left-style:solid;border-left-color:#ebebeb;}
.arrow-right2{border-width:8px;right:-16px;border-left-style:solid;border-left-color:#fbfbfb;}
/*4 通用模块（module）（.m-）*/
/*
4.1 m-toper 顶部栏
*/
.m-toper{position:relative;width:1080px;margin:0 auto;line-height:40px;height:40px;color:#999;}
.m-toper .c-main{color:#808080;}
.m-toper .hotline{display:inline-block;font-size:16px;}
.m-toper .iconfont{font-size:18px;padding-right:3px}
.m-toper .act .iconfont{font-size:16px;padding-right:1px}
.m-toper .careus{position:relative;display:inline-block;padding-right:80px;}
.m-toper .careus .icons{position:absolute;left:65px;top:5px;}
.m-toper .wx{position:relative;display:inline-block;}
.m-toper .wb .wbicon,.m-toper .wx .wxicon{position:relative;display:inline-block;background:url(../images/icon-wbwx.png) no-repeat;width:27px;height:27px;margin:0 2px}
.m-toper .wb .wbicon{background-position:0 0}
.m-toper .wx .wxicon{background-position:-29px 0}
.m-toper .wb:hover .wbicon{background-position:0 -29px}
.m-toper .wx:hover .wxicon{background-position:-29px -29px}
.m-toper .wx .icon-weixin{display:none;width:122px;height:130px;position:absolute;left:-45px;top:30px;z-index:1001;background:url(../images/icon-wbwx.png) no-repeat;background-position:0 -57px;font-size:0;}
.m-toper .wx:hover .icon-weixin{display:inline-block;}
.m-toper .nav,.m-toper .other{position:absolute;right:0;top:0}
.m-toper .nav li{float:left;}
.m-toper .nav a{display:inline-block;line-height:20px;}
.m-toper .nav a:hover,.m-toper .nav a.on{color:#ff7610;}
.m-toper .nav .border1{border-left:1px solid #e3e3e3;margin-left:10px;padding-left:10px}
.m-toper .nav .acticon{color:#ff7610;padding:0;font-size:18px;}
.m-toper.m-toper2{line-height:50px;height:50px;}
.m-toper2 .logo{height:50px;line-height:50px}
.m-toper .btn-index{border:1px solid #808080;color:#808080;line-height:28px;padding:0 10px;border-radius:40px;}
.m-toper .btn-index:hover{border-color:#ff7610;color:#ff7610;}

/*
4.2 m-nav 导航栏
*/
.m-nav{position:relative;width:1080px;margin:0 auto;line-height:90px;height:90px;padding:0;z-index:1000;}
.m-nav .nav{position:absolute;right:0;top:20px}
.m-nav .nav .link{color:#5f5f5f;font-size:16px;white-space:nowrap;}
.m-nav .nLi{float:left;position:relative;margin-left:40px;line-height:50px;height:50px;}
.m-nav .nLi.tzlink,.m-nav .nLi.tzlink>a{display:block;width:80px;}
.m-nav .tzlink>a .iconfont{font-size:12px;margin-left:3px;}
.m-nav .nLi:hover .link,.m-nav .nLi.on  .link{display:inline-block;line-height:50px;height:50px;color:#ff7610;border-bottom:3px solid #ff7610;}
.m-nav .nav h3{line-height:60px}
.m-nav .nav .iconfont{font-size:18px;padding-right:3px}
.m-nav .sub{display:none;position:absolute;left:0;top:53px;line-height:35px;background:#fefefe;padding:5px 9px;}
.m-nav .nLi:hover .sub{display:block;border:1px solid #f0f0ee;}
.m-nav .sub li{zoom:1;width:100%;}
.m-nav .sub a{display:block;background:#fefefe;color:#5f5f5f;font-size:14px;width:60px;}
.m-nav .sub li:hover a{color:#ff7610;}
.m-nav .other{position:absolute;right:0;top:0}
.m-nav .btn-index{border:1px solid #808080;color:#808080;line-height:32px;padding:0 20px;border-radius:40px;}
.m-nav .btn-index:hover{border-color:#ff7610;color:#ff7610;}
/*
4.3 m-footer 底部栏
*/
.m-footer{position:relative;color:#808080;}
.m-footer a{color:#808080;}
.m-footer a:hover{color:#ff7610;}
.m-footer .bd{position:relative;width:1080px;margin:0 auto;padding-bottom:40px;padding-top:50px;}
.m-footer .item{width:359px;float:left;border-right:1px solid #ddd;line-height:70px;}
.m-footer .item1 a{float:left;display:block;margin-right:20px;line-height:35px;}
.m-footer .item2{position:relative;}
.m-footer .item2 .title{padding-left:45px;font-size:18px;}
.m-footer .h70{height:70px;line-height:70px;}
.m-footer .weixin{position:absolute;top:-10px;left:140px;width:80px;text-align:center;}
.m-footer .weibo{display:block;position:absolute;top:-10px;left:240px;width:80px;text-align:center;}
.m-footer .weibo .iconfont{display:inline-block;font-size:50px;color:#cdcdcd}
.m-footer .weibo:hover .iconfont{color:#d84646;}
.m-footer .weixin p,.m-footer .weibo p{line-height:20px;height:20px;}
.m-footer .item3{border:none;text-align:center;}
.m-footer .item3 .phone{font-size:24px;color:#333;line-height:30px;}
.m-footer .item3 .phone .iconfont{font-size:30px;padding-right:5px;}
.m-footer .item3 p{line-height:20px;}
.m-footer .flink{border-top:1px solid #dcdcdc;}
.m-footer .flink p{position:relative;line-height:48px;}
.m-footer .flink a{display:inline-block;margin-right:30px;font-size:14px;}
.m-footer .ft{text-align:center;padding:30px 0;border-top:1px solid #dcdcdc;}
.m-footer .ft p{font-size:12px;}
.m-footer .verification{line-height:40px}
.m-footer .verification a{display:inline-block;margin:0 10px;line-height:40px}
.m-footer .verifyicon{background:url(../images/verifyicon.png) no-repeat;display:inline-block;margin:0 10px;height:40px;width:110px;}
.m-footer .icongray .verifyicon{background:url(../images/verifygray.png) no-repeat;}
.m-footer .icongray .verifyicon:hover{background:url(../images/verifyicon.png) no-repeat;}
.m-footer .verifyicon.verify1,.m-footer .icongray  .verifyicon.verify1{background-position:0 0;}
.m-footer .verifyicon.verify2,.m-footer .icongray  .verifyicon.verify2{background-position:-120px 0;}
.m-footer .verifyicon.verify3,.m-footer .icongray  .verifyicon.verify3{background-position:-240px 0;}
.m-footer .verifyicon.verify4,.m-footer .icongray  .verifyicon.verify4{background-position:-360px 0;}
.m-footer .verifyicon.verify5,.m-footer .icongray  .verifyicon.verify5{background-position:-480px 0;}
.m-footer .verifyicon.verify6,.m-footer .icongray  .verifyicon.verify6{background-position:-600px 0;}

/*
4.4 m-banner banner图切换
*/
.m-banner{position:relative;min-width:1080px;height:360px;overflow:hidden;z-index:0;}
.m-banner .prev,.m-banner .next{display:none;position:absolute;top:50%;height:76px;width:36px;margin-top:-37px;background:url(../images/slider-arrow.png) no-repeat;z-index:1000;cursor:pointer;}
.m-banner .prev{left:20%;margin-left:-150px;background-position:0 0;}
.m-banner .next{right:20%;margin-right:-150px;background-position:-92px 0;}
.m-banner:hover .prev,.m-banner:hover .next{display:block;}
.m-banner .prev:hover{background-position:-46px 0;}
.m-banner .next:hover{background-position:-138px 0;}
.m-banner .bd{position:relative}
.m-banner .bd ul{width:100% !important}
.m-banner .bd li{width:100% !important;height:360px}
.m-banner .bd li a{height:360px;display:block;box-shadow: 0 0 8px 0 rgba(100,100,100,.2) inset;}
.m-banner .hd{width:100%;position:absolute;z-index:2;bottom:5px;*bottom:4px;left:0;height:40px;text-align:center;clear:both;}
.m-banner .hd li{margin-right:-5px;*margin-right:-1px;cursor:pointer;display:inline-block;*display:inline;*zoom:1;width:140px;height:40px;line-height:40px;font-size:14px;color:#fff;background:url(../images/bgbanner.png) repeat;border:1px solid #ddd;border:1px solid rgba(255,255,255,.5);border-bottom:none;border-radius:5px 5px 0 0;overflow:hidden}
.m-banner .hd li.on{padding:3px 0;}
.m-banner .hd li a,.m-banner .hd li.on a{color:#fff;}
/*m-access-banner*/
.m-access-banner{position:relative;}
.m-access-banner .bd li{position:relative;line-height:400px;height:400px;width:500px;text-align:center;}
.m-access-banner .bd h2{font-size:20px;font-weight:700;padding-top:20px;line-height:1;}
.m-access-banner .bd p{font-size:14px;line-height:20px;color:#666;}
.m-access-banner .next,.m-access-banner .prev{position:absolute;line-height:40px;top:180px;right:40px;cursor:pointer;width:40px;line-height:40px;text-align:center;}
.m-access-banner .prev{left:40px;}
.m-access-banner .next .iconfont,.m-access-banner .prev .iconfont{display:inline-block;font-size:40px;color:#eaeaea;}
.m-access-banner .next:hover .iconfont,.m-access-banner .prev:hover .iconfont{color:#ff7610;}
.m-access-banner .hd{position:absolute;bottom:20px;left:0;width:100%;text-align:center;}
.m-access-banner .hd li{display:inline-block;width:8px;height:8px;background-color:#eaeaea;border-radius:10px;margin:0 5px;font-size:0;cursor:pointer;}
.m-access-banner .hd li.on{background-color:#ff7610;}
.m-access-banner.banner2 .bd li{line-height:1;}
.m-access-banner.banner2 .bd .pic{line-height:130px;padding-top:90px;}
/*
4.5 m-form 表单
*/
.m-form{position:relative;border:1px solid #eaeaea;padding:40px 54px 50px;background:#fff}
.m-form.pt0{padding-top:0;}.m-form.pt-10{padding-top:10px;}.m-form.pt-20{padding-top:20px;}
.m-form form{position:relative}
.m-form .registerbg{background:url(../images/register_asd.png) no-repeat right center;}
.m-form .registerpic{position:absolute;right:0;top:50%;margin-top:-165px;max-height:330px;max-width:400px;}
.m-form .formitem{position:relative;text-align:left;width:400px;line-height:40px;padding-bottom:30px}
.m-form .formitem.pb-0{padding-bottom:0}.m-form .formitem.pb-10{padding-bottom:10px}.m-form .formitem.pb-20{padding-bottom:20px}.m-form .formitem.pb-40{padding-bottom:40px}
.m-form .text-center{text-align:center}
.m-form .text-center .formitem{margin-left:auto;margin-right:auto;}
.m-form .w440{width:440px;margin:0 auto;}
.m-form .w380{width:380px;margin:0 auto;}

.m-form .formitem .input-title{position:absolute;left:1px;top:2px;display:block;width:115px;text-align:center;line-height:39px;background:url(../images/input_titlebg.png) no-repeat;color:#333}
.m-form .formitem .input-text{padding:5px 15px 5px 128px;width:255px;line-height:28px;height:28px;border-radius:2px}
.m-form .formitem .input-text.input-code{width:120px;}
.m-form .formitem .input-text.input-yzm{width:70px;}
.m-form .formitem .input-text.disabled{background:#f5f5f5}
.m-form .formitem .pos-r{position:absolute;right:0;top:0;}

.m-form .formtip{position:relative;line-height:20px;height:20px}
.m-form .formitem .input-tip{position:absolute;left:0;bottom:0;line-height:28px;color:#333}
.m-form .formitem .input-remark{position:absolute;left:475px;bottom:30px;line-height:40px;color:#333;white-space:nowrap;}
.m-form .formitem .infotip{display:block;background:url(../images/icon_info_s.png) no-repeat 0 center;color:#3586ed;padding-left:22px}
.m-form .formitem .successtip{display:block;background:url(../images/icon_right_s.png) no-repeat 0 center;color:#63c700;min-width:20px;padding-left:22px}
.m-form .formitem .errortip{display:block;background:url(../images/icon_error_s.png) no-repeat 0 center;color:#f00;padding-left:22px}
.m-form .formitem .warningtip{display:block;background:url(../images/icon_warning_s.png) no-repeat 0 center;color:#ff7610;padding-left:22px}
.m-form .formitem .successicon{position:absolute;left:445px;bottom:30px;display:block;background:url(../images/icon_right_s.png) no-repeat center;color:#63c700;width:25px;height:40px;}
.m-form .input-info{display:none;position:absolute;left:105px;top:-36px;line-height:20px;color:#333;padding:5px 20px;background:#f90;color:#fff;font-size:16px;font-weight:bold;border-radius:3px;white-space:nowrap;}
.m-form .input-info em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;bottom:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
.m-form .input-info2{display:none;position:absolute;left:110px;bottom:-38px;line-height:20px;color:#333;padding:5px 20px;background:#f90;color:#fff;font-size:16px;font-weight:bold;border-radius:3px;z-index: 1000}
.m-form .input-info2 em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;top:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
.m-form .input-desc{display:none;position:absolute;left:130px;top:5px;line-height:20px;color:#333;padding:5px 0;background:#fff;color:#333;font-size:14px;border-radius:3px;z-index: 1000;
	-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
	
.m-form .btn-code,.m-form .btn-yzm{background:#ffae52;border-radius:2px;line-height:40px;height:40px;padding:0;width:120px;text-align:center;color:#fff;font-size:13px}
.m-form .btn-yzm{width:100px;}
.m-form .btn-code.disabled,.m-form .btn-yzm.disabled{background:#ccc;color:#fff;border-color:#ccc;}
.m-form .btn-voice{display:inline-block;line-height:22px;border:1px solid #ff8800;color:#ff8800;border-radius:30px;background:#fff;cursor:pointer;padding:0 10px;font-size:12px;}
.m-form .btn-voice:hover{color:#fff;background:#ff8800;}
.m-form .btn-voice.disabled{color:#ccc;border:1px solid #ccc}
.m-form .btn-submit{background:#ff8800;border-radius:2px;line-height:40px;height:40px;padding:0;width:400px;text-align:center;color:#fff;font-size:16px;}
.m-form .btn-submit.disabled{background:#ccc;}
.m-form .btn-submit.btn-XXL{line-height:50px;height:50px;font-size:18px;}
.m-form p{line-height:24px;font-size:14px}
.m-form .info1{line-height:20px;font-size:12px;color:#888}

.m-form.normaltip .formitem .input-tip{position:relative;padding-top:3px;}
.m-form.normaltip .formitem{padding-bottom:0;}
.m-form .wmin{width:340px;margin-left:auto;margin-right:auto;}
.m-form .wmin .formitem{width:340px;}
.m-form .wmin .input-text{width:195px;}
.m-form .wmin .input-text.input-code{width:100px;}
.m-form .wmin .btn-code{width:85px;padding:0 5px;font-size:14px;}
.m-form .wmin .btn-submit{width:340px;}
.m-form .wmin .successicon{left:340px;bottom:5px;}
.m-form .wmin .input-remark{position:absolute;left:350px;top:50%;white-space:nowrap;font-size:12px;color:#888;line-height:20px;margin-top:-10px;}

.m-form.righttip .formitem .input-tip{position:absolute;left:410px;top:0;display:block;white-space:nowrap;font-size:12px;}
.m-form.righttip .formitem .errortip{border:1px solid #f00;line-height:38px;padding:0 10px;background:#ffebeb;min-width:160px;border-radius:2px;}
.m-form.righttip .formitem .successtip{border:1px solid #63c700;line-height:38px;padding:0 10px;background:#fff;min-width:160px;border-radius:2px;}
.m-form.righttip .formitem .warningtip{border:1px solid #ff7610;line-height:38px;padding:0 10px;background:#fff;min-width:160px;border-radius:2px;}
.m-form.righttip .successicon{left:-5px;top:0}
.m-form.righttip .formitem{padding-bottom:0;}
.m-form.righttip .wmin .input-tip{position:absolute;left:350px;top:0;}
.m-form.righttip .formtip{position:relative;}
.m-form.righttip .formtip .errortip{position:relative;border:none;background:none;line-height:20px;}

.m-form .btn-block{width:100%;}

.m-form .successinfo{width:300px;height:166px;padding:50px 0;padding-left:170px;margin:0 auto;background:url(../images/success2.png) no-repeat left center}
.m-form .successinfo h1{line-height:46px;font-size:36px}
.m-form .gonext{border-top:1px solid #eaeaea;text-align:center;padding-top:40px}
.m-form .gonext .btn-enter{line-height:50px;height:50px;border:1px solid #dadada;width:210px;display:inline-block;text-align:center;font-size:18px;color:#888}
.m-form .gonext .btn-go{width:238px;line-height:52px;height:52px;display:inline-block;text-align:center;background:url(../images/btngo.png) no-repeat;font-size:18px;color:#fff}

.m-form .select{line-height:40px;height:40px;} 
/* 4.5.2 m-form2 表单*/
.m-form2{margin-top:20px}
.m-form2 .formitem{position:relative;line-height:42px;font-size:14px;padding-left:110px}
.m-form2 .formitem.l30{line-height:30px}
.m-form2 .input-title{position:absolute;top:0;left:0;display:block;width:90px;font-size:14px;padding-right:20px;text-align:right;white-space:nowrap;}
.m-form2 .input-title em{color:#f00;padding-right:5px}
.m-form2 .input-text{display:inline-block;padding:5px 15px;width:200px;line-height:30px;height:30px;border-radius:2px}
.m-form2 .input-text.input-code{width:100px;}
.m-form2 .input-text.successicon{background:url(../images/icon_right_s.png) no-repeat right;}
.m-form2 .select{line-height:40px;height:40px;padding-left:10px} 

.m-form2 .input-tip{line-height:28px;color:#333}
.m-form2 .input-remark{display:inline-block;display:*inline;}
.m-form2 .infotip{display:block;background:url(../images/icon_info_s.png) no-repeat 0 center;color:#3586ed;padding-left:22px}
.m-form2 p.successtip,.m-form2 span.successtip{display:block;background:url(../images/icon_right_s.png) no-repeat 0 center;color:#63c700;min-width:20px;padding-left:22px}
.m-form2 p.errortip,.m-form2 span.errortip{display:block;background:url(../images/icon_error_s.png) no-repeat 0 center;color:#f00;padding-left:22px}
.m-form2 p.warningtip,.m-form2 span.warningtip{display:block;background:url(../images/icon_warning_s.png) no-repeat 0 center;color:#ff7610;padding-left:22px}
.m-form2 p.successicon,.m-form2 span.successicon{position:absolute;left:350px;top:0;display:block;background:url(../images/icon_right_s.png) no-repeat center;color:#63c700;width:30px;height:40px;padding-left:0}
.m-form2 .input-info{display:none;position:absolute;left:110px;top:-36px;line-height:20px;color:#333;padding:5px 20px;background:#f90;color:#fff;font-size:16px;font-weight:bold;border-radius:3px}
.m-form2 .input-info em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;bottom:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
.m-form2 .input-info2{display:none;position:absolute;left:110px;bottom:-38px;line-height:20px;color:#333;padding:5px 20px;background:#f90;color:#fff;font-size:16px;font-weight:bold;border-radius:3px;z-index: 1000}
.m-form2 .input-info2 em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;top:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
.m-form2 .input-desc{display:none;position:absolute;left:125px;top:10px;line-height:20px;color:#333;padding:5px 0;background:#fff;color:#333;font-size:14px;border-radius:3px;z-index: 1000;
	-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}

.m-form2 .btn.btn-code,.m-form2 .btn.btn-yzm{margin-left:7px;display:inline-block;border:1px solid #ff7610;background-color:#fff;border-radius:3px;line-height:42px;height:42px;padding:0;width:90px;text-align:center;color:#ff7610;font-size:13px}
.m-form2 .btn.btn-yzm{margin-left:5px;width:90px;}
.m-form2 .btn-voice{display:inline-block;line-height:22px;border:1px solid #ff8800;color:#ff8800;border-radius:30px;background:#fff;cursor:pointer;padding:0 10px;font-size:12px;}
.m-form2 .btn-voice:hover{color:#fff;background:#ff8800;}
.m-form2 .btn-voice.disabled{color:#ccc;border:1px solid #ccc}
.m-form2 .btn-code.disabled,.m-form2 .btn-yzm.disabled{background:#ccc;color:#fff;border-color:#ccc;}
.m-form2 .btn-submit{background:#ff8800;border-radius:3px;line-height:50px;height:50px;padding:0;width:232px;text-align:center;color:#fff;font-size:18px}
.m-form2 .btn.disabled{background:#ccc;color:#fff}

.m-form2 .centermain{width:420px;margin:0 auto;}
.m-form2 .centermain .input-tip{white-space:nowrap;}
.m-form2.title100 .input-title{width:100px;}.m-form2.title100 .formitem{padding-left:120px}.m-form2.title100 p.successicon,.m-form2.title100 span.successicon{left:360px;}
.m-form2.title110 .input-title{width:110px;}.m-form2.title110 .formitem{padding-left:130px}.m-form2.title110 p.successicon,.m-form2.title110 span.successicon{left:370px;}
.m-form2.title120 .input-title{width:120px;}.m-form2.title120 .formitem{padding-left:140px}.m-form2.title120 p.successicon,.m-form2.title120 span.successicon{left:380px;}
.m-form2.title130 .input-title{width:130px;}.m-form2.title130 .formitem{padding-left:150px}.m-form2.title130 p.successicon,.m-form2.title130 span.successicon{left:390px;}
/* 4.5.3 m-form3 表单*/
.m-form3 .formitem{position:relative;line-height:40px;font-size:14px;z-index:1001;}
.m-form3 .tticon{position:absolute;left:1px;top:8px;width:38px;text-align:center;line-height:24px;height:24px;border-right:1px solid #ddd;}
.m-form3 .tticon .iconfont{color:#888;font-size:24px;}
.m-form3 .input-text{display:inline-block;padding:5px 15px;padding-left:50px;width:295px;line-height:28px;height:28px;border-radius:2px}
.m-form3 .input-text.input-code{width:190px;}
.m-form3 .input-text.hascode{width:195px;padding-right:115px;border:1px solid #ddd;}
.m-form3 .codepic{position:absolute;right:5px;top:3px;}
.m-form3 .btn.btn-code{display:inline-block;background:#fff;border-radius:3px;line-height:40px;height:40px;padding:0;width:90px;text-align:center;color:#f19149;border:1px solid #f19149;font-size:13px}
.m-form3 .btn-code.disabled,.m-form3 .btn-yzm.disabled{background:#ccc;color:#fff;border-color:#ccc;}
.m-form3 .btn-submit{background-color:#f19149;border-radius:3px;line-height:40px;height:40px;padding:0;width:100%;text-align:center;color:#fff;font-size:18px}
.m-form3 .btn-submit:hover{background-color:#ff7610;}
.m-form3 .btn-submit.disabled{background:#ccc;}
.m-form3 .btn-voice{display:inline-block;line-height:22px;border:1px solid #ff8800;color:#ff8800;border-radius:30px;background:#fff;cursor:pointer;padding:0 10px;font-size:12px;}
.m-form3 .btn-voice:hover{color:#fff;background:#ff8800;}
.m-form3 .btn-voice.disabled{color:#ccc;border:1px solid #ccc}
.m-form3 .input-info{display:none;position:absolute;left:30px;top:-36px;line-height:20px;color:#333;padding:5px 20px;background:#f90;color:#fff;font-size:16px;font-weight:bold;border-radius:3px;white-space:nowrap;}
.m-form3 .input-info em{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden;bottom:-8px;border-right-style:solid;border-right-color:#f90;left:10px}
.m-form3 .formitem .pos-r{position:absolute;right:0;top:0;}
.m-form3 .formtip{position:relative;line-height:20px;height:20px}

.m-form3.righttip .formitem .input-tip{position:absolute;left:370px;top:0;display:block;white-space:nowrap;font-size:12px;}
.m-form3.righttip .formitem .errortip{display:block;border:1px solid #f00;line-height:38px;padding:0 10px;background:#ffebeb;min-width:160px;border-radius:2px;color:#f00;}
.m-form3.righttip .formitem .successtip{display:block;border:1px solid #63c700;line-height:38px;padding:0 10px;background:#fff;min-width:160px;border-radius:2px;color:#63c700;}
.m-form3.righttip .formitem .warningtip{display:block;border:1px solid #ff7610;line-height:38px;padding:0 10px;background:#fff;min-width:160px;border-radius:2px;color:#ff7610;}
.m-form3.righttip .successicon{left:-5px;top:0}
.m-form3.righttip .formitem{padding-bottom:0;}
.m-form3.righttip .wmin .input-tip{position:absolute;left:350px;top:0;}
.m-form3.righttip .formtip{position:relative;}
.m-form3.righttip .formtip .errortip{position:relative;border:none;background:none;line-height:20px;}
.m-form3 .pwdlevel{display:none;width:375px;padding:3px 0;}
.m-form3 .pwdlevel em{float:left;;display:block;line-height:12px;height:12px;background-color:#e5e5e5;width:114px;margin-right:10px;text-align:center;font-size:11px;}
.m-form3 .pwdlevel em.on{background-color:#f19149;color:#fff;font-size:11px;}
/*
4.6 m-access /login.html/register.html
*/
.m-access{position:relative;border:1px solid #eaeaea;padding:60px 100px;background-color:#fff;}
.m-access .m-access-form{width:362px;}
.m-access .m-login-ft{position:absolute;left:-20px;bottom:0;text-align:center;width:390px;line-height:30px}
.m-access .m-access-banner{position:absolute;right:-40px;top:50%;margin-top:-200px;}
.m-access-form .titler{position:relative;height:46px;width:100%;border-bottom:1px solid #eaeaea;}
.m-access-form .titler h2{position:absolute;left:0;top:0;font-size:24px;line-height:45px;border-bottom:3px solid #ff7610;}
.m-access-form .titler .more{position:absolute;right:0;top:0;line-height:45px;}
.m-login{position:relative;height:400px;}
.m-login .formtip{color:#f00;}
.m-register{position:relative;}
.m-register .invitedesc{color:#999;}
.m-register .invitedesc .iconfont{display:inline-block;font-size:13px;padding-right:5px;}
.m-register-flow{border-top:1px solid #eaeaea;margin-top:70px;padding:40px 0 10px 15px;}
.m-register-flow .desc li{float:left;width:215px;text-align:center;color:#555;}
.m-register-flow .desc em{color:#73cdf9;padding:0 3px;}
/*
4.7 m-box
*/
.m-box{position:relative;width:230px;margin:5px 3px;border:1px solid #ddd;border-radius:5px;margin-right:20px;padding-bottom:40px;background-color:#fff}
.m-box:hover{box-shadow: 0 0 6px rgba(0,0,0,.4);border:solid 1px #bbb\9}
.m-box p{margin:0;line-height:24px;font-size: 13px;color:#666}
.m-box .number{display: inline-block;font-size:24px}
.m-box .gray{color:#999}

.m-box .m-box-hd{position:relative;padding:15px 20px;min-height:70px;padding-right:70px}
.m-box .m-box-bd{padding:20px 18px 25px}
.m-box .m-box-ft{position:absolute;bottom:0;left:0;width:230px}

.m-box .m-box-hd img.extra{position:absolute;top:20px;right:15px}
.m-box .m-box-hd img.other{position:absolute;top:0;right:0}
.m-box .m-box-hd img.else{position:absolute;top:-7px;right:-7px;}
.m-box .title{font-size:17px;line-height:25px;color:#333;width:130px;text-overflow:ellipsis;  white-space: nowrap !important;word-wrap: normal !important; overflow:hidden;-o-text-overflow:ellipsis}
.m-box .explain{font-size:10px;color:#a7a7a7;line-height:22px;width:130px;text-overflow:ellipsis;  white-space: nowrap !important;word-wrap: normal !important; overflow:hidden;-o-text-overflow:ellipsis}
.m-box .guarantee{width:110px;line-height:20px;font-size: 12px;vertical-align: center;text-overflow:ellipsis;  white-space: nowrap !important;word-wrap: normal !important; overflow:hidden;-o-text-overflow:ellipsis}
.m-box .guarantee img{display:inline-block;height:18px;margin-right:5px}
.m-box .guarantee abbr{-moz-outline:none;outline:none}

.m-box .data{position:relative;display:block}
.m-box .data .rate,.m-box .data .term{display:inline-block;*zoom:1;*display:inline;vertical-align:bottom;line-height:1;height:25px}
.m-box .data .rate{width:94px;text-align: left;border-right:1px solid #ddd}
.m-box .rate .plus{display:inline-block;vertical-align:top;line-height:25px;font-size:16px;color:#333}
.m-box .data .term{width:91px;text-align: right}
.m-box .rate-remark{display:inline-block;width:100px;text-align:left;color:#b6b6b6;margin-bottom:8px;font-size:12px}
.m-box .term-remark{display:inline-block;width:70px;text-align:right;color:#b6b6b6;margin-bottom:8px;font-size:12px;margin-left:20px}
.m-box .data2 .rate{width:124px}
.m-box .data2 .term{width:61px}

.m-box .bidprogress{position:relative;font-size:14px;line-height:24px;padding-top:20px}
.m-box .u-progress{width:100%;*display:inline}
.m-box .tzinfo{position:relative;font-size:12px;}
.m-box .tzinfo em{display:block;position:absolute;right:0;top:0;}

.m-box .u-btn{display:inline-block;width:100%;height:44px;line-height:44px;text-align:center;font-size:16px;text-decoration:none;cursor:pointer;border-radius:0 0 5px 5px;}
.m-box .u-btn-gray{color:#666;background:#ddd}
.m-box .u-btn-orange{color:#fff;background-color:#ff7610}
.m-box .u-btn-orange:hover{background-color:#ff9f22}
.m-box .u-btn-blue{color:#fff;background-color:#22a9e7}
.m-box .u-btn-blue:hover{background-color:#55afee}

/*
4.7.2 m-boxlist
*/
.m-boxlist{position:relative}
.m-boxlist .hd .prev,.m-boxlist .hd .next{ position:absolute; width:17px; height:31px; cursor:pointer; z-index:999;top:162px; text-indent:-10000px}
.m-boxlist .hd .prev{background:url(../images/index2.png) 0 0;left:-35px}
.m-boxlist .hd .next{background:url(../images/index2.png) -83px 0;right:-35px}

.m-boxlist .bd{width:1030px;color:#666}
.m-boxlist .bd li.m-box{float:left;display:block}
.m-boxlist .tip{text-align:left;font-size:14px;color:#777}
.m-boxlist.box-mb25 .m-box{margin-bottom:25px}

/*
4.8 m-itemtab
*/
.m-itemtab-hd:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.m-itemtab-hd{zoom:1;width:1080px;margin:0 auto}
.m-itemtab-hd li{float:left;display:block;width:300px;line-height:44px;color:#989797;text-align:center;font-size:20px;cursor:pointer}
.m-itemtab-hd li.on{background:#f0f0f0;border-radius:6px 6px 0 0;color:#ff7610}
.m-condform{display:block;padding:26px 0;width:1080px;margin:0 auto}
.m-condform dl:after {display: block; clear: both; height: 0; content:'\20'}
.m-condform dl{ zoom:1; padding:16px 0;margin:0; font-size:14px;line-height:28px}
.m-condform dt{float:left; width:70px;line-height:28px;color:#424242;font-weight:normal}
.m-condform dd{float:left; width:880px;color:#666}
.m-condform dd a{padding:0 15px;display:inline-block; height:28px;line-height:28px;color:#666}
.m-condform dd a:hover{color:#ff7610}
.m-condform dd a.on{ background:#ff7610;border-radius:14px;color:#fff}
/*
4.9 m-article
*/
.m-article{}
.m-article .title{border-bottom: 1px solid #e2e2e2;margin-bottom:20px;padding:25px 0;text-align:center;color:#343434;font-size:26px;font-weight:600}
.m-article .title img{margin-right:10px}
.m-article>h2{color:#343434;font-size:18px;font-weight:500;margin:10px 0 25px}
.m-article p{line-height:30px;font-size:14px;color:#818181;margin:0}
.m-article .textindent2{text-indent:2em}
.m-article h4{font-size:16px;color:#f4964b;line-height:30px}
/*
4.10 m-elevator 右侧快捷按钮（返回顶部..）
*/
.m-elevator{position: fixed;right:20px;bottom:20px;z-index: 1030;}
.m-elevator.indexelevator{position: fixed;top:350px;right:20px}
.m-elevator .elevator{display: block;position: relative;margin:2px 0;outline: none;line-height:52px;height:52px;width: 52px;background-color:#f1f1f1;color:#9b9b9b;text-align:center;border-radius:3px;}
.m-elevator .elevator .iconfont{display:inline-block;font-size:30px}
.m-elevator .elevator:hover .iconfont{display:none}
.m-elevator .elevator em{display:none;font-size:14px;background-color:#ff7610;font-style:normal;font-weight:bold;color:#fff;border-radius:3px; -webkit-box-shadow: 0 5px 10px rgba(255, 134, 36, .75);box-shadow: 0 5px 10px rgba(255, 134, 36, .75);}
.m-elevator .elevator:hover em{display:block}
.m-elevator .elevator .coad0,.m-elevator .elevator .coad1,.m-elevator .elevator .coad2{display:none}
.m-elevator .elevator:hover .coad0{display:block;width:auto;line-height:50px;height:50px;position:absolute;right:60px;top:0;padding:0 10px;background:#fff;color:#666;font-size:16px;border:1px solid #ddd;white-space:nowrap !important}
.m-elevator .elevator:hover .coad1{display:block;position:absolute;right:60px;top:-50px;width:auto; padding:10px 10px;height:auto; border:1px solid #ddd; background:#fff;text-align: center}
.m-elevator .elevator:hover .coad1 img{height:100px}
.m-elevator .elevator:hover .coad2{display:block;width:auto;line-height:30px;position:absolute;right:60px;top:-10px;padding:5px 10px;background:#fff;color:#666;font-size:16px;border:1px solid #ddd;white-space:nowrap !important;text-align:left;}
.m-elevator .elevator:hover .coad3{top:-20px;}
.m-elevator .elevator .coad2 a{color:#666}
.m-elevator .elevator .coad2 a:hover{color:#ff7610}
.m-elevator .elevator:hover .jt{position:absolute;top:0;right:-9px;width:9px;height:52px;background:url(../images/jiantou_t1.png) no-repeat center;}
.m-elevator .elevator:hover .jt1{top:53px}
.m-elevator .elevator:hover .jt2{top:8px}
.m-elevator .elevator:hover .jt3{top:20px}
.m-elevator .elevator:hover .coad1 p{height:30px;line-height:30px;margin:0;color:#666;font-size:14px;white-space: nowrap !important}
/*返回顶部*/
.m-elevator .elevator-top{border-radius:52px;background:#4d4d4d;}
.m-elevator .elevator-top:hover{background:#ff7610}
.m-elevator .elevator-top .iconfont{color:#fff}
.m-elevator .elevator-top:hover .iconfont{display:block}
/*
4.11 m-activity 活动中心
*/
.m-activity{width:1100px;padding-top:30px}
.m-activity-hd{position:relative;width:1080px;}
.m-activity-hd .title{font-size:18px;line-height:45px}
.m-activity-hd .condition{position:absolute;right:0;top:0;}
.m-activity-hd .condition a{display:block;float:left;width:100px;line-height:43px;font-size:14px;text-align:center;border:1px solid #ddd;background-color:#fff;border-left:none}
.m-activity-hd .condition a.first{border-left:1px solid #ddd;}
.m-activity-hd .condition a.on{background-color:#ff7610;color:#fff}
.m-activity-list{padding-top:30px}
.m-activity-list li{position:relative;display:block;float:left;width:310px;border:1px solid #ddd;margin-right:32px;margin-bottom:32px;border-radius:6px;transition:0.5s;-webkit-transition:0.5s;overflow:hidden}
.m-activity-list li:hover{border-bottom: 2px solid #dae0e5\0/;*border-bottom: 2px solid #dae0e5;box-shadow: 0 2px 8px #bbb;border:solid 1px #bbb\9}
.m-activity-list li .bd{height:357px;position:relative;background:#fff}
.m-activity-list li .pic{position:relative;width:100%;height:210px;overflow:hidden;border-bottom:1px solid #f1f1f1}
.m-activity-list li .pic img{width:100%}
.m-activity-list li .bd .content{position:relative;padding:20px;}
.m-activity-list li:hover .bd .content{display:none}
.m-activity-list li .bd .title{color:#222;text-align:left;font-size:18px;line-height:20px;margin-bottom:16px;text-overflow:ellipsis;white-space: nowrap !important;word-wrap:normal !important;overflow:hidden;}
.m-activity-list li .bd .intro{line-height:20px;font-size:14px;color:#888;height:40px;overflow:hidden;margin-bottom:5px}
.m-activity-list li .bd .date{font-size:12px;line-height:20px;color:#a9a9a9;padding-top:5px}
.m-activity-list li .bd .date .iconfont{font-size:14px;color:#ff7610}
.m-activity-list li .bd .desc{display:none;padding:18px 20px;}
.m-activity-list li .bd .desc p{height:110px;line-height:22px;font-size:14px;color:#666;overflow:hidden}
.m-activity-list li:hover .bd .desc{display:block}
.m-activity-list li .ft .u-btn{display:inline-block;width:100%;height:50px;line-height:50px;text-align:center;font-size:21px;text-decoration:none;cursor:pointer;color:#fff;background-color:#ff7610}
.m-activity-list li .ft .u-btn:hover{background-color:#ff9f22}
.m-activity-list li.overbox .ft .u-btn{color:#fff;background:#a9a9a9}
.m-activity-list li .mask{display:none;height:210px;position:absolute;left:0;top:0;width:100%;background:#fff;opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
.m-activity-list li .mask span{display:block;margin:auto;color:#ff7610;font-size:60px;text-align:center;font-weight:bold}
.m-activity-list li.overbox .mask{height:357px;background:#fff;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70)}
.m-activity-list li.overbox .mask span{padding-top:211px;line-height:146px;color:#d2d7db;font-size:60px;}
.m-activity-list li:hover .mask{display:block}

/*
4.12 m-layer 弹窗
*/
.m-layer{position:relative;display:none}
.m-layer.m-layer-dialog{min-height:265px;margin:0 auto}
.m-layer.m-layer-padding{padding:50px 100px}
.m-layer-dialog .m-layer-jump{line-height:30px;color:#888;text-align:center;font-size:16px}
.m-layer-dialog .m-layer-bd{position:relative;padding:65px 40px 30px;overflow:visible;font-size:30px;line-height:35px;color:#fd903a;*zoom:1}
.m-layer-dialog .m-layer-bd .item{line-height:35px;height:35px;white-space:nowrap !important;overflow:hidden}
.m-layer-dialog .m-layer-bd p{font-size:20px;padding:0;margin:0;color:#454545}
.m-layer-dialog .m-layer-bd em{font-size:30px;font-style:normal}
.m-layer-dialog .m-layer-bd .m-layer-ico{position:absolute;display:block;top:0;left:0;width:180px;height:235px}
.m-layer-dialog .m-layer-bd .m-layer-ico1{background: url(../images/layer-icon1.png) no-repeat right center}
.m-layer-dialog .m-layer-bd .m-layer-ico2{background: url(../images/layer-icon2.png) no-repeat right center}
.m-layer-dialog .m-layer-bd .m-layer-ico3{background: url(../images/layer-icon3.png) no-repeat right center}
.m-layer-dialog .m-layer-pd{padding-left:200px;text-align:left}
.m-layer-dialog .m-layer-msg{border:1px solid #d3c5ab;line-height:45px;padding:30px 15px;font-size:16px;border-radius:5px;margin-bottom:40px}
.m-layer-dialog .m-layer-msg p{line-height:30px;padding-bottom:5px;}
.m-layer-dialog .btn-tz{padding:5px 48px;font-size:16px;background-color:#fa7331;line-height:35px;height:35px;border-radius:5px;border:none;color:#fff}
.m-layer-dialog .btn-tz:hover{text-decoration:none;background-color:#ff7610}
.m-layer-dialog .c-theme{color:#fd903a}
.m-layer-dialog .tip1{text-align:center;font-size:14px;line-height:40px;}
.m-layer-dialog .border1{border:1px solid #d3c5ab;border-radius:4px;padding:20px;}
.m-layer-dialog .tip2{position:relative;padding:40px 10px;color:#333;}
.m-layer-dialog .tip2 .hd{color:#fc923e;font-size:20px;line-height:30px;}
.m-layer-dialog .tip2 .hd .iconfont{color:#fa7331;font-size:28px;display:inline-block;margin-right:5px;}
.m-layer-dialog .tip2 p{color:#454545;line-height:30px;font-size:14px;}
.m-layer-dialog .stepicon{background:url(../images/stepicon.png) no-repeat 5px 0;padding-top:20px;padding-left:35px;}
/*
4.13 m-error 错误页
*/
.m-error{position:absolute;top:50%;margin-top:-115px;left:0;height:230px;padding-left:580px;}
.m-error .pic{position:absolute;left:280px;top:0;}
.m-error .desc{padding-top:70px;color:#888;font-size:14px;line-height:40px;}
.m-error .btn-go{display:inline-block;width:140px;line-height:36px;text-align:center;border-radius:5px;background-color:#ff7610;color:#fff;padding:0;}
/*
4.14 m-topad 顶部提示
*/
.m-topad{background-color:#ffebd1;}
.m-topad.border1{border:none;border-top:1px solid #ffb970;border-bottom:1px solid #ffb970;}
.m-topad .tip1{display:block;width:1100px;margin:0 auto;text-align:center;color:#ff0e0c;;line-height:30px;font-size:14px;}
/*
4.15 m-tooltip 提示
*/
.m-tooltip{position:absolute;border-radius:5px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);border:solid 1px #bbb\9;padding:10px;background-color:#fff;z-index: 10000}
.m-tooltip .arrow-left-a,
.m-tooltip .arrow-left-b{border:10px dashed transparent;display:block;height:0;overflow:hidden;position:absolute;width:0;top:50%;font-size:0;}
.m-tooltip .arrow-left-b {border-right: 10px solid #fff;left:-19px;margin-top:-10px;}
.m-tooltip .arrow-left-a {border-right: 11px solid #ddd;left:-20px;margin-top:-10px;}
.m-tooltip .formtip{position:relative;color:#666;}
.m-tooltip .formtip li{line-height:30px;font-size:14px;}
.m-tooltip .formtip .iconfont{display:inline-block;font-size:20px;margin-right:5px;}
.m-tooltip .formtip .red{color:#ff411c}
.m-tooltip .formtip .orange{color:#ff7d00}
.m-tooltip .formtip .green{color:#69cd00}
/*
4.16 m-result 提示结果
*/
.m-result{position:relative;color:#333;}
.m-result.center440{width:440px;margin-left:auto;margin-right:auto;}
.m-result.center380{width:380px;margin-left:auto;margin-right:auto;}
.m-result.center350{width:350px;margin-left:auto;margin-right:auto;}
.m-result .hd1{font-size:26px;line-height:30px;}
.m-result .hd1 .iconfont{display:inline-block;font-size:30px;padding-right:10px;}
.m-result .hd1 p{padding-left:40px;}
/*
4.17 .m-choosebank 选择银行卡
*/
.m-choosebank{position:relative;width:712px;padding:0 35px 52px;overflow:hidden}
.m-choosebank .hd{position:relative;line-height:40px;height:40px;font-size:18px;font-weight:500;border-bottom:1px solid #f5f5f5;color:#333}
.m-choosebank .bd{position:relative;}
.m-choosebank .bd .banklist{position:relative;padding:22px 0;width:740px}
.m-choosebank .bd .banklist li{float:left;position:relative;width:185px;line-height:35px;margin-bottom:15px}
.m-choosebank .bd .banklist .bankicon{position:absolute;right:30px;top:0;display:block;cursor:pointer;border:1px solid #ececec;}
.m-choosebank .bd .banklist .bankicon img{width:117px;height:33px}
.m-choosebank .bd .banklist .icon-bank2{position:absolute;right:30px;top:0;}
.m-choosebank .ft{position:absolute;bottom:0;left:0;padding:10px 0;text-align:center;background:#f5f5f5;width:782px;}
.m-choosebank .ft .btn{line-height:32px;height:32px;width:168px;text-align:center;margin:0 10px;font-size:14px;border-radius:3px;}
.m-choosebank .ft .btn-cancel{background-color:#fff;color:#666}
.m-choosebank .ft .btn-confirm{background-color:#ff7610;color:#fff}
/*
4.18 .m-firend-bonus
*/
.m-firend-bonus{position:fixed;top:72px;right:5px;z-index:1001;width:110px;height:280px;text-align:center;}
.m-firend-bonus .pic{position:absolute;bottom:0;right:0;}
.m-firend-bonus .qrcode{position:absolute;bottom:193px;right:1px;width:78px;}
.m-firend-bonus:hover  .pic{width:104px;}
.m-firend-bonus:hover .qrcode{bottom:191px;width:77px;}
/*
6.其他样式
*/
/*6.1 银行卡图标*/
.icon-bank{display:inline-block;background:url(../images/banks.jpg) no-repeat center center;width:154px;height:50px;overflow:hidden;}
.icon-bank.icon-105{background-position:0 0;}
.icon-bank.icon-103{background-position:-157px 0;}
.icon-bank.icon-104{background-position:-313px 0;}
.icon-bank.icon-102{background-position:-470px 0;}
.icon-bank.icon-403{background-position:0 -53px;}
.icon-bank.icon-301{background-position:-157px -53px;}
.icon-bank.icon-308{background-position:-313px -53px;}
.icon-bank.icon-303{background-position:-470px -53px;}
.icon-bank.icon-302{background-position:0 -106px;}
.icon-bank.icon-310{background-position:-157px -106px;}
.icon-bank.icon-305{background-position:-313px -106px;}
.icon-bank.icon-309{background-position:-470px -106px;}
.icon-bank.icon-783{background-position:0 -159px;}
.icon-bank.icon-304{background-position:-157px -159px;}
.icon-bank.icon-306{background-position:-313px -159px;}
.icon-bank.icon-4012900{background-position:-470px -159px;}
.icon-bank.icon-64296510{background-position:0 -212px;}
.icon-bank.icon-4083320{background-position:-157px -212px;}
.icon-bank.icon-3200000{background-position:-313px -212px;}
.icon-bank.icon-4243010{background-position:-470px -212px;}
.icon-bank.icon-3170000{background-position:0 -265px;}
.icon-bank.icon-4031000{background-position:-157px -265px;}
.icon-bank2{display:inline-block;background:url(../images/banks2.png) no-repeat center center;width:119px;height:35px;overflow:hidden;}
.icon-bank2.icon-105{background-position:0 0;}
.icon-bank2.icon-103{background-position:-129px 0;}
.icon-bank2.icon-104{background-position:-258px 0;}
.icon-bank2.icon-102{background-position:-387px 0;}
.icon-bank2.icon-403{background-position:0 -45px;}
.icon-bank2.icon-301{background-position:-129px -45px;}
.icon-bank2.icon-308{background-position:-258px -45px;}
.icon-bank2.icon-303{background-position:-387px -45px;}
.icon-bank2.icon-302{background-position:0 -90px;}
.icon-bank2.icon-310{background-position:-129px -90px;}
.icon-bank2.icon-305{background-position:-258px -90px;}
.icon-bank2.icon-309{background-position:-387px -90px;}
.icon-bank2.icon-783{background-position:0 -135px;}
.icon-bank2.icon-304{background-position:-129px -135px;}
.icon-bank2.icon-306{background-position:-258px -135px;}
.icon-bank2.icon-4012900{background-position:-387px -135px;}
.icon-bank2.icon-64296510{background-position:0 -180px;}
.icon-bank2.icon-4083320{background-position:-129px -180px;}
.icon-bank2.icon-3200000{background-position:-258px -180px;}
.icon-bank2.icon-4243010{background-position:-387px -180px;}
.icon-bank2.icon-3170000{background-position:0 -225px;}
.icon-bank2.icon-4031000{background-position:-129px -225px;}
/*6.2 certify_list*/
.certify_list{margin: 20px 0;overflow:hidden}
.certify_list li{float:left;display:block;width:25%;text-align: center}
.certify_list h4{display:block;color: #fd9d4c;margin:10px;font-size:14px;font-weight:normal}
.certify_list li img.border0{border:1px solid #e1e1e1;padding:4px}
/*6.3 text-w 最小宽度*/
.text-w60{max-width:60px;*width:60px;}
.text-w70{max-width:70px;*width:70px;}
.text-w80{max-width:80px;*width:80px;}
.text-w90{max-width:90px;*width:90px;}
.text-w100{max-width:100px;*width:100px;}
.text-w110{max-width:110px;*width:110px;}
.text-w120{max-width:120px;*width:120px;}
.text-w130{max-width:130px;*width:130px;}
.text-w140{max-width:140px;*width:140px;}
.text-w150{max-width:150px;*width:150px;}
.text-w160{max-width:160px;*width:160px;}
.text-w170{max-width:170px;*width:170px;}
.text-w180{max-width:180px;*width:180px;}
.text-w190{max-width:190px;*width:190px;}
.text-w200{max-width:200px;*width:200px;}
.text-w250{max-width:250px;*width:250px;}
.text-w300{max-width:300px;*width:300px;}
.text-w350{max-width:350px;*width:350px;}
.text-w400{max-width:400px;*width:400px;}
.text-w450{max-width:450px;*width:450px;}
.text-center{text-align:center;margin:0 auto;}