/*首页footer样式*/
@import "common-style.less";

div.footer-wrap {
    margin-top: 50px;
    background: @white;
    .footer-top {
        width: @min-width;
        height: 150px;
        margin: 0 auto;
        padding: 27px 35px;
        & > div { .inline-block; }
        .content-left {
            ul {
                li {
                    padding: 0 22px;
                    border-right: @border;
                    a {
                        font-size: @font18;
                        color: @darker-grey;
                        text-decoration: none;
                        &:hover { color: @red; }
                    }
                }
                & li:first-child { border-left: @border; }
            }
            p, p a {
                font-size: @font14;
                color: @grey;
                margin: 0;
            }
            .contacts {
                margin: 25px 0 5px 0;
                span { margin-left: 20px; }
            }
            .links a {
                padding-right: 10px;
            }
        }
        .qrcode {
            & > div {
                display: inline-block;
                width: 95px;
                height: 120px;
                padding-top: 100px;
                text-align: center;
                color: @grey;
                font-size: @font13;
            }
            .service {
                margin-right: 30px;
                background: url("../imgs/index/service-code.png") no-repeat center top;
            }
            .subscribe { background: url("../imgs/index/subscribe-code.png") no-repeat center top; }
        }
    }
    .footer-bottom {
        height: 60px;
        line-height: 60px;
        color: @white;
        font-size: @font17;
        text-align: center;
        background: #dcdcdc;
    }
}
