/*register.less*/
@import "common-style";
@images: "../imgs/register";

body { background: @body-color; }

.top-bar #register { color: @red !important; }

div.register-box {
	margin-top: 25px;
	padding: 25px 10px 22px 30px;
	height: 690px;
	border: @border;
	background: @white;
	& > div {
		.inline-block;
		height: 575px;
	}
	.register-left {
		width: 615px;

		.title-tips {
            span.register-msg{
			font-size: @font25;
			color: @red;
            }
			margin-bottom: 10px;
			padding-bottom: 12px;
			border-bottom: @border;
			span {
				font-size: @font14;
				color: @grey;
				a {
					color: @blue;
					line-height: 35px;
				}
			}
            a.skip{margin-top:15px; cursor:pointer;}
		}
        .ul-wrap{
            text-align:center;
            .steps-list{
                li{
                   .inline-block;
                   margin:0 5px;
                }
                .hr {
				height: 2px;
				background: @light-grey;
			}
            .step1-hr, .step4-hr { width: 50px; }
			.step2-hr, .step3-hr { width: 100px; }
            .step1, .step2, .step3 {
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				color: @white;
				font-size: @font25;
			}
            .red-hr { background: @red; }
			.step1{ background: url("@{images}/red-circle.png"); }
            .step2,.step3{ background: url("@{images}/grey-circle.png");}
            
            }
        }
        .step-tips {
             padding:20px 20px 10px 20px;
		span {
			.inline-block;
			color: @dark-grey;
			font-size: @font18;
		}
        .red-tips { color:@red;}
		.tips1 { margin-left:76px;}
		.tips2 { margin-left:96px;}
        .tips3 {margin-left:73px;}
	}
		.form-box {
			margin-top: 10px;
			*margin-top: 0px;
           
			label {
				margin-right: 15px;
				width: 95px;
				font-size: @font15;
				font-weight: normal;
				color: @dark-grey;
				text-align: right;
			}
			input {
				padding-left: 50px;
				height: 45px;
				line-height: 45px;
				border: @border;
				border-radius: 5px;
				&:focus { outline-color: @red; }
			}
			.input-l { width: 300px; }
			.input-s {
				width: 200px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			#account { background: url("@{images}/account.png") no-repeat; }
			#psw, #psw2 { background: url("@{images}/psw.png") no-repeat; }
			#pic-code { background: url("@{images}/pic-code.png") no-repeat; }
			#sms-code { background: url("@{images}/sms-code.png") no-repeat; }
			#recommended { background: url("@{images}/recommended.png") no-repeat; }
			span { .inline-block; }
			.pic-code-wrap {
				width: 100px;
				height: 45px;
				overflow: hidden;
				border: @border;
				border-left: none;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				vertical-align: bottom;
                img {
                    width: 100%;
                    margin: 8% 1%;
                    cursor: pointer;
                }
			}
			button {
				width: 100px;
				height: 45px;
				font-size: @font15;
				color: @white;
				background: @red;
				border: none;
				vertical-align: bottom;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			.status {
				margin-left: 30px;
				width: 170px;
				height: 15px;
				line-height: 14px;
				padding-left: 25px;
				font-size: @font12;
				color: @red;
			}
            .psw-tips {
                color: @dark-grey !important;
                padding-left: 0 !important;
                }
			.error-tips { background: url("@{images}/error.png") no-repeat; }
			.right-tips { background: url("@{images}/blue-tick.png") no-repeat; }
            
		}
		.agreement {
			color: @grey;
			margin-top: 30px;
			padding-left: 110px;
			input {
				-webkit-appearance: none;
				width: 15px;
				height: 15px;
				border: @border;
				border-radius: 0;
				outline: none;
				&:checked { background: url("@{images}/red-tick.png") no-repeat; }
			}
			label { font-weight: normal; }
			a { color: @red; }
		}
		.register-btn {
			margin-top: 15px;
			padding-left: 110px;
			button {
				width: 300px;
				height: 45px;
				color: @white;
				font-size: 22px;
				background: @red;
				border-radius: 4px;
				border: none;
			}
		}
        .invited {font-size:@font15; cursor:pointer; width:90px; margin-left:100px; color:#10ca36;}
       .hide {display:none;}
	}
	.dividing-hr {
		margin-left: 30px;
		width: 1px;
		background: @light-grey;
	}
	.register-right {
		width: 400px; height:600px;
		background: url("@{images}/register-bg.jpg") no-repeat center;
	}
    .successRegister{
        margin:100px 160px;
        color:@red;
        font-size:@font40;
    }
}