/*usercenter.less(会员中心)*/
@import "common-style";
@usercenter: "../imgs/usercenter";

body { background: @body-color; }
div.usercenter {
	tr.detailRow { cursor:default; }
	.expandable-table tr.detailRow { cursor: pointer;}
	
	& > div {
		display: inline-block;
		.ie7-inline-block;
		vertical-align: top;
		min-height: 947px;
	}

	.nav-left {
		border: 1px solid @blue;
        min-height:500px;
		width: 230px;
		margin-right: 15px;
		*margin-right: 10px;
		.total-account {
			height: 180px;
			background: @blue;
			color: @white;
			padding: 25px 15px;
			.account-h { font-size: @font20; }
			.account-num {
				text-align: right;
				padding-top: 50px;
				span { font-size: @font15; }
				& span:first-child { font-size: @font30; }
			}
		}
		.outside-ul {
			a {
				display: inline-block;
				.ie7-inline-block;
				width: 200px;
				height: 25px;
                margin-left:26px;
				line-height: 25px;
				text-decoration: none;
				color: @dark-grey;
                padding-left:52px;
                cursor:pointer;
			}
			& > li {
				font-size: @font18;				
				line-height: 55px;
                border-bottom:1px solid @white;
			}
			& li:first-child {
				background: @white;
				.active { color: @blue; }
				&:hover, &:focus {
					.account-link { .active; }
				}
			}
			.account-link { background: url("@{usercenter}/overview2.png") no-repeat; }
			.funds { background: url("@{usercenter}/funds2.png") no-repeat;
                    div{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jia.png") no-repeat; margin-left:45px;}
                     div.jian{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jian.png") no-repeat; margin-left:45px;}
			}
			.investing { background: url("@{usercenter}/investing2.png") no-repeat; 
                      div{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jia.png") no-repeat;  margin-left:45px;}
                      div.jian{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jian.png") no-repeat; margin-left:45px;}
			}
			.account { background: url("@{usercenter}/account2.png") no-repeat; 
                     div{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jia.png") no-repeat;  margin-left:45px;}
                      div.jian{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jian.png") no-repeat; margin-left:45px;}
			}
			.news { background: url("@{usercenter}/news2.png") no-repeat;
                     div{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jia.png") no-repeat;  margin-left:45px;}
                      div.jian{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jian.png") no-repeat; margin-left:45px;}
			}
            .myloan{background: url("@{usercenter}/myloan2.png") no-repeat;
                    div{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jia.png") no-repeat;  margin-left:45px;}
                    div.jian{ display: inline-block; width:15px; height:15px; background: url("@{usercenter}/jian.png") no-repeat; margin-left:45px;}
            }
		}
		.inner-ul {
			& > li {
				font-size: @font15;
				line-height: 35px;
				background: @white;
				&:hover, &:focus, &.nav-active {
					background: #e1e1e1;
					border-left: 3px solid @blue;
					a { outline: 0; }
				}
			}
		}
	}

	.content-right {
		width: 855px;
		background: @white;
		border: @border;

		//会员中心内容头部
		.overview-head {
			height: 178px;
			padding: 30px 25px;
			border-bottom: @border;
			p { margin: 0; }
			& > div { .inline-block; }
			.head-left {
				width: 310px;
				.username {
					font-size: @font25;
					color: @dark-grey;
				}
				.save-level {
					font-size: @font18;
					color: @dark-grey;
					.level-icon {
						display: inline-block;
						.ie7-inline-block;
						vertical-align: top;
						width: 38px;
						height: 23px;
						margin-left: 10px;
						background-repeat: no-repeat;
					}
					.low { background: url("@{usercenter}/low.png"); }
					.middle { background: url("@{usercenter}/middle.png"); }
					.high { background: url("@{usercenter}/high.png"); }
				}
				.login-time {
					font-size: @font18;
					color: @grey;
				}
				.save-level, .login-time { margin-top: 16px; }
			}
			.head-center {
				margin: 9px 0 0 85px;
				font-size: @font18;
				p {
					span { color: @red; }
					& span:first-child { color: @dark-grey; }
				}
				.balance-frozen { margin-top: 50px; }
			}
			.head-right {
				& > a {
					display: block;
					width: 130px;
					height: 45px;
					line-height: 45px;
					color: @white;
					font-size: @font20;
					text-align: center;
					text-decoration: none;
					border-radius: 5px;
				}
				.recharge { background: @red; }
				.withdraw {
					background: @blue;
					margin-top: 26px;
				}
			}
		}

		.content-body {
			padding: 30px 25px 0 25px;
			height: 767px;
		}
        .content-body-loaner {
			padding: 30px 25px 0 25px;
			height: 857px;
		}
	}
	//会员中心翻页页码样式
	div.nav {
		text-align: center;
		.pagination { 
			& > li > a, & > li > span {
				width: 25px;
				height: 25px;
				padding: 0;
				margin: 0 2px;
				line-height: 24px;
				font-size: @font13;
				color: @dark-grey;
				border: @border;
				border-radius: 0;
			}
			.active a, .active span {
				color: @white;
				background: @blue;
			}
		}
	}
}