<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lip2p.Linq2SQL.Properties.Settings.DTcmsdb3ConnectionString"
            connectionString="Data Source=192.168.1.71;Initial Catalog=DTcmsdb3;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Lip2p.Linq2SQL.Properties.Settings.DTcmsdb3ConnectionString1"
            connectionString="Data Source=192.168.1.71;Initial Catalog=DTcmsdb3;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
