<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESMRootService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ESMRootService.Properties.Settings>
            <setting name="ESMRootService_ESMRootSendService_ESMSendService"
                serializeAs="String">
                <value>http://esm.chaotang.com/webservice/ESMSendService.asmx</value>
            </setting>
        </ESMRootService.Properties.Settings>
    </applicationSettings>
</configuration>