@charset "utf-8";

* {
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

body{
	background-color:#fff;
	overflow-y:auto;
}

header a, footer a {
	color:#fff;
	font-size:14px;
	text-decoration:none;
}

ol , ul {
	margin-bottom:0;
}

dt {
	font-weight:normal;
}

.container {
	width:1000px !important;
	padding-left:0;
	padding-right:0;
}

.breadcrumb a {
	background-color:transparent;
	color:#00375a;
	font-size:19px;
}

.breadcrumb {
	background-color:#f2f2f2;
	margin-bottom:0;

}

.breadcrumb > li + li::before {
	content:">";
	color:#737373;
	font-size:16px;
}

.roundconer4 {
	border-radius:4px;
}

.roundconer5 {
	border-radius:5px;
}

.headerTop {
	height:32px;
	color:#fff;
	padding:5px;
	background-color:#00b9f5;	
}

.headerTop a:hover {
	color:#fff !important;
	text-decoration:underline;
}

.hotline {
	color: white;
	font-size: 14px;
	height: 21px;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 0;
	margin-right: 35px;
	margin-bottom: 0;
	padding-left: 32px;
	display: inline-block;
}

.qqqun {
	padding-left: 25px;
	background-image: url(../images/QQqun.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 200px;
}

.uclink {
	background-color:#ffab35;
	height:24px;
	width:90px;
	line-height:24px;
	text-align:center;
	border-radius:5px;
}

#navbarTop {
	height:70px;
	vertical-align:middle;
	background-color:#fff;
	box-shadow:3px 3px #dedede;
}

#navbarTop ul li {
	width:100px;
	height:70px;
	line-height:66px;
	text-align:center;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
}

#navbarTop ul li a {
	font-size:18px;
	color:#00375a;
}

#navbarTop ul li:first-child , #navbarTop ul li:not(:first-child):not(:last-child) {
	border-right:none;
}

#navbarTop ul {
	margin-bottom:0;
	font-size:0;
}

#navbarTop ul li:hover {
	border-bottom:solid 3px #00375a;
}

.navfont {
	padding:0 10px;
	word-spacing:8px; 
	letter-spacing: 5px;
}

.navbar-header {
	padding:15px 0;
}

.submenu a {
	font-size:14px !important;
}

.submenu li {
	height:30px !important;
	line-height:30px !important;
	border:none !important;
}

.playicon {
	font-size:10px;
	margin-left:5px;
}

.content {
	padding:20px 0;
}

.btns {
	width:98px;
	height:32px;
	line-height:30px;
	font-size:18px;
	text-align:center;
	text-decoration:none;
	padding:0;
	display:inline-block;
	background-color:#00b9f5;
	border:solid 1px #37a4ee;
	border-radius:3px;
}

.btns:hover {
	background-color:#ffab35;
	text-decoration:none !important;
	color:#fff !important;
	border-color:#ff9125;
}

.btns:link, .btns:visited {
	color: #fff !important;
	text-decoration: none;
}

.newlink {
	color:#00b9f5 !important;
}

.progress {
	height:7px;
	border-radius:0;
	border:solid 1px #00b9f5;
	background-color:#fff;
}

.progress-bar {
	background-color:#6bd6f9 !important;
}

.btngreen {
	background-color:#6dc200;
	border-color:#78d500;
}

footer {
	color:#fff;
}

footer a:hover {
	color:#fff;
}

.fttop {
	background-color:#3f434a;
}

footer.big .navbottom {
	padding-top:40px;
}

.navbottom .media-body {
	text-align:left;
	vertical-align:middle;
}

.navblt {
	width:765px;
}

.navblt ul {
    margin-top: 36px;
    margin-bottom: 36px;
}

.navblt ul li {
	padding:0px 8px;
}

.navbrt {
	width:235px;
    padding-left: 46px;
}

#friend-link li {
    padding-left: 5px;
    padding-right: 5px;
}

.ftbottom {
	background-color:#222529;
}

.ftbottom {
	padding:20px 0;
}

.ftbottom p {
	line-height:33px;
	margin-bottom:0;
}

.ftbottom img {
	height:33px;
	width:90px;
}

.ctbgcolor {
	background-color:#f2f2f2;
}

.bclink a {
	position: relative;
    color: #01b9f5;
    font-size: 16px;
    line-height: 43px;
    padding: 2px 15px 3px 15px;
    margin-right: 11px;
    border: 1px solid;
    border-radius: 7px;
}

.bgdiv {
	position:relative;
}

ul.list-inline li a:link,
ul.list-inline li a:hover,
ul.list-inline li a:visited 
{
    text-decoration: none;
    color:#fff;
}

/*约标、火爆图标样式*/
.invest-icon 
{
    background: url('../images/invest-icon.png') no-repeat;
    display: inline-block;
}

.icon-hot  /*火爆选此样式*/
{
    width: 34px;
    height: 17px;
    margin-left: 13px;
    vertical-align: middle;
}

.icon-order  /*约标选此样式*/
{
   width: 34px;
   height: 17px;
   margin-left: 13px;
   vertical-align: middle;
   background-position: -39px 0;
}
/*约标、火爆图标样式-end*/

/*footer-small 样式*/
.navblt-small .list-inline {
   margin-top: 26px;
   margin-bottom: 30px;
}

.navbrt-small .hot-line {
    padding-left: 0;
    margin-top: 25px;
    letter-spacing: 2.5px;
}

.navbrt-small .work-time {
    margin-top: 45px;
    padding-left: 28px;
}
