@charset "utf-8";
/* CSS Document */
.regframe {
    position: relative;
    height: 0;
}

.quicksign {
    box-sizing: content-box;
    width: 244px;
    height: 288px;
    background-color: #fff;
    opacity: 0.85;
    position: absolute;
    top: 33px;
    right: 5px;
    z-index: 99;
    border: solid 3px #e5eaeb;
}

.qstitle {
    font-size: 26px;
    color: #00375a;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: dashed 1px #00375a;
    text-align: center;
    padding-bottom: 10px;
}

.qsinput {
    width: 246px;
    height: 34px;
    padding-left: 40px;
    border: solid 1px #e5eaeb;
    background-repeat: no-repeat;
    background-position: left;
}

.qsuser {
    background-image: url(../images/index/user.png);
}

.qspwd {
    background-image: url(../images/index/pwd.png);
}

.qscode {
    width: 130px;
    background-image: url(../images/index/auth.png);
}

.quicksign p {
    padding: 0 12px;
}

.eachrow {
    padding: 20px 0;
}

.divwithtitle {
    position: relative;
    border-radius: 5px;
    border: solid 1px #dfdfdf;
}

.divtitle {
    color: #fff;
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    padding: 0 5px;
    background-color: #00b9f5;
    position: absolute;
    left: -5px;
    top: 10px;
}

.data-box 
{
    max-width: 900px;
    height: 22px;
    overflow: hidden;
}

.bidmemo {
    min-height: 225px;
    width: 560px;
    padding: 20px 5px 0 5px;
}

div.notice-head > div
{
    display: inline-block;
    vertical-align:top;
}

.margin-right80
{
    margin-right: 80px;
}

span.pull-right,
span.pull-right a,
span.pull-right span 
{
    font-size: 15px;
}

.bidmemo ul li a, .memos ul li a {
    color: #737373;
    font-size: 15px;
}

.bidmemo ul li a:hover {
    color: #00b9f5;
    text-decoration: none;
}

.bidmemo ul li {
    padding: 10.5px 0;
    border-bottom: solid 1px #dfdfdf;
}

.bidmemo ul {
    padding: 30px 5px 0 5px;
}

.bidmemo ul li:last-child {
    border: none;
}

.bidmemo ul li:before {
    content: url(../images/index/bid02.png);
    margin-right: 5px;
}

.bidmemo ul li:hover:before {
    content: url(../images/index/bid01.png);
    margin-right: 5px;
}

.digits {
    font-size: 26px;
    font-weight: bold;
}

.car {
    background-image: url(../images/index/car.png) !important;
}

.listtitle {
    height: 38px;
    border-bottom: solid 1px #00b9f5;
}

.invest-list {
    background-color: #00b9f5;
    font-size:18px;
    color:#fff;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 100px;
}

.read-more 
{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #dfdfdf;
}


.listblock {
    min-height:110px;
    padding:23px 12px;
    border-bottom:solid 1px #dfdfdf;
}

.listblock img {
    width:185px;
    height:132px;
    border-radius:5px;
    box-shadow:3px 2px 3px #aaaaaa;
}

.listblock .digits {
    font-size: 34px;
}

.listblock dl dt {
    color:#00375a;
}

.listblock .units {
    font-size:20px;
}

.listblock h5 {
    font-size:15px;
    color: #00375a;
    padding-left:28px;
    padding-right:30px;
    margin:0;
    margin-bottom:50px;
}

.listblock dd ,.listblock dt {
    text-align:center;
}

.listblock:last-child {
    border-bottom:none;
}

.listblock:hover {
    background-color:#f2fbfe;
}

.selltime {
    font-size: 15px;
    color: #00375a;
    line-height: 19px;
    background-image: url(../images/index/bidtime.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}

.profit {
    width: 98px;
    min-height: 74px;
    color: #fff;
    background-color: #7fdcfb;
}

.profit .digits {
    color: #fff;
}

.profit p {
    text-align: center;
    margin-bottom: 0px;
}

/*标已满与还款中按钮样式*/
.empty-btn {
    width: 98px;
    height: 32px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #fff !important;
    display: inline-block;
    background-color: #d2d2d2;
    border: solid 1px #d2d2d2;
    border-radius: 3px;
}

.empty-btn:link,
.empty-btn:hover,
.empty-btn:visited {
    text-decoration: none;
}

/*待发标按钮样式*/
.delay-btn {
    width: 98px;
    height: 32px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #fff !important;
    display: inline-block;
    background-color: #EC7824;
    border: solid 1px #EC7824;
    border-radius: 3px;
}

.delay-btn:link,
.delay-btn:hover,
.delay-btn:visited {
    text-decoration: none;
}

div.quicksign-percent {
    padding-left: 15px;
}

div.quicksign-percent span {
    color: #00375a;
    font-size: 15px;
    vertical-align: middle;
}

div.percentage {
    text-align: center;
    padding-left: 50px;
    margin-top: -25px;
}

span.percentage-num {
    font-size: 84px;
    font-weight: bolder;
}

span.percentage-symbol {
    font-size: 42px;
    margin-left: 15px;
}

div.quicksign-tips {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #00375a;
    margin-top: -10px;
}

div.btn-box {
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}


div.landing-tips {
    text-align: right;
    font-size: 15px;
    padding-right: 10px;
    margin-top: 10px;
}

div.landing-tips a {
    color: #00b9f5;
    font-size: 15px;
    padding: 10px;
}

div.media-body a {
    text-decoration: none;
}

/*约标、火爆图标样式*/
.invest-icon 
{
    background: url('../images/invest-icon.png') no-repeat;
    display: inline-block;
}

.icon-hot  /*火爆选此样式*/
{
    width: 34px;
    height: 17px;
    margin-left: 13px;
    vertical-align: bottom;
}

.icon-order  /*约标选此样式*/
{
   width: 34px;
   height: 17px;
   margin-left: 13px;
   vertical-align: bottom;
   background-position: -39px 0;
}
/*约标、火爆图标样式-end*/

/*发布公告样式*/
div.notice-box > div 
{
    display: inline-block;
}

div.notice-box 
{
    width: 1000px !important;
    margin: 0px auto 20px auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #00b9f5;
}

div.notice-left a:link,
div.notice-left a:hover,
div.notice-left a:visited,
a.btn-style:link,
a.btn-style:hover,
a.btn-style:visited 
{
    text-decoration: none;
}

div.notice-left a:hover 
{
    color: #c8181e; 
}

.txt-red
{
   font-size: 16px;
   color: #c8181e;
}

.line-style 
{
    color: #dfdfdf;
    margin-left: 10px;
    margin-right: 10px;
}

.txt-grey 
{
    font-size: 16px;
    color: #666;
}

a.btn-style 
{
    border: 1px solid #dfdfdf;
    border-radius: 9px;
    padding: 1px 7px;
    color: #666;
    margin-left: 40px;
   
}
/*发布公告样式-end*/

/*借款项目展示、公告与动态、媒体报道start*/
div.memos {
    width: 1000px;
    margin: 0 auto;
}

div.tabs-box 
{
    display: inline-block;
    float: left;
    width: 580px;
    height: 250px;
}

div.imgs-box 
{
    display: inline-block;
    float: right;
    width: 310px;
    height: 250px;
    padding-top: 5px;
}

div.tab-nav {
    padding-bottom: 40px;
    border-bottom: 2px solid #dfdfdf;
}

div.tab-nav > a {
    font-size: 19px;
    color: #00375a;
}

div.tab-nav > a:link,
div.tab-nav > a:hover,
div.tab-nav > a:visited {
    text-decoration: none;
}

div.tab-nav a:first-child {
    text-align: left;
    padding-left: 25px;
}

div.tab-nav a:nth-child(2) {
    text-align: center;
}

div.tab-nav a:last-child {
    padding-left: 84px;
}


.line-left {
    position: relative;
    top: -15px;
}

.line-center {
    position: relative;
    top: -15px;
    left: 215px;
}

.line-right {
    position: relative;
    top: -15px;
    left: 435px;
}

.memos ul li {
    margin-bottom: 15px;
    padding-left: 15px;
}

.memos ul li a {
    padding: 0 15px;
    margin-left: -15px;
}

.memos ul li a:hover {
    color: #00b9f5;
    text-decoration: none;
}

.bid {
    background: url("../images/index/bid.png") no-repeat;
    display: inline-block;
}

.bid-grey {
    width: 8px;
    height: 10px;
    background-position: -23px -5px;
}

.bid-blue {
    width: 8px;
    height: 10px;
    background-position: -5px -5px;
}

#report-carousel .carousel-indicators li {
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
}

#report-carousel .carousel-indicators .active {
    background-color: #00b9f5;
    border:1px solid #00b9f5;
}

#report-carousel .carousel-indicators {
    bottom: 50px;
}

.carousel-mini > div > p {
    max-width: 270px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    margin-top: 15px;
}

.content1 ul li a,
.content1 ul li a span,
.content2 ul li a,
.content2 ul li a span,
.content3 ul li a,
.content3 ul li a span {
    font-size: 15px;
}

#report-carousel div.item img {
    width: 308px !important;
    height: 202px !important;
}
/*借款项目展示、公告与动态、媒体报道end*/

/*活动列表样式start*/
div.activities-list {
    width: 1000px;
    margin: 19px auto 20px auto;
}

div.activities-detail {
    border-top: solid 1px #00b9f5;
}


div.activities-detail ul {
    list-style: none;
    padding-left: 0;
}

div.activities-detail ul > li {
    padding: 29px 0 49px 0;
    border-bottom: 1px solid #dfdfdf;
}

div.activities-detail ul > li > span { vertical-align: bottom;}

.activities-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    background: url("../images/index/activities-icon.png") no-repeat;
}

.icon-for-new {
    width: 70px;
    height: 22px;
    background-position: -5px -5px;
}

.icon-days-invest {
    width: 70px;
    height: 22px;
    background-position: -85px -5px;
}

.txt-right {
    text-align: right;
}

.top-5 {
    top: -5px;
}

.txt-center {
    text-align: center;
}

.txt-style-1 {
    color: #02375e;
    font-size: 18px;
}

.txt-style-2 {
    color: #02baf5;
    font-size: 25px;
}

.txt-style-2-1 {
    color: #02baf5;
    font-size: 15px;
}

.txt-style-3 {
    color: #737373;
    font-size: 25px;
}

.txt-style-3-1 {
    color: #737373;
    font-size: 15px;
}

div.activities-detail .activities-btn {
    text-decoration: none;
    width: 112px;
    height: 32px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffac35;
}

div.activities-detail button.invest-completed {
    background-color: gray;
}

/*活动列表样式end*/

/*端午活动gif样式*/
div.git-span-box {
    position: fixed;
    top: 60%;
    text-align: right;
}
div.gif-span {
    width: 125px;
    height: 205px;
    background: url("../images/index/duang-gif.gif") no-repeat;
}

.glyphicon-remove:before {
    color: #727272 !important;
}
/*端午活动gif样式end*/