body {
    background:#f2f2f2;
}
.cle {
    clear:both;
}
a {
    text-decoration: none;
}
.jiekuan-container {
    width:1002px;
    height:auto;
    margin:0 auto;
    margin-top:30px;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.jiekuan-body {
    width:100%;
    background:#fff;
    border:1px solid #f2f2f2;
    margin-bottom:40px;
    background:#fff;
}
.sur-nav {
    margin-bottom:30px;
}
.sur-nav a{
    font-size:19px;
    margin:0 3px;
    text-decoration: none;
}

.neibu {
    width:94%;
    margin:0 30px 53px 30px;
}
/*字体颜色及像素*/
div.sur-nav a,
div.sur-nav span {
    color: #666;
    font-size: 19px;
}

p.font-style {
    font-size: 15px;
}
/*内容 部分*/
.jiekuan-list {
    margin:32px 0;
    border-bottom:1px dashed #dddddd;
    padding-bottom:32px;
}
.jiekuan-list img{
    width:282px;
    height:150px;
}
.jiekuan-list-right {
    width:67%;
    float:right;
}
.jiekuan-list-right a {
    text-decoration:none;
    color:#00b9f5;
    font-size:20px;
}
.jiekuan-list-right h4{
    border-bottom:1px dashed #666;
    padding-bottom:10px;
    margin-bottom:0;
}
.jiekuan-list-right p{
    text-indent: 2em;
    margin-top:12px;
    color:#919090;
}
.list-word span {
    display:block;
    float:right;
    font-size:14px;
    margin-top:5px;
}
.list-word span:first-child{
    float:left;
}
/*末尾页码*/
.page {
    text-align:center;
}
.page a{
    color:#000;
    font-size:15px;
    text-decoration:none;
    margin:0 3px;
}
.page a:hover {
    color:#00b9f5;
}