

















.pstitle {
	width:250px;
}

.arrow {
	display:none;
}
/*
#carousel {
	padding:0 20px;
	position:relative;
}

#carousel {
	vertical-align:middle;
}

#carousel li {
	width:140px;
	position:relative;
	text-align:center;
	margin:0 20px;
	cursor:pointer;
}

#carousel li img {
	left:11px;
	top:8px;
	display:block;
	width:117px;
	height:80px;
	position:absolute;
}*/

