@charset "utf-8";
/*会员中心-我的奖券页面样式*/
.mainnav {
    clear: both;
    position: relative;
    width: 100%;
    padding-top: 32px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.maintop {
    width: 93.6%;
    /*border: 1px solid black;*/
    margin: 0 auto 17px auto;
}

.status-selected {
    color: #fff !important;
    background-color: #00b8f4;
}

.maintop ul {
    list-style-type: none;
}

.maintop ul:first-child {
    border-left: 1px solid #d2d2d2;
}

.status-btns > a {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 32px;
    color: #013759;
    line-height: 32px;
    text-align: center;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.status-btns a:first-child {border-left: 1px solid #d2d2d2}

.status-btns {
    display: inline-block;
}

.maintop .rules {
    display: inline-block;
    text-decoration: none;
    margin-left: 390px;
}

.maincenter {
    position: relative;
    width: 541px;
    margin-left: 26px;
}

.lottery-item {
    padding: 12px;
    border: 1px solid #d2d2d2;
    background-color: #f2f2f2;
    margin-bottom: 1em;
}

.lottery-face, .lottery-face-grey, .lottery-face-red
{
    display: inline-block;
    width: 225px;
    height: 120px;
    padding: 6px 10px;
}

.lottery-face {
    background: url("../images/usercenter/mylottery/lotterybg.png") no-repeat 50%;
}

.lottery-face-grey {
    background: url("../images/usercenter/mylottery/lotterybg-grey.png") no-repeat 50%;
}

.lottery-face-red {
    background: url("../images/usercenter/mylottery/lotterybg-red.png") no-repeat 50%;
}

.lottery-face-red .lottery-spec {
    color: red;
}

.lottery-face-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.lottery-value {
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.lottery-spec
{
    display: block;
    width: 182px;
    height: 22px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    background-color: #fff;
    color: #ffab36;
}

.lottery-face-grey .lottery-spec {
    color: #ddd;
}

.lottery-hint {
    display: inline-block;
    width: 250px;
    margin-left: 12px;
    /*border: 1px solid black;*/
}

.lottery-hint span {
    display: block;
    line-height: 24px;
    font-size: 14px;
    color: #737373;
}

.mainbottom {
   width: 765px;
   height: 95px;
   font-size: 14px;
   color: #737373;
   line-height: 30px;
   border: 1px solid #d2d2d2;
   padding-left: 21px;
   padding-top: 10px;
   margin: 117px auto 57px auto;
   background-color: #f2f2f2;
}

div.img-box 
{
    display: inline-block;
}

div.tips-txt 
{
    width: 95%;
    display: inline-block;
    vertical-align: top;
}

.span-style 
{
    display:inline-block;
    vertical-align:top;
}

.second-span 
{
    display: block;
    padding-top: 8px;
    padding-left: 68px;
}

.width-style 
{
    width: 90%;
}