.maincontent {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.news-th {
    color: #2ea7e1;
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 18px;
    border-bottom: 1px solid #d2d2d2;
}

.news-btns button {
    color: #fff;
    height: 30px;
    background-color: #2ea7e1;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.news-btns button:hover {
    background-color: #ffab35;
}

.delete-btn {
    width: 60px;
}

.read-btn {
    width: 100px;
}

.news-table {
    margin-top: 15px;
}

.news-table table {
    width: 100%;
    text-align: center;
}

.news-table table th {
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #666;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f1f1;
}

.news-table table td {
    padding-top: 10px;
}

.trad-bot {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.trad-bot a {
    color: #a0a0a0;
    margin: 0 1px;
    border: 1px solid #dfdfdf;
    padding: 1px 5px;
}