@charset "utf-8";
/* CSS Document */

/*推荐奖励页面内容样式*/

.mainnav {
    margin-top: 0;
    clear: both;
    padding-top: 31px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.maintop {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    /*border: 1px solid black;*/
}

.myrewardt_txtstyle {
    font-size: 14px;
    color: #737373;
}

.phonenum {
    color: red;
}

.maintop form {
    margin-top: 20px;
}

.maintop input {
    width: 497px !important;
    height: 44px;
    padding-left:5px;
    border: 1px solid #dedede;
    background-color: #f2fcfe;
    background-image: none !important;
}

.maintop a:visited {
    /*复制按钮点击后 效果不生效*/
    text-decoration: none;
    color: #fff;
}

.newbtn {
    margin-left: 28px;
}
.newbtn:link,
.newbtn:hover,
.newbtn:visited {
    text-decoration: none;
}

.share {
    margin-top: 24px;
}

.maintop ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
}

.maintop li {
    display: inline-block;
    margin-right: 6px;
}

.maincenter {
    position: relative;
    width: 686px;
    /*border: 1px solid black;*/
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
}

.maincenter table {
    width: 100%;
    margin-top: 26px;
    text-align: center;
    line-height: 39px;
    border-top: 2px solid #00b8f4;
}

.maincenter th {
    text-align: center;
}

.maincenter tr {
    border-bottom: 1px solid #00b8f4;
}

.mainbottom {
    position: relative;
    width: 765px;
    height: 45px;
    margin: 29px auto 20px auto;
    padding-top: 10px;
    padding-left: 18px;
    border: 1px solid #d2d2d2;
    background-color: #f2f2f2;
}

div.mainbottom > div
{
    display: inline-block;
    vertical-align: middle;
}

div.tips-txt 
{
    width: 95%;
}

.mainbottom span {
    font-size: 14px
}

div.share_box {
    display: inline-block;
    vertical-align: middle;
}

div.share_box span {
    vertical-align: middle;
}

div.share_box > a {
    padding-left: 5px;
    padding-right: 5px;
}

div.share_box > a > span {
    padding-right: 5px;
}
