html, body {
    margin: 0;
    padding: 0;
}

.cle {
     clear:both
}
.recr-body-details {
    width:100%;
    margin-top:90px;
    font-family: introduce !important;
}

.recr-body-details :after {
    clear:both;
}

.recr-body-details li {
    list-style-type:none;
    color: #420000;

}

.body-detail-nb {
    width:1000px;
    margin:0 auto;
}

.picture {
    width:50%;
    float: left;
    margin-bottom:180px;

}
.pic {
    margin-top:20px;
}

.describe {
    width:50%;
    float: left;
}
.introduce ul ,.bot-wenben ul {
    padding-left:0;
}

.introduce li {
    font-size:20px;
    line-height:40px;
}

.requirement {
    margin-top:45px;
}

.requirement h3 {
    font-size:35px;
    color:#f00;
    margin-bottom:13px;

}

div.bot-wenben {
    width: 400px;
    font-size: 22px;
    line-height: 45px;
}

.bottom {
    height:200px;
    padding-top: 50px;
    margin-bottom:70px;
    background:url("../images/recruitment/send-email.png") no-repeat right center;
}

