@charset "utf-8";
/* CSS Document */
input[type="text"] , input[type="password"]{
	box-sizing: border-box;
    height: 32px;
    width: 265px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.login-bg, .register-bg {
      height: 803px;
	  background-position: top center;
}

.login-bg {
    background-image: url(../images/register/login-bg.png);
}

.register-bg {
    background-image: url(../images/register/register-bg.png);
}

.login {
    width: 330px;
	height: 300px;
    top: 110px;
    right: 50px;
	padding-left:25px;
	position: absolute;
	background: transparent;
	z-index: 70;
}

.reg {
    width: 330px;
    height: 450px;
    right: 60px;
    top: 42px;
    padding-left: 25px;
    position: absolute;
    z-index: 70;
}

.regmask {
    width: 330px;
    height: 500px;
    top: 40px;
    right: 60px;
    position: absolute;
    z-index: 60;
    background-color: #fff;
}

 .logmask{
    position: absolute;
    width: 330px;
	height:330px;
	top: 100px;
    right: 50px;
    background-color: #fff;
}

.biggold-log, .biggold-reg {
	width: 268px;
	height: 417px;
	/*background-image: url(../images/register/gold.png);*/
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
}

.biggold-log {
	top: 90px;
    left: 245px;
}

.biggold-reg {
	top: 90px;
    left: 245px;
}

.reg .h1 , .login .h1 {
	text-align:center;
	margin-right: 30px;
	margin-bottom:20px;
}

.reg a {
	color:#00b9f5;
}

.reg p {
	margin-bottom:0;
}

.user {
	background-image: url(../images/register/user.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
}

.passw {
	background-image: url(../images/register/pwd.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
}

.introducer {
	background-image: url(../images/register/intruduce.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
}

.authcode {
	background-image: url(../images/register/code.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
}

p.required:before {
	content:"*";
	color:red;
	padding-right:0.5em;
	margin-left:-0.92em;
}

p.correct:after {
	content:url(../images/validate/right.png);
	vertical-align:middle;
	margin-top:10px;
	padding-left:0.5em;
	display:inline-block;
}

.authresult {
	height: 20px;
	color: red;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left;
}

.login .authresult {
	height:30px;
}

.error {
	background-image: url(../images/validate/error.png);
}

.regbtn {
	width:136px;
	height:40px;
	color:#fff;
	background-color:#00b9f5;
	border:none;
	margin:15px 0;
	outline: none;
}

.login .regbtn {
	margin:0;
    margin-left: 20%;
    margin-top: 2%;
}

.cloud {
	width: 123px;
	height: 60px;
	display:none;
	background-image: url(../images/register/cloud.png);
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
	top:0px;
	left:0px;
	z-index:90;
}

.bganimate {
    min-height:770px;
	background-attachment: scroll;
	background-image: url(../images/register/bga.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.housebottom {
	width: 1900px;
	height: 146px;
	background-image: url(../images/register/house.png);
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:99;
}

.forgotpwd {
	margin-right:50px;
}

.forgotpwd a {
	color:#00b9f5;
}

/*注册成功模态框*/
.regsuccess {
	margin-top:190px;
	width: 650px;
	height: 540px;
}

.dialogbg {
	background-image: url(../images/register/big-gold-bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color:transparent;
}

.btnchongzhi {
	display:inline-block;
	width:150px;
	height:52px;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
	line-height:50px;
	font-size:25px;
	background-color:red;
	color:#fee100;
	border-radius:5px;
}

.btnchongzhi:hover {
	text-decoration:none;
	color:#fee100;
}
	
form#regform p.regbtn-box {
    position: relative;
    margin-top: -25px;
}

form#regform p.agreement-box {
    position: relative;
    margin-top: -10px;
    margin-bottom: 6px;
}

a.close-btn {
    float: right;
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 20px;
}

a.close-btn:link,
a.close-btn:hover {
    text-decoration: none;
}



/*注册框样式*/
p.required span {
    display: none;
}

input {
    background-color: transparent;
    padding: 2px;
}

label {
    width: 265px;
    height: 32px;
    line-height: 31px;
    color: #a9a9a9;
    font-weight: normal;
    padding-left: 35px;
    position: absolute;
    z-index: -1;
    background-color: #fff;
}

div.required {
    margin-bottom: 20px;
    display: inline-block;
}
       
#btnSendcode {
    width: 100px;
    height: 32px;
    margin-left: 6px;
    color: #fff;
    background-color: #00b9f5 !important;
}

#regform > div span,
form#loginform > div span {
    display: inline-block;
    vertical-align: middle;
    color: red;
    font-weight: bold;
}

div.agreement-box {
    padding-left: 11px;
}

div.regbtn-box {
    padding-left: 11px;
    margin-top: 6px;
}

button#btnSendcode {
    outline:none;
}

.special-star 
{
  vertical-align: top !important;
  padding-top: 8px;
  
}



/*登录框样式*/

form#loginform div.required {
    margin-top: 10px;
    margin-bottom: 20px;
  
}

div.remember-user {    
    padding-left: 10px;
}

div.remember-user a {
    margin-left: 113px;  
}

div.logbtn-box 
{
    margin-top: 10px;
}