body {
    background:#f2f2f2;
}
.cle {
    clear:both;
}
.survey-container {
    width:1005px;
    height:auto;
    margin:0 auto;
    margin-top:30px;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.sur-nav {
    margin-bottom:32px;
}
.sur-nav a{
    color: #00375a;
    font-size:19px;
}
/*左边主体*/
.surveybody-left {
    width:70%;
    min-height:525px;
    float:left;
    background:#fff;
    border:1px solid #f2f2f2;
    margin-bottom:40px;
}
.sur-left-neibu {
    width:91%;
    margin:0 30px 86px 30px;


}
.title {
    margin-top:30px;
    font-size:30px;
    text-align:center;
    border-bottom:1px dashed #919090;
    margin-bottom:20px;
    padding-bottom:10px;
}

.title h3 {
    margin:0;
    padding:0;
    font-size:30px;
    color:#000;
    margin-bottom:15px;
}

.title span {
    font-size:14px;
    color:#919090;
    margin:0 15px;

}
/*设置字体*/
.paragraph,.reco-context div,.sur-nav{

    color:#666;
    font-size:15px;
}
.paragraph p{
    text-indent: 2em;
    margin:3px 0;
}

#par-two p:first-child{
    margin-bottom:28px;
}
.picture {
    width:640px;
    height:350px;
    margin:30px 0;
}

/*右边主体*/
.surveybody-right {
    width:26%;
    float:right;
    margin-left:33px;

}
.recommend {
    font-size:20px;
    line-height:33px;
    color:#000;
    border-bottom:1px solid #e1e1e1;
}
.reco-context {
    width:261px;
    height:70px;
    margin:20px 0;
}
.reco-context img {
    display:block;
    float:left;
    width:100px;
    height:70px;
}
.reco-context div {
    float:left;
    width:56%;
    margin-left:13px;
}