@charset "utf-8";
/* CSS Document */
/*usercenter start*/
.usercenter {
    padding: 64px 0 41px 64px;
    margin-bottom: 40px;
}

.uc_list h4 {
    color: #737373;
}

.uc_list li {
    list-style-type: none;
}

.uc_list dl {
    float: left;
    padding-right: 120px;
    padding-left: 6px;
}

.uc_list dt {
    color: #fe9426;
    padding: 0 0 0 30px;
    font-size: 20px;
}

.uc_list dd {
    padding: 20px 0 0 45px;
}

.user-top {
    height: 191px;
    float: left;
    margin-bottom: 10px;
}

.user-bot {
    height: 191px;
    float: left;
}

.num {
    color: #fe9426;
    font-size: 35px;
}

/*usercenter end*/

/*traddetail start*/
.traddetail {
    height: 100%;
    margin: 0 auto;
    border-right: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}

.trad-list {
    width: 92%;
    margin: 25px auto auto;
    border: 1px solid #CCC;
    padding: 10px 20px;
}
.trad-list span {
    color: #01b9f5;
}
.trad-list .list-1 {
    display: inline-block;
    width: 45.5%;
}
.trad-list .list-1 .p1 {
    display: block;
    font-size:24px;
    margin: 0;
}
.trad-list .list-1 .p2 {
    display: block;
    font-size:34px;
    color: #ffab35;
    margin: 0;
}
.trad-list .list-2 {
    display: inline-block;
    width: 22%;
    border-right: 1px solid #CCC;
    padding-left: 3%;
    margin-bottom: 5px;
}
.trad-list .list-3 {
    display: inline-block;
    margin-left: 2.2%;
}

.trad-list .list-2 ul {
    list-style-type: none;
    display: block;
}

.trad-list .list-3 ul {
   list-style-type: none;
    display: block; 

}
.trad-list .list-2 ul li,.trad-list .list-3 ul li {
    line-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.trad-top {
    height: 33px;
    padding: 32px 0 32px 35px;
}

#type1 {
    width: 89px;
    height: 34px;
    border: 1px solid #d9d9d9;
}

#type2 {
    floaat: right;
    display: block;
}

.sel {
    display: block;
    float: left;
    margin-left: 0px;
    height: 32px;
!important
}

.trad-cen {
    margin: 43px 0 32px 32px;
}

.traddetail_table {
    width: 96%; /*752px*/
    /*height: 347px;*/
}

.toggle-icon {
    position: relative;
    padding-left: 5px;
    top: 3px;
}

.traddetail_table thead th {
    border-bottom: 2px solid #01b9f5;
    text-align: center;
    line-height: 40px;
}

.traddetail_table tbody tr {
    border-bottom: 1px solid #7fdcfb;
}

.traddetail_table tbody td {
    text-align: center;
    line-height: 40px;
}

.traddetail_table tbody tr td {
    vertical-align: middle;
}

.trad-bot {
    padding: 10px 0 25px 0;
    text-align: center;
}

.trad-bot a {
    color: #a0a0a0;
    margin: 0 1px;
    border: 1px solid #dfdfdf;
    padding: 1px 5px;
}

.page-one {
    display: block;
    float: left;
}

/*.current {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid #dfdfdf;
    text-align: center;
}*/

.page {
    display: block;
    float: left;
    border: 1px solid #dfdfdf;
}

input[type="text"] {
    box-sizing: border-box;
    height: 33px;
    width: 142px;
    padding-right: 35px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/usercenter/datepick.png);
}

input[type="button"] {
    width: 70px;
    height: 32px;
    margin: 0 8px;
    background-color: #f2fcfe;
}

{
    width: 90px;
    height: 32px;
}
.trad-top .pull-right > input {
    border: 1px solid #a9a9a9;
}

/*date{background:url(../images/usercenter/datepick.png) no-repeat; background-position:right center;}*/
/*traddetail end*/

/*reward start*/

.reward_share b {
    display: block;
    float: left;
}

.cle {
    clear: both;
}

.reward_table {
    width: 689px;
    height: 163px;
}

.span_link {
    display: block;
    float: left;
    width: 496px;
    height: 44px;
    background: #f2fcfe;
    margin: 20px 30px 0 0;
    border: 1px solid #e4e5e7;
}

.reward_invite .btns {
    margin-top: 25px;
    color: #FFFFFF;
}

.span_link a {
    color: #adb2b5;
    line-height: 43px;
    padding-left: 20px;
}

.reward_noice span {
    display: block;
    width: 767px;
    height: 9px;
}

.reward_table thead th {
    border-top: 2px solid #7fdcfb;
    border-bottom: 1px solid #7fdcfb;
    padding: 11px;
}

.reward_table {
    margin: 25px 0 30px 0px;
}

.reward_table tr:hover {
    background: #f2fcfe;
}

.reward_list {
    margin-left: 63px;
}

.reward_invite {
    margin-left: 63px;
    margin-top: 35px;
}

.reward_share {
    margin: 40px 0 50px 63px;
}

/*reward end*/

/*bank_card_cont start*/
.bank_card_cont_add {
    width: 820px;
    height: 490px;
    margin-bottom: 42px;
}

.bank_card_cont_add_body {
    width: 229px;
    height: 179px;
    border: 2px dashed #00b8f4;
    margin: 31px 0 0 29px;
}

.bank_card_cont_sp {
    font-size: 50px;
    color: #00b8f4;
    padding: 40px 0 0 99px;
}

.bank_card_cont_word {
    font-size: 18px;
    color: #00b8f4;
    padding: 0px 0 0 75px;
}

.bank_card_cont_add_body a {
    text-decoration: none;
}

/*bank_card_cont end*/

/*my_gift start*/
.my_gift_body {
    margin: 0 auto;
}

.my_gift_list {
    margin: 33px 0 0 30px;
}

.my_gift_list ul {
    list-style-type: none;
    display: block;
    float: left;
}

.my_gift_li {
    width: 62px;
    height: 33px;
    float: left;
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 5px;
}

.my_gift_li{
    color: #00375a;
    width: 62px;
    height: 33px;
    cursor:pointer;
}

/*.my_gift_list a:hover .my_gift_li{background-color:#04b8f5;color:#FFFFFF}*/
.my_gift_li.selected {
    background-color: #04b8f5;
    color: #FFFFFF
}

.my_gift_list .pull-right {
    color: #000000;
    padding-right: 30px;
    color: #04b8f5;
}

.my_gift_list a {
    text-decoration: none;
}
.read {
    margin-left:80px;
}

.read {
    float:left;
    border:1px solid #dfdfdf;
    height:33px;
    line-height:31px;
    width:80px;
    text-align:center;
    cursor:pointer;
}
.del {
    margin-left:0;
}
.read a {
    text-decoration:none;
}

.my_gift_cent {
    width: 542px;
    height: 145px;
    border: 1px solid #dedede;
    background: #f2f2f2;
    margin: 20px 0 120px 30px;
}

.my_gift_cent_bg {
    background: url(../images/jiangquan.png) no-repeat;
    width: 224px;
    height: 122px;
    float: left;
    padding: 10px 0;
    margin: 13px 15px;
}

.my_gift_cent_bor {
    border: 1px solid #ffffff;
    width: 205px;
    height: 100px;
    margin: 0 0 20px 10px;
}

.my_gift_cent_right {
    padding-top: 22px;
}

.gift_top {
    font-size: 45px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.gift_bot {
    color: #ffab36;
    text-align: center;
    width: 185px;
    height: 20px;
    background: #FFFFFF;
    margin-left: 9px;
    padding-bottom: 5px;
}

.wx_notic {
    width: 767px;
    height: 49px;
    background: #f2f2f2;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin: 0 0 50px 25px;
}

.wx_noice_bg {
    background: url(../images/tips.png) no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    margin: 10px 0 10px 20px;
}

.tips {
    display: block;
    float: left;
    margin-left: 15px;
    width: 522px;
    height: 28px;
    padding: 15px 0;
}

/*my_gift end*/

/*  investment_list start*/
.trad-top ul {
    list-style: none;
}

/*.trad-top li:hover{background-color:#04b8f5;color:#FFFFFF}*/
.traddetail_table tbody tr:hover {
    background-color: #f2fcfe;
}

/*  investment_list end*/