@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

dl {
	margin-bottom:0;
}

.table {
	margin-bottom:0;
}

.breadcrumb {
	padding-top: 28px;
    padding-bottom: 28px;
}

.content {
	padding-top:0;
	padding-bottom:40px;
}

.list-inline 
{
	margin:0;
}

#leftmenu {
	color:#00375a;
	width:183px;
	padding:0;
}

.alink {
	font-size:14px;
	color:#01b9f5;
	cursor:pointer;
	text-decoration:none;
}

.acounttotal {
	max-height:132px;
	background-color:#01b9f5;
	font-size:16px;
	color:#fff;
	padding:0px 10px 10px 10px;
}

.acounttotal p {
	text-align:right;
	padding:18px 0;
	margin-bottom:0;
}

.acounttotal .digits {
	font-size:26px;
}

.acounttotal .units {
	font-size:16px;
}

#rightcontent {
	width:817px;
	margin-bottom:10px;
	min-height:475px;
	color:#737373;
	background-color:#fff;
	box-sizing:border-box;
	position:relative;
}

#leftmenu ul li {
	position:relative;
	height: 43px;
	line-height: 42px;
	background-color: #f8f8f8;
	border-top: solid 1px #fff;
	/**/
}

#leftmenu ul li a:hover , .selected {
	color:#fff !important;
	background-color: #99e3fc;
}

#leftmenu ul li a  {
	display:block;
	font-size:16px;
	color:#00375a;
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left: 60px;
	text-decoration:none;
}

.acountzl {
	background-image: url(../images/usercenter/zl.png);
}

.acountzl:hover ,.acountzl.selected {
	background-image: url(../images/usercenter/zl_w.png);
}

.trade  {
	background-image: url(../images/usercenter/td.png);
}

.invest {
	background-image: url(../images/usercenter/il.png);
}

.trade:hover ,  .trade.selected  {
	background-image: url(../images/usercenter/td_w.png);
}

.invest:hover , .invest.selected {
	background-image: url(../images/usercenter/il_w.png);
}

.receiveplan {
	background-image: url(../images/usercenter/receiveplan.png);
}

.receiveplan:hover , .receiveplan.selected {
	background-image: url(../images/usercenter/receiveplan_w.png);
}

.safe{
	background-image: url(../images/usercenter/sf.png);
}

.safe:hover , .safe.selected {
	background-image: url(../images/usercenter/sf_w.png);
}

.card {
	background-image: url(../images/usercenter/cd.png);
}

.card:hover , .card.selected {
	background-image: url(../images/usercenter/cd_w.png);
}

.lottery {
	background-image: url(../images/usercenter/lt.png);
}

.lottery:hover , .lottery.selected {
	background-image: url(../images/usercenter/lt_w.png);
}

.reward {
	background-image: url(../images/usercenter/rw.png);
}

.reward:hover , .reward.selected {
	background-image: url(../images/usercenter/rw_w.png);
}

.news {
	background-image: url(../images/usercenter/news.png);
}

.news:hover , .news.selected {
	background-image: url(../images/usercenter/news_w.png);
}

.badge {
	background-color:#fb5853;
	color:#fff;
}

.rounduser {
	position:absolute;
	left:-14px;
	top:52px;
}

.uctop {
	height:133px;
	padding-left:50px;
	padding-right:32px;
	border:solid 1px #dedede;
	border-left:none;
}

.hello {
	font-size:20px;
	color:#00375a;
}

.safegrade li {
	min-width: 20px;
	height: 16px;
	margin-top:10px;
	margin-right:10px;
	background-repeat: no-repeat;
	background-position: center center;
}

.safegrade li:last-child {
	width:auto;
	margin-left:20px;
}

.email.hasset {
	background-image: url(../images/usercenter/email_t_b.png);
}

.email.notset {
	background-image: url(../images/usercenter/email_t_g.png);
}

.phone.hasset {
	background-image: url(../images/usercenter/mobile_t_b.png);
}

.phone.notset {
	background-image: url(../images/usercenter/mobile_t_g.png);
}

.realname.hasset {
	background-image: url(../images/usercenter/idcard_t_b.png);
}

.realname.notset {
	background-image: url(../images/usercenter/idcard_t_g.png);
}

.dlpass.hasset {
	background-image: url(../images/usercenter/logpwd_t_b.png);
}

.dlpass.notset {
	background-image: url(../images/usercenter/logpwd_t_g.png);
}

.jypass.hasset {
	background-image: url(../images/usercenter/tradepwd_t_b.png);
}

.jypass.notset {
	background-image: url(../images/usercenter/tradepwd_t_g.png);
}

.safegrade i {
	color: #ffab36;
	font-style: normal;
}

.uctop .left p {
	margin-top:15px;
}

.middle {
	/*padding-left:190px;*/
    width: 317px;
	padding-top:30px;
    text-align: right;
}

.middle span {
	color: #ffab36;
	font-size:18px;
}

.middle p , .right p {
	margin-bottom:20px;
}

.uctop .btns {
	border:none;
}

.right {
	padding-top:20px;
}

/*重定义底部样式*/
.navbottom {
	padding-top:0;
}

.navblt ul {
	padding:0;
	margin:30px 0;
}

.navbrt {
	text-align:right;
}

.navbrt h2 {
	margin:30px 0;
}
/**/
/*充值*/
.tabheader {
	background-color:#fff;
}

.tabcontent {
	color:#737373;
	width:640px;
	font-size:14px;
	margin-top:-1px;
	background-color:#fff;
	padding:10px 0px;
	border:solid 1px #dfdfdf;
}

.tabheader ul {
	font-size:0;
	border-bottom:0;
	padding:0;
}

.tabheader ul li {
	height:33px;
	width:100px;
	font-size:14px;
	font-weight:500;
	text-align:center;
	display:inline-block;
	line-height:32px;
	box-sizing:border-box;
	border-top:solid 1px transparent;
}

.tabselected {
	background-color:#fff;
	border:solid 1px #dfdfdf;
	border-bottom-color:transparent;
	border-top:solid 1px #dfdfdf !important;
}

.banklist {
	padding-bottom:20px;
}

.banklist , .thirdparty {
	padding-left:20px;
}

.banklist ul li {
	padding:0 !important;
	background-color:#fff;
	margin:10px;
	border:solid 1px #dedede;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}

.banklist ul li div {
	width:121px;
	height:35px;
}

.listmore {
	display:inline-block;
	/*background-color:#fff;*/
	/*margin:10px;*/
	border:none;
	/*padding:10px !important;*/
	font-size:16px;
	color:#01b9f5;
	text-align:center;
	text-decoration:none;
	margin-left: 14px;
	vertical-align: top;
	padding-top: 27px;
}

.banklist .bankselect {
	background-image: url(../images/usercenter/selected.png);
	background-repeat: no-repeat;
}

.chongzhi {
	padding:30px;
}

table th {
	font-weight:normal;
}

.chongzhi table th, #safesetting table th  {
	padding-right:25px;
	width:140px;
	text-align:right;
}

.chongzhi table th , 
.chongzhi table td , 
#safesetting table th , 
#safesetting table td {
	padding-top:15px;
	padding-bottom:15px;
}

.chongzhi table td {
	text-align:left;
}

#quickpay table {
	width:80%;
	margin-left:25px;
}

#quickpay table th {
	padding-right:25px;
	width:150px;
	text-align:right;
}

.chongzhi input[type='text'] , 
.chongzhi input[type='password'],
#safesetting input[type='text'] , 
#safesetting input[type='password']
{
	width:200px;
}

.thirdparty ul li {
	width:106px;
	height:32px;
	margin:30px 10px;
	border:solid 1px #dedede;
	border-radius:5px;
	background-repeat: no-repeat;
	background-position: right;
}

.lianlianpay {
		background-image: url(../images/usercenter/banklogo/lianlianpay.png);
}

.baopay {
		background-image: url(../images/usercenter/banklogo/bpay.png);
}

.thirdparty {
	border-top:solid 1px #dedede;
}



#tiplogo {
	margin-left:10px;
}

#qplist {
	padding:20px 25px;
}

#qplist li {
	display: inline-block;
    width: 290px;
    margin-right: 4px;
    margin-bottom: 10px;
	line-height:38px;
	border:solid 1px #dedede;
}

#qplist .qsselect {
	background-image: url(../images/usercenter/qpseleced.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bankcard {
	padding:5px 0;
	padding-left:135px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

/*工商银行*/
.icbc {
	background-image: url(../images/usercenter/banklogo/icbc.png);
}
/*农业银行*/
.abc {
	background-image: url(../images/usercenter/banklogo/abc.png);
}
/*中国银行*/
.boc {
	background-image: url(../images/usercenter/banklogo/boc.png);
}
/*建设银行*/
.ccb {
	background-image: url(../images/usercenter/banklogo/ccb.png);
}
/*中国光大银行*/
.ceb {
	background-image: url(../images/usercenter/banklogo/ceb.png);
}
/*兴业银行*/
.cib {
	background-image: url(../images/usercenter/banklogo/cib.png);
}
/*招商银行*/
.cmb {
	background-image: url(../images/usercenter/banklogo/cmb.png);
}
/*民生银行*/
.cmbc {
	background-image: url(../images/usercenter/banklogo/cmbc.png);
}
/*广发银行*/
.gdb {
	background-image: url(../images/usercenter/banklogo/gdb.png);
}
/*华厦银行*/
.huaxia {
	background-image: url(../images/usercenter/banklogo/huaxia.png);
}
/*交通银行*/
.jiaotong {
	background-image: url(../images/usercenter/banklogo/jiaotong.png);
}
/*邮政储蓄银行*/
.post {
	background-image: url(../images/usercenter/banklogo/post.png);
}
/*浦发银行*/
.pufa {
	background-image: url(../images/usercenter/banklogo/pufa.png);
}
/*中信银行*/
.zhongxin {
	background-image: url(../images/usercenter/banklogo/zhongxin.png);
}
/*平安银行*/
.pingan {
	background-image: url(../images/usercenter/banklogo/pingan.png);
}

.cardtype {
	background-color:#01b9f5;
	padding:5px;
	margin:0 25px;
	color:#fff;
}

.chongzhi .form-control-static {
	color:#ffab36;
}

#cardlist li {
	width:195px;
	height:52px;
	font-size:12px;
	line-height:50px;
	border:solid 1px #dedede;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
}

#cardlist li.but-last {
	padding-left:125px;
	background-repeat: no-repeat;
	background-position: left center;
}

.addcard {
	font-size:28px;
	margin:0 15px; 
	vertical-align:middle;
	color:#01b9f5;
	cursor:pointer;
}

.cardselect {
	border-color:#01b9f5 !important;
}

.prov,.city,.dist {
	width:130px;
	display:inline-block;
}

.require {
	color:red;
}

/*用户中心首页*/
/*.ucbottom {
	border-right:solid 1px #dedede;
	border-bottom:solid 1px #dedede;
}*/

.ucbottom .panel {
	margin:15px 25px;
	padding:20px;
	border:solid 1px #dedede;
}

.ucbottom .panel > p{
	font-size:18px;
}

.panel ul li {
	width:32%;
}

.panel ul li p {
	text-align:center;
	color:#00375a;
	padding:15px 0;
	margin-bottom:0;
}

.panel .digits {
	font-size:28px;
	color:#ffab36;
	padding:0 5px;
}

.panel .units {
	font-size:22px;
	color:#ffab36;
}

/*安全中心*/

#safesetting ul li {
	margin: 0 30px;
	border-bottom: dotted 1px #dedede;

}

#safesetting ul li > p {
	margin-bottom:0;
	padding-left:100px;
	padding-right:5px;
	line-height:80px;
	background-repeat: no-repeat;
	background-position: 20px center;
}

#safesetting .safetitle {
	font-size:18px;
}

#safesetting button , .getauthcode {
	height:34px;
	padding:6px 10px;
}

.notset {
	color:red;
}

.bindemail {
	background-image: url(../images/usercenter/email.png);
}

.bindphone {
	background-image: url(../images/usercenter/mobile.png);
}

.truename {
	background-image: url(../images/usercenter/idcard.png);
}

.loginpwd {
	background-image: url(../images/usercenter/logpwd.png);
}

.tradepwd {
	background-image: url(../images/usercenter/tradepwd.png);
}

.safestatus {
	margin-left:100px;
}

.setfrm {
	padding-left:50px;
}

.btnorange {
	background-color:#ff9125;
	border:none;
}

.newbtn：link,
.newbtn:hover,
.newbtn:visited{
	text-decoration: none;
}

/*我的银行卡*/
.cardcontainer {
	width:195px;
	height:120px;
	margin:10px 20px;
	display:inline-block;
	background-color:#fff;
	border:solid 1px #dedede;
	border-radius:5px;
	vertical-align: top;
}

.card-heading {
	width: 195px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom:solid 1px #dedede;
}

.cardinfo {
	padding:10px 20px;
}

.operate {
	padding:30px 20px;
}

.acborder {
	border:dotted 1px #01b9f5;
	text-align:center;
    cursor:pointer;
}

.acborder p {
	margin-bottom:0;
}

.acborder .addcard {
	font-size:16px;
}

.bigplus {
	font-size:50px;
	color:#01b9f5;
}

.cardcontainer.selected {
	border-color:#01b9f5;
	color:#737373 !important;
}

.modal-dialog .control-label {
	font-weight:normal;
}

/*充值跳转弹框*/
.up-top-dialog {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.dialog-content {
	position: relative;
	top: 300px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	padding-left: 25px;
	padding-bottom: 25px;
}

.closebtn {
	float: right;
	padding-top: 2px;
	padding-right: 4px;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.closebtn span {
	text-align: center;
	font-weight: bold;
}

.chongzhi-btn {
	color: #fff;
}

.pay-tips {
	margin-top: 20px;
	margin-bottom: 15px;
}

.dialog-btns {
	margin-top: 20px;
}

.dialog-btns button:first-child {
	margin-right: 20px;
}

/*上传样式*/
.upload-box{ position:relative; display:inline-block; height:32px; vertical-align:middle; *display:inline;}
	.upload-box .upload-btn{ display:inline-block; height:30px; border:1px solid #e1e1e1; color:#333; background:#fff; vertical-align:middle; *display:inline; }
	.upload-box .upload-progress{ position:absolute; top:0; left:0; padding:2px 5px; width:115px; height:26px; border:1px solid #d7d7d7; background:#fff; overflow:hidden; }
	.upload-box .upload-progress .txt{ display:block; padding-right:10px; font-weight:normal; font-style:normal; font-size:11px; line-height:18px; height:18px; text-overflow:ellipsis; overflow:hidden; }
	.upload-box .upload-progress .bar{ position:relative; display:block; width:112px; height:4px; border:1px solid #1da76b; }
	.upload-box .upload-progress .bar b{ display:block; width:0%; height:4px; font-weight:normal; text-indent:-99em; background:#28B779; overflow:hidden; }
	.upload-box .upload-progress .close{ position:absolute; display:block; top:1px; right:1px; width:14px; height:14px; text-indent:-99em; background:url(skin_icons.png) -112px -168px no-repeat; cursor:pointer; overflow:hidden; }

/*图片相册样式*/
.photo-list{ margin:0; padding:10px 0 0 0; }
	.photo-list ul{ margin:0; list-style:none; *display:inline-block; }
	.photo-list ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.photo-list ul li{ float:left; margin-right:10px; text-align:center; *width:139px;}
	.photo-list ul li .img-box{ margin:5px 5px 5px auto; position:relative; width:128px; height:128px; overflow:hidden; border:3px #efefed solid; cursor:pointer; }
	.photo-list ul li .img-box.selected{ border:3px #f60 solid }
	.photo-list ul li .img-box img{ width:128px; height:128px; opacity:1; }
	.photo-list ul li .img-box .remark{ top:100px; left:0px; margin:0; padding:3px 2px; position:absolute; display:block; width:124px; height:122px; overflow:hidden; background:#000; filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5; text-align:left; font-family:"Microsoft Yahei"; }
	.photo-list ul li .img-box .remark:hover{ top:0px; }
	.photo-list ul li .img-box .remark i{ color:#fff; font-style:normal; position:relative; line-height:18px; }
	.photo-list ul li a{ padding-right:1em; }
	
	
/*my_new show*/
.my-new-container {
	width:100%;
	margin-bottom: 50px;
}
.my-new-container a{
	font-size:14px;
	text-decoration: none;
}
.my-new-container p{
	font-size:16px;
}
.my-new-neibu {
	width:85%;
	margin:0 auto;
}
.my-new-ahref {
	margin-top:30px;
}
.my-new-ahref a{
	font-size:14px;
	color:#666;
}
.lastnew {
	padding-left:15px;
	background:url("../images/usercenter/arrow-left.png") no-repeat 0 center;
}
.nextnew {
	padding-right:15px;
	background:url("../images/usercenter/arrow-right.png") no-repeat right center;
}

.zhengwen {
	margin-top:35px;
	height:230px;
	border-bottom:1px solid #dfdfdf;
}
.zhengwen h1{
	font-size:25px;
	text-align: center;
	margin-bottom:0;
}
.zhengwen h1, .neirong{
	color:#000;
}

.neirong {
	padding-top:37px;
	margin-bottom: 25px;
	font-size:16px;
}
.neirong-zhu{

	margin-bottom:10px;
	margin-top:30px;
	text-indent: 2em;

}

.date-name p{
	margin-bottom:0;
	font-size:14px;
}
.my-new-bot p{
	padding-top:10px;
	font-size:14px;
}
.hrefcolorblue {
	color:#01b9f5;
}

/*show ending*/


/*myinfo*/
.info {
	background-image: url("../images/usercenter/myinfo/basic-info-grey.png");
}

.info:hover, .info.selected {
	background-image: url("../images/usercenter/myinfo/basic-info-white.png");
}

div.myinfo-box {
	padding-top: 45px;
	padding-left: 50px;
}

div.myinfo-left,
div.myinfo-right {
	display: inline-block;
	vertical-align: top;
}

div.myinfo-right {
	margin-left: 55px;
}

div.myinfo-right p {
	width: 580px;
	margin-bottom: 25px;
}

div.myinfo-right p span {
	font-size: 15px;
}

div.myinfo-right p span:nth-child(2) {
	color: #000;
}

div.myinfo-right p input {
	color: #000;
}

.input-style {
	width: 340px;
	height: 40px;
}

div.modify-btn {
	margin-top: 20px;
}

div.myinfo-right p button {
	width: 98px;
	height: 33px;
	margin-right: 30px;
	outline: none;
	border: none;
	font-size: 18px;
	border-radius: 3px;
}

div.myinfo-right p button:first-child {
	color: #fff;
	background-color: #ffab36;
}

p.btn-style {
	margin-top: 45px;
	padding-bottom: 15px;
}

.float-right {
	float: right;
}

.myinfo-icon {
	background: url('../images/usercenter/myinfo/myinfo-icon.png') no-repeat;
	display: inline-block;
}

.icon-approving {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.icon-binded {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-position: 0px -45px;
}

.txt-approving {
	color: #00b9f5;
}

.txt-binded {
	color: #d2d2d2;
}

.letter-spacing {
	letter-spacing: 2em;
}

.margin-left30 {
	margin-left: 2em;
}

div.location span {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 25px;
}

div.birthday span {
	font-size: 15px;
}

div.birthday {
	margin-bottom: 25px;
}

div.date-selection {
	padding-left: 2em;
	margin-top: 1px;
	/*margin-bottom: 25px;*/
}
/*myinfo--end*/