* {
    font-family: "Microsoft YaHei", "微软雅黑";
}

.cle {
    clear: both;
}

.whowear-container {
    width: 100%;
    height: auto;
    font-family: myfont;
}

.whowear-container ul {
    list-style-type: none;
    padding-left: 30px;
    margin-top: 7px;
}

.information .infor-nav {
    display: inline-block;
    font-size: 20px;
    width: 50%;
    margin-left: 30px;
    border-bottom: 1px solid #666666;
    line-height: 30px;

}

#infor1 {
    margin-top: 25px;
    margin-bottom: 30px;

}

#infor1 .infor-nav {
    width: 35%;
}

.information {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*上部分*/
.whowear-top {
    height: 242px;
    margin-bottom: 5px;
    border-bottom: 1px solid #01b9f5;
}

.top-left {
    width: 70%;
    float: left;
}

.title {
    margin-left: 0;
}

.title-web ul {
    list-style-type: none;
    padding-left: 0;
}

.title-web {
    display: inline-block;
}

.wangzhi {
    font-size: 12px;
    color: #666;

}

.title-web li:first-child {
    border-bottom: 1px solid #666;
    /*line-height:25px;*/
    font-size: 16px;
    color: #666;

}

#fuhao {
    font-size: 45px;
}

.title-web .color-blue {
    font-size: 40px;
}

.company-name {
    font-size: 40px;
    diaplay: inline-block;
    color: #666;

}

.top-right {
    width: 30%;
    float: right;
    margin-top: 30px;
}

/*蓝色字体部分*/
.color-blue {
    color: #01b9f5;
}

/*下面部分*/
.whowear-bottom {
    /* height:460px;*/
    width: 100%;

}

.bot-left {
    float: left;
    width: 40%;
}

.bot-right {
    float: right;
    width: 60%;
}

.information .word {
    display: block;
    float: right;
}

.word span {
    display: block;
    float: left;
}

.information li {
    padding-bottom: 7px;
    /*line-height:20px;*/
}

.bot-right table {
    margin-left: 25px;
    width: 80%;
}

.bot-right tbody .table-left {

    width: 30%;
    color: #01b9f5;
    text-align: left;
    vertical-align: top;
}

/*zuihou yihang*/
.bot-word {
    margin-left: 30px;
    margin-top: 20px;
}

.color-blue,
.information li,
.information table,
.bot-word,
{
    font-size: 16px;
}

.information li,
.information td,
.bot-word,
.information
.infor-nav {
    color: #666;
}

.border-style {
    border-left: 3px solid #01b9f5;
}

#detail-information {
    width: 99%;
    margin-left: 75px;
}