<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于金汇丰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/aboutus.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script>
        /*rem的相对单位定义*/
        $("html").css("font-size", $(window).width() / 20);
    </script>
</head>
<body>
<div class="aboutus-page">
    <div  class="top-screen">
        <img src="<%templateskin%>/imgs/logo.png">
    </div>
    <div class="introduction">
        <div class="title-style">平台简介</div>
        <p>“金汇丰”为P2P互联网金融创新型平台，由广东汇诚创利电子商务有限公司负责运营，经营团队由银行、担保、IT和电子商务等领域资深专业人士组成，拥有稳健的风控体系，为客户的资金安全保驾护航。</p>
        <p>平台致力于为有个人理财、p2p网贷理财需求的投资者提供金屋子、丰车赚等优质理财产品，专业提供安全、有担保、高收益的互联网理财服务。</p>
    </div>
    <div class="advantage">
        <div class="title-style">平台优势</div>
        <ul>
            <li>低门槛收益，100元起投，15%-18%预期年化收益；</li>
            <li>安全保障，纯抵押项目，100%本息保障；</li>
            <li>严格监管，第三方支付平台，银行级别风控系统；</li>
        </ul>
    </div>
    <div class="service">
        <div class="title-style">产品服务</div>
        <p>“金屋子”专注于优质客户的本地房产抵押，包括房屋与商铺抵押。为避免房产下行趋势，房屋抵押率最高7成、商铺抵押率最高5成。</p>
        <p>“丰车赚”专注于车辆的质押或汽车登记证抵押，车辆抵押率最高7成为车辆购买全额保险、安装GPS全球定位系统，车辆有快速变现能力。</p>
    </div>
    <div class="contrast">
        <div class="title-style">收益对比</div>
        <div class="contrast-img-box"><img src="<%templateskin%>/imgs/contrast.png"></div>
        <p>金汇丰理财平台年化收益率 15-18% ，是银行理财的 3.5 倍，是余额宝的 4.5 倍，定期存款的 6 倍，活期存款的 52 倍。</p>
    </div>
</div>
<script>var forceFooterKey = "settings";</script>
<%template src="_footer.html"%>

</body>
</html>