<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>充值</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/charge.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/footer.css">
    <link type="text/css" rel="stylesheet" href="<%templateskin%>/css/common.css">
    <script src="<%templateskin%>/js/jquery-2.1.4.min.js"></script>
    <script src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>

    <script>
        /*rem的相对单位定义*/
        $("html").css("font-size", $(window).width() / 20);

        $(function () {
            //$("div.charge-way-wrap").click(function () {
            //    $('#bank-select-dialog').modal();
            //});

            ////绑定银行卡
            //var bankSelected = $(".bank-select-body div");
            //bankSelected.click(function () {
            //    $('#bank-select-dialog').modal("hide");
            //    $("div.charge-way-wrap input").val(this.innerText);
            //});
        });
    </script>
</head>
<body>
    <div class="charge-page">
        <form class="form-horizontal" id="formRecharge" method="post" action="{config.webpath}api/payment/lianlianpay/index.aspx">
            <div class="charge-amount-wrap">
                <input type="text" id="amount" name="amount" placeholder="请输入充值金额（元）">
            </div>
            <input type="hidden" id="card_no" name="card_no" placeholder="请输入银行卡号">
            <div class="submit-btn-wrap">
                <input type="hidden" id="user_id" name="user_id" value="{userModel.id}" />
                <input type="hidden" id="action" name="action" value="wap" />
                <input type="hidden" id="id_card_no" name="id_card_no" value="{userModel.id_card_number}" />
                <input type="hidden" id="card_username" name="card_username" value="{userModel.real_name}" />
                <button type="submit" id="submit-btn">提 交</button>
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="bank-select-dialog" tabindex="-1" role="dialog" aria-labelledby="bank-select-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="dlgInvestConfirmLabel">选择银行</h4>
                        <p>充值</p>
                    </div>
                    <div class="bank-select-body">
                        <div><i class="sprite sprite-gonghang"></i><span>中国工商银行 储蓄卡（2301）</span></div>
                        <div><i class="sprite sprite-nonghang"></i><span>中国农业银行 储蓄卡（5508）</span></div>
                        <div><i class="sprite sprite-guangfa"></i><span>广发银行 信用卡（2022）</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end-->
        
        <span class="glyphicon glyphicon-triangle-bottom" id="for-bank"></span>
    </div>
    <%template src="_footer.html"%>
</body>
</html>