<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>实名认证</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/verified.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="verified-page">
        <form>
            <div class="name-wrap">
                <i class="verified-i icon-name"></i>
                <input type="text" id="name" placeholder="请输入真实姓名">
            </div>
            <div class="IDcard-wrap">
                <i class="verified-i icon-id"></i>
                <input type="text" id="IDcard" placeholder="请输入身份证号码">
            </div>
            <div class="tips-wrap">
                实名认证是您平台账户操作的重要凭证，若因盗用他人信息注册认证导致您的账户资金无法提现，平台除锁定该账户外，必要时将依法提交至执法部门处理！
            </div>
            <div class="submit-btn-wrap">
                <button type="submit" id="submit-btn">提 交</button>
            </div>
        </form>
    </div>
</body>
</html>