th.headerSortUp { 
    background-image: url(asc.gif) !important; 
}
th.headerSortDown { 
    background-image: url(desc.gif) !important; 
}
th.header { 
    background-image: url(bg.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 15px;
    padding-right: 2em;
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 